[2020-01-26 09:21] poornimanayar commented on #1877
@sofietoft , I believe I have gone through all the ones that were left to be done :-)

[2020-01-26 20:31] graealex opened #2226 "Add a list of extension methods for the Html helper"
***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/master/Reference/Templating/Mvc/views.md***

Listing all of the "bunch of handy extension methods" is required. It's nice that you added them, but having to guess them is quite annoying.

[2020-01-27 07:50] sofietoft commented on #2223
Thanks for the report @rustybox ! 💪
I can see that one of my colleagues is already looking into this.

So, just for my understanding; the snippet in the article you're referring to - it doesn't work as intended? Is that correct?

[2020-01-27 07:59] sofietoft commented on #2226
Thanks for the report @graealex ! 💪 😁

I am not entirely sure I understand what you're missing here.. Are you looking for a full list of all the extension methods we've added? 🤔

[2020-01-27 08:06] graealex commented on #2226
Exactly. That's the point of a documentation, isn't it? Because the only place where I could find it was in the source code itself, which isn't that intuitive.

[2020-01-27 08:21] sofietoft commented on #2226
Thanks for confirming!

Yeah, it's a very good point. The Documentation is very developer-focussed, I'm afraid.

I believe you would be able to find the available extension in our API Docs: https://our.umbraco.com/documentation/Reference/API-Documentation/
And I can see we already have articles listing the extensions for the [UmbracoHelper ](https://our.umbraco.com/documentation/Reference/Querying

[2020-01-27 08:24] sofietoft commented on #1877
You're right @poornimanayar ! 😄
Great job, and thanks for putting in the work to help out.

We can definitely close this one now 👏

[2020-01-27 08:24] #1877 closed

[2020-01-27 08:29] graealex commented on #2226
Well, I was looking for a replacement for RemoveFirstParagraphTag, which a reference list of extension methods could have confirmed to be gone for good.

Tbh, I usually expect a complete, automatically generated documentation for all user-facing API. The auto-generation is important, because it avoids differences between the actual implementation and its documentation, what with Umbraco changing A

[2020-01-27 08:38] sofietoft commented on #2226
Ah, I see! 🤔
I completely understand your frustration on this topic.

We do have auto-generated API Documentation for both Umbraco.Web, Umbraco.Core and for the backoffice UI as well. As far as I'm aware, it should contain all the available methods and extensions - I'll have to check up with someone who knows a bit more about these auto-generated docs 👍

We are planning on moving the Documentation

[2020-01-27 08:40] graealex commented on #2226
Well, would you mind telling the link to the auto-generated API docs?

[2020-01-27 08:49] graealex commented on #2226
I found the auto-generated docs. If they were a bit more structured, they'd completely replace the hand-written one. Although still not finding a list of extension methods for Html.XXX

The obvious result is that forums are full of the same questions, and every few months a user complains about a method not working anymore, because it was refactored into a different class, and no explanation was g

[2020-01-27 08:49] sofietoft commented on #2226
I just had a quick chat with one of my colleagues, about the `RemoveFirstParagraphTag` - he tells me that it's been removed in Umbraco 8 😊

[2020-01-27 08:51] graealex commented on #2226
Yes, I found it out by searching GitHub for the method. Not sure about the smiley though, having v7 legacy websites not being portable to v8 because methods that would still be relevant have simply vanished is the opposite of funny.

[2020-01-27 08:59] sofietoft commented on #2226
I completely agree with you, that our Documentation is lacking a bit in places - especially for Umbraco 7 where many things was never even documented at all.

We are however, on our way to making that a lot better for Umbraco 8!

[2020-01-27 09:29] rustybox commented on #2223
That is correct, it works with LightInject in general but it won’t work with Umbraco’s implementation of IAssemblyScanner.

[2020-01-27 09:32] sofietoft commented on #2223
Ah, I see 🤔 Thanks for explaining.

Let's see what Sebastiaan finds out, as we might get some valuable information to help us get this part of the docs updated correctly 💪

[2020-01-28 15:37] krugarmatt opened #2228 "Documentation needs adjusting for "Adding configuration to a property editor""
## What type of issue is it?
Wrong documentation

## What article/section is this about?
https://our.umbraco.com/documentation/Tutorials/Creating-a-Property-Editor/part-2#using-the-configuration

## Describe the issue
I'm progressing through this tutorial on a v8.5.2 Umbraco instance and noticed that there are a couple of issues with the very last section of the page titled **"Using the configurat

[2020-01-28 18:22] erikjanwestendorp commented on #1873
Hi @sofietoft I updated the _Custom Routing_ page. Can you or someone else give it a review and give some feedback if necessary?

[2020-01-29 06:58] Adolfi commented on #2228
Hi @krugarmatt.
I actually submitted a PR for this page, adjusting a bunch of small stuff to fit v8: https://github.com/umbraco/UmbracoDocs/pull/2212

I will look at these 2 issues and fix them in my ongoing PR.
Thank you so much for submitting these!

Take care!

[2020-01-29 08:15] krugarmatt commented on #2228
No worries @Adolfi. Thanks for your help.

[2020-01-29 08:52] Adolfi commented on #2228
Maybe @sofietoft could assign this issue to me, so that others dont start working on this since this is already in-progress?

[2020-01-29 09:30] sofietoft commented on #2228
Thanks for the report @krugarmatt ! 😄

As Dennis mentioned, he's already working on getting the Property Editor tutorial up to date for Umbraco 8 💪

I'll assign the issue to him for now.

[2020-01-29 09:38] sofietoft commented on #1860
Closing this one, as #1865 has been merged 💪

[2020-01-29 09:38] #1860 closed

[2020-01-29 09:56] sofietoft commented on #2226
Hi! Just wanted to follow up on this one ..

The main thing was that you were missing / looking for a list of all extension methods for the Html Helper, right?
I think it would be great to have an article similar to the ones we have for the Umbraco Helper and the Memberhsip Helper.

Would it be OK if I change the title of this issue to "Add a list of extension methods for the Html helper"? Then I'

[2020-01-29 10:09] graealex commented on #2226
Exactly, that would be great.

[2020-01-30 10:04] Adolfi commented on #2228
@krugarmatt found the issue with the preview not working. It was due to missing anglebrackets.

This does not work:
`<div id="wmd-preview-{{model.alias}}" ng-show="model.config.preview" class="wmd-panel wmd-preview"></div>`

This works:
`<div id="wmd-preview-{{model.alias}}" ng-show="{{model.config.preview}}" class="wmd-panel wmd-preview"></div>`

[2020-01-30 11:37] krugarmatt commented on #2228
Hi @Adolfi. Thanks for looking into this. I can confirm that adding braces to the value of the **ng-show** attribute does resolve the issue.

[2020-02-03 07:50] erikjanwestendorp commented on #1873
@sofietoft the Default Routing page has no `needsV8Update` tag (anymore) but I think the page should be updated. DynamicPublishedContent can be removed for v8.

[2020-02-03 07:54] sofietoft commented on #1873
Good morning @erikjanwestendorp !

That's a good point. Would be good to have that article in two versions 🤔
I think it's just a left over from when we added the label to begin with. We kept it off most of the index pages for some reason 😅

Would you be up for setting it up correctly? 🤞

[2020-02-03 09:05] erikjanwestendorp commented on #1873
@sofietoft Yes of course, I will pick this up!

[2020-02-03 10:01] sofietoft commented on #2228
Closing this one, as #2212 has been merged 🎉

[2020-02-03 10:01] #2228 closed

[2020-02-03 10:04] sofietoft commented on #1853
All articles on this list has been verified and updating for Umbraco 8.
Thanks to everyone who's contributed 🎉 Your help is always much appreciated ❤️

[2020-02-03 10:04] #1853 closed

[2020-02-03 10:05] sofietoft commented on #1837
Closing this one, as #1865 has been merged 💪

[2020-02-03 10:05] #1837 closed

[2020-02-03 14:05] marcemarc commented on #1853
Awesome effort!, feel like there should be some fireworks or something?

[2020-02-03 18:12] erikjanwestendorp commented on #1873
@sofietoft I just created a PR. I created a _default routing_ page for v8. Can you or someone else give it a review :-)

[2020-02-05 10:34] erikjanwestendorp opened #2245 "Missing page?"
## What type of issue is it?
Missing page?

## What article/section is this about?
On the [main page](https://our.umbraco.com/Documentation/) is a link to _Umbraco 8 Documentation Statuspage_

## Describe the issue
The status page doesn't exist (anymore) or has been moved. I can't find a v8 status page so think it no longer exists? I think it is good to remove the link to the status page.

![image

[2020-02-05 11:08] sofietoft commented on #2245
Great catch @erikjanwestendorp ! 😄 👏

I've merged the PR!

[2020-02-05 11:08] #2245 closed

[2020-02-06 10:33] sofietoft commented on #2177
Apologies for the delay here!
We're currently running tests with this scenario, in order to write an article on how to resolve it.

For some reason we're unable to reproduce this issue 🤔
Would you be able to provide us with the steps you took, when you encountered this error?
I know it's a while ago, but I hope you can help out 🤞

[2020-02-06 10:56] jmayntzhusen commented on #2177
@sofietoft
I have some notes on how / when this happens in this issue: https://github.com/umbraco/Umbraco.Cloud.Issues/issues/66#issuecomment-571951142

I think @HalldorLyngmo has been working towards a PR that will update the error message to something more useable for future Deploy versions as well 🙂

[2020-02-06 18:18] tormnator commented on #2177
I'll hold off for now then. One thing, my scenario was with Umbraco 7 (latest release). Not sure if v8 changes anything.

[2020-02-07 12:19] erikjanwestendorp commented on #1873
@sofietoft I Updated the _Inbound-Pipeline_ page and created a PR.

[2020-02-11 11:25] erikjanwestendorp opened #2258 "needsV8Update doesn't work?"
## What type of issue is it? (Choose one - delete the others)
The `needsV8Update `badge doesn't work on every page.

## What article/section is this about?
The _[Published Content Request Preparation](https://our.umbraco.com/documentation/Reference/Routing/Request-Pipeline/published-content-request-preparation)_ page needs a v8 update.

## Describe the issue
The `needsV8Update `has set _[here](htt

[2020-02-11 12:00] sofietoft commented on #2258
Great observartion @erikjanwestendorp !

I'm afraid that's how the label currently works.
Only `index` articles that have the label, will show the green note at the top of the article.
Is the article called something else, like the case here `published-content-request-preparation.md`, the note will not be shown.

Of course not the best implementation, and I'm sure it can be done differently - it j

[2020-02-11 18:40] erikjanwestendorp commented on #1873
@sofietoft I don't know if this is the right place because the page isn't mentioned in this issue but I updated the [Inbound request pipeline](https://our.umbraco.com/documentation/Reference/Routing/Request-Pipeline/inbound-pipeline) page and created a [PR](https://github.com/umbraco/UmbracoDocs/pull/2261).

[2020-02-12 06:20] sofietoft commented on #1873
That's great @erikjanwestendorp ! Not entirely sure why the article isn't on the list, but thanks for reporting it here anyways 😄

I'll make sure to get someone to review the PR as soon as possible.

[2020-02-14 16:08] prjseal opened #2283 "There should be a page about NuCache in the docs."
If you search the docs for NuCache, you get 0 results.

With NuCache being such a big part of Umbraco 8, I think there should at least be a page to explain what NuCache is and what the benefits are etc.

[2020-02-14 22:46] kenburcham opened #2285 "Missing example from Creating a Property Editor tutorial"
***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/master/Tutorials/Creating-a-Property-Editor/index.md***

After following this tutorial all the way through (which was pretty great, btw), I found that there is no information or example for how to show the actual markdown output of the "My Markdown Editor" property that gets created as a value on a template.

The tutorial

[2020-02-17 08:22] sofietoft commented on #2283
That's a very good point @prjseal ! 😄
Sure would be great to have some documentation on NuCache on Our.

Perhaps it's something you'd be up for writing? 😁

[2020-02-17 08:36] sofietoft commented on #2285
Hi @kenburcham ! Thanks for your feedback, and I'm happy to hear you enjoyed the tutorial.

Good point about there not being an example of how to render the property value on the frontend 🤔 - that IS what you're saying, right?

I'll look into how we can get that added as soon as possible!

[2020-02-17 15:13] PerplexDaniel opened #2361 "Code documentation needed for isolating content app validation"
This issue has been updated from it's original description

# Updated issue

This issue is now an up-for-grabs task to update the code documentation for the `umb-isolate-form` directive in the core. [See this description for details.](https://github.com/umbraco/Umbraco-CMS/issues/7679#issuecomment-597388969)

# ORIGINAL issue

## Umbraco version

I am seeing this issue on Umbraco version: 8.5.3

#

[2020-02-18 09:51] erikjanwestendorp opened #2289 "Update IPublishedContent Extension Methods"
## What type of issue is it?
Missing documentation/Wrong documentation

## What article/section is this about?
[IPublishedContent Extension Methods](https://our.umbraco.com/documentation/Reference/Querying/IPublishedContent/ExtensionMethods/).

## Describe the issue
The "list" is incomplete and the method no longer exists in v8. It would be nice if a v8 version of the page will be added. Besides t

[2020-02-18 10:51] nul800sebastiaan commented on #2289
While we definitely could document all of them, they are also already listed in https://our.umbraco.com/apidocs/v8/csharp/api/Umbraco.Web.PublishedContentExtensions.html

I'd hate to do "double bookkeeping", if anything ever changes it will get out of sync.. and the apidocs are automatically generated, so up to date.

I know there's plans for updating the automation but I'm not sure what that enta

[2020-02-18 10:52] nul800sebastiaan commented on #2206
That one for sure! ;-)

`var content = helper.TypedContent(e.NodeId);`

[2020-02-18 11:35] erikjanwestendorp commented on #2289
@nul800sebastiaan Ah okay, maybe it's an idea to update the [IPublishedContent ](https://our.umbraco.com/Documentation/Reference/Querying/IPublishedContent/)page so that extension methods links to the [apidocs](https://our.umbraco.com/apidocs/v8/csharp/api/Umbraco.Web.PublishedContentExtensions.html) page instead of the current page with only contains the .GetKey method with does not exist in v8?

[2020-02-18 12:11] jmayntzhusen commented on #2289
The new automation is still awaiting a new release from the programme we intend to user. I think for now removing the IPublishedContent Extension methods page from the documentation and replacing the links to it with links to the API docs makes most sense - especially as the page contains less actual info than the API docs.

Don't know if the docs team has any further thoughts on it though? @sofie

[2020-02-18 12:40] sofietoft commented on #2149
Hi @hidarikani - It's been a while since I've heard from you here.

Did you manage to find the information you were looking for? 😄

[2020-02-18 12:41] nul800sebastiaan commented on #2206
Would be great if you could help update these docs a bit @RachBreeze - for clarification!

[2020-02-18 12:46] sofietoft commented on #1896
Dashboard tutorial has been updated for Umbraco 8.
The article on the `dashboards.config` file has also been versioned for Umbraco 8.

I'll close this issue for now.

[2020-02-18 12:46] #1896 closed

[2020-02-18 12:47] sofietoft commented on #1817
I don't think it makes sense to have 2 issues open around the same topic: Configs.

I will close this one for now.
Refer to #2127 for updates for the versioning of the config articles 💪

[2020-02-18 12:47] #1817 closed

[2020-02-18 12:54] sofietoft commented on #2289
Thanks for reporting @erikjanwestendorp ! 💪

I see your point about documenting all the extentions, but I also have to agree with my colleagues here. It would be "double bookkeeping" to have them documented both here and in the API docs 🤔

I do like the idea of linking directly to the API docs instead.
So, make `Extension Methods` link to https://our.umbraco.com/apidocs/v8/csharp/api/Umbraco.Web.P

[2020-02-18 12:58] sofietoft commented on #2125
Hi @mistyn8 ! It's been a while since I've heard from you here, so I wanted to check in...

Did you manage to get the Forms workflow up and running? 😄

[2020-02-18 13:06] sofietoft commented on #2095
Hi @dreadpiratebrown !
Just wanted to let you know that we've added the `community/up-for-grabs` label to this issue 😄
That's been done as a part of a new flow we're setting up for being better at handling incoming issues on our trackers 💪

I apologies for how long this issue has been without answers - hopefully this new flow means that this will get picked up soon!

[2020-02-18 13:08] sofietoft commented on #2045
Hi @abjerner ! 😄

It's been a while!
What's the status on these Backoffice UI API Docs you started working on? 😁

[2020-02-18 13:10] erikjanwestendorp commented on #2289
Of course avoid "double bookkeeping" where possible :-) I created a PR

[2020-02-18 13:11] sofietoft commented on #664
Hi all! As I don't think it makes sense to have 2 issues open around the same topic, I'm closing this one for now.

Please refer to #2045 for more details on the topic of Backoffice UI API Documentation 💪

[2020-02-18 13:11] #664 closed

[2020-02-18 13:16] nul800sebastiaan commented on #2045
Just to chip in here, the new version of DocFX will allow for additional annotations on the auto-generated documentation. The Docs team is planning to upgrade to that version when version distinctions are fixed (so you can make a switch between v7 and v8). I feel like this would be exactly what you're looking for?

[2020-02-18 13:20] nul800sebastiaan commented on #1992
I've asked in the Core Collaborators Slack space (see [blog post](https://umbraco.com/blog/the-core-collaborator-team-chronicles-february-2020/)) if someone can help get some Azure setup steps in the docs.

[2020-02-18 13:20] sofietoft commented on #1575
Hi @rsoeteman ! 😄

I wanted to let you know, that I'll be closing this issue for now.
A while back, I've made another issue to get the Cache documentation updated for Umbraco 8: #1874 which has the `community/up-for-grabs` label on it.

[2020-02-18 13:20] #1575 closed

[2020-02-18 13:23] nul800sebastiaan commented on #2026
I'm asking around, but see no reason to ever use `ContentModel`,  the only thing on ContentModel is a Content property. Maybe `ContentModel` is just a weird v7 leftover?

[2020-02-18 13:25] sofietoft commented on #1652
Hi @bergmania ! 😄
Been a while since there's been activity on this one ..
You mentioned e need to add documentation about how to work with Umbraco and precompiled views - This is still something we need documented, right? 🤔 Or what's the status on this?

[2020-02-18 13:28] sofietoft commented on #1685
Hi @jmayntzhusen !
Do you know the status of the Examine Documentation?
Is still issue still valid, or can it be closed? 😁

[2020-02-18 13:28] bergmania commented on #1652
Nothing new since this comment: https://github.com/umbraco/UmbracoDocs/issues/1652#issuecomment-571031923

[2020-02-18 13:30] #2289 closed

[2020-02-18 14:25] nul800sebastiaan commented on #2026
Yeah, definitely no need to use `ContentModel` any more, this can be updated to `IPublishedContent` 👍

[2020-02-18 14:42] enkelmedia commented on #2026
@nul800sebastiaan So what is the "take away" from this? That the docs should be updated to use IPublishedContent over ContentModel?

[2020-02-18 14:48] nul800sebastiaan commented on #2026
That is what I was trying to say yes! 😅

[2020-02-18 15:05] stevetemple commented on #1992
I've offered to take a look at this, so will work on something over the next couple of evenings

[2020-02-18 16:23] kenburcham commented on #2285
@sofietoft - Yes, that's exactly it, I'd love the tutorial to have an example for how to render the property value on the front end. It would render the markdown that is entered as the value of the property on the page. It looks like it might have something to do with Property Value Converters? https://our.umbraco.com/documentation/Extending/Property-Editors/value-converters But I'm not sure how i

[2020-02-18 22:15] abjerner commented on #2045
@sofietoft I started on a few pages, but haven't really looked at them for a while. I'll try to catch up, and get back to you 😉

@nul800sebastiaan possibly. So the plan is that the AngularJS documentation will also be generated by DocFX in the future?

Nevertheless, my thought was that we need "article style" documentation as an addition to the current "reference documentation". I don't think DocF

[2020-02-19 08:18] jmayntzhusen commented on #1685
Ah this completely slipped my mind. Last I checked there was a bug prohibiting me from completing the IndexPopulator documentation, but it was fixed in 8.4 (https://github.com/umbraco/Umbraco-CMS/pull/6824).

If anyone feels like picking that up there is some info on the setup in this forum post: https://our.umbraco.com/forum/using-umbraco-and-getting-started/99255-how-to-create-custom-index-in-v8

[2020-02-19 08:27] sofietoft commented on #2285
Thanks for helping to clear this up! 😁
Sure would be great to have an example of how to render the custom property on the frontend.

Not sure about the Value converters though 🤔
The `community/up-for-grabs` label has been added.
Perhaps @Adolfi , who helped get the Property Editor tutorial up to date, could help with an example here? 😄

[2020-02-19 08:30] sofietoft commented on #2045
Looks great @abjerner ! 😄

I'm not 100% sure what exactly will be possible with DocFX to be honest. It might not be possible to make articles like the ones you've made here, but I'm pretty sure it will give us the option to extend on the auto-generated API docs - like adding more real-life examples, and writing text to accompany the samples 🤔

[2020-02-19 08:44] sofietoft commented on #1685
Great! Thanks for the update 💪 😁

[2020-02-19 09:02] sofietoft opened #2292 "Verify docs for Umbraco 8: "Events" section under Reference"
In the Events section under Reference, there's a handful of articles that still needs to be verified against Umbraco 8.

First of all, there's these three articles listing different events for some services.
Would be great to have these verified, and to have them follow the same format as our "Services" articles - Read more here: https://github.com/umbraco/UmbracoDocs/pull/2227#issuecomment-581955

[2020-02-19 09:46] Adolfi commented on #2285
@sofietoft @kenburcham absolutely, good point. I will have a look at it.

[2020-02-20 16:55] JonathonCove opened #2300 "Documentation Incorrect for v8"
***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/master/Reference/Querying/UmbracoHelper/index.md***

When selecting the v8 documentation and viewing the section on `.TypedSearch()` , it suggests using `ExamineManager.Instance.CreateSearchCriteria()` , which is available in 7, but not 8.

[2020-02-21 08:14] sofietoft commented on #2300
Thanks for the report @JonathonCove ! Much appreciated.

Looks like we need to check up on that for sure.
Would you happen to know, what one would use instead in Umbraco 8? 😁

[2020-02-21 09:04] JonathonCove commented on #2300
No problem.

I was hoping you could tell me! I know I can build a query in the folling way:
`if (ExamineManager.Instance.TryGetIndex("ExternalIndex", out var index)) {
        var searcher = index.GetSearcher();
        var query= searcher.CreateQuery();
    }`

But it does not have all the features of `ExamineManager.Instance.CreateSearchCriteria()`

[2020-02-21 09:10] sofietoft commented on #2300
Ah, I'm afraid I don't right off the top of my head 😅

Let me just run it by the documentation team - they might be able to help us out here 🤞

[2020-02-21 09:34] sofietoft commented on #1981
Hi @Zinspel !

First of all, apologies for leaving you hanging here.
I've added the `needs-investigation` label here, and will make sure to get to it as soon as possible.

[2020-02-21 09:43] sofietoft commented on #1644
@mehrdadab , I haven't heard back from you, so I wanted to check in here 😄

Did you see my latest message?
Does what you're reporting still apply - do we need to update the docs article?

[2020-02-21 10:23] JonathonCove opened #2301 "Documentation out of date for 8"
In the below page, it suggests using `ApplicationContext` inside razor views, which doesn't appear to be available in v8. Using `Services` still works though.

***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/master/Reference/Management/Services/DataTypeService/Index.md***

[2020-02-21 12:17] mehrdadab commented on #1644
@sofietoft , I cannot find anything related to machine name on the mentioned page yet. However I could find it here: https://our.umbraco.com/Documentation/Getting-Started/Setup/Server-Setup/azure-web-apps , so it may not need to be updated anymore.

[2020-02-21 12:32] Jeavon commented on #2300
These methods don't exist in v8 UmbracoHelper and should be removed from the docs. #2302

That aside, your code is the correct method to search using Examine v1 in Umbraco  v8. I would suggest you post on [our.umbraco.com](https://our.umbraco.com/) if you need any further advice.

[2020-02-21 12:32] #2300 closed

[2020-02-21 12:59] sofietoft commented on #1644
Ah, yes! I missed that this was related to upgrading 🤔

Perhaps we could instead add a link from [the version specific upgrades article](https://our.umbraco.com/documentation/getting-started/setup/upgrading/version-specific) to the articles on the [Server setup](https://our.umbraco.com/Documentation/Getting-Started/Setup/Server-Setup/azure-web-apps)?
What do you think of that solution?

[2020-02-21 13:25] JonathonCove commented on #2300
Thanks Jeavon

[2020-02-21 14:39] nul800sebastiaan commented on #2301
Thanks @JonathonCove, yep this is not updated for v8 yet. In an effort to make this documentation a bit more useful, could you tell us a little more about what you're trying to achieve using the `DataTypeService`?

On a sidenote, I am not sure if there's a better way in v8 now to use the `DataTypeService`.

[2020-02-21 15:28] JonathonCove commented on #2301
Sure. In this case I was trying to get all the prevalues for a certain DataType.

[2020-02-24 08:11] sofietoft commented on #2301
Thanks for reporting @JonathonCove ! 💪
As Sebastiaan told you, this article isn't yet verified against Umbraco 8, and it looks like it sure should be.

Would it be something you'd be up for doing? 😄
The format should follow what we have for e.g. the "[MediaService](https://our.umbraco.com/documentation/Reference/Management/Services/MediaService/)", and you should be able to find all you need in ou

[2020-02-24 12:55] #1781 closed

[2020-02-25 12:24] nul800sebastiaan commented on #2045
Ah sorry, I misunderstood, indeed DocFX doesn't deal with our javascript docs.
The `editorService` page looks great! Definitely will be beneficial to have extended usage examples on a lot of our services and as Pete mentions in #1595 events. I guess this one duplicates #1595 really?

[2020-02-25 12:31] sofietoft commented on #1595
Hi guys!
Just letting you know, that I'm closing this issue for now.
I don't think it makes sense to have multiple issues around the same topic.
So, please refer to #2045 where to most recent talks around tnis topic can be found 💪 Thanks!

[2020-02-25 12:31] #1595 closed

[2020-02-25 12:34] nul800sebastiaan commented on #1821
Hey @liamlaverty, I just came across this one again. We've given it another thought and while it feels like a nice thing to do, it is also a LOT of work for a micro optimization that doesn't really affect anyone. I'd much rather focus on making great content in the docs, in the end that's what search engines appreciate the most! 👍

Thanks for bringing up the issue though and apologies it took so l

[2020-02-25 12:34] #1821 closed

[2020-02-25 12:49] nul800sebastiaan commented on #979
1½ years later.. :-o
I love this idea! And indeed, I don't think it fits the documentation section, but would make an excellent fit for the https://our.umbraco.com/community/ section instead.

If anyone reading along is still motivated to pick this up then I think this is what needs to happen:
- Add a new markdown file to the [Our source](https://github.com/umbraco/OurUmbraco)
- Add doctype to Our

[2020-02-25 12:49] #979 closed

[2020-02-28 14:21] JonathonCove opened #2327 "Incomplete example"
***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/master/Add-ons/UmbracoForms/Developer/Extending/Adding-a-Fieldtype.md***

It is also necessary to create a theme file for the custom field within `/Views/Partials/Forms/Themes/default/FieldTypes/`

Using v8

[2020-02-28 14:22] JonathonCove commented on #2327
8.4.1

[2020-03-02 09:09] sofietoft commented on #2327
Hi @JonathonCove ! Thanks for the report 😄

So, just to make sure I understand you correctly - you've found that an additional step needs to be added for Umbraco 8. Is that right?

You're more than welcome to add it to the article, if you'd like? 😁

[2020-03-02 16:38] JonathonCove commented on #2327
That is correct.

I certainly can, it's a small change. Do you need me to make a pull request for it?

[2020-03-03 08:24] sofietoft commented on #2327
That would be awesome, yes! 😄

We have some contribution guidelines here: https://our.umbraco.com/documentation/Contribute/
Also, does it make sense to make a new article for Umbraco 8 on this one? In case it does, we have some docs on how to set that up as well: https://our.umbraco.com/documentation/Contribute/#multi-version-documentation

[2020-03-03 09:11] JonathonCove opened #2333 "Potential issues with the NotFoundHandlers example"
***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/master/Reference/Routing/Request-Pipeline/IContentFinder.md***

I found some issues with this example when trying it out on 8.4.1, changes are in a pull request here https://github.com/umbraco/UmbracoDocs/pull/2332

[2020-03-03 09:33] JonathonCove commented on #2327
Thanks for the links Sofie. I've added a pull request here https://github.com/umbraco/UmbracoDocs/pull/2334 . Hope it's ok!

[2020-03-03 12:20] sofietoft commented on #2045
Hi @PeteDuncanson .. I'm not entirely sure I understand here, so forgive me if I'm misunderstanding.
We do still have the API docs for the backoffice here: https://our.umbraco.com/apidocs/v8/ui/#/api, and it will be amended by the manual docs on Our.
I do believe, that that's how it's going to have to be for now! 😅

[2020-03-04 07:48] Adolfi commented on #2285
I created a PR for this: https://github.com/umbraco/UmbracoDocs/issues/2285

[2020-03-05 06:28] Shazwazza commented on #2026
I'll try to provide some details here and then maybe you fine folks can pave the way for better docs and understanding.

Yes it is true that `ContentModel` along with it's friends: `IContentModel` and `ContentModel<T>` are sort of left over from v8 but now we're stuck with them again. This used to be `RenderModel`.

part of the docs confusion is that it subtly states "There are two ways to solve t

[2020-03-05 07:07] enkelmedia commented on #2026
Elegant solution @Shazwazza, love the naming as well UmbracoRenderController make a lot of sense and would be easy to understand for anyone coming to Umbraco.

When this makes it to the core I would vote for having these kind of examples in the docs, until then I think we should update the docs to not give the example that the view models need to inherit from ContentModel, but use IPublishedConten

[2020-03-05 08:51] sofietoft commented on #2333
Thanks @JonathonCove !

I'll make sure we get the PR reviewed as soon as possible 💪

[2020-03-05 08:54] sofietoft commented on #2301
@JonathonCove - The article on the DataTypeService has now been verified and updated for Umbraco 8 🎉

Find it here: https://our.umbraco.com/documentation/Reference/Management/Services/DataTypeService/

I'll close this issue for now. Thanks again for reporting 💪

[2020-03-05 08:54] #2301 closed

[2020-03-05 09:37] sofietoft commented on #1981
I've now had some time to test this, and I can confirm the it does indeed work when using `@Model.ValueAsHtmlString` instead of `@Model.Value`, which throws the warning.

Would you be up for adding the change to the article? 😄

[2020-03-05 09:41] sofietoft commented on #1739
Hi @rustybox !

Apologies for taking so long to get back to you.
I can tell you now, that this issue is being investigated!

Just out of curiosity: Did you manage to find a solution to this yourself? 😄

[2020-03-05 09:53] rustybox commented on #1739
I believe the workaround was just creating a new field type that didn't inherit.

[2020-03-05 09:57] rustybox commented on #2223
It's quite upsetting that this ticket isn't resolved, and by resolved I don't mean by the pull request in the related ticket.

The docs are telling lies about what is possible and this wastes the time of everyone who reads them without spending a lot of time to discover that a workaround is required.

Surely whilst evaluating options to fix the underlying issue, the docs could be updated such that

[2020-03-05 12:33] sofietoft commented on #2223
I completely understand your frustration!
I just really need some input from my colleagues, in order to answer this and decide on what we're going to do here. I know that we have some people looking into this currently and we should get an answer soon.

[2020-03-06 00:59] Shazwazza commented on #2026
@enkelmedia sounds like a plan to me!

[2020-03-06 10:19] sofietoft commented on #2223
Hi @rustybox ! We've decided to get rid of this section in the docs for now! Then we can always add it back in, should that become relevant. Sorry for taking so long to do so - sometimes it just takes a bit of extra coordinating..

I've already made a PR to remove it - it will be merged in a minute 😁
Thanks again for bringing this to our attention 💪

[2020-03-06 10:31] rustybox commented on #2223
Interesting, I think maybe that's gone a bit too far, one can get access to the container to register via the LightInject API e.g.

[code]

it's just the following bit which is impossible at present and deserves attention
[code]

[2020-03-06 11:42] sofietoft commented on #2223
Ah, sure! 😅 I might have been a bit "trigger happy" there..

So, what do you say to putting this back in?

[2020-03-06 12:32] rustybox commented on #2223
Sounds like a plan, I do think it's worth explicitly mentioned that RegisterAssembly won't work until a future release.

[2020-03-06 12:36] sofietoft commented on #2223
Got it!
I've taken a shot at it here: https://github.com/umbraco/UmbracoDocs/pull/2345
Could I get your review? 🤞

[2020-03-08 13:14] daanstolp opened #2350 "Add [RuntimeLevel(MinLevel = RuntimeLevel.Run)] to the composer"
***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/master/Extending/Database/index.md***

The page describes a method for creating custom tables in the Umbraco database. However, when you are creating a new site, it is important to add the `[RuntimeLevel(MinLevel = RuntimeLevel.Run)]` to the composer.

When you want to deploy a new website to the server, you need to clear

[2020-03-09 06:58] sofietoft commented on #2350
Thanks for the report @daanstolp ! 😄

So, I don't know too much about how to work with this particular scenario - what you're saying here is, that in order for the sample in the article to work, the `RunetimeLevel` attribute needs to be added - is that correct?
Would you happen to have an example of how it's worked for you? 😁

[2020-03-09 08:03] daanstolp commented on #2350
The sample in the article works just fine, _when you add the component to an already installed site_. But it won't work when you are setting up a new site (that already includes this component) and still need to through the Umbraco installation.

I ran into this issue like this:
1. I created a new site using Visual Studio, installed it on localhost (just using Visual Studio).
1. At some point, I a

[2020-03-09 09:06] nul800sebastiaan commented on #2350
Ah, interesting.. according to the docs at https://our.umbraco.com/Documentation/Implementation/Composing/#runtimelevel :

So now I'm wondering what's happening for you.. It shouldn't be in level `Run`  when there is not connection string.. right?

[2020-03-09 09:22] daanstolp commented on #2350
@nul800sebastiaan The docs you quote mention a `IUserComposer`, but the article I based my code use a `ComponentComposer` (which, as far as I can tell, does not implement `IUserComposer`). My guess is that the ComponentComposer behaves differently and - in this case - _does_ require this attribute to set the runtime level.

[2020-03-09 09:47] nul800sebastiaan commented on #2350
Ah fair enough! Yep, all good we should add it to the docs then! 👍

[2020-03-09 10:00] Adolfi commented on #2285
This can be closed now right @sofietoft? Due to https://github.com/umbraco/UmbracoDocs/pull/2336 being merged.

[2020-03-09 10:52] sofietoft commented on #2285
You're absolutely right!

Thanks again @Adolfi for the PR, and thanks @kenburcham for reporting the issue! 😁 💪

[2020-03-09 10:52] #2285 closed

[2020-03-09 11:01] sofietoft commented on #2350
Would you be up for adding the snippet to the article, @daanstolp ? 😄

We have some guidelines here on contributing: https://our.umbraco.com/documentation/Contribute/

[2020-03-10 10:19] rustybox commented on #2223
Docs no longer confusing thanks :) closing!

[2020-03-10 10:19] #2223 closed

[2020-03-11 07:48] nul800sebastiaan commented on #2361
Issue moved to the Docs repo as an up for grabs! 👍

[2020-03-11 08:00] PerplexDaniel commented on #2361
Thanks for the info about `umb-isolate-form`. It seems this markup would allow me to save / publish content even with empty required fields:

[code]

However, it seems to work only with `<ng-form>` and not `<form>`. So if we want a real `<form>` in our content app this issue persists unfortunately. Also, pressing <kbd>ENTER</kbd> in the text field still seems to submit the parent form so will trig

[2020-03-13 11:23] AndyButland opened #2366 ".NetCore: Document extensibility options for no published content display"
## What type of issue is it?
Missing documentation

## What article/section is this about?
With [this PR ](https://github.com/umbraco/Umbraco-CMS/pull/7740)being merged into the .Netcore branch, there is a new method for customising the display of the "no nodes" response when no published content is found in an Umbraco installation.

## Describe the issue
We should document this feature so that it

[2020-03-13 15:05] mehmettahameral opened #2369 "This page shows Umbraco 7 cache example under v8 examples"
***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/master/Reference/Cache/updating-cache.md***

[2020-03-15 09:38] vondwater opened #2370 "AllPropertyData is missing on RecycleBinEventArgs"
I'm trying to access AllPropertyData property on the RecycleBinEventArgs but this property is missing so I cannot access this property. Am I doing something wrong or is this a bug?

***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/master/Reference/Events/ContentService-Events.md***

[2020-03-16 07:57] sofietoft commented on #2369
Thanks for the report @mehmettahameral !

You are right, that that article shows Umbraco 7 examples. That's because the article hasn't yet been verified and updated against Umbraco 8 - so, it's correct as is, because it's an Umbraco 7 article.

Would you be up for updating these cache docs for Umbraco 8? :)

[2020-03-16 08:29] sofietoft commented on #2370
Hi @vondwater ! Thanks for the report.

I'm not 100% sure I understand what you're trying to do here - would you mind sharing a bit more details?

[2020-03-16 08:36] vondwater commented on #2370
Hi @sofietoft , thanks for your reply.

I want to achieve that all media files for deleted content is also removed from the media folder. So when I empty the recycle bin I want to check the propertydata for each content and then remove the media files associated with it.
I was thinking to use AllPropertyData property for it, but this property is not visible.

Is there a better approach for this?

[2020-03-16 08:52] sofietoft commented on #2370
Ah, thanks for explaining.
I'll need to investigate a bit - will get back to you asap!

[2020-03-16 09:40] sofietoft opened #2372 "Add DB custom tables + migration docs to Extending/Database section"
We currently have documentation on creating custom tables and working the Migration. This documentation currently lives in the Umbraco Cloud section (https://our.umbraco.com/documentation/Umbraco-Cloud/Databases/Local-Database/#using-custom-tables-with-umbraco-cloud).
However, it's potentially relevant for other non-Cloud sites as well.

Therefor, we should move this section to https://our.umbraco

[2020-03-16 11:42] Jeavon commented on #2370
@vondwater Maybe you need to use the `ContentService.Deleted` or `ContentService.Deleting` events, these occur when the items are being removed from the recycle bin?

AllPropertyData was removed from RecycleBinEventArgs quite some time ago, we will update the documentation accordingly

[2020-03-16 12:05] vondwater commented on #2370
I'll give that a try this evening @Jeavon Thanks for your reply

[2020-03-16 17:27] vondwater commented on #2370
@Jeavon  I tried to use the mentioned events but with no success. They are not triggered for some reason. Any other solution for my case?

[2020-03-16 17:32] vondwater commented on #2370
@Jeavon  The deleted event does the trick and returns all property for the removed content. Thanks!

[2020-03-16 18:49] IeuanWalker opened #2378 "Will you be update to .net core?"
## What type of issue is it? (Choose one - delete the others)
Discussion

Just wondering if you'll be migrating this project to .net core, and if so what is the time frame?

[2020-03-16 19:00] Jeavon commented on #2378
@IeuanWalker there is indeed a project migrating to Umbraco to .NET Core and there was a status update just today https://umbraco.com/blog/status-of-migration-to-net-core/

[2020-03-16 19:00] #2378 closed

[2020-03-16 19:01] Jeavon commented on #2370
@vondwater I have updated the info in the linked PR also

[2020-03-16 19:01] #2370 closed

[2020-03-17 11:56] sofietoft commented on #2369
Hi @mehmettahameral
I've found a related issue, which already mentions that the article in question here needs to be verified and updated against Umbraco 8: #1874

As I don't think it makes sense to have more issues open regarding the same topic, I'll close this one for now. Hope you understand!

Thanks again for reporting.

[2020-03-17 11:56] #2369 closed

[2020-03-17 12:02] sofietoft commented on #2327
Hi! As #2334 has been merged, I'll close this issue as well 💪

Thanks @JonathonCove , for putting in the work to help get the Docs upated 😄

[2020-03-17 12:02] #2327 closed

[2020-03-17 12:02] mehmettahameral commented on #2369
Hi @sofietoft ,
No worries. I have a ticket for implementing cache in this sprint. I will have a look at the docs once again after completing my task. If it still shows the v7 one, I will raise a PR ;)

[2020-03-17 18:00] PeteDuncanson opened #2381 "How are the AngularJS docs generated?"
I had to use the AngularJS docs today for the first time in a long while. With fresh eyes I saw a few quick tweaks I could do to make them better but I can't for the life of me find out where/how they are generated. Does anyone have an overview and maybe a from pointers on what commands to run and where to get them to generate? How would I test them if I do make changes etc?

I know they are mostl

[2020-03-17 20:53] PeteDuncanson commented on #2381
Found it thanks to @rasmusjp via twitter :)

https://github.com/umbraco/Umbraco-CMS/tree/v8/contrib/src/Umbraco.Web.UI.Docs

[2020-03-17 20:53] #2381 closed

[2020-03-17 22:31] PeteDuncanson opened #2382 "Improve the old Back Office AngularJS docs"
I've been having a play around with the docs found here https://our.umbraco.com/apidocs/v8/ui/#/api/index (via the instructions here https://github.com/umbraco/Umbraco-CMS/tree/v8/contrib/src/Umbraco.Web.UI.Docs).

A couple of things jumped out to me:

1. The template rendering this is super old, it mentions IE7
2. Its all in javascript so can't really be indexed which means its not findable by Go

[2020-03-17 22:48] PeteDuncanson commented on #2382
So I can see that the main docs site (https://our.umbraco.com/documentation/) runs off some magic Markdown and Examine powered thingy that I can't seem to find. This raises a few options:

- Can we get the ngdoc tool to split out Markdown instead of HTML (something like https://github.com/domchristie/turndown)?
- All the other docs are checked in, do we want these autogenerated docs checked in too

[2020-03-17 22:59] PeteDuncanson commented on #2382
Oooooh how about adding source links to the docs so you can link directly to the file on github! That would be sweet! https://www.npmjs.com/package/grunt-ngdocs#sourcelink

I've had an idea to do something similar with the templates for ages this might be a nice way to get both maybe (https://github.com/umbraco/Umbraco-CMS/issues/5047), if we are adding it for one might as well do the other.

[2020-03-18 09:18] sofietoft commented on #2382
Hi @PeteDuncanson ! 😄

Thanks for sharing your thoughts on this topic. You have some really great and interesting points, and I agree! It would be awesome to include documentation on the UI part on Our!
@abjerner is already working on something that will add a lot of these docs to the manual part on Our: https://github.com/umbraco/UmbracoDocs/issues/2045 - I'm sure those will be a great improvemen

[2020-03-18 10:53] TimGeyssens commented on #2382
If I remember correct, the docs are powered by a webhook coming from Github https://github.com/umbraco/OurUmbraco/blob/master/OurUmbraco/Documentation/Controllers/DocfxController.cs  so it actually downloads the mardown file coming from GitHub into ~/App_Data/Documentation then with a contentfinder a url is mapped agains the file on filesystem https://github.com/umbraco/OurUmbraco/blob/master/OurU

[2020-03-18 10:59] TimGeyssens commented on #2382
So to first get the js docs to render some markdown or html in a structured manner, then you'll need to update https://github.com/umbraco/OurUmbraco/blob/master/OurUmbraco/Documentation/DocumentationUpdater.cs and if it's downloaded in a well strucured manner to the folder structure I guess it should just work without even having to update https://github.com/umbraco/OurUmbraco/blob/master/OurUmbra

[2020-03-18 21:44] PeteDuncanson commented on #2382
Thanks @sofietoft, lots of good info in that reply. Appreciated :)

From what I've read there is no alternative to regenerate the back office docs currently or in the near future (DocFX for instance) so its "up for grabs" I think.

I had a quick play around this morning with the converting to Markdown idea but quickly bailed on that being a good idea as all the tooling is way out of date. It might

[2020-03-23 08:19] sofietoft commented on #2382
Sounds like you're putting a lot of effort into this - that's just wonderful @PeteDuncanson ! 😄

I look forward to see what comes out of this 💪

[2020-03-25 08:32] sofietoft commented on #2125
For reference: The guide on adding a workflowtype will be updated for Umbraco 8 in this PR: #2399 💪

[2020-03-25 19:16] sussexrick commented on #2372
For v8 it should also link to https://www.zpqrtbnk.net/posts/migrations-in-v8

[2020-03-27 04:36] robertjf opened #2405 "Last example on the page is rendering the HTML instead of displaying the code"
See the attached issue for details:

![image](https://user-images.githubusercontent.com/818101/77722036-51bc5d00-7038-11ea-96f0-916b8a2d3057.png)

***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/master/Reference/Routing/surface-controllers.md***

[2020-03-27 08:42] sofietoft commented on #2405
Great catch @robertjf ! 🙈

I've updated the code snippet now - it's declared as HTML and no longer renders the HTML!
https://our.umbraco.com/documentation/Reference/Routing/surface-controllers#protecting-surface-controller-routes

Thanks for pointing it out 💪

[2020-03-27 08:42] #2405 closed

[2020-03-30 13:57] PeteDuncanson opened #2407 "Document how to set the default value on a property editor"
See https://github.com/umbraco/Umbraco-CMS/issues/7859 for details of the origin of this one. Seems you can set default values via code but the only reference to it seems to be a video by Paul Seal. If that is the case then we should really get that documented in the offical docs.

Love your work.

[2020-03-30 14:31] JonathonCove opened #2408 "Media Picker allows svg"
Apologies, I can't find a better place to log this.

***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/master/Getting-Started/Backoffice/Property-Editors/Built-in-Property-Editors/Media-Picker/index.md***

When ticking 'pick only images' this allows the upload of SVG files. However, SVG files can't be parsed as PublishedModels.Image , so creating a picker for images and

[2020-03-31 06:30] nul800sebastiaan commented on #2408
Hi @JonathonCove, what does that mean "SVG files can't be parsed as PublishedModels.Image"?

[2020-03-31 06:34] nul800sebastiaan commented on #2407
Yep, that would be a great idea, if anyone is up for helping out on this that would be lovely! 👍

[2020-03-31 14:36] deanjpearson opened #2409 "Can't view documentation for V7 Rest Api"
Can't view the documentation for the Rest API for v7 of Umbraco. Is this available or stored anywhere?

This is the page with issues: https://our.umbraco.com/documentation/implementation/Rest-Api/

[2020-04-01 07:59] nul800sebastiaan commented on #2409
Here's the change that obsoleted the old docs, you can see what was there before the change on the left side: https://github.com/umbraco/UmbracoDocs/commit/89f2b4f6c50e60fd6815455374b029f342b5fa55#diff-dbba25a6a613b3653e61d4328628dc5b

Note that this is no longer supported.

[2020-04-01 07:59] #2409 closed

[2020-04-01 20:35] ronaldbarendse commented on #2407
The documentation already contains an example on how to set a 'default' value: https://our.umbraco.com/documentation/reference/events/EditorModel-Events/. I've added the quotes around default, as it actually resets the value whenever it's cleared. This example also has a lot of bugs/quirks, as it only sets the value for the first variant/language and throws exceptions whenever the tab or property

[2020-04-02 08:20] harry-gordon opened #2411 "Back-office overlayService is missing documentation"
## What type of issue is it? (Choose one - delete the others)
Missing documentation

## What article/section is this about?
https://our.umbraco.com/apidocs/v8/ui/#/api/umbraco.services.overlayService

## Describe the issue
The `overlayService` is very useful but the documentation page is blank. I'm happy to have a go at adding documentation but if someone gets there first that's fine too 👍.

[2020-04-06 07:10] nul800sebastiaan commented on #2411
Would be great! 👍 I don't know if you're aware but this documentation is generated from code comments, so the current blank page is made from this: https://github.com/umbraco/Umbraco-CMS/blob/v8/contrib/src/Umbraco.Web.UI.Client/src/common/services/overlay.service.js

An example of a more documented service can be found here: https://github.com/umbraco/Umbraco-CMS/blob/v8/contrib/src/Umbraco.Web.U

[2020-04-09 09:40] PeteDuncanson commented on #2382
I believe that DocFX is the HQ's choice of documentation going forward for the whole project as a result ideally anything we use for documenting the front-end should be compatible with DocFX. TSDoc is meant to work with DocFX but I can find no mention of it so I've created an issue on the DocFX github project to see what the state of play is https://github.com/dotnet/docfx/issues/5749

[2020-04-15 09:34] NikRimington opened #2435 "Version filter not showing"
Hi,

I think there is a problem with version filtering in the Doc's site. Not sure how wide spread it is, but this page should have a version filter on it as there is a index-v7.md file as well.
https://our.umbraco.com/documentation/Implementation/Custom-Routing/

***This is the page(s) with issues: https://github.com/umbraco/UmbracoDocs/edit/master/Implementation/Custom-Routing/index.md
 https://

[2020-04-16 06:22] sofietoft commented on #2435
Thanks for the report @NikRimington !
Something strange is going on here, and it looks like it's something general - the versioning box is completely gone from the site it looks like 🤔
Will need to investigate some more, in order to figure out what's happening! 💪

[2020-04-16 06:30] sofietoft commented on #2408
Hi @JonathonCove !

It's been a while since we've heard from you here.
Did you see Sebastiaans question? 😊

[2020-04-16 06:59] NikRimington commented on #2435
No problem, it's not completely gone as it's working in some places such as here https://our.umbraco.com/documentation/Extending/FileSystemProviders/

[2020-04-16 07:06] sofietoft commented on #2435
Oh! That's even more interesting 🤔
I've been through several articles, and all I could find were missing the box even though they should have it!

[2020-04-16 08:05] JonathonCove commented on #2408
Hi Both

Yes sorry, this required a lot of explanation.

So I've created a Data Type called 'Image uploader single' which is a media picker that allows only images:
![image](https://user-images.githubusercontent.com/12764069/79429573-9431e380-7fbf-11ea-9b61-f61c7d5328df.png)

When using this picker, it allows me to select images, including SVGs.

I can then access this image in my razor view, like

[2020-04-17 08:14] sofietoft commented on #2408
Thanks for explaining!

So, when you have a MediaPicker with the "Pick only images" option checked, it still lets you select SVG images, which aren't rendered on the frontend.
Am I understanding that correctly?

I'll have a shot at reproducing. Might be something that needs to be reporting on the CMS Issue tracker.

[2020-04-17 09:52] sofietoft commented on #2408
I've now spent some time, trying to reproduce this issue - and so far, I've been unable to.

When you render the image on the frontend, are you using the snippets from this article: https://our.umbraco.com/documentation/getting-started/backoffice/property-editors/built-in-property-editors/media-picker/ ?
There are some samples in the bottom of the page, and when I use those, I can render out the S

[2020-04-19 10:50] VijayBhatter opened #2448 "This page needs to be updated for v8"
***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/master/Reference/Config/tinyMceConfig/index.md***

[2020-04-20 07:41] sofietoft commented on #2448
Thanks for reporting @VijayBhatter !

This has actually already been reported previously: https://github.com/umbraco/UmbracoDocs/issues/2095

Would you be up for taking a shot at updating the article? 😄

[2020-04-20 09:26] poornimanayar opened #2449 "Surface Controller Actions: Add more details about use cases"
Hi,

I don't think there is any documentation for surface controller actions at the moment. Is it worth adding that? I am happy to pick this up myself.

Poornima

[2020-04-21 09:00] OwainWilliams opened #2455 "Reordering the content tree on the left hand side"
## What type of issue is it? (Choose one - delete the others)
Other:

Is there a way of reordering the content tree on the left hand side of each page or is this within the CMS?

## What article/section is this about?

https://our.umbraco.com/documentation/Umbraco-Heartcore/

## Describe the issue

I think the left hand side should read in this order:

* Getting Started
* API Documentation
* Clien

[2020-04-21 09:09] ault opened #2456 "tinyMceConfig documentation clarity issues"
***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/master/Reference/Config/tinyMceConfig/index.md***

**Control Characters:** @ makes reference to **Extended Validation Elements**. Further down in that section it says they Extended Validation Elements are not working in the current version of Umbraco.

Which is true? I do not know so will not edit this copy.

Also in the

[2020-04-21 09:26] sofietoft commented on #2449
Thanks for adding this issue @poornimanayar ! 😄

I've added the `idea` label 💪

[2020-04-21 09:31] jmayntzhusen commented on #2455
You can do it by adding them in the right order in this switch statement - a bit low tech, but you should get the idea 😁
https://github.com/umbraco/OurUmbraco/blob/master/OurUmbraco/Documentation/DocumentationUpdater.cs#L225

Will leave it up to the docs team to verify the proposed ordering.

[2020-04-21 09:33] sofietoft commented on #2455
Jesper beat me to it 😉

I think the order you propose is great - let's go with that! 😁

[2020-04-21 09:37] OwainWilliams commented on #2455
Great! Thanks both. I'll make the update.

[2020-04-21 09:51] #2455 closed

[2020-04-22 07:25] sarathsju opened #2459 "<XmlCacheEnabled>True</XmlCacheEnabled>"
when i am trying to add
`<XmlCacheEnabled>True</XmlCacheEnabled> `
configuration in umbracosettings.config file i am getting nullponterexception in umbraco 8+
![image](https://user-images.githubusercontent.com/43876240/79952745-8c70b400-8483-11ea-8792-590da4a82fc1.png)

***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/master/Reference/Config/umbracoSettings/index.md***

[2020-04-22 07:27] sofietoft commented on #2456
Thanks for the report @ault ! 💪

The article on the tinyMCE Config hasn't been verified and updated for Umbraco 8 as of yet.
So, what's in the article applies to Umbraco 7, and might not apply to Umbraco 8.
See: #2448 and #2095

Could that perhaps have something to do with the issues you're having? 🤔

[2020-04-22 07:32] sofietoft commented on #2459
Thanks for the report @sarathsju !

I'm afraid the article about the umbracoSettings that you're referring to, hasn't yet been updating for Umbraco 8 - the setting might look different in Umbraco 8, than what's described in the article you're looking at, as that's for Umbraco 7.

I'll what I can do about getting you the information you need here, to do this correctly in Umbraco 8.

[2020-04-27 06:52] sofietoft commented on #2459
Hi @sarathsju !
Apoogies for the delay on this one.

I've now had some time to investigate this issue you're having.
In Umbraco 8 there no longer is an XML cache, which also means that the setting you're trying to use is no longer available.

If you're continuing to struggle with this, I'd suggest that you head over to the [Forums](https://our.umbraco.com/forum/) - I'm sure someone will be able to

[2020-04-27 06:52] #2459 closed

[2020-04-27 06:54] sofietoft commented on #2459
I'll close this one for, as we already have an issue reporting that the umbracoSettings.config article needs to be updated for Umbraco 8 - #2127 .

[2020-04-30 07:58] sofietoft commented on #2435
Hi @NikRimington !

We found the issue - or Jesper did 😉
Seemed that a PR for some YAML tags with errors in the syntax had gotten merged, and messed up the entire Docs index on Our.
All fixed up now, and the search (which was also broken) and the version boxes are working again 🎉

Thanks again for reporting it!

[2020-04-30 07:58] #2435 closed

[2020-04-30 08:18] sofietoft commented on #2408
Hi @JonathonCove - I haven't heard back from you a while did.

Did you manage to show your SVG files on your frontend? :)

[2020-05-02 15:47] deekoulos commented on #2026
Hey Guys,

I am struggling a lot, since 2 days, with getting the task done based on the documented approach, in terms of using custom controllers/models in forms. So before we get the documentation updated or similiar solutions, maybe one of you have an idea to get this very very simple task done save my day, since all the forum posts and articles i have read, didn't really help...

My View:
[code

[2020-05-15 07:41] webdivauk opened #2484 "Blacklisted and Excluded"
I'd like to suggest that the term 'Blacklisted' in the first image be changed to 'Excluded'. As someone very new to coding with Umbraco and having to follow every letter of the tutorial I found myself having to go back to the start of the document to confirm to myself that the 'Blacklisted' and 'Excluded' was one and the same.,

***This is the page with issues: https://github.com/umbraco/UmbracoDo

[2020-05-15 07:56] sofietoft commented on #2484
Thanks for pointing this out @webdivauk ! 💪

Just so I'm 100% sure I understand what you're saying here:
The field for the list is called "Excluded Document Type" in both text and code snippets - but in the screen dumps of the backoffice, the actual name of the field is Blacklisted Document Types.

Have I understood that correctly?

[2020-05-15 09:38] schnitty opened #2486 "documentation out of date. This can only be done with Pro accounts as of 1/1/2020. Probably should update document to state that"
***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/master/Umbraco-Cloud/Set-Up/Manage-Hostnames/Security-Certificates/index.md***

[2020-05-15 10:08] webdivauk commented on #2484
Hi

That’s right. 👍

Sent from my iPhone

[2020-05-15 11:06] sofietoft commented on #2486
That is a good point @schnitty !

Thanks for pointing this out.
Would you be up for adding a note about it, yourself perhaps?
We have some guidelines on contributing here: https://our.umbraco.com/documentation/Contribute/

[2020-05-15 11:08] sofietoft commented on #2484
Great! Thanks for confirming @webdivauk .

I believe it was @marcemarc who wrote this article? Perhaps he can shed some light on this 😁

[2020-05-15 18:26] marcemarc commented on #2484
Yes, I think in the original tutorial we were using the term 'blacklisted' but that term doesn't necessarily make universal sense in this context... and so it was updated to be excluded to be clearer... but I bet we forgot to update the screen grabs... @webdivauk  have you just followed the tutorial? and might happen to have views of the steps with the matching property name easily to hand?? and c

[2020-05-19 11:46] sofietoft commented on #1603
Hi @joecklau !

It's been a while since I've seen any activity on this issue.
I can also see that the article in question has been updated since.

I'll close this issue for now.
It would be great if you could test the new article against your setup - and please let us know if the article needs further updating 💪
And thanks again for reporting the issue.

[2020-05-19 11:46] #1603 closed

[2020-05-19 11:50] sofietoft commented on #1644
Hi @mehrdadab ,
As it's been a while since I've seen any activity on this issue, I hope it's OK that I close it down.
Also sounded like you found the information needed 💪

You're of course more than welcome to report back, should something continue to be missing.

Thanks again for reporting!

[2020-05-19 11:50] #1644 closed

[2020-05-19 11:58] sofietoft commented on #1652
It's been quite a while since there's been any activity on this one.

I've added a link to the external resource to the References page on Our: https://our.umbraco.com/documentation/Reference/#external-resources

I'm closing this issue for now.

[2020-05-19 12:04] sofietoft commented on #1710
Hi all 👋

It's been a while since I've seen any activity on this one.
Sounds like a code snippet that needs to be updated - I know it's been a while, but perhaps you'd still be up for it @Slipoch ? 😄 Let me know.

[2020-05-19 12:09] sofietoft commented on #1712
Looks like the [Content Service article](https://our.umbraco.com/Documentation/Reference/Management/Services/ContentService/Index/) has been updated for Umbraco 8 👏
So, I'll close this one.

Thanks for reporting! 😄

[2020-05-19 12:09] #1712 closed

[2020-05-19 12:19] sofietoft commented on #1794
Hi 👋

I can see that the article mentioned (https://github.com/umbraco/UmbracoDocs/edit/master/Getting-Started/Setup/Server-Setup/azure-web-apps.md) has been updated for Umbraco 8.
I believe that also concludes this issue, and I'll close it!

Thanks for reporting 💪

[2020-05-19 12:19] #1794 closed

[2020-05-19 12:21] sofietoft commented on #1873
Looks like all this has been updated 👏

A huge thanks to everyone who participated.
I'll close this issue now.

[2020-05-19 12:21] #1873 closed

[2020-05-19 12:25] sofietoft commented on #1981
It's been a while since I've seen any activity on this issue, so I've taken the liberty to update the value field from `@Model.Value` to `@Model.ValueAsHtmlString` 💪

I'll close this issue for now.

Thanks again for reporting 😄

[2020-05-19 12:25] #1981 closed

[2020-05-19 20:57] abjerner commented on #2045
I think the whole situation with corona and working from home hit my motivation to do much after work, so I haven't really looked at this for a while.

Automating as much as we can is of course ideal, but right now we don't really have a context to get the parameters from the API docs. I think we'll have to write our own ngdocs parser (or find an existing one for C#) if we wish to pull this inform

[2020-05-20 16:12] icguy opened #2498 "No Link to Retrospect Templates"
***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/master/Tutorials/Creating-Basic-Site/Creating-Your-First-Template-and-Content-Node/index.md***

Problems summary:

1.  Provide link to Retrospect template in tutorial
2. Retrospect template has invalid Razor code in index.html

Details:
1. The tutorial says "Open up "index.html" from the "Retrospect" template in your favo

[2020-05-20 17:19] abjerner commented on #2045
I often use the `<umb-load-indicator />` directive, and also did so today, so I decided to write this page:

![image](https://user-images.githubusercontent.com/3634580/82475916-8b0bc900-9acd-11ea-9fe3-5657cf02be95.png)

The current documentation is very text based (and the occasional image), but I think it sometimes needs a few links to further information. But as there isn't a component for this

[2020-05-22 08:14] stefankip opened #2500 "Doc: Migrating an Existing Site to Umbraco Cloud is not up-to-date"
I think the Migrating an Existing Site to Umbraco Cloud docs isn't up-to-date.
For example, the `umbraco.config` file is gone, I am unable to delete the media types `File`, `Folder` and `Image` in Umbraco v8, there is no `/Config/dashboard.config` file anymore and I'm unable to locate the `installed` marker in `App_Plugins/UmbracoForms`.

***This is the page with issues: https://github.com/umbraco

[2020-05-25 07:41] sofietoft commented on #2498
Thanks for the report @icguy !

The tutorial you're referring to here, actually stretches over multiple articles.
The very first article in the guide, is this one: https://our.umbraco.com/documentation/Tutorials/Creating-Basic-Site/Getting-Started/

In there is a section about "[What you will need](https://our.umbraco.com/documentation/Tutorials/Creating-Basic-Site/Getting-Started/#what-youll-need

[2020-05-25 07:46] sofietoft commented on #2045
This is great @abjerner ! 👏

I like the links, and the blue box looks great.
However, in order to keep the overall consistency of the Docs, perhaps use one of the formats we have for "comments" sections? They're all Markdown...
We currently have 3 different once; Tip, Note and Warning.
Find them and the formatting for each here: https://our.umbraco.com/documentation/Contribute/Markdown-Conventions

[2020-05-25 07:51] sofietoft commented on #2500
Thanks for reporting this @stefankip !

Sure sounds like we need to get that article updated.
I'll make sure we take a look at the things you've pointed out, and make sure that the article in general does what it needs to.

Did you manage to complete the migration despite the guide being a bit out of date? 🤞

[2020-05-25 08:02] icguy commented on #2498
@sofietoft Oh shoot, i missed the "What you will need" section. Apparently reading tutorials thoroughly from start to finish isn't my forte. My bad. Maybe linking to the other article might be helpful, but isn't strictly necessary. Users (including me) need to RTFM after all. So do with it what you wish. Did you check my other point though?

[2020-05-25 08:13] stefankip commented on #2500
Sure thing, it's running on cloud as we speak :-)
Just had to combine this article with the following article: https://our.umbraco.com/documentation/Umbraco-Cloud/set-up/Working-With-Visual-Studio/
Because I already had a repo with a Core, Web and Models project.
So now the Web repo is located inside the source repo, like that doc explains.

[2020-05-25 08:46] jmayntzhusen commented on #2045
@abjerner

The note, warning, etc we have in https://our.umbraco.com/documentation/Contribute/Markdown-Conventions/#adding-notes-warnings-tips were all based on the fact that MarkDig converts
[code]

To:
[code]

You can find the css for the others here: https://github.com/umbraco/OurUmbraco/blob/master/OurUmbraco.Client/src/scss/sections/_docs.scss#L119

Maybe you could simple add some styling aft

[2020-05-25 09:11] sofietoft commented on #2498
No worries 😄 We don't really have a nice way to handle these multi-page guides and articles, so it can be a bit confusing to keep track of it all.

Ah, sorry! Seems I was too focused on the other things... it's the `@` sign in the Twitter handle that's messing up the Razor. Would be a good idea to add a note about that to the article 🤔

[Our docs are open source](https://our.umbraco.com/documentat

[2020-05-25 09:12] sofietoft commented on #2500
Sounds great @stefankip ! 💪 Wonderful to hear that you managed to complete the task.

I've added the "needs-investigation" label to this issue, and will make sure to get around to it as soon as possible!
Thanks again for reporting 😄 Much appreciated.

[2020-05-25 13:00] abjerner commented on #2045
@sofietoft @jmayntzhusen thanks for the feedback :smile:

Personally I'm not a fan of the `:::` blocks as they don't work on GitHub. And the <code>```</code> equivalent doesn't render the content as it's a code snippet - at least here om GitHub.

But I'll try to play a bit with the syntax to see what makes the most sense 😉

[2020-05-25 13:31] jmayntzhusen commented on #2045
Oh woops, meant :::links, etc. not ```..

Yea I guess it's a tradeoff. The reason we did the :::name syntax in the beginning is that it is a bit more beginner friendly than managing full html elements.

If we have content editors, etc, contributing it is easier to let them use this functionality by pointing them to a page of "custom styling" that all follow the same structure. With HTML elements i

[2020-05-26 07:54] sofietoft commented on #1992
Hi all!
It's been a while since there's been any activity on this one.

@stevetemple - you still up for the task? 😄

[2020-05-26 08:14] sofietoft commented on #2107
Hi guys 👋

Currently running through and doing some "spring cleaning" on the Issue tracker here.
Seems this one hasn't seen much activity lately - Do you know what the state is on this one? 😄

[2020-05-26 08:15] sofietoft commented on #2066
All items are checked 💪

I'll close this one for now.

[2020-05-26 08:15] #2066 closed

[2020-05-26 08:24] sofietoft commented on #2149
Hi @hidarikani !

It's been a while since I've seen any activity on this one.
I hope that means you found the information you needed to complete your work 💪

I'll close this one for now, as we already have [an issue mentioning the fact that the Caching docs needs to be updated](https://github.com/umbraco/UmbracoDocs/issues/1874).

Thanks again for reporting! 😄

[2020-05-26 08:24] #2149 closed

[2020-05-26 08:31] sofietoft commented on #2333
Looks like the PR for this one has already been reviewed and merged 💪

I'll close this issue as well.
Thanks again for putting in the work to help get this updated @JonathonCove 🙌

[2020-05-26 08:31] #2333 closed

[2020-05-26 09:34] sofietoft commented on #2125
The PR to update the article mentioned in this issue has been merged 💪

That also mean that this issue can be closed for now!
Thanks again for reporting.

[2020-05-26 09:34] #2125 closed

[2020-05-26 09:57] sofietoft commented on #2408
Hi @JonathonCove

It's been a while since I've seen any activity on this one - hope that means you managed to render out the SVG file on the frontend 💪

I'll be closing this issue for now.
Please feel free to re-open it, should you continue to struggle with the SVGs!
And thanks again for the report!

[2020-05-26 09:57] #2408 closed

[2020-05-26 21:21] abjerner commented on #2045
Even though the `:::` syntax doesn't work on GitHub, I can also see the benefit of that approach. So PR for the styling is here:

https://github.com/umbraco/OurUmbraco/pull/584

[2020-05-28 04:43] Adolfi commented on #2107
I would say it's resolved yes. :)

[2020-05-28 09:29] sofietoft commented on #2486
The Security Certificate article has been updated now, according to the pricing plans.

I'll close this issue.
Thanks again for reporting 😄 💪

[2020-05-28 09:29] #2486 closed

[2020-05-28 12:28] sofietoft commented on #2500
Hi @stefankip !

Thanks again for reporting the out-of-date article.
I've now run through the guide and updated it where needed according to Umbraco 8 projects 💪

I'll close this issue for now.

[2020-05-28 12:28] #2500 closed

[2020-05-28 12:35] stefankip commented on #2500
;-)

[2020-05-28 12:45] sofietoft commented on #2500
Ah, good catch 😄
It's been updated now 💪

[2020-06-02 10:48] SimonAntony opened #2513 "Controller is wrong, correct code below:"
angular.module("umbraco")
    .controller("My.PersonPickerController", function($scope, personResource){
        personResource.getAll().then(function(response){
            $scope.people = response;
        });
    });

***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/master/Tutorials/Creating-a-Property-Editor/part-4-v7.md***

[2020-06-02 10:50] SimonAntony commented on #2513
Submitted a change request:

https://github.com/umbraco/UmbracoDocs/compare/master...SimonAntony:patch-2

[2020-06-02 10:50] #2513 closed

[2020-06-08 07:54] #2350 closed

[2020-06-10 12:53] FransdeJong opened #2540 "Add descriptions to the latch statuses so it is clear what they mean"
The statusses are mentioned in a list on this page. Today I had the status NoRedirects and that sounded perfect to me.

What the status actually meant was a missing negate rule.

If you could add a description and a possible solution to every status that would help me not to bother support and solve it myself. win-win.

***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/m

[2020-06-10 16:16] juannufu opened #2541 "server error: Contact administrator, see log for full details. Undefined"
When I try to upload a picture it always appears the message. I check the administrator options and it seems everything is ok
I will appreciate any advice!!

***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/master/Getting-Started/Setup/Install/Running-Umbraco-On-A-Mac.md***

[2020-06-11 06:55] sofietoft commented on #2541
Hi @juannufu
Thanks for reporting.

As I understand, you're having some issues uploading a picture to your website, is that correct?
We have some documentation on how to handle media in Umbraco - you can find here: https://our.umbraco.com/documentation/Getting-Started/Data/Creating-Media/

I hope this helps you move forward! 💪

[2020-06-11 10:40] juannufu commented on #2541
Good morning,
thank you very much for your quick reply!!
I follow the steps as I did always and never have a problem until it starts
to appear the following message "server error: Contact administrator, see
log for full details. Undefined" and it is no possible to upload a picture
into a folder,
I can modify a text and upload it to the web but not a picture.
Thanks again in advance for your attent

[2020-06-11 12:18] sofietoft commented on #2541
Alrighty. Thanks for explaining.

Sounds like some more details is needed here in order to figure out what is happening 🤔
How about getting in touch on our [Forums](https://our.umbraco.com/forum/) perhaps? I'm sure someone there, will be able to help out.
Otherwise, you're welcome to get in touch with our friendly support team through contact@umbraco.com.

I hope you find what you need.
I'll close

[2020-06-11 12:18] #2541 closed

[2020-06-12 14:23] PeteDuncanson opened #2544 "how can you make sure referenced projects (Core and Models) are always build in release mode when you push changes to the cloud web repo?"
Not an issue I've had but one that popped up on twitter and had a solution thats on Shannons blog rather than in the offfical docs:

https://twitter.com/dawoe21/status/1271441518029606913

[2020-06-15 08:45] sofietoft commented on #2544
Thanks for reporting this @PeteDuncanson !

We do already have one solution for [working with Visual Studio and Cloud](https://our.umbraco.com/documentation/Umbraco-Cloud/Set-Up/Working-With-Visual-Studio/) - would be great with more examples, like the one Shannon's made 💪

I'll look into it as soon as possible.

[2020-06-16 07:15] #2484 closed

[2020-06-16 11:23] armendimeri opened #2549 "Surface controller unit testing does not work"
Surface controller unit testing does not work. This method does not mock context correctly therefore the tests crash because CurrentPage is never set. The method is flawed

System.InvalidOperationException : Cannot find the Umbraco route definition in the route values, the request must be made in the context of an Umbraco request

***This is the page with issues: https://github.com/umbraco/Umbraco

[2020-06-17 07:17] sofietoft commented on #2549
Thanks for reporting this @armendimeri !
Looks like it has been a while since these docs were create, and they might very well need some updating.

Would you be up taking a shot at updating the article? 😄
Otherwise, I'll try ping the one who wrote this article - I'm sure he'll be able to help out.

[2020-06-17 14:26] armendimeri commented on #2549
Hello, I cannot update this documentation because we currently have no idea how to get them working.
We are hitting so many roadblocks it's very hard to get these unit tests running at all.
We have changed our code and we still cannot mock factory right. we are still getting "No factory has been set" for current.get_factory().

[2020-06-17 19:37] TechInfoQc opened #2553 "Example of rewrite rule is inversed"
With this rule, when the pattern is matched the request will be aborded, so it should be negate="true" in the rule. So when the pattern doesn't match = abord.

***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/master/Reference/Security/Security-hardening/index.md***

<rule name="Allowed IPs" stopProcessing="true">
    <match url="^(?:app_plugins|config|umbraco)(?:/|$)" /

[2020-06-18 07:22] sofietoft commented on #2549
Ah, I understand. Sorry to hear you've been hitting so many roadblocks.

@Adolfi is the one who wrote most of the Unit Testing docs - perhaps he'd be up for lending a helping hand here? 😄

[2020-06-18 07:25] sofietoft commented on #2553
Thanks for the report! 💪

I'll make sure to run this through our security experts as soon as possible!

[2020-06-20 13:33] Adolfi commented on #2549
Hi. Don’t use CurrentPage. Use AssignedContentItem through the UmbracoHelper. Easier to mock. Se conversation here: https://our.umbraco.com/forum/using-umbraco-and-getting-started//102234-unit-testing-surface-controllers#comment-319742

[2020-06-22 08:13] sofietoft commented on #2553
Apologies for the delay here!

I've had this by our security people, and you are of course correct 😄
Would you be up for updating the article with the change?

[2020-06-23 11:11] armendimeri commented on #2549
@Adolfi doesn't work for me even though I use the base clase from the documentation provided, with the same controller constructor and it sill spits out:
No factory has been set when I try this.umbracoHelper.AssignedContentItem

[code]
[code]
[code]

[2020-06-24 15:13] Adolfi commented on #2549
Looks like ProductControllerTests class is not inheriting the base class?

[2020-06-24 15:16] armendimeri commented on #2549
It is inheriting the base class
[code]

[2020-06-25 05:08] Adolfi commented on #2549
You should not need to mock the Factory, which is a static dependency resolver. So you should be able to remove this line: Factory = new Mock<IFactory>();

However, I am not sure why you get this error. Sometimes this error occurs when a Umbraco extension method is using the Factory explicit to resolve dependencies, and then you need to work around that extension method. But I can’t see the obviou

[2020-06-25 08:19] sofietoft commented on #2549
Thanks @Adolfi , for pitching in on this one! Much appreciated.

Sorry to hear you keep hitting a wall here @armendimeri 🤔
As I understand, this is not really an issue with these docs, but more a question of your setup in relation to this particular unit testing, and you might need to do it slightly different...
Would it perhaps make sense to move this to the [Forum on Our](https://our.umbraco.com

[2020-06-25 11:55] TechInfoQc commented on #2553
I've changed both, thanks

[2020-06-25 11:58] #2553 closed

[2020-06-29 20:32] marcemarc opened #2574 "Update Common Pitfalls and Anti Patterns for V8"
Alot of V8 architecture has been developed to mitigate some of the common pitfalls and anti-patterns in V7 - so this isn't necessarily as logical as taking each section and rewriting the examples for V8. Particularly in terms of warnings against using linq, which I think is the preferred way now over XPATH.

Following documentation Curator meeting, we decided to open an specific branch of the main

[2020-06-30 13:42] marcemarc commented on #2449
Hi @poornimanayar

It's super great to get a page dedicated to these options, as it often confuses people over what to return when, when using a SurfaceController for the first time.

That said, would it be possible to be clearer, when each of these would be used - for example the first two, that mention CurrentUmbracoPage and RedirectToCurrentUmbracoPage have the exactly the same example... and d

[2020-07-02 15:24] peaxe opened #2581 "order of the environments in project-components.png"
Hi.
I want to start to say that the documentation is really great. So my friendly suggestion is not pointing out an error, it is based on this one:

Would it be possible to change the order of environments in the image "images/project-components.png" so the environments are presented from left to right: Development, Staging, Live

(As that is how the environments are usually seen in the Backoffice

[2020-07-03 06:08] sofietoft commented on #2581
Hi @peaxe !

Thanks for the feedback.
I completely agree that it would be cool to have the environments listed in the proper order on the image.
I'll see if I can make that happen as soon as possible 👏

[2020-07-07 18:16] codeguise opened #2586 "Version Clarification"
When attempting to get documentation for version 8 caching using google search this page appears in the results. It is still valid for version 7 but I was very confused why it wasn't working for version 8. This page needs a message that it is for version 7 only. Version 8 needs much more, clearer, documentation on this subject.

***This is the page with issues: https://github.com/umbraco/UmbracoDo

[2020-07-08 07:34] sofietoft commented on #2586
Hi @codeguise ! Thanks for the report.

We do have a bit about caching in Umbraco 8: https://our.umbraco.com/documentation/Reference/Cache/examples/tags
However, I realize it's not a lot! I'll make sure to poke some our experts, so we can get that ball rolling!

Regarding the version tagging on the Umbraco 7 article... when articles haven't been updated for Umbraco 8 they usually have a green box

[2020-07-08 07:37] sofietoft commented on #2456
Hi @ault !

The article on the tinyMCE has recently been updated for Umbraco 8.
Would you be up for checking it out, and see if it answers the questions you've posted here? 😄

You can find the article here: https://our.umbraco.com/Documentation/Reference/Config/tinyMceConfig/

[2020-07-08 09:40] EM-Benji opened #2588 "SMTP-settings Umbraco Forms doesn't mention the notification setting"
## What type of issue is it? (Choose one - delete the others)

Missing documentation

## What article/section is this about?
https://our.umbraco.com/documentation/Umbraco-Cloud/set-up/SMTP-settings/

## Describe the issue
In the Umbraco Forms section, it should mention that the email address value needs changing from your@email.here to the value of the from attribute as mention in https://our.umbr

[2020-07-08 11:00] sofietoft commented on #2588
Thanks for reporting @EM-Benji !

It is as far as I know it should not be necessary to change the "sender email" value in the notifications section in umbracoSettings.config - as that has to do with notifications and not Umbraco Forms as such 🤔 Have you had any issues with this not being set?

The article you reference here doesn't really mention the notifications part - perhaps it would be a good

[2020-07-08 11:08] EM-Benji commented on #2588
Yeah i didn't think it needed it too but this morning i was trying to setup smtp so forms would email when a entry is sent and after getting "Mailbox unavailable. The server response was: Verification failed for <your@email.here>" in the logs. I found that notification page in the forum., made the change on a hope and it worked.

[2020-07-08 12:06] sofietoft commented on #2588
Aha! That's interesting. Thanks for explaining! I'll run some tests on the latest versions.

So, regarding the SMTP article here - perhaps we could add the mention of the sender email value in a `note` or something 🤔

[2020-07-08 12:13] EM-Benji commented on #2588
No problem. Yeah that was my thinking just a simple note

[2020-07-09 08:40] sofietoft commented on #2588
Hi @EM-Benji !
For some reason, I cannot reproduce this issue you've been running into 🤷‍♀️

In any case, I've added a note the article like we discussed: https://our.umbraco.com/Documentation/Umbraco-Cloud/Set-Up/SMTP-settings/#umbraco-forms

Thanks again for reporting!
I'll consider this one closed for now - please feel free to reopen it, if you feel it hasn't been resolved.
Have a great day!

[2020-07-09 08:40] #2588 closed

[2020-07-09 09:18] jorn1 opened #2591 "Document how to add the grid editor to a row configuration"
Hi, it would have been nice if the article made clear that you have to add the grid editor to a row configuration:)

***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/master/Getting-Started/Backoffice/Property-Editors/Built-in-Property-Editors/Grid-Layout/Grid-Editors.md***

[2020-07-09 09:35] sofietoft commented on #2591
Hi @jorn1 ! Thanks for reporting.

Let me make sure I understand what you're saying here;
The article is about how to create a custom grid editor.
What it doesn't cover, is how you actually then **add the new grid editor to a Grid in the backoffice**, when configuring the Grid property.

Am I getting that right? 🤔

[2020-07-09 09:40] sofietoft commented on #2448
Hi @VijayBhatter !

The TinyMCE article has been updated for Umbraco 8 - you can find it here: https://our.umbraco.com/documentation/reference/config/tinymceconfig/

I'll consider this one closed for now.
Do let me know if something else come up - and thanks again for reporting!

[2020-07-09 09:40] #2448 closed

[2020-07-09 09:44] jorn1 commented on #2591
Maybe i'm stupid but it took me a long time to figure out:)

[2020-07-09 09:45] sofietoft commented on #2407
Hi guys!

The EditorModels-Events article has been updated to use ContentSavedState.
Also, some additional meta-data has been added to the article, making it hopefully easier to find it through search!

Would one of you be up for verifying, whether that update "solves" this Issue? 😄

[2020-07-09 09:52] sofietoft commented on #2591
Thanks for confirming!

You're definitely not stupid.
I think it would make a lot of sense if that article mentions how to actually use the custom grid editors as well 💪

Would you be up for adding it? 😁 We have some [docs on how to contribute](https://our.umbraco.com/documentation/Contribute/) if you're interested.
I'll add the `up-for-grabs` label and add it to my to-do as well!

[2020-07-09 10:31] marcemarc commented on #2456
@ault the confusion with the control character + Extended Validation Elements reference - was because that came from TinyMce docs - but in Umbraco, the Extended Validation Elements is used by Umbraco for core things like Macros being embedded in the RTE. Have updated that to hopefully make it clearer? eg you can use it, but if you do you'll break Umbraco, unless you keep it's config in there too.

[2020-07-09 11:02] ronaldbarendse commented on #2407
The new sample code and the comments look good, so this issue can be closed IMO!

[2020-07-10 07:09] sofietoft commented on #2407
Thanks for checking @ronaldbarendse ! 💪

I'll consider this one closed for now then.
Please feel free to re-open, should something come up.

Have a fab' day!

[2020-07-10 07:09] #2407 closed

[2020-07-10 12:39] ronaldbarendse commented on #2407
For reference, this issue is related to https://github.com/umbraco/UmbracoDocs/pull/2577.

[2020-07-10 15:17] tommy-elliott-awh opened #2593 "Broken images in v8 Getting Started > Code > Source Control page"
***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/master/Getting-Started/Code/Source-Control/index.md***

The image at the end of the "What folders and files should I exclude from my source control repository?" section ( https://our.umbraco.com/documentation/getting-started/Code/Source-Control/images/v8-files_PNG ), and the image at the start of the "App_Data Folders" se

[2020-07-14 00:13] thenexus00 opened #2594 "Umbraco Forms: Update Email Templates for v8"
Isnt - Umbraco.TypedContent for example now Umbraco.Content - These should be updated on the V8 page.

***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/master/Add-ons/UmbracoForms/Developer/Email-Templates/index.md***

[2020-07-14 07:12] ronaldbarendse commented on #2574
Another pitfall to mention here would be to store state/values in custom model properties. In V7 all models were created, [passed through the factory](https://our.umbraco.com/apidocs/v7/csharp/api/Umbraco.Core.Models.PublishedContent.PublishedContentModelFactory.html#Umbraco_Core_Models_PublishedContent_PublishedContentModelFactory_CreateModel_Umbraco_Core_Models_IPublishedContent_) and returned f

[2020-07-14 07:23] nul800sebastiaan commented on #2593
Thanks @tommy-elliott-awh - I think the `.PNG` in capitals was parsed wrong.. all good now, I've renamed the image files. Thanks again!

[2020-07-14 07:23] #2593 closed

[2020-07-14 10:54] nul800sebastiaan commented on #2594
Looks like this page is not yet ready for v8, indeed. We'll put it on our list of ideas to update this when we get a chance, thanks!

[2020-07-14 19:23] JeremiahProworks opened #2597 "Examine documentation concerning IScopeProvider and Create"
## What type of issue is it? (Choose one - delete the others)
Wrong documentation (as far as I can tell)

## What article/section is this about?
https://our.umbraco.com/documentation/reference/searching/examine/examine-events

## Describe the issue

The documentation for v8 indicates that this should be used:

`using(var scope = _scopeProvider.Create(autocomplete: true))`

As far as I can tell thi

[2020-07-15 14:54] stodolos opened #2598 "Broken documentation link for MemberService-Events"
## What type of issue is it? (Choose one - delete the others)
Missing documentation

## What article/section is this about?
MemberService-Events

## Describe the issue
https://our.umbraco.com/documentation/reference/events/MemberService-Events
"Oooops, something broke"

[2020-07-15 20:29] marcemarc commented on #2597
@JeremiahProworks Thanks for raising this!, we literally just pulled in an update to this page in the docs to add the information about scope,  will double double check, but I think you are right!

[2020-07-16 07:12] marcemarc commented on #2598
Thanks @stodolos for reporting this, I'm not quite sure what is immediately breaking this page, but we'll investigate further. In the meantime, if you wanted to see the information regarding MemberService Events - you can find them here in the markdown source files: https://github.com/umbraco/UmbracoDocs/blob/master/Reference/Events/MemberService-Events/MemberService-Events.md

[2020-07-16 07:22] jmayntzhusen commented on #2598
@marcemarc Pretty sure it is because the link he is going to doesn't have a corresponding index file, he'd have to go to https://our.umbraco.com/documentation/reference/events/MemberService-Events/MemberService-Events.md (Our will strip the .md) to find the file. Should probably just rename the file to index.md then it will work 🙂

[2020-07-17 20:25] stixoffire opened #2602 "The umbracoSettings page is way out of date Unrecognized elements."
***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/master/Reference/Config/umbracoSettings/index-vpost7.8.0.md***

I am having several issues with V8.6.3 and the umbracoSettings.config file - trying to follow the guide and always getting the unrecognied element , <templates>
also <XmlCacheEnabled>

We need ot know what section they go in and also what # Version  so on the

[2020-07-18 08:42] marcemarc opened #2603 "Examples for setting different Property Editor Data Programatically"
## What type of issue is it? (Choose one - delete the others)

Missing documentation

## What article/section is this about?
Built in Property Editors:
https://our.umbraco.com/Documentation/Getting-Started/Backoffice/Property-Editors/Built-in-Property-Editors/

## Describe the issue
It seems a common recurring theme in the Umbraco Forms, particularly as people try to migrate content to V8, of how

[2020-07-18 08:43] marcemarc commented on #2603
Thanks Marc, we'll have a think about that and get back to you.

[2020-07-18 08:46] marcemarc commented on #2602
Hi Stixoffire

Thanks for raising this, there is an issue related to updating this page for V8: https://github.com/umbraco/UmbracoDocs/issues/2127 but I can see it hasn't been tackled yet, possibly due to the size of the configuration file, and trying to work out which bits are still valid.

I'll keep this issue open though to flag this at the next documentation curators meeting, as these options

[2020-07-27 07:39] #2597 closed

[2020-07-27 08:40] sofietoft commented on #2581
The image [has now been updated](https://our.umbraco.com/documentation/Umbraco-Cloud/Getting-Started/Project-Overview/) 😄

I'll go ahead and close this one.
Thanks again for reporting the issue 🎉

[2020-07-27 08:40] #2581 closed

[2020-07-27 10:22] sofietoft commented on #2598
Hi all!

I've had a look at this, and it looks like all that needs to be done is, that the `MemberService-Events.md` file be renamed to `index.md` - that should make https://our.umbraco.com/documentation/reference/events/MemberService-Events link correctly to the article.

See this PR: #2622

[2020-07-29 00:17] thenexus00 opened #2625 "Information really light"
This page only really covers getting single form values and looping through form fields to output.

There are many forum posts out there in where people want to get basics such as the form name, GUID and so on. There are some solutions for Umbraco 7 such as:

var formStorage = new Umbraco.Forms.Data.Storage.FormStorage();
var form = formStorage.GetForm(Model.FormId);

Which do not work under Umbra

[2020-07-29 07:27] sofietoft commented on #2625
Thanks for the report @thenexus00 !
We do have some more details on getting forms and record data in this article: https://our.umbraco.com/documentation/Add-ons/UmbracoForms/Developer/Working-With-Data/

What you're referring to here, is specific to the article on Email Templates - right?

[2020-07-29 07:42] sofietoft commented on #2598
I've just merged in a fix to this one - the link now works as expected: https://our.umbraco.com/documentation/reference/events/MemberService-Events/

I'll close this issue.
Thanks again for reporting @stodolos 😄

[2020-07-29 07:42] #2598 closed

[2020-07-29 07:52] thenexus00 commented on #2625
Hi @sofietoft
That does not seem to work in email templates though in Umbraco 8, only page stuff. This was even noted back in 7 by people in the forums and the work arounds they had do not work in 8 :(

[2020-07-29 08:53] sofietoft commented on #2625
Ah, I see. Thanks for helping me clarify this.

I'll run it by our Forms experts - they should be able to tell us how this is done in the latest versions.

[2020-07-30 00:24] thenexus00 commented on #2625
I added to a post on the forums already. There are a couple of with people asking about version 8.
There was a git thread I read where things were supposedly added back in 2016 with people re-iterating in 2018 but other asking later saying it does not work and no one ever got back to those comments.

[2020-07-30 13:05] sofietoft commented on #2625
Sure seems that there's a high demand for this!

Looks like our Forms expert is currently on holiday. He'll be back next week though, and the task to look into this has been put on his desk 💪

[2020-08-03 13:26] sofietoft commented on #2625
Hi @thenexus00 !

We've had a couple of developers give this a look, and we have some more questions for you, in order to make sure we understand everything correctly.

You've been looking for more information on how to pull in the name and ID of the forms in the Email Templates.
This is already possible through `@inherits UmbracoViewPage<Umbraco.Forms.Core.Models.FormsHtmlModel>`. Our developers

[2020-08-04 08:23] #2129 closed

[2020-08-05 03:49] thenexus00 commented on #2625
### Core issue
Umbraco forms have no means out of the box to have unique content per email. If you think client/site owner use they can build amazing looking forms after a dev has done the core work, setup workflow steps, set nice emails with templates and thank you pages but not the content of those emails.

### What I been doing/trying to do.

I want to be able to have a Document type with nodes

[2020-08-06 07:22] sofietoft commented on #2625
Thanks a lot for all the additional details on this one @thenexus00 ! Much appreciated.

As you also mention yourself, it sounds more like a missing feature than missing documentation 🤔  Sure sounds like something that would be a neat feature!
I've had another chat with one of our Forms experts, and they agree.
Can I get you to add it to our Forms Issue tracker instead?
That should also put you in

[2020-08-07 10:58] thejokerd3 opened #2639 "Issue with Articles Tutorial"
## What type of issue is it? (Choose one - delete the others)
Wrong documentation

## What article/section is this about?
https://our.umbraco.com/documentation/Tutorials/Creating-Basic-Site/Articles-Parent-and-Article-Items/#articles-item

## Describe the issue

I followed the tutorial and when i completed it i saw that it printed the Anchor tags <p> in the frontend - which i dont think its suppos

[2020-08-09 22:56] abjerner opened #2641 "C# DocFX documentation shows wrong namespace"
It seems that for all types in the C# documentation (or at least the ones I've checked), the namespace is listed as `System.Dynamic.ExpandoObject`, which is wrong:

Eg. https://our.umbraco.com/apidocs/v8/csharp/api/Umbraco.Core.Services.IDataTypeService.html

![image](https://user-images.githubusercontent.com/3634580/89743519-2ea0c000-daa4-11ea-8bec-64a4ed8e136e.png)

[2020-08-09 22:59] abjerner opened #2642 "C# DocFX documentation "Show Source" links refer to unknown branch"
The "Show Source" buttons and links all seem to refer to the `dev` branch, which doesn't exist (or at least I don't have access to it). So when clicking on one of the links, GitHub responds with a 404.

![image](https://user-images.githubusercontent.com/3634580/89743553-817a7780-daa4-11ea-902d-c345ade332f6.png)

[2020-08-10 07:38] sofietoft commented on #2639
Thanks for the report @thejokerd3 !

So, just for my understanding: The issue here is, that the `<p>` tags are showing on the frontend, right?
Which property editor are you using for the `articleContent` field - a Rich Text Editor? 🤔 Perhaps that should be changed?

[2020-08-10 07:57] sofietoft opened #2645 "Missing information about how to work with JS and CSS"
***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/main/Getting-Started/Design/Stylesheets-Javascript/index.md - On Our: https://our.umbraco.com/documentation/Getting-Started/Design/Stylesheets-Javascript/***

This article should contain more information about:

* How to add javascript and stylesheet files to a project
* How to manage and work with javascript and styleshe

[2020-08-10 08:00] sofietoft commented on #2642
Thanks for the report @abjerner ! 😄

Sure sounds like we need to update something there.
Unfortunately, the ones who would be able to help with that, are on vacation this week, so we might need to wait a bit before we can get it resolved.
I'll make sure to update you here, as soon as I know more!

[2020-08-10 08:01] sofietoft commented on #2641
Thanks for the report @abjerner ! Much appreciated.

Please see my comment here: https://github.com/umbraco/UmbracoDocs/issues/2642#issuecomment-671215914

[2020-08-11 12:18] thejokerd3 commented on #2639
No problem @sofietoft !

I just followed the tutorial - and they use a Rich Text Editor. But when i remove the ToString and Truncate methods it will exclude the <p> tags. Maybe you should change the documentation. When I have time I will look into a way to keep the ToString and Truncate and still exclude the <p> tags.

Best Regards.

[2020-08-13 09:46] sofietoft commented on #2639
Thanks for clarifying.
I've had a closer look at this, and have come up with the following suggestion:

We can add another **field** to the Article Item Document Type.
This field would be called something like "Article Preview" and be a textbox type, and have a character limit of 100 (that way the guide also utilizes some config options on properties editors..).
Then, this field is used in the Art

[2020-08-13 14:01] abjerner opened #2653 "Missing documentation for Angular directives"
Follow up on: https://github.com/umbraco/UmbracoDocs/issues/2045

While it may not make sense document all Angular directives in the Umbraco backoffice, it would be great to have documentation for at least some of these.

- [ ] [localize](https://our.umbraco.com/apidocs/v8/ui/#/api/umbraco.directives.directive:localize)
- [ ] [noDirtyCheck](https://our.umbraco.com/apidocs/v8/ui/#/api/umbraco.direc

[2020-08-13 14:04] thejokerd3 commented on #2639
Hey Sofie.

The one you proposed is a nice work around - but it doesnt really solve the issue 😕

I've found a way that does though! Look at the picture below.

[cid:d2adf8ae-c79a-42da-9293-36c7050844df]

Im using the Html object to truncate the value - and by using that it excludes the <p> tags.

What do you think about this solution?

Best regards:

Muslim Al Ali / Thejokerd3

P.S!

It works on U

[2020-08-13 14:17] abjerner opened #2654 "Missing documentation for Angular services"
Another follow up for https://github.com/umbraco/UmbracoDocs/issues/2045

I've tried to list the most relevant services and resources below. We can always add more as we go along.

**Services**

- [ ] [editorService](https://our.umbraco.com/apidocs/v8/ui/#/api/umbraco.services.editorService) (I'm working on this)
- [x] [eventsService](https://github.com/umbraco/UmbracoDocs/blob/main/Reference/Angu

[2020-08-14 07:07] sofietoft commented on #2639
Thanks for taking a look @thejokerd3

For some reason, I cannot see the image you've attached.
Now, if I understand you correctly, the solution you've found doesn't work in the latest version of Umbraco - is that correct?
If it does work in the latest version, then we can definitely use the solution you've suggested.

[2020-08-14 07:09] sofietoft commented on #2654
Thanks for creating these issues @abjerner ! 😄

I've added a couple of labels to it!

[2020-08-14 07:09] sofietoft commented on #2653
Thanks for creating these issues @abjerner ! 😄

I've added a couple of labels to it!

[2020-08-14 07:26] thejokerd3 commented on #2639
Ah sorry the misunderstanding.

I meant that the Documentation tutorial only works on 8.0.0 and not on latest releases.

This is my solution on how to fix it, with one line of code.

Best regards:

Muslim Al Ali / Thejokerd3
________________________________
Fra: sofietoft <notifications@github.com>
Sendt: 14. august 2020 09:07
Til: umbraco/UmbracoDocs <UmbracoDocs@noreply.github.com>
Cc: thejokerd

[2020-08-14 10:38] marcemarc opened #2659 "Community Driven Umbraco Related Articles Section"
We've talked for quite a while about moving towards a flatter article driven format for the Umbraco Documentation - using tags to provide structure, but in order to make it easier for people to contribute from HQ devs or the community 'an article' on a particular part of Umbraco.

There are different types of documentation: guides, reference, tutorial etc and current structure of the docs although

[2020-08-14 10:39] sofietoft commented on #2639
Thanks for explaining!

I've merged https://github.com/umbraco/UmbracoDocs/pull/2658 - which closes this issue.
Thanks again for the report and for resolving the issue 💪

[2020-08-14 10:39] #2639 closed

[2020-08-14 10:44] TimGeyssens commented on #2659
Instead if trying to fit it all in one tool and having the extra hassle of maintaining the code responsible for the docs... why not use something like https://www.gitbook.com/ (the editor experience is great, you can just copy paste image, no need to clone a git repo in order to make a change...), can be all done web based... it's even free for open source...

[2020-08-14 11:40] RachBreeze commented on #2659
For me this section in the Umbraco  docs should be short examples of code.  It should not compete with Skrift or 24days in, but complement them.  An example might be "here's a tip for clearing down your cache on deployment"
`code snippet`
Here's an example powershell script for changing the client dependency version  in your TeamCity pipeline
Here's an example of how to change the client dependenc

[2020-08-14 11:45] RachBreeze commented on #2659
Sorry and in answer to where did it go, I saw it sitting in https://our.umbraco.com/documentation/
Under tips and tricks section
And in the example above "Caching"

[2020-08-14 13:25] marcemarc commented on #2659
@RachBreeze I was thinking article on how to setup CDN with Umbraco - but is that more Skrifty? do you think? we're talking more quick nuggety tips and examples for everyday improvements? (or both?)

[2020-08-15 09:28] TimGeyssens commented on #2659
Why worry about competing with Skrift or 24days ? The more stuff there is floating around ... what would be valuable is a simple starting point that collects all of this and also matches it with the correct umbraco version...

[2020-08-15 12:51] marcemarc commented on #2659
Yep, I'm thinking amalgamating what's out there to make it discoverable might be more valuable next step? as people like to write their own stuff in their own style with attribution - but also keen to see if there was an 'official place' for this more ad-hoc supporting content - whether that would generate more sharing of knowledge - eg like yourself, starting blogging again - it can be a dilemma

[2020-08-16 13:17] RachBreeze commented on #2659
When I originally wrote my thoughts it was for nuggets of information, categorised against each Umbraco version as mentioned.
I like the structure of Microsoft docs https://docs.microsoft.com/en-us/ and was thinking there was a method for doing something similar with Umbraco, this doesn't replace other bloggers, but can act as a starting point.
If we are looking at another way of categorising arti

[2020-08-17 11:05] stclairg opened #2664 "RequestHandler <useDomainPrefixes> Umbraco v8 - setting not present"
Missing / Wrong documentation

## What article/section is this about?
https://our.umbraco.com/documentation/reference/config/umbracosettings/

## Describe the issue
RequestHandler - <useDomainPrefixes>false</useDomainPrefixes>

This does not work in Umbraco v8

[2020-08-17 12:08] jmayntzhusen commented on #2642
If nothing else is specified, DocFX will set the repo url to be the same as the one you used when generating the docs, so the problem probably lies in whichever way we build these docs, which I am not sure about anymore tbh.

Maybe @nul800sebastiaan knows more about where they are generated.

An easy first step may be to simply override the repo and branch with the github url and main branch for e

[2020-08-17 12:22] nul800sebastiaan commented on #2642
They get generated when we push the button on Azure DevOps to generate them.

This is the pipeline being used: https://dev.azure.com/umbraco/Umbraco%20Cms/_build?definitionId=271&_a=summary

The URL can't be the same as the repo URL because there is no `dev` branch at all, and there never has been. 🙂

[2020-08-17 12:27] sofietoft commented on #2664
Thanks for raising the issue @stclairg !

The umbracoSettings article hasn't yet been updated for the latest Umbraco version is seems.
I'll make sure we look into this as soon as possible!

[2020-08-17 14:28] stclairg commented on #2664
Thank you for the prompt response @sofietoft Kind regards
George

[2020-08-19 06:51] sofietoft commented on #2200
Hi!
An example of the TagQuery.GetMediaByTagGroup has been added to the Docs.
See: https://github.com/umbraco/UmbracoDocs/pull/2668

I'll close this one.
Thanks again for reporting! 🎉

[2020-08-19 06:51] #2200 closed

[2020-08-19 07:16] poornimanayar commented on #2602
@sofietoft I am happy to give this a go.

[2020-08-19 07:48] sofietoft commented on #2602
Sure thing @poornimanayar ! Sounds great.

There are quite a few files to juggle around on this one and I'm not really sure what would be the best way to structure this article 🤔
Would be great to get some suggestions up in the air - or at the very least, and updated version for Umbraco 8 💪

[2020-08-19 09:12] poornimanayar commented on #2602
Okay, let me have a look. I will have questions for sure :-)

[2020-08-19 11:17] marcemarc commented on #2659
I'm wondering if we can get 5 example tips/nuggets/tricks together? perhaps in a google doc, just so it's immediately comprehensible the type of content we are discussing - and so we can get a feel for how each nugget might be structured, or different types of nuggets.. (as in my head it's valid to have a 'pointer' to a blog post or even forum post - a lot of useful information is out there but it

[2020-08-19 18:22] terryclancy opened #2673 "MembershipHelper Constructor info seems wrong"
Hi :-) ,

***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/main/Reference/Querying/MemberShipHelper/index.md***

On this page it says:  If you need a MembershipHelper in a custom class, service, view, etc. you can create one using this syntax:

var memberShipHelper = new Umbraco.Web.Security.MembershipHelper(Umbraco.Web.UmbracoContext.Current);

However this does not se

[2020-08-19 19:59] terryclancy opened #2674 "Sample code for getting a reference to the logger"
Hi :-) ,

***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/main/Getting-Started/Code/Debugging/Logging/index.md***

If possible it would be great to see sample code of how to

(1) "use Current.Logger instead, if DI is not an option."  (when adding this note the issues mentioned at https://our.umbraco.com/forum/umbraco-8/97996-bug-with-currentlogger-or-maybe-im-using-it-

[2020-08-20 10:20] nul800sebastiaan commented on #2659
Just as a note the community blogs section is here: https://our.umbraco.com/community/blog-posts/ - anyone with an RSS feed can ask to be added in that section.

Work is on the way to split off the community section of Our into a new site where we have more control over the styling and content.

Other than that, I think it would be really cool to have curated comments on each docs article where pe

[2020-08-20 11:05] TimGeyssens commented on #2659
Sure rss is nice, but that requires you to setup a blog and that might not be worth the effort if you want to share something simple

Yeah non indexable stuff like slack (and even fb is used for asking tech questions) is not a good thing

[2020-08-21 07:07] sofietoft commented on #2673
Thanks for the report @terryclancy !

I can see that the article has been checked against Umbraco 8, but some of the code snippets might have slipped.
Are you using Umbraco 7 or 8 when you're trying to use the MemberShipHelper?

[2020-08-21 07:10] sofietoft commented on #2674
Thanks for the report @terryclancy ! Much appreciated.

As I understand it, you're looking for some more examples on logging - and I agree! In general we could use a lot more examples in the documentation.

And then I'm not 100% sure I understand what you're asking - is it, that you're wondering how it's possible to reference a Logger that hasn't been created yet? 🤔

[2020-08-21 07:12] dawoe opened #2676 "Reference tracking for property editors documentation is missing"
## What type of issue is it? (Choose one - delete the others)
Missing documentation

## What article/section is this about?
This is for package developers. So probably go in to the package development section.

## Describe the issue
Since 8.6 Umbraco tracks usages of media and content items.
However I stumbled across a PR where some code is added so package developers can write code to provide the

[2020-08-21 07:24] sofietoft commented on #2676
Thanks reporting this @dawoe !

Sure seems like something that would be good to have documented 💪
I'll run it by some people, and see if can get this written as soon as possible.

[2020-08-25 13:13] marcemarc commented on #2674
Hi @terryclancy

When you say static class, what are you trying to achieve? eg extension method? - then we can perhaps best advise how to get a reference to the inbuilt logger...

In terms of the second example, because this is an IContentFinder it's automatically registered with Umbraco's underlying DI framework and consequently the ILogger in the constructor is populated automagically via DI.

I

[2020-08-25 14:00] sofietoft commented on #2673
Hi again @terryclancy !

I've had a second look into this, and it turns out, that the article hasn't been updated properly for Umbraco 8 yet, even though it appears that way.
So sorry about the confusion!
I've marked the article with the "Needs v8 update" again: https://our.umbraco.com/documentation/Reference/Querying/MemberShipHelper/

And I'll add the "help-wanted" on this one, so we can get the

[2020-08-28 12:42] deekoulos opened #2683 "Changing IValueSetValidator for Member Index not working"
## What type of issue is it? (Choose one - delete the others)
Wrong documentation

## What article/section is this about?
https://our.umbraco.com/documentation/Reference/Searching/Examine/indexing/#changing-ivaluesetvalidator

## Describe the issue
First of all `composition.RegisterUnique<IUmbracoIndexConfig, CustomIndexConfig>();` should be updated to `composition.RegisterUniqueFor<IUmbracoIndexC

[2020-08-29 08:26] marcemarc commented on #2683
See also this Forum post... https://our.umbraco.com/forum/using-umbraco-and-getting-started/100363-querying-members-using-examine-and-udis for more context.

[2020-08-29 11:49] marcemarc commented on #2659
Also linking for reference in this conversation Kev's DoStuffWithUmbraco
https://github.com/KevinJump/DoStuffWithUmbraco
that is another collection of examples and tips in small example led format

[2020-08-29 19:32] deekoulos opened #2684 "Update FieldDefinition for a custom index"
## What type of issue is it? (Choose one - delete the others)
Missing documentation

## What article/section is this about?
https://our.umbraco.com/documentation/reference/searching/examine/indexing/#changing-field-value-types

## Describe the issue
I have a custom member index, which needs to be updated in terms of its field definitions. In the documentation mentioned above this should be done as

[2020-08-30 05:44] enkelmedia commented on #2382
I’ve also also been missing example images, specially on directives.

As far as I understand this should be supported?

Is this something that would be considered for a PR? I’m willing to contribute with some images, I was thinking that I would create a blogpost or a dedicated repository somewhere but if HQ would like I could do the work in the official documentation?

Cheers!

[2020-08-30 17:06] deekoulos commented on #2684
My fault, i just need to update the field definitions during the creation process of the custom index...

[2020-08-30 17:06] #2684 closed

[2020-08-31 07:14] sofietoft commented on #2683
Thanks for reporting this issue @deekoulos ! Much appreciated.

Based on the [forum post](https://our.umbraco.com/forum/using-umbraco-and-getting-started/100363-querying-members-using-examine-and-udis), it looks like you managed to work this out and get the code working on your site.
Is that correct for me to assume?

If that is indeed the case, would you be up for adding to the Docs how you made

[2020-08-31 07:21] sofietoft commented on #2382
Hi @enkelmedia - thanks for the input.

I'm not enirely sure I understand what you mean by images in this context - could you elaborate a bit on that?

Also, work on adding some Angular docs to Our has already begun.
Checkout the section here: https://our.umbraco.com/documentation/Reference/Angular/

@abjerner has also created a set of Issues where we can keep track of which docs we still need to

[2020-08-31 08:24] deekoulos commented on #2683
Hey @sofietoft,

yep, I got it runnning but not by extending the built in member index, which is the subject of this issue. In the end, I had to  implement a custom member index and ran into some crazy issues. See

- https://our.umbraco.com/forum/using-umbraco-and-getting-started/103357-issues-with-the-custom-examine-member-index
- https://github.com/umbraco/Umbraco-CMS/issues/8766

I already docu

[2020-08-31 09:09] sofietoft commented on #2683
Ah. Thanks for explaining 💪
Glad to hear you got it to work on your end!

So, as I see this, there are two parts:

1. It would be great to have your approach added to the Docs as a separate article with en example of how this can be done
2. We need to update the current example that's in the Docs, as it doesn't work.

Regarding the second one - which version of Umbraco are you using?

I'll run it

[2020-08-31 09:18] deekoulos commented on #2683
Yes, that would be great, thanks!

I am using 8.6.4.

[2020-08-31 14:00] deekoulos commented on #2683
Update:

in some cases this solution causes the index is locked issue.

Here is my update solution
[code]

[2020-09-01 06:56] sofietoft commented on #2683
Ah, that's great! Thanks for the additional input @deekoulos .

I've sent this issue to our developers here at Umbraco HQ.
They will look at this within the next weeks, so we can get the article amended correctly.
Thanks again for reporting!

[2020-09-02 09:10] miketaylorco commented on #2659
Hi all - I realise that this thread is primarily related to developer content, but I'm wondering if there's any overlap here with my thinking on a community-driven Umbraco Practitioners website aimed at people in non-developer roles. The idea is to provide content value for people in non-dev roles, to engage them, and then to encourage them to contribute content on the site. I've struggled to find

[2020-09-02 23:00] marcemarc commented on #2659
Thanks, @miketaylorco certainly worth mentioning in terms of a home/hub for community-created content - and your Sketch is very thought-provoking. There does feel like there is a gap for an article driven magazine-y digital offering for people who use Umbraco day to day - that keeps people up to date with new things in the world of Umbraco, and helps people get ideas of how to get more out of thei

[2020-09-03 09:26] miketaylorco commented on #2659
Thanks @marcemarc - you're right, something like this would succeed or fail based on its content (and hence value), so I think the real trick here is to have the community *drive* it.

Yes, the site could (and should) contain articles etc. that are specifically written for publication on this site, but the real value of a site like this, I think, is that it could also be a kind of curated hub for

[2020-09-03 14:09] marcemarc commented on #2659
Ahh, so more of a community-curated content aggregator than a destination in its own right. The content exists for your target audience, but they can't find it. The community could help them find it. Would sending an email to someone be a really easy way for interested parties to submit content? The Role Ambassador would have the step of cutting and pasting and publishing the related info - I'm ju

[2020-09-03 14:20] miketaylorco commented on #2659
Yeah, or a mixture of the two. I like the 'destination in its own right' thing, but it's hard to continually generate the amount of useful content that would keep people coming back to it, so the 'community-curated content aggregator' aspect breathes some life into it without the need to constantly generate all-new content for the site when there's a ton of useful content around that might be hard

[2020-09-03 15:04] deekoulos commented on #2683
Update:

the documentation is not wrong. Please see this comment https://github.com/umbraco/Umbraco-CMS/issues/8766#issuecomment-686549551

thanks to @nul800sebastiaan

Maybe it would be good to additionally mention in the documentation, that the Umbraco.Core namespace is needed to be used for this method. Since Visual Studio does not suggest to import the namespace Umbraco.Core, it suggests to us

[2020-09-03 15:28] marcemarc commented on #2659
If you build it... they will Umbracome...

[2020-09-03 16:39] miketaylorco commented on #2659
Just need to find some dev help! 😊

[2020-09-04 06:26] nul800sebastiaan commented on #2683
I think all of these code samples should have `usings` at the top, it makes no sense (IMO) for people to have to hunt them down. Resharper did it fine for me but some people are apparently not so lucky 😅

[2020-09-04 07:15] sofietoft commented on #2683
Hi @deekoulos
Super great to hear you managed to work this one out 😄

I completely agree that we should add the "using" statements to the samples in this article!
Would you be up for adding them, by any chance? 😇 It **is** open source anyways 😁

[2020-09-04 07:21] nul800sebastiaan commented on #2683
Added in https://github.com/umbraco/UmbracoDocs/pull/2689

[2020-09-04 07:26] sofietoft commented on #2683
Closing this one, as the using statements has been added!

Thanks all 😄

[2020-09-04 07:26] #2683 closed

[2020-09-04 07:38] marcemarc opened #2690 "Update all examples of subscribing to static events to include corresponding 'unsubscribing' to that event during termination"
eg this sort of example:

public class SubscribeToSavedEventComponent : IComponent
    {
        private readonly ILogger _logger;

        public SubscribeToSavedEventComponent(ILogger logger)
        {
            this._logger = logger;
        }

        public void Initialize()
        {
            //specify my event handler
            MemberService.Saved += MemberService_Saved;
        }

[2020-09-04 12:41] marcemarc commented on #2690
PR here: https://github.com/umbraco/UmbracoDocs/pull/2692/files

[2020-09-05 17:32] crgrieve commented on #2659
Hello,

I like the idea of aggregating all the useful info on Our. I know it's already in the RSS feed, but I think would be good if when searching in the Umbraco docs it could also search community posts (blogs, Skrift, 24 days, etc). This search would let folks find these "nuggets" you mention in this thread within the context of Our Umbraco.

We prototyped something like @miketaylorco  mentione

[2020-09-08 12:59] erikjanwestendorp commented on #847
@sofietoft It seems that the TaskService and the MigrationEntryService not available in v8. Is it necessary to add a v7 version only to the documentation?

[2020-09-09 08:08] sofietoft commented on #847
That's a great question @erikjanwestendorp 🤔

I would say no. If it doesn't exist in the current major, it most likely will not be part of the next major either!
So, no need to spend your time writing about those, if you ask me!

[2020-09-10 14:29] nul800sebastiaan commented on #2690
Fixed in https://github.com/umbraco/UmbracoDocs/pull/2692

[2020-09-10 14:29] #2690 closed

[2020-09-12 16:26] sussexrick opened #2708 "exportMemberGroups option is not documented"
The [Umbraco Deploy releases page](https://our.umbraco.com/packages/developer-tools/umbraco-deploy/) refers to an `exportMemberGroups` setting introduced in Deploy 3.4.0, but it's not documented where this goes. Is it an element? An attribute? Is in in `UmbracoDeploy.Settings.config` or `UmbracoDeploy.config`? What's the default value?

***This is the page with issues: https://github.com/umbraco/U

[2020-09-14 18:39] Swimburger opened #2710 "Document keepAlive node in umbracoSettings.config Umbraco 8.6.0"
How would I go about documenting the keepAlive node in umbracoSettins.config. This node was introduced in Umbraco 8.6.0 with pull request [#7164](https://github.com/umbraco/Umbraco-CMS/pull/7164).
I can find the markdown files for v7 Umbraco versions, but there's none for v8.

***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/main/Reference/Config/umbracoSettings/index-v

[2020-09-15 06:54] sofietoft commented on #2708
Thanks for reporting this @sussexrick !

I'll make sure to run it by our Deploy experts, so we can get this documented 💪

[2020-09-15 07:10] sofietoft commented on #2710
That is a really good question @Swimburger !

We have a plan to clean all those articles up - however,  it's quite a process as there are many things to consider.

For now though, I'd suggest doing the following:

* Create a new files called `index-vpost8.6.0`
* Add the following YAML tags: `versionFrom: 8.6.0`

That will add the article to the version-box.
Then, in that article, write about the `

[2020-09-15 16:43] Swimburger commented on #2710
Pull request submitted #2711

[2020-09-18 07:38] sofietoft commented on #847
As all services in this list have been updated for Umbraco 8, I'll close the issue.

There are some remaining services that are not yet added, but as they are not present in the latest major, they are not a priority.
Feel free to open a new issue with the remaining two services - TaskService and the MigrationEntryService.

Thanks for the help all 🙌 Much appreciated!

[2020-09-18 07:38] #847 closed

[2020-09-18 07:39] sofietoft commented on #2128
All services on this list has been updated.
Thanks to all who's helped out 💪
Much appreciated!

[2020-09-18 07:39] #2128 closed

[2020-09-18 07:55] sofietoft commented on #1579
Closing this, as the remaining items on the list are added here: https://github.com/umbraco/UmbracoDocs/issues/2292

[2020-09-18 07:55] #1579 closed

[2020-09-18 09:20] sofietoft commented on #2127
Closing this issue, as the remaining articles on the list, are gone in Umbraco 8.

Thanks to all who's helped out 😄

[2020-09-18 09:20] #2127 closed

[2020-09-18 11:28] sofietoft opened #2714 "Code samples: Creating property editors programmatically"
In the Getting Started/Backoffice section of the docs, we have articles for most of the property editors in Umbraco. This documentation currently includes details on the implementation part.

We would like to have examples of **how to create each of the property editors programmatically** as well.
Some are simple and straightforward; others might be a bit more complicated.

[Link to examples will

[2020-09-18 15:39] #2710 closed

[2020-09-19 00:51] terryclancy opened #2715 "Please update this vital page for Umbraco 8 !!!"
***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/main/Reference/Querying/MemberShipHelper/index.md***

[2020-09-21 10:59] nul800sebastiaan commented on #2715
Hi there @terryclancy and thank you for your request.
I would like to remind you that we're always open to suggestions but there's a few problems with your request:

- Adding multiple exclamation marks generally looks like your screaming at us, it's not the best way to get things done 😓
- You didn't specify what you're missing or struggling with so there's nothing we can do for you right now

I'll

[2020-09-21 10:59] #2715 closed

[2020-09-21 11:25] busraparnell opened #2717 "Link issue for Examine"
## What type of issue is it? (Choose one - delete the others)
Wrong link

## What article/section is this about?
https://our.umbraco.com/Documentation/Reference/Searching/Examine/overview-explanation#examine-videos

## Describe the issue
Shannon's link is not working. Can it be replaced or removed?

[2020-09-21 18:46] terryclancy commented on #2715
Sebastiaan,

I hear you, agree and apologize for that and will improve the quality of my requests in future.

Terry

From: Sebastiaan Janssen <notifications@github.com>
Sent: Monday, September 21, 2020 4:00 AM
To: umbraco/UmbracoDocs <UmbracoDocs@noreply.github.com>
Cc: Terry Clancy <terryclancy@live.com>; Mention <mention@noreply.github.com>
Subject: Re: [umbraco/UmbracoDocs] Please update this v

[2020-09-21 18:49] Rizen-Kris commented on #2653
also umbLayoutSelector

[2020-09-23 12:14] nul800sebastiaan commented on #2717
@busraparnell I think it should be deleted unfortunately, it looks like we can't salvage that video.

[2020-09-23 12:18] busraparnell commented on #2717
Will do the PR for it 👍
Thanks Seb!

[2020-09-23 12:18] #2717 closed

[2020-09-23 14:42] skepok opened #2726 "Unable to cancel ContentService.Saving event"
Umbraco 8.6.1

Hey, I've noticed when I cancel a ContentService saving event, whilst the event appears to cancel, the content is still saved.

An example of a component to replicate could be

[code]

This would display the message as expected, but it still saves the content node.

Unless im going about this the wrong way, I'm pretty sure if I updated a property of a content node in the backoffice,

[2020-09-23 16:34] nul800sebastiaan commented on #2726
Here's how this works: it will still show you the content you tried to save so you can make corrections. However, once you refresh your browser you should see the old values again.

There is, however a bug in this, which is what you're seeing at the moment: https://github.com/umbraco/Umbraco-CMS/issues/8417

So.. the docs are correct, your foreach should look like this:
[code]

I'll close this one

[2020-09-23 16:34] #2726 closed

[2020-09-25 10:30] skepok commented on #2726
Thanks @nul800sebastiaan ill keep an eye on umbraco/Umbraco-CMS#8417 (might event take a look myself if I find time!)

[2020-09-27 19:10] RachBreeze opened #2730 "umbContextMenu Directive is not documented"
The umbContextMenu directive is not documented in https://our.umbraco.com/apidocs/v8/ui/#/api.

I'm not sure if this is an issue as umbLogin isn't either but navResize is (they are all defined as application-level directives).

[2020-09-28 06:55] sofietoft commented on #2653
Thanks for the suggestion @Rizen-Kris .
I can't seem to find `umbLayoutSelector` in the API docs: https://our.umbraco.com/apidocs/v8/ui/#/api/
Could it be something that's not available in Umbraco 8 perhaps? 🤔

[2020-09-28 06:59] abjerner commented on #2653
The directive doesn't have any ngdocs comments, so it won't show up in the API docs. But it does exist in Umbraco 8:

https://github.com/umbraco/Umbraco-CMS/blob/v8/contrib/src/Umbraco.Web.UI.Client/src/common/directives/components/umblayoutselector.directive.js

[2020-09-28 07:37] sofietoft commented on #2730
Thanks for raising this @RachBreeze !

As I've understood, the Angular docs are auto-generated - strange if something is missing 🤔
I'll forward it to our developers, so we can figure this one out!

[2020-09-28 07:39] sofietoft commented on #2653
Ah! Thanks for explaining @abjerner .

I'll look into what can be done!

[2020-09-28 09:49] #2676 closed

[2020-09-28 10:57] sofietoft commented on #1710
I've added a PR to include the constraint in the code sample: #2731

[2020-09-28 11:55] sofietoft commented on #1846
I've taken the time to add some more explanation to the style guide rules we've outlined here: https://our.umbraco.com/documentation/Contribute/Style-Guide/

With that, I'll close this issue for now.
Please feel free to reopen, if more explanation is needed.
Thanks again for reporting!

[2020-09-28 11:55] #1846 closed

[2020-09-28 12:45] sofietoft commented on #1992
Hi all!
As we're currently in the process of migrating all media libraries on Umbraco Cloud projects to Azure Blob Storage, I will close this issue for now.

We will be adding more detailed information about how the Azure Blob will work on Cloud going forward.

Please feel free to re-open, or recreate issue if something is still not clear.

Thanks again to all who pitched in here! 💪

[2020-09-28 12:45] #1992 closed

[2020-09-28 12:51] sofietoft commented on #2045
As the Angular docs section has now been started on Our, I'm gonna close this issue for now.

See the following issue instead:
- Angular Directives: https://github.com/umbraco/UmbracoDocs/issues/2653
- Angular Services: https://github.com/umbraco/UmbracoDocs/issues/2654

[2020-09-28 12:51] #2045 closed

[2020-09-28 13:07] sofietoft commented on #2095
Hi @dreadpiratebrown - I'm happy to tell you, that the article on the tinyMceConfig has now been updated 🎉🎉

With that, I'll close this issue again.
Thanks again for reporting, and please feel free to reopen, if something doesn't make sense.

[2020-09-28 13:07] #2095 closed

[2020-09-28 13:17] sofietoft commented on #2107
Looks like I completely missed the target on this one back in May 😅

Will close it now.
Please feel free to reopen, if I've misunderstood something.
Thanks again to all who pitched in here 😄

[2020-09-28 13:17] #2107 closed

[2020-09-28 13:23] sofietoft commented on #2177
Hi all!
Apologies on the delay on this one.

The error message thrown by Deploy in cases like the one mention in this issue, has been updated.
An article about how it looks and how to resolve, has also been written. It can be found here: https://our.umbraco.com/documentation/Umbraco-Cloud/Troubleshooting/Deployments/type-not-found/

With that, I'll close this issue for now.
Should something furthe

[2020-09-28 13:23] #2177 closed

[2020-09-28 13:37] sofietoft commented on #2206
Hi all 👋

Another issue raising some questions about the "Common Pitfalls" article has been created: https://github.com/umbraco/UmbracoDocs/issues/2574

As it doesn't really make sense to have two issues open on the same topic, I'll close this one for now.
Please feel free to raise any unanswered questions from here, on the other issue.

Thanks! 🙌

[2020-09-28 13:37] #2206 closed

[2020-09-29 08:08] #2708 closed

[2020-09-29 10:55] sofietoft commented on #2730
@RachBreeze - I have an update on this one.
The reason that the `umbContextMenu` is not documented on https://our.umbraco.com/apidocs/v8/ui/#/api, is because the code doesn't have any ngdocs comments associated with it.

These comments will need to be added in the source code - for `umbContextMenu` that would be here: https://github.com/umbraco/Umbraco-CMS/blob/v8/contrib/src/Umbraco.Web.UI.Client

[2020-09-30 09:48] #1710 closed

[2020-09-30 10:57] sofietoft commented on #2625
Hi @thenexus00 !

Haven't heard back from you in a while, so I wanted to let you know, that I'll be closing this issue for now.
Please, if you haven't already, raise these questions and feature requests on the Umbraco Forms Issue tracker instead: https://github.com/umbraco/Umbraco.Forms.Issues/issues

Then our Forms experts will take it from here 💪
Thanks again for raising the issue!

[2020-09-30 10:57] #2625 closed

[2020-09-30 11:10] sofietoft commented on #2603
As I've created a new Issue (https://github.com/umbraco/UmbracoDocs/issues/2714) where I'm listing all the properties, I'll go ahead and close this one for now.

Hope that's OK!

[2020-09-30 11:10] #2603 closed

[2020-09-30 11:25] sofietoft commented on #2586
Apologies for the delay on this one @codeguise .

I've been through all the articles we have around caching - most of them not updated for Umbraco 8 yet, unfortunately.

Know that this is something we are looking into fixing!

For now, I've added a little warning to each of the Caching articles for Umbraco 7 (https://our.umbraco.com/Documentation/Reference/Cache/updating-cache).

As we already hav

[2020-09-30 11:25] #2586 closed

[2020-09-30 11:32] sofietoft commented on #2549
Hi all 👋

As there hasn't been any activity on this issue in a while, I'm going to close it for now.
Please feel free to re-open, should some unanswered questions remain.

Thanks for raising the issue @armendimeri and for pitching in @Adolfi ! 💪

[2020-09-30 11:32] #2549 closed

[2020-09-30 11:46] sofietoft commented on #2498
Apologies for the long wait on this one!

Looks like a note about how the `@` should be removed from the template 💪
With that, I'll close this issue for now.

Please feel free to create a new issue or re-open this one, should some unanswered questions remain.
Thanks!

[2020-09-30 11:46] #2498 closed

[2020-09-30 11:48] sofietoft commented on #2456
Hi all 👋
Apologies for the long wait on this one.

As the article about the tinyMceConfig in Umbraco has been updated - thanks @marcemarc , I'll go ahead and close this issue for now.

Please feel free to re-open, or to create a new issue, should any unanswered questions remain.
Thanks!

[2020-09-30 11:48] #2456 closed

[2020-09-30 11:55] sofietoft commented on #2449
Hi all!
Just letting you know I've added some labels to this one.
Would be could to have some more details added to the [Surface Controller Actions article](https://our.umbraco.com/documentation/reference/routing/surface-controllers-actions), as per @marcemarc s comments.

Will update the title as well, to reflect that!
Thanks!

[2020-10-01 12:11] sahil9001 commented on #2714
@sofietoft  I would like to work on one of the feature but I won't be able to complete without some assistance, expecting cooperation from your side! Thanks!

[2020-10-01 12:15] Hard-Coder05 commented on #2714
@sofietoft
I would like to work on this issue(one of the above property editors) as soon as you post the examples of what is to be done!

[2020-10-05 10:46] natanguitz opened #2747 "Missing tips regading "useLegacyEncoding" in webconfig."
Missing documentation when having useLegacyEncoding enabled in Umbraco 7
https://our.umbraco.com/documentation/Getting-Started/Setup/Upgrading/migrating-to-v8

It looks like my project have "useLegacyEncoding"  enabled.
After installing the clean Umbraco 8 site i could not login.

A solution that work for me :  Go back to 7+ site, disable "useLegacyEncoding" and restore the password.

I could cont

[2020-10-05 13:49] sofietoft commented on #2747
Thanks for reporting this issue @natanguitz ! Much appreciated.

I think it makes a lot of sense to add a note about the `useLegacyEncoding` to this article.

Do you have any thoughts on where in article. by any chance?
Perhaps somewhere in the first steps? 🤔

[2020-10-05 14:13] natanguitz commented on #2747
Yes, happy to help :)
I think another warning before the text "Once it is upgraded and you have verified everything is working, move on to step 2. "  it may be the best so nobody miss it.

[2020-10-05 15:21] nul800sebastiaan commented on #2747
There is a warning here that tells you to copy the provider configuration over:

![image](https://user-images.githubusercontent.com/304656/95098499-098c9e80-072f-11eb-8329-cfbe5d113bfb.png)

This would include everything you had on the `UsersMembershipProvider` before (including the `useLegacyEncoding` attribute).

So most of all, I would think that warning needs clarification.

[2020-10-06 07:08] natanguitz commented on #2747
Yes i guess it would be enough with a clarification , adding the attribute's name and little earlier in the article.
I think is possible that my case was a unique case where it was not enough to just copy & paste.

[2020-10-06 07:12] sofietoft commented on #2714
Thanks for checking in here!

@sahil9001 - I'd be happy to help out, if you have any questions. Just let me know!

@Hard-Coder05 - We're working on putting together an example. If you've worked with property editors programmatically before, you're welcome to come with a suggestion? :)

[2020-10-06 07:17] sofietoft commented on #2747
Updating the warning to mention also the `useLegacyEncoding` value sounds like a good plan.

Would you be up for updating the article yourself @natanguitz ? 😄
We have some docs here, on how you can make the PR: https://our.umbraco.com/documentation/Contribute/

[2020-10-06 07:24] natanguitz commented on #2747
Yes, I can give it a try :)

[2020-10-06 10:17] sahil9001 commented on #2714
@sofietoft I would want an example to refer to, would be grateful if you could provide one!

[2020-10-06 10:37] sofietoft commented on #2714
Ah, definitely @sahil9001

We are looking into providing an example here. Should be up before the end of the week.

[2020-10-06 11:00] natanguitz commented on #2747
#2753
I think I did it the correct way :)
cheers!!

[2020-10-06 11:53] sofietoft commented on #2747
Brilliant @natanguitz , thanks! 😄

[2020-10-07 07:51] Arunoday-bhattacharjee commented on #2645
Hey I would Like the work on this. Could you assign it to me

[2020-10-07 08:43] sofietoft commented on #2645
Sure thing @Arunoday-bhattacharjee !

Thanks for signing up for the task 💪

[2020-10-07 14:04] nul800sebastiaan commented on #2747
Only mentioning `useLegacyEncoding` won't be enough tough, there's many more attributes that need to be copied over. I would update this to read more like:

Take your current v7 configuration for the `UsersMembershipProvider` and copy that into the v8 web.config, for example, in v7 it could look like this:

[code]

After you've copied that over to your v8 migration project, you need to change the

[2020-10-07 14:06] nul800sebastiaan commented on #2747
I see you've also added:

I am not sure what this means and why this is necessary? I guess if it confuses me, it will confuse other people as well! 😅

[2020-10-08 11:44] jgettrup-ng opened #2756 "Typo in /Reference/Scheduling?"
***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/main/Reference/Scheduling/index.md***

I think in the section headed "RecurringTaskBase" the phrase "IsAsync must be overridden and set to false" should actually say "IsAsync must be overridden and set to true".

[2020-10-08 12:15] sofietoft commented on #2756
Thanks for reporting this @jgettrup-ng !

I think I'll need a bit more context on this one.
Could you provide some more information on this?

[2020-10-08 20:10] Jeavon opened #2759 "Document HasChildren method on ContentTypeService"
Both Guid and Int examples need to be added

https://github.com/umbraco/UmbracoDocs/blob/main/Reference/Management/Services/ContentTypeService/Retrieving-content-types.md

[2020-10-08 20:12] Jeavon opened #2760 "Document GetContainer method on ContentTypeService"
Need to explain "Container" in this context and it's use

https://github.com/umbraco/UmbracoDocs/blob/main/Reference/Management/Services/ContentTypeService/Retrieving-content-types.md

[2020-10-09 09:49] bgunnarsson commented on #1528
PR for EmailAddress: #2762

[2020-10-13 14:54] John-Blair opened #2769 "Should the redirect path be /umbraco-google-signin ?"
Should the redirect path be CallbackPath = new PathString("/umbraco-google-signin")

This is what is present in the current UmbracoGoogleAuthExtensions.cs file.

***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/main/Tutorials/Add-Google-Authentication/index.md***

[2020-10-13 17:52] RachBreeze opened #2770 "API documentation"
Hello,

I want to document a couple of changes I have made to the API, but am unsure where to document them.  The changes I want to document are in v8:
`$rootScope.$on('$changeTitle',...` in init.js

and also
`$rootScope.$on('$setAccessibleHeader',..` which had to be placed in umbeditorheader.directive.js

If you could advise me on where to update them I can add them into the docs, thank you

[2020-10-14 06:24] sofietoft commented on #2770
Hi @RachBreeze !
Sounds great that you're up for writing some docs on those things 💪

An Angular section of the documentation on Our has been added recently - I think we should put this information in there.
The section isn't too big just yet, but you can find it here: https://our.umbraco.com/documentation/Reference/Angular/

For the stuff in `init.js`, you might need to start a new article about

[2020-10-14 06:31] sofietoft commented on #2769
Hi @John-Blair !

Thanks for reporting this.
And a great questions 🤔 I've had a look through the article, and a bit further up (in the Google settings), the path `/google-signin` is set - isn't that what the `CallbackPath` value refers to in this case?

[2020-10-14 06:41] sofietoft commented on #2769
Forgot to paste in the screenshot of the article:
![image](https://user-images.githubusercontent.com/24529086/95952751-fb0e4900-0df8-11eb-83e3-a2d488ad3a5e.png)

This is where the `/google-signin/` is set.

[2020-10-14 08:13] sofietoft commented on #2645
Hi @Arunoday-bhattacharjee
In order to open this up for others, I'm gonna remove you as assignee on this issue.
Please let me know if you are still working on this, and I will assign it back to you.

Thanks!

[2020-10-14 08:48] jmayntzhusen commented on #2769
Good point John, not sure if the file changed or I changed the config setting when I ran through this guide.

@sofietoft Maybe we need to add a warning in the docs saying that the callback path needs to match what is set in the config file here:
https://github.com/umbraco/UmbracoIdentityExtensions/blob/master/src/App_Start/UmbracoGoogleAuthExtensions.cs#L50

Other option is redoing the tutorial wi

[2020-10-16 07:00] sofietoft commented on #2769
Ah! I thought it was the other way around 😅

Thanks for the input @jmayntzhusen !
I think a warning would suffice for now - then I'll add it to my list, that the entire article needs a run-through 💪

@John-Blair - would you be up for adding the warning? 😄

[2020-10-17 13:22] RachBreeze commented on #2730
Thank you I will take a look at adding the comments to umbContextMenu

[2020-10-19 13:36] jmayntzhusen opened #2786 "V8 load balancing docs are super confusing and hard to locate"
## What type of issue is it? (Choose one - delete the others)
Discussion

## What article/section is this about?
https://our.umbraco.com/documentation/Getting-Started/Setup/Server-Setup/load-balancing/
https://our.umbraco.com/documentation/Getting-Started/Setup/Server-Setup/load-balancing/flexible-advanced
https://our.umbraco.com/documentation/Getting-Started/Setup/Server-Setup/load-balancing/file

[2020-10-20 07:29] sofietoft commented on #2786
Sounds like a great plan @jmayntzhusen !
We'll talk it over at our meeting today - but I'm sure there's no issue with you giving these LB docs and overhaul 😉

[2020-10-20 11:03] joepvtl opened #2789 "V8: Segment documentation"
Hey,

I was wondering if there should be some documentation about segments for v8? (for example the a/b tests from umarketingsuite use this feature).

* What are segments?
* How to create your own segments
* etc.

Let me know what you think!

-Joep

[2020-10-21 01:43] Slipoch opened #2794 "RenderUmbracoFormDependencies() missing"
***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/main/Add-ons/UmbracoForms/Developer/Prepping-Frontend/index.md***

what using is required to use the method RenderUmbracoFormDependencies()?

It is not present in my viewpage.

[2020-10-21 07:29] sofietoft commented on #2794
Hi @Slipoch !
That's a great question.
Which version of Umbraco Forms and Umbraco are you currently running? 🤔

[2020-10-22 20:13] renaa commented on #1528
PR for Decimal: https://github.com/umbraco/UmbracoDocs/pull/2800

[2020-10-23 07:16] sofietoft commented on #1739
Hi @rustybox
I have an update for you, on this one.
Turns out that what you have found here is a bug in Umbraco Forms.
One of our Forms experts have been able to reproduce - it's like the code snippet from the Docs doesn't get triggered 🤔

An issue has been created on the Forms Issue tracker: https://github.com/umbraco/Umbraco.Forms.Issues/issues/433

How about we add a warning in the docs about t

[2020-10-23 07:46] rustybox commented on #1739
Seems reasonable

[2020-10-23 07:51] sofietoft commented on #1739
Super. I'll make sure that's done.
I've subscribed to the Forms issue, so I'll know when the bug is resolved and when to remove the warning from the docs again.

I'll close this issue for now.
Thanks again for making us aware of this 💪 Much appreciated.

[2020-10-23 07:51] #1739 closed

[2020-10-23 08:17] sofietoft commented on #1739
The warning has now been added to the article: https://our.umbraco.com/documentation/Add-ons/UmbracoForms/Developer/Extending/Adding-a-Type#validate-type-settings-with-validatesettings

[2020-10-23 09:14] renaa commented on #1528
PR for File upload: https://github.com/umbraco/UmbracoDocs/pull/2801k

[2020-10-23 12:24] renaa commented on #1528
PR for Markdown editor: https://github.com/umbraco/UmbracoDocs/pull/2806

[2020-10-26 09:18] sofietoft commented on #2770
As the PR references here has been merged, I'll go ahead and close this issue as well.

Thanks again for helping out @RachBreeze ! Much appreciated.

[2020-10-26 09:18] #2770 closed

[2020-10-26 09:19] sofietoft commented on #2786
Apologies for the delay @jmayntzhusen !

Please feel free to give the LB docs an overhaul 😄

[2020-10-26 19:20] erikjanwestendorp commented on #2714
@sofietoft I would like to work on this issue. I think an example as below will do what do you think? Do you have any suggestions for a scenario where people want to create their datatypes programmatically?

[code]

[2020-10-27 07:42] sofietoft commented on #2714
Great to hear that you're up for the task @erikjanwestendorp ! 👏

I'll run your questions by the Curator team, as I'll need some more technical backing to answer them 😉
Regarding *where* to add these samples - we're thinking to add them as a new *section* at the bottom of the existing articles.

[2020-10-27 07:44] sofietoft commented on #2714
Oh, before I do ..
The sample you've pasted in here - that one is creating the property itself, right? 🤔

What we were going for here, are samples on how to *add values to properties programmatically*.
That might not be entirely clear from the description on this issue - sorry for that!! I'll make sure it's corrected.

[2020-10-27 08:07] erikjanwestendorp commented on #2714
@sofietoft Yes my example creates the property itself indeed.. My bad.. Will an example as below make sense?

[code]

[2020-10-27 12:03] marcemarc commented on #2714
@erikjanwestendorp

Yes, that's the kind of example we were thinking.

It's a common topic that crops up on the forums, particularly for the JSON based property editors!

So we thought it would be great to just add a snippet for how to set them to each property editor, and yes, we thought it could perhaps be the 'last thing' on each property editor page

regards

Marc

[2020-10-28 15:54] kfa-admin opened #2824 "Link is not working"
## What type of issue is it? (Choose one - delete the others)
Missing documentation

## What article/section is this about?
https://our.umbraco.com/documentation/Tutorials/Creating-Tables-for-Umbraco-with-PetaPoco

## Describe the issue
I get an Oooops, something broke for the link.

[2020-10-29 07:26] sofietoft commented on #2824
Ah! Looks like the link in the menu is looking for an `index.md` file.
This doesn't exist in the "Creating-Tables-for-Umbraco-with-PetaPoco" folder - that's why it's giving us the "Ooops" page.

In order to resolve it, the `index-v7.md` needs to be changed to `index.md`.

Would you be up for the task, @kfa-admin ?

[2020-10-29 11:52] kfa-admin commented on #2824
Yes I will chnage it

[2020-10-29 14:47] mattou07 opened #2829 "Storing form data in Azure blob storage"
## What type of issue is it? (Choose one - delete the others)
Missing documentation

## What article/section is this about?
https://our.umbraco.com/Documentation/Extending/FileSystemProviders/Azure-Blob-Storage/index-v7

## Describe the issue
This page should include information on how to pull forms data from Azure Blob Storage instead of just media.

If its documented somewhere else feel free to

[2020-10-29 20:40] deanleigh opened #2831 "Unclear instructions re: UmbracoFileSystemProviders.Azure.Media and UmbracoFileSystemProviders.Azure"
Recently we followed this page and a member of our team started typing UmbracoFileSystemProviders into nuget.
The package returned at the top of the list was UmbracoFileSystemProviders.Azure.
Also in the instructions is "Find instructions on how to install the package on the projects GitHub page: UmbracoFileSystemProviders.Azure." which further cemented the naming.

It seemed to work on the projec

[2020-10-30 07:28] sofietoft commented on #2829
Thanks for creating the issue here @mattou07 !

Just to be sure I understand - you think we should also have an article on how to work with forms data on Azure blob, as currently the articles we have, are primarily media files and the image processor.

Is that correct? 😄

[2020-10-30 07:35] sofietoft commented on #2831
Thanks for the very thorough report @deanleigh ! 💪

Just to make sure I understand correctly...
The confusion here, was about which specific Nuget packages is needed to install, when setting up Azure Blob Storage - as that is currently not clear from the Docs.
Also, it's not the docs are wrong, but they are **unclear**.

Is that correct?
'Cause if that's the case - we cannot have docs that are unc

[2020-10-30 09:05] deanleigh commented on #2831
Thanks @sofietoft you have understood perfectly " it's not the docs are wrong, but they are unclear".
Also agree on a list and perhaps:

1.  an explanation that installing UmbracoFileSystemProviders.Azure.Media automatically installs UmbracoFileSystemProviders.Azure

2.  a warning box that when searching for UmbracoFileSystemProviders.Azure.Media that UmbracoFileSystemProviders.Azure will be displ

[2020-10-30 09:19] mattou07 commented on #2829
@sofietoft I was thinking of having it on the same page as an added bonus to using Azure Filesystem providers. If you use blob storage container for the Umbraco Forms data folder. Which would hold forms, templates and workflows. It allows you to use features like Azure Web App slot swaps without you having to manually copy the forms data folder to the other slot as they all use the same container.

[2020-11-02 07:30] sofietoft commented on #2831
Super! Thanks for explaining @deanleigh !

I think what you're suggesting makes a lot of sense. Especially the part about explaining the dependencies between the two packages more clearly!

Would you be up for making the updates to the article? 😄

[2020-11-02 07:35] sofietoft commented on #2829
Thanks for explaining and sharing your thoughts on this @mattou07 !

So, is the setup for adding Forms to Axure Blob fairly the same as with media?
If so, then I think it would be perfectly fine to add a section to the existing article... If it's different - then I think another article would be the way to go. Not everyone uses Umbraco Forms, so it might not make sense for all that it's mentioned

[2020-11-03 09:53] sofietoft commented on #2824
Links it now working.
I will close this issue.

Thanks for reporting @kfa-admin !

[2020-11-03 09:53] #2824 closed

[2020-11-03 09:59] sofietoft commented on #2747
As the article has now been updated according to this issue, I'll close it down.

Thanks for all who helped out! 💪

[2020-11-03 09:59] #2747 closed

[2020-11-04 20:43] marcusjm opened #2853 "Block List Editor Thumbnail Size"
## What type of issue is it? (Choose one - delete the others)
Discussion
Missing documentation

## What article/section is this about?
[(link here)](https://our.umbraco.com/Documentation/Getting-Started/Backoffice/Property-Editors/Built-in-Property-Editors/Block-List-Editor/)

## Describe the issue
Could we get the recommended thumbnail aspect/size to get proper thumbnail size?

[2020-11-05 07:50] sofietoft commented on #2853
Hi @marcusjm ! Thanks for the report.

Just to be sure I understand correctly; You're asking for the dimension/size of the thumbnail to be used in the Block Editor catalogue - right? 😄

[2020-11-06 12:25] marcusjm commented on #2853
Yes, the recommended size at least. I have tried various with little success but I thought it would be a good thing to have for others too :).

[2020-11-09 08:27] sofietoft commented on #2853
Very good. Thanks for confirming.

I'll make sure we get those dimensions addded.

[2020-11-09 09:42] sofietoft commented on #2853
So, I have some answers for you.
The thumbnails for the Block List catalogue are presented in the format of 16:10 and we recommend a resolution of 400px x 250px.

Hope this is what you need.
I'll make sure it's added to the article on the docs as well.

[2020-11-09 09:44] #2853 closed

[2020-11-19 05:07] thenexus00 opened #2891 "Broken link issue"
Where the wording of "You will need to register your ContentFinder using a Composer" Is the "Using a composer" link is broken.

***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/main/Getting-Started/Code/Debugging/Logging/index.md***

[2020-11-19 05:15] thenexus00 opened #2892 "Apple App not found"
The apple app link when clicked loads the apple app store but no app is found.

***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/main/Getting-Started/Backoffice/LogViewer/index.md***

[2020-11-19 15:54] dampee commented on #2892
Hi @thenexus00

I just tried and you are right. I got the message that the item is not available in the (Belgian and) UK store.

![afbeelding](https://user-images.githubusercontent.com/1857460/99689940-dce6d900-2a87-11eb-9acb-d9fce88db4e1.png)

[2020-11-20 07:22] sofietoft commented on #2891
Great catch @thenexus00 !

I've corrected the link 💪
Thanks for helping us keep the docs up to date!

[2020-11-20 07:22] #2891 closed

[2020-11-20 07:26] sofietoft commented on #2892
Thanks for reporting this! 💪

I've forwarded it to Warren, who's the creator of the app.
We should get this resolved soon!

[2020-11-20 09:22] sofietoft commented on #2892
Quick update on this one:

The Log Viewer App is no longer available on the AppStore, I'm afraid.
Warren tells me that he hopes to have a new build ready soon, for Mac's.
I recommend that you keep an eye on the official Github for the app, to follow new releases: https://github.com/warrenbuckley/Compact-Log-Format-Viewer

I've removed the link from the article.
Thanks again for making us aware of

[2020-11-20 09:22] #2892 closed

[2020-11-21 10:43] railway17 opened #2897 "Can't restore after cloning to localhost from cloud"
Hi, @charlesroper bergmania I am going to clone Umbraco from cloud.
I cloned as visual studio solution and run out (cloned by `UaaS.cmd`).
But after clicking **Restore** button, I am facing below error page with Error message.

[code]

I am attaching screenshots [here(video)](https://www.dropbox.com/s/r57m12hrdjqars1/bandicam%202020-11-21%2018-31-14-208.mp4?dl=0), [here(image)](https://www.dropbox

[2020-11-23 07:53] sofietoft commented on #2897
Hi @railway17 !
Thanks for reporting the issue.

I'm not sure it's something I can help you with from a documentation point of view though.
Have you had a look in our [Umbraco Cloud Troubleshooting guide](https://our.umbraco.com/documentation/Umbraco-Cloud/Troubleshooting/)? You might be able to find exactly what you need in there.

Otherwise, I'd encourage you, to get in touch through the Support

[2020-11-23 08:15] railway17 commented on #2897
Hi, @sofietoft
Thank you for your reply,
I checked the trouble shooting guide but I have not got the idea from it.
I think I have to talk with support team and it is best solution at this moment.

Thanks again!

[2020-11-23 08:22] sofietoft commented on #2897
Glad to help!
I'm sure the supporters will be able to help you move forward from this issue.

I'll close this issue for now.
Please feel free to open new issues, should you come across any issues with our Documentation.
Have a great day!

[2020-11-23 08:22] #2897 closed

[2020-11-26 23:40] thenexus00 opened #2906 "Umbraco.Forms not valid for Umbraco 7"
Hi there,
Trying to help resolve a spam issue (as Recaptcha v2 in Umbraco forms is being bypassed A LOT of late) I went to use the Form event handler.
The doc says that it is the same in V7 as well as V8 but you get a namespace error with the references in the code example below:
`Umbraco.Forms`

- Is this not valid for Umbraco 7?
- Is there/should there be a version displayed for 7 thats been ove

[2020-11-27 07:59] sofietoft commented on #2906
Thanks for the report @thenexus00 !

Let me start by making sure I understand the case here.
You're having some issues with ReCaptcha v2, and want to try to use a Forms event handler instead.
However, following the docs we have on this, you cannot get it to work... Is that correct?

Also, which version of Forms and which version of Umbraco are you using on the setup where you're trying these thing

[2020-12-07 12:01] RachBreeze opened #2929 "GetCropUrl"
***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/main/Getting-Started/Backoffice/Property-Editors/Built-in-Property-Editors/Image-Cropper/index.md***

Heya
I don't think the image src examples are correct as there is a double quotes in side the img src for "banner", and this is a compilation error in Razor
<img src="@Url.GetCropUrl(Model.Image, "banner")" />

Also GetCr

[2020-12-07 12:13] sofietoft commented on #2929
Thanks for reporting this @RachBreeze !
Much appreciated.

Sorry to see that this article hasn't been updated yet - I'll see that it's put on our list.
If you happen to find the solution to it, you're more than welcome to take a shot at updating the article 😄

[2020-12-08 10:41] nitinanand27 opened #2932 "CreatorId is different on copied content"
We have noticed that a default admin user with Id 0 is alloted to copied content. Is there a solution for this?

***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/main/Tutorials/Editors-Manual/Getting-Started-With-Umbraco/Copying-a-Page/index.md***

[2020-12-08 11:02] sofietoft commented on #2932
Hi @nitinanand27 ! Thanks for reaching out.
And that's a great question, why that default admin user is being added 🤔

I'll what I can do about getting you some answers to that.

[2020-12-08 11:21] nitinanand27 commented on #2932
This seems to be reported here https://issues.umbraco.org/issue/U4-8250 but not solved

[2020-12-08 12:07] sofietoft commented on #2932
Ah, you're right! 🤔 This is our old issue tracker though, so I'm not sure how relevant the issues on that tracker is anymore..

Have you checked the Issue Tracker that we're currently using? It's on Github: https://github.com/umbraco/Umbraco-CMS/issues
You might be able to get some answers there.

[2020-12-08 14:29] nitinanand27 commented on #2932
hmm, nothing there yet.

[2020-12-09 08:30] sofietoft commented on #2932
Thanks for checking!
I'd recommend that you create an issue for this on the tracker.
In the meantime, I'll see what I can do about getting you some answers!

[2020-12-09 11:54] RachBreeze commented on #2929
Heya @sofietoft
Thank you for getting back so quickly..
I have found a solution to the issue re IImageUrlGenerator, I do need to find out which version of Umbraco the amend was added in and then I'll update the docs

[2020-12-15 09:56] HamDerAndrew opened #2946 "uaas-cmd download link error"
##Issue - Other
Error on download link for the "uaas-cmd" tool.

## What article/section is this about?
https://our.umbraco.com/documentation/Umbraco-Cloud/set-up/Working-With-Visual-Studio/#generate-a-visual-studio-solution

## Describe the issue
When I try to download the "uaas-cmd" tool for generating a Visual Studio Solution nothing happens. It throws this error in the console:

![uaas downloa

[2020-12-15 12:31] nul800sebastiaan commented on #2946
Thanks @HamDerAndrew - the short link was pointing to an `http` URL instead of an `https` one. This is now fixed!

[2020-12-15 12:31] #2946 closed

[2020-12-17 09:14] RachBreeze commented on #2929
Hi @sofietoft
I've tracked down the version that IImageUrlGenerator was added in 8.7.0 how do I document that up, please?  The other code snippets are still valid (just some are deprecated), so I'm not sure if I should add something to the end of the current document or start a new one, sorry for the questions

[2020-12-17 09:32] sofietoft commented on #2929
Hi @RachBreeze !

Sounds great that you tracked down the version number 💪 Thanks for doing the research on that!

And don't worry about having to ask questions about our current versioning system - we know it's not great, and that it is indeed a bit complicated 🙈

So, we generally do not encourage having details about multiple versions in the same article, as that can cause some confusion.
Instead

[2020-12-17 12:28] Attackmonkey opened #2955 "In hosting environments with IIS URLScan enabled, several API calls no longer work"
We have discovered that if hosted on a server that has IIS URLScan enabled, several of the back office API calls fail, with a 404, because URLScan does not like the way the URLs are formatted. In practice this means that the media and content restore menu items do not work in Umbraco V8 sites hosted in such environments. Other API calls may be affected, these are just the two that we have spotted.

[2020-12-18 11:16] nul800sebastiaan commented on #2955
Hmm, we don't really have a good place for these kinds of things yet, but I would suggest in the Server Setup! https://our.umbraco.com/documentation/Getting-Started/Setup/Server-Setup/

I've moved this to the docs repo, maybe @sofietoft's team has a better suggestion.

[2020-12-18 11:30] Attackmonkey commented on #2955
Good plan! I'll try and get a PR in with some details of how to whitelist the umbraco API URLs as soon as I have a spare 5 minutes :)

[2020-12-19 10:42] LottePitcher opened #2956 "Link to "UI Examples" as a 'companion' to the API docs"
## What type of issue is it?
Discussion

## What article/section is this about?
https://github.com/umbraco/UmbracoDocs/blob/main/Extending/Backoffice-UI-API-Documentation/index.md (possibly)

## Describe the issue
This package - https://our.umbraco.com/packages/developer-tools/ui-examples/ - adds a new section with some working examples of backoffice directives to their site.  Allows a developer t

[2020-12-21 07:36] sofietoft commented on #2956
Thanks for opening this issue and starting the talk about this new package you made.

I think it makes a lot of sense to add it/link to it from the docs, and I think the Backoffice UI API Documentation page is a great place to add it.

How about we also add it to the "Angular" section in Reference? (https://our.umbraco.com/documentation/Reference/Angular/)
What do you think?

[2020-12-21 07:43] sofietoft commented on #2929
PR (#2950 ) merged.

I'll close this issue as well.
Thanks again for report and updating the docs @RachBreeze !

[2020-12-21 07:43] #2929 closed

[2020-12-21 07:47] sofietoft commented on #2932
Hi @nitinanand27
Apologies for the delay.

Did you create an issue for this on the CMS issue tracker? 🤞
I'm afraid it's not something I can help you with from a Documentation perspective, so I'll have to send you over to the CMS tracker instead.
They have a few templates to choose between when creating an issue.
You're also more than welcome to reach out to our very friendly community on the forum

[2020-12-21 07:47] #2932 closed

[2020-12-21 07:53] sofietoft commented on #2906
Hi @thenexus00
I haven't seen any replies here in a while - did you see my last message? 🤔

Also, I had a closer look at the article you're referring to here and can see that the article is only valid for Umbraco 8.

Sounds like you're using Umbraco 7, is that correct? Because then I suspect that the samples might not work for you.

[2020-12-21 07:59] sofietoft commented on #2831
Hi @deanleigh !
I'm just running through the Issue tracker here, attempting to do some cleanup before heading off on holiday.

Are you still up for tweaking the Azure Blob article in the docs?
Otherwise, do let me know, and I'll make sure to add it to my list of things to do in the new year 💪

[2020-12-21 08:03] deanleigh commented on #2831
Hi Sofie,
I am still up for it, in fact I intend to help as much with Docs as I can next year.
I’m sorry got a bit distracted with work and writing tomorrow 24 Days in Umbraco Article which took me way more time than I expected!

Regards,
Dean

From: sofietoft <notifications@github.com>
Sent: 21 December 2020 08:00
To: umbraco/UmbracoDocs <UmbracoDocs@noreply.github.com>
Cc: Dean Leigh <dean.leigh

[2020-12-21 08:04] sofietoft commented on #2794
Hi @Slipoch !
I can see that the correct using statement has been added to the code snippets in the ["Preparing the frontend" article for the Umbraco Forms section](https://our.umbraco.com/documentation/Add-ons/UmbracoForms/Developer/Prepping-Frontend/).
That should be exactly what you're looking for.

So what that, I'll close this issue for now.
Please do not hesitate to get back in touch, if som

[2020-12-21 08:04] #2794 closed

[2020-12-21 08:05] sofietoft commented on #2829
[PR related to this](https://github.com/umbraco/UmbracoDocs/pull/2875) has been merged, so I'll close this issue as well.

[2020-12-21 08:05] #2829 closed

[2020-12-21 08:07] sofietoft commented on #2789
Hi @joepvtl
It's been a while since I've seen any activity on this one.
Are you still up for adding some docs about the segments in Umbraco? 😄

[2020-12-21 08:07] sofietoft commented on #2786
Related PR: https://github.com/umbraco/UmbracoDocs/pull/2921

[2020-12-21 08:13] sofietoft commented on #2730
Related PR merged.
I'll close this issue as well 💪

[2020-12-21 08:13] #2730 closed

[2020-12-21 08:32] sofietoft commented on #2831
That sounds great, @deanleigh ! 😄 I can't wait 👏

And no worries at all!
Time is indeed a tricky thing, and I've heard from several that writing for 24Days is a real time-eater.

No need to stress on this one - there are no deadline 😉

Enjoy the upcoming holiday! I look forward to seeing more form you next year 😄

[2020-12-22 01:40] thenexus00 commented on #2906
Hi @sofietoft
In the documentation for the event handler:
https://our.umbraco.com/documentation/add-ons/umbracoforms/developer/Extending/Adding-an-Event-Handler
Also exists when you choose version 7 but you get a variety of errors that seem to be down to the example only being for V8 and not for 7.

[2020-12-22 07:42] sofietoft commented on #2906
Ah, yes. It is not very clear in the article, that it is only for Umbraco 8.
Also, the dropdown where you can choose between version 7 and 8 only applies to the search, and not the article on the page.

I can see that the article has a tag saying `versionFrom: 8.0.0`, which means it's for Umbraco 8 only, and it doesn't look like there's a version for Umbraco 7.

I'll add a note to the top of the a

[2020-12-22 09:06] LottePitcher commented on #2956
Thanks @sofietoft I think it's a good idea to add to that page too. I'll get a PR submitted 👍

[2021-01-01 11:55] tlaukkanen commented on #366
Adding a direct link here to that page so that next person saves time from searching it 😅
[What folders and files should I exclude from my source control repository?](https://github.com/umbraco/UmbracoDocs/blob/main/Getting-Started/Code/Source-Control/index.md#what-folders-and-files-should-i-exclude-from-my-source-control-repository)

[2021-01-06 19:46] erikjanwestendorp commented on #2760
@Jeavon I would like to work on this. However, containers are explained in [this ](https://our.umbraco.com/documentation/Reference/Management/Services/ContentTypeService/Retrieving-content-type-containers)article, right?

[2021-01-06 19:55] erikjanwestendorp opened #2972 "Creating a property editor with c#"
## What type of issue is it?
Missing documentation

## What article/section is this about?
[Creating a property editor](https://our.umbraco.com/documentation/Tutorials/creating-a-property-editor/)

## Describe the issue
Is it an idea to add an example of how to create a property editor with c#?

[2021-01-07 07:28] sofietoft commented on #2972
Thanks for the suggestion @erikjanwestendorp !

I think that would be a great idea actually.
Can't believe we don't already have one 😅 But I've had a look and all I could find that uses C# to add a property editor is the one made for the Block Editor (https://our.umbraco.com/documentation/Extending/Property-Editors/Build-a-Block-Editor).

I think it should be a tutorial in the Tutorials section. W

[2021-01-08 12:51] sofietoft commented on #2906
Hi! Apologies for the delay here.
I've added a note to the top of the article in question here, in order to make it more clear that the contents and samples in the article are made for Umbraco Forms version 8 or higher.

With that, I'll also close this issue for now.
Please do get back in touch if you have any questions or comments!

And thanks again for raising a flag here!

[2021-01-08 12:51] #2906 closed

[2021-01-12 10:32] #2759 closed

[2021-01-12 12:27] Jeavon commented on #2760
@erikjanwestendorp yes they are briefly, a link would be great. I also think given containers is not something familiar perhaps a screenshot showing a folder and contained content types would be a good enhancement to the docs?

[2021-01-12 15:18] johnoxenbridge opened #3045 "Replica role writes to DB on startup"
## Issue

In a scalable solution with explicit Master and Replica roles, Umbraco v8.x is meant to support connecting Replica frontends to a read-only database. In v8.8.0, on startup of an instance configured as a Replica, Umbraco tries to write to the umbracoLock and umbracoKeyValue tables, meaning you cannot have a read-only DB.

## Umbraco version

I am seeing this issue on Umbraco version: 8.8.

[2021-01-13 15:45] joepvtl commented on #2789
Hey, well the thing is that you can only create segments by calling to a test api like described here: https://github.com/umbraco/Umbraco-CMS/pull/7973. I feel like this should change first before making any documentation regarding this.

[2021-01-13 19:23] erikjanwestendorp commented on #2972
@sofietoft I updated the existing article with a C# example 😄! Is this the way you prefer it? If so, I can update the next steps as well (add configuration to a property editor etc.).

[2021-01-14 09:17] sofietoft commented on #2789
That's a very good point! Does seem like a somewhat complicated and very manual process implementing this feature at the moment.

I'll do some digging into what the plans are for the future for the segments feature!

[2021-01-14 09:49] sofietoft commented on #2972
That's great @erikjanwestendorp !

I just left a review actually 😄

[2021-01-20 17:28] tnashavnade opened #2985 "Export file usually fails"
We are trying to export an Excel file in the backend. Sometimes it works but more often than not, the GetExport request fails with a status of Canceled in the browser (various browsers have the same issue). The error message is either FileNoteFound or "Could not find file" when looking more closely at the response. We can see that the file that we wish to download is created and then removed from

[2021-01-21 08:23] sofietoft commented on #2985
Hi @tnashavnade!
Thanks for the detailed report here.

I do think I need a bit more information in order to narrow it down though.
Where in the backoffice are you trying to download an Excel file?
Is this by any chance related to Umbraco Forms?
Are you using any third-party packages/plugins that let you export data from Umbraco into an excel file?

[2021-01-21 09:06] tnashavnade commented on #2985
Yes we are using Umbraco Forms here. I am not aware that we are using any third-party packages/plugins.

[2021-01-21 09:33] sofietoft commented on #2985
Alright. Thanks for confirming.

Sounds like you're using the feature described here: https://our.umbraco.com/documentation/Add-ons/UmbracoForms/Editor/Viewing-and-Exporting-Entries/#exporting-data

As far as I understand, you're having some issues with the feature - it's only letting you export the files "sometimes", which of course shouldn't be the case.

It isn't really a case for the documenta

[2021-01-22 04:10] capraynor opened #2991 "Recommended Configuration When Deploying to Azure App Service"
## What type of issue is it? (Choose one - delete the others)
Documentation not clear

## What article/section is this about?
https://our.umbraco.com/documentation/getting-started/setup/server-setup/azure-web-apps#recommended-configuration

## Describe the issue

Hi, Umbraco Contributors:

We have tested the following settings on Umbraco 8.10.1

[code]

We've found that these two settings are nece

[2021-01-22 05:54] capraynor commented on #2991
Related issue: https://github.com/umbraco/Umbraco-CMS/issues/9517

Related issue: https://github.com/umbraco/Umbraco-CMS/issues/5035

[2021-01-22 08:59] sofietoft commented on #2991
Hi @capraynor !

Thanks for the very detailed report.
This is not my area of expertise, so I'll pass it along to the team for a review.

Also, I'm a but unsure about what the issue here is exactly.
Is the issue related to what is in the documentation, or is this an issue you're having with the CMS and Azure set up - or perhaps something third?

[2021-01-22 09:14] Jay-umbr opened #2992 "Tutorial / Creating a custom dashboard"
## What type of issue is it?

Code sample might need updating

## What article/section is this about?
https://our.umbraco.com/documentation/tutorials/Creating-a-Custom-Dashboard/

## Describe the issue
After following the guide and implementing the dashboard fully (section: once we try to do "we know what you edited last week"), we get a bunch of errors in the backoffice when navigating to the das

[2021-01-22 10:19] sofietoft commented on #2992
I've tested the same guide on Umbraco 8.10.1, where this is also very much an issue.

[2021-01-24 16:08] sespriye opened #2995 "after installation throwing this error"
Could not load all types from "Our.Umbraco.FileSystemProviders.Azure.Media, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" due to LoaderExceptions, skipping:
. System.TypeLoadException on Umbraco.Core.Composing.IComponent: Could not load type 'Umbraco.Core.Composing.IComponent' from assembly 'Umbraco.Core, Version=1.0.7128.14457, Culture=neutral, PublicKeyToken=null'.
. System.TypeLoadExce

[2021-01-25 01:41] capraynor commented on #2991
@sofietoft
Well this is a complex issue.

This is related to document, because when I configure according to this document (on azure app service), I will receive an error, saying `System.TimeoutException: Cannot acquire MainDom at Umbraco.Core.Runtime.MainDom.Acquire()`

This is related to product team, because obviously, the workaround was provided by product team.

After my testing, I think that

[2021-01-25 08:04] sofietoft commented on #2995
Hi @sespriye !

Thanks for the report.
I'm sorry to hear you're having some struggles installing Azure Blob Storage on your website.
I'll need some more details from you, in order to determine how best to help you out here:
- Which version of Umbraco are you running?
- Is the site hosted on Umbraco Cloud?
- When exactly are you getting this error? After completing the entire guide?

[2021-01-25 08:25] sofietoft commented on #2991
Thanks for providing some more context to this issue - much appreciated.

Now, I agree with you that this is both related to the product and to our documentation.
I've already sent it through to the team here at Umbraco HQ, which means we should get someone to take a look at this issue with the next few weeks.

You're welcome to also create something on the CMS issue tracker if you'd like - make s

[2021-01-25 08:35] bergmania commented on #2992
The `entityResource.getById` dont support the following types. I guess we just need to update the example to exclude these too:
- Domain
- Language
- User
- Macro

Maybe something like this:

[code]

[2021-01-29 11:29] prashant-spinx commented on #2726
i have faced same issue, any one have any solution for it ?

[2021-01-30 23:00] FransdeJong opened #3005 "This guide is broken due to Umbraco Identity?"
In step 6 you should add the cloud user to the project by removing the underscore in front of the username.
In new Cloud projects the backoffice folder doesn't exist anymore. So I think this guide is now broken?

[2021-02-01 07:57] sofietoft commented on #2726
Hi @prashant-spinx !
Sorry to hear you're running into some issues here.
As this issue has been closed on this repo, I'd suggest that you head on over to the related issue created on our CMS Issue tracker: https://github.com/umbraco/Umbraco-CMS/issues/8417

You might also be able to get some help resolving the issue or finding a work-around, by going to our [Forums on Our](https://our.umbraco.com/

[2021-02-01 08:09] sofietoft commented on #3005
Thanks for the report @FransdeJong !

Just before I start answering your question here, I want to make sure that we're on the same page.
The guide you're referring to here, is that the "[Migrate Existing site to Cloud](https://our.umbraco.com/documentation/Umbraco-Cloud/Getting-Started/Migrate-Existing-Site/)" guide?

[2021-02-01 08:35] FransdeJong commented on #3005
Hi @sofietoft ,

Sorry, I clicked the button on the page so I assumed it would connect the issue with the page.
Yes it's about migrating to cloud and especially about the topic [move and merge files](https://our.umbraco.com/documentation/Umbraco-Cloud/Getting-Started/Migrate-Existing-Site/#6-move-and-merge-files).

If I start a new cloud project the backoffice folder doesn't exist anymore due to t

[2021-02-01 08:45] sofietoft commented on #3005
Thanks for verifying, @FransdeJong ! Usually it does actually add a link to the issue, when you clicked the button on the article 🤔  Hm! I'll look into that.

Now, for the guide here... And thanks for providing a few more details.
I've actually had it on my list to test this guide with the new Umbraco ID, as I suspected that changes might need to be made.
I believe it should still be possible, as

[2021-02-01 09:54] FransdeJong commented on #3005
Ah, that makes sense. So the database doesn't contain the user but the project does so you can login regardless of the backoffice users in the old database. Neat!

[2021-02-01 10:14] sofietoft commented on #3005
That's the theory, yes! 😄

I'm running a test now, to verify 🤞

[2021-02-01 11:00] sofietoft commented on #3005
I'm now done with my test of the migration to Cloud guide. Thanks again for making me move this up on my list, @FransdeJong 😄

So, there are a few things I want to note here:
- The Umbraco ID user that was used to create the Cloud project, will continue to have access to the Cloud site - local and otherwise, throughout the whole process.
- Any backoffice users created on/invited to the existing si

[2021-02-01 11:28] FransdeJong commented on #3005
Great news!

About the existing users. I don't mind about them not moving. There are always users that aren't active anymore and users weren't moved in the old situation either. So I wouldn't look into that if I were you.

[2021-02-01 13:49] sofietoft commented on #3005
That's an interesting point of view actually 🤔 Hadn't thought about it.

But in a way it makes sense; you're moving to a new service, and your users will then need a (new) account on that service in order to continue to have access.

In any case, I've updated the migration guide now, the reflect the changes caused by Umbraco ID.
In a way - the guide is now slightly simpler than before 😄
The bigges

[2021-02-01 13:49] #3005 closed

[2021-02-07 12:39] TomBruyneel commented on #2361
I think there is still some strange behaviour with the umb-isolate-form directive. When the main form has a validation error, it will also trigger errors in the ng-form with umb-isolate-form directive. Furthermore, then fixing the validation errors in the main form and pressing save again will not work.

[2021-02-08 08:16] sofietoft commented on #2361
Thanks for the comment @TomBruyneel !

Just to I'm sure I understand correctly - the issue you ran into, turns out is related to some of your custom property editors?
Is that correct?

[2021-02-13 22:24] trevorloader opened #3021 "Member Events code sample syntax error in V8"
***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/main/Reference/Events/MemberService-Events/index.md***

The sample code no longer works in v8.

Specifically, the line

`private void MemberService_Saved(IMemberService sender, SaveEventArgs<IMember> e`

throws an error as IMember is not recognised.

[2021-02-15 08:06] sofietoft commented on #3021
Thanks for the report @trevorloader !

I'll make sure we review the sample code in this article as soon as possible.

[2021-02-16 14:15] sofietoft commented on #3021
Hi @trevorloader
We've been testing this code sample again, and found that some "using" statements are missing!

Could you try adding the following:

* using Umbraco.Core.Events;
* using Umbraco.Core.Models;
* using Umbraco.Core.Services;

That should clear up the error you're running into.
We'll make sure that the sample code is updated as well 💪

[2021-02-17 09:59] sofietoft opened #3025 "Backoffice Search - Outdated docs"
As `Add()` is not available on `IEnumerable` the backoffice search article needs to be updated: https://our.umbraco.com/documentation/extending/Backoffice-Search/

The snippets that need updating are

* All node types
* Document Types
* Media Types
* Member Types

See this PR comment for correct samples: https://github.com/umbraco/UmbracoCMSDocs/pull/5#issuecomment-780391061

[2021-02-18 07:50] sofietoft commented on #2992
Closing this issue as related PR has been merged.

[2021-02-18 07:50] #2992 closed

[2021-02-18 07:52] sofietoft commented on #2995
Hi @sespriye !
I haven't heard anything back from you, so I'll go ahead and mark this issue as closed for now.

Should you continue to encounter the same issue, please do let us now and provide some more details about your set up, so we can figure out what might be happening here 💪

[2021-02-18 07:52] #2995 closed

[2021-02-18 07:56] #2985 closed

[2021-02-21 08:59] #1685 closed

[2021-02-22 00:00] #1755 closed

[2021-02-22 08:59] sofietoft commented on #3025
Closing this as PR with the updates has been merged (https://github.com/umbraco/UmbracoDocs/pull/3028).

[2021-02-22 08:59] #3025 closed

[2021-02-22 10:21] sofietoft opened #3029 "ModelsBuilder dashboard is no longer registered in the package.manifest"
The "Settings" table in the Dashboards article still mentions that the Models Builder dashboard is registered in the package.manifest file (https://our.umbraco.com/documentation/Extending/Dashboards/#re-ordering--weighting).

As of Umbraco 8.5 that is no longer the case. It is now registered in code - `Umbraco.ModelsBuilder.Embedded.ModelsBuilderDashboard`.

A new version for 8.5+ needs to be made

[2021-02-23 17:28] greystate opened #3031 "Subtle errors in docs for creating a PropertyValueConverter in v7"
***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/main/Extending/Property-Editors/value-converters-v7.md***

The first code sample here says to implement the `IPropertyValueConverter` interface in `Umbraco.Core`...

For v7 I believe we need to extend `PropertyValueConverterBase` instead, i.e.:

[code]

Also, should the examples for all the available methods include the `

[2021-02-24 13:01] sofietoft commented on #3031
Thanks for the very thorough report here @greystate !

I'll need to call in some assistance for this one, as it's a bit beyond my Umbraco knowledge.
Will make sure to get you an answer asap!

[2021-02-26 10:53] Wolfkhan66 opened #3036 "Saves not an option in versions to select from"
***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/main/Tutorials/Editors-Manual/Version-Management/Comparing-Versions/index.md***

Morning, In U7 you used to be able to select saves to rollback to, not just published versions. In U8 it now appears we can only select published versions to rollback to though the documentation still specifies 'all old versions of the page a

[2021-02-26 14:02] sofietoft commented on #3036
Thanks for reporting this @Wolfkhan66 !

I'll make sure to have someone with a little more knowledge around this give it a look as soon as possible.

[2021-02-26 18:01] marcemarc commented on #3031
Hey @greystate and @sofietoft

I created a PropertyValueConverter in V7, just the other day...

and I have something like this:

[code]
Essentially the 'quick' way of doing it is to inherit from PropertyValueConverterBase, (which implements IPropertyValueConverter) and then 'override' the bits you wanna change.

This is how I used to teach it on the training courses too! - probably still the way i

[2021-02-26 18:24] marcemarc commented on #3036
@wolfkhan66 and @sofietoft

It's not super clear in this documentation and I think we should perhaps update to be clearer... but it's also hard to explain:

When you open an Umbraco page to edit, and press Save, a version of it is created in Umbraco database. If you type some more, and press Save again, without leaving the page or publishing, then that 'in progress' version is just updated with yo

[2021-02-26 20:56] greystate commented on #3031
Holy cow, not at all - #sorrymarc :)

I know I'm probably not the "typical" developer looking into these docs (as I do not use Visual Studio, i.e. do not get Intellisense etc. to tell me which namespaces I'm probably missing) but have been writing PropertyValueConverters for both v7 and v8 for two different property editors this week, and I had problems understanding what I saw in existing PVCs an

[2021-02-27 10:59] marcemarc commented on #3031
@greystate so think we should try and make it simpler?

I think with this page, the opening explanation could be reworked to be clearer as to what a property value converter is, and why you might want to create one, rather than focussing on what it 'technically does'

Then I think we should go straight into a working example

(this will support reference revisits to the page, where people just wan

[2021-02-28 14:55] greystate commented on #3031
Thanks @marcemarc — you're describing pretty much the page I'd like to have had when doing these :)

They way I ended up doing it was by doing some heavy comparisons between existing PVCs (what I could find on GitHub) and the docs; but since my original attempt left me with the impression that implementing `IPropertyValueConverter ` was v8 only (guess I must have missed a namespace - or does it ac

[2021-03-01 02:50] Shazwazza commented on #2991
These 2x settings should **always** be applied to Azure, see https://our.umbraco.com/documentation/Getting-Started/Setup/Server-Setup/azure-web-apps#recommended-configuration

[code]

The problem you are experiencing when installing/deploying to Azure for the first time is a bug. You should be able to have this applied before you deploy or install Umbraco without issue. I believe this is fixed in

[2021-03-01 09:35] Wolfkhan66 commented on #3036
@marcemarc Thank you for that breakdown Marc. We had this exact issue last week and it helped explain it to the team.
By the sounds of it what we use to have in U7 to select saves is actually custom work then (though I can't find it anywhere) so I will look into preserver as a option.

[2021-03-03 07:54] sofietoft commented on #3031
Hi guys 👋
Seems like the key thing here, is that we need to add some more details and explanation to the "Property Value Converters" article about how it's possible to use both `PropertyValueConverterBase` as well as the interface `IPropertyValueConverter`.

As I understood from a talk I had with @marcemarc about this yesterday, we should recommend using `PropertyValueConverterBase` - and this for

[2021-03-03 11:09] Wolfkhan66 commented on #3036
@marcemarc is aware of this but I just wanted to reopen as it turns out what we have is not custom, and there is in fact a difference in Rollback versions in U7 and U8 that I think the documentation should reflect.

To try and summarize:
In U7 if a user saves (Without publishing) a new version is created that you can rollback to. Any further saves by that user update that version.
If another user

[2021-03-03 12:19] greystate commented on #3031
Hey @sofietoft 👋
I will try to gather what I've learned from building a couple of 'em now and have a go at a rewrite, yes - thanks 😀
I will _very likely_ call on my friend @marcemarc for input along the way though...

[2021-03-03 13:39] marcemarc commented on #3036
@Wolfkhan66 yes, trying to determine from HQ if this was a conscious design decision, eg better for performance, and multi editors same page is 'rare' / 'not supported' in which case we need to update the docs to make that clear or whether it was a scenario overlooked in V8, and the V7 behaviour is the desired scenario...

[2021-03-03 16:25] nul800sebastiaan commented on #3045
Right, transferred to the Docs repository.

[2021-03-04 00:01] #1874 closed

[2021-03-04 09:00] sofietoft commented on #2659
Hi all!
Thanks for pitching in on this idea here, about adding a community driven articles section to the Umbraco docs.

Since this discussion was initiated, Umbraco HQ has started a lot of new initiatives on the new Community website, and there's also a section where you can find and browse blog posts written by the community!
Therefore, I'll close this issue here for now.

Should you come across

[2021-03-04 09:00] #2659 closed

[2021-03-05 00:01] #2054 closed

[2021-03-05 03:57] thenexus00 opened #3049 "Expansion required"
***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/main/Add-ons/UmbracoForms/Developer/Extending/Adding-a-Workflowtype.md***

The old methods from Version 7 to create fields do not work for 8. Could you possibly look to expand this documentation to include how to add fields to show up. Good examples would be to...

- Create a custom field to get value from in workflow cod

[2021-03-05 07:37] MjDhaneshKumar opened #3050 "Official Content Apps Documentation page is broken"
The issue is with documentation of content apps, it says `Oooops, something broke` , this is because of the wrong url, when I click on the versions then it loads correctly.

I redirect to the documentation from here https://umbraco.com/blog/umbraco-8-content-apps/
Link to the documentation: https://our.umbraco.com/Documentation/Extending/Content-Apps/index-v8

PFA
![Error](https://user-images.gith

[2021-03-05 08:19] sofietoft commented on #3049
Thanks for the report @thenexus00 !

I agree that it would be super great with even more samples on how to extend Umbraco Forms!
Just to make sure understand what specifics you're looking for here:

* Examples of how to create custom fields, which can then be used in a custom workflow.
  * We do have an article on how to create a custom field type, perhaps that could be a good first place to look:

[2021-03-05 08:21] sofietoft commented on #3050
Thanks for reporting this @MjDhaneshKumar !

I'll see what I can do about fixing this broken path.

[2021-03-05 08:29] sofietoft commented on #3050
The link has now been updated 💪

Thanks again for reporting this @MjDhaneshKumar .
I'll close the issue for now.

[2021-03-05 08:29] #3050 closed

[2021-03-07 00:00] #2169 closed

[2021-03-07 00:01] #2226 closed

[2021-03-08 00:00] #2026 closed

[2021-03-08 00:00] #2283 closed

[2021-03-08 00:00] #2292 closed

[2021-03-08 12:02] KevinJump opened #3054 "NetCore: Composer / Component and RunTimeLevel Pattern"
Discussion, Missing documentation, Umbraco NetCore Patterns

## What article/section is this about?
https://our.umbraco.com/Documentation/Implementation/Composing/

## Describe the issue
This is more of a question about best practices in Umbraco NetCore. @bergmania suggested this might be a good place to do this, as it can then feed into the documentation.

Composing in NetCore looks like it has c

[2021-03-08 12:18] bergmania commented on #3054
Correct, we are moving towards NotificationHandlers, and thereby no static events.
If you only want to execute something for some runtime levels, you can inject `IRuntimeState` and use `IRuntimeState.Level`.

In your example, you would most likely only add the component using `composition.Components().Append<MyComponent>();` if the runtime is Run.

Yep, that looks correct 💪

[2021-03-08 12:25] KevinJump commented on #3054
Ah OK cool.

So this is valid ?

[code]

Which one would we say is 'preferred' ? (component vs event?)  - I know it might depend. but a couple of questions that might help people decide.

- When do they fie (e.g are composers fired before `UmbracoApplicationStarting`)
- Does the order get preserved ? (e.g if i use ComposeBefore/After on the composer will the order of the the notifications still be

[2021-03-08 12:39] bergmania commented on #3054
UmbracoApplicationStarting is fired as the last thing before components are initialized. Composers are called before the DI container is created.

Note that this event is fired before the first request.

They are executed in the same order as they are registered, yes.

[2021-03-08 12:53] KevinJump commented on #3054
So - to confirm

the order for things that normal users (e.g non-core code hackers) have it is :

1. Composers
2. UmbracoApplicationStarting
3, Components

I am assuming it will not be recommended to change the boot sequence in `program.cs` or `startup.cs` ?

I don't know if its worth raising anything in the main repo but IUserComponent behavior has changed a bit based on this, in v8 it is only fi

[2021-03-08 13:03] bergmania commented on #3054
Good point.  We could do that..  The thing is, now composers are components are more separated. In theory, we want all services to be available and therefore composed, no matter the runtime level. But the execution of the component should in this case only be done, if the runtime level is run.  Not sure if there is a good way to archive that. or we should fall back to not composing IUserComposers,