[2013-04-10 09:04] duncanmcdougall opened #76 "404 in Working with MVC in Umbraco"
Scaffolding link at the bottom goes to a page not found.

[2013-04-10 09:38] #76 closed, assigned to nobody

[2013-12-19 13:51] sparkalyn opened #115 "Add version information or last edit date to documentation"
I'm new to Umbraco and one of the things I struggle with the most is identifying which version of Umbraco various docs apply to.

If there will not be separate documentation for each version would it be possible to tag or label documentation pages with the versions they cover?

It could be similar to the compatibility report that already exists on the projects pages. Another option would be to add

[2014-04-22 07:34] warrenbuckley opened #131 "Rename Repo"
Now that V4 is quite old and v6 & v7 being the key of installs. Can the repo be renamed to documentation, docs, umbracodocs so it is version agnostic. Just a minor thing that has bugged me that's all.

[2014-05-10 18:48] lesleyauk opened #134 "Moved pages not deleted from web"
In [commit 6828dab...](https://github.com/umbraco/Umbraco4Docs/commit/6828dab43e0931bc44a56941c27bd9d7aca74d3f) several pages were moved to new locations, but the old versions still exist on the site (and Google's index). For example: [/documentation/Reference/Mvc/partial-views](http://our.umbraco.org/documentation/Reference/Mvc/partial-views) is out of date and replaced by [/documentation/Referen

[2014-11-24 13:31] Benjaminsson opened #163 "The order in the "General upgrade guide""
Been doing some upgrading lately and i think maybe the order in the general upgrade guide is not optimal.

You begin with just copy over the Bin, install, Umbraco and umbraco_client over the old folders.

Then later you are asked to merge /Umbraco/Config/Create/UI.xml and /Umbraco/Config/Lang/*.xml. But everything in the Umbraco folder is already overwritten by then, right?

[2014-11-24 22:06] #163 closed, assigned to nobody

[2015-01-05 12:46] Lechus opened #170 "Documentation for working with Tags"
1. There is:
   if (Model.HasValue("articleTags")){
   Gives me error:
   CS1928: 'Umbraco.Web.Models.RenderModel' does not contain a definition for 'HasValue' and the best extension method overload 'Umbraco.Web.PublishedContentExtensions.HasValue(Umbraco.Core.Models.IPublishedContent, string)' has some invalid arguments
2. @foreach (var tagItem in Model.articleTags.Split(','))
   gives me:
   Par

[2015-04-23 10:10] MuirisOG opened #189 "GetContentType"
It would be helpful to indicate that you can also pass this function ALIAS as STRING as well as ID

[2015-04-23 12:13] MuirisOG commented on #189
Whoops... that's a gotcha. I thought I was on version 7 documentation, but seeing as I'm not, I'll close this.

[2015-04-23 12:13] #189 closed

[2015-07-20 20:50] Nicholas-Westby opened #194 "Document New Localization Technique"
This issue was recently completed ("Allow Localization of Plugins without having to edit core language files"): http://issues.umbraco.org/issue/U4-5777

With that, there is a new way of localizing text (i.e., the translations can be placed in the App_Plugins folder).

Would be great if those instructions were added here: https://our.umbraco.org/documentation/Extending/Language-Files/

Found that p

[2015-07-21 08:00] Shazwazza commented on #194
we're working on overhauling some of this documentation :) Will def get this updated

[2015-08-21 09:17] Shazwazza opened #199 "Update language file docs with new 7.3 parts"
Need to update:

/documentation/Extending/Language-Files/

there's new features in 7.3 that are super important:
http://issues.umbraco.org/issue/U4-5777

and http://issues.umbraco.org/issue/U4-5777

[2015-08-21 12:37] Shazwazza commented on #194
need to doc these:

http://issues.umbraco.org/issue/U4-5777

and http://issues.umbraco.org/issue/U4-5777

[2015-08-21 12:38] Shazwazza commented on #199
dupilcates #194

[2015-08-21 12:38] #199 closed

[2015-08-21 12:38] Shazwazza commented on #170
The docs required need to deal with how we work with Tags with the UmbracoHelper

[2015-08-21 12:43] Shazwazza opened #200 "Document custom routes with virtual nodes (UmbracoVirtualNodeRouteHandler)"
We need full documentation about custom routing using virtual nodes and the UmbracoVirtualNodeRouteHandler (including inhertited types)

There's a TODO: to fill this in here: /documentation/Reference/Routing/custom-routes

[2015-08-21 12:54] Shazwazza opened #201 "Add all documentation about App_Plugins 'package.manifest' files"
This documentation is entirely missing!

[2015-08-21 13:12] Shazwazza opened #202 "Document PublishedContentRequest.Prepared"
A TODO: can be found here: /documentation/Implementation/Custom-Routing/

[2015-08-21 13:31] #202 closed

[2015-08-21 13:48] Shazwazza opened #203 "Add links to Angular APIs"
Need links to here

http://umbraco.github.io/Belle/#/api

[2015-08-21 13:48] Shazwazza opened #204 "Migrated Angular tutorials to these docs"
The tutorials here: http://umbraco.github.io/Belle/#/api

need to be migrated/updated/etc... to these docs.

[2015-08-21 13:56] Shazwazza opened #205 "Add Umbraco startup & configuration docs"
We currently have configuration docs but that is explicitly about config files, we also have a whole startup sequence that should be documented and how by using code you can configure Umbraco to operate in a custom way.

[2015-08-21 13:59] Shazwazza opened #206 "Add a few specific links to the Legacy docs page"
There will probably be some frequently requested legacy docs, we should add specific links to GitHub for a few of them on this page.

[2015-08-21 14:22] #131 closed

[2015-08-21 14:33] warrenbuckley commented on #131
Whooop finally no longer a reference to Umbraco 4!!

[2015-08-21 14:44] Shazwazza opened #207 "More cache querying examples for templates"

[2015-08-21 14:46] Shazwazza opened #208 "Complete the cache/dist cache docs"
/documentation/Reference/Cache/

[2015-08-21 14:50] Shazwazza opened #209 "Create packaging docs for the 'Extending' section"

[2015-08-21 14:51] hartvig opened #210 "Images section under templates is broken"
https://our.umbraco.org/documentation/Reference/Templating/images gives a 404

[2015-08-21 14:58] Shazwazza opened #211 "Update all 'This section is waiting for content' pages"
All of these pages need to point to an issue on this tracker and be filled in or removed and redirected

[2015-08-21 16:54] hemraker commented on #210
[Related to this issue](http://issues.umbraco.org/issue/OUR-328)

[2015-08-22 08:23] nul800sebastiaan commented on #210
Fixed!

[2015-08-22 08:23] #210 closed

[2015-08-22 08:23] nul800sebastiaan commented on #210
https://github.com/umbraco/OurUmbraco/commit/75732e23b3fdd435b2b7cff02879f08f3769e502

[2015-08-24 10:54] Shazwazza opened #212 "Broken links in Implementation/Default-Routing/Execute-Request/"
https://our.umbraco.org/documentation/Implementation/Default-Routing/Execute-Request/

all links are broken
also in the overview (all links below the execute request)

[2015-08-24 10:55] #212 closed

[2015-08-24 12:39] hemraker opened #213 "404handler"
This needs documentation!

/Documentation/Reference/Config/404handlers/

[2015-08-24 12:43] hemraker opened #214 "Create applications.config documentation"
/Documentation/Reference/Config/applications/

[2015-08-24 12:56] hemraker opened #215 "Create dashboard.config documentation"
/Documentation/Reference/Config/dashboard/

[2015-08-24 12:58] hemraker opened #216 "Create embeddedMedia.config documentation"
/Documentation/Reference/Config/EmbeddedMedia/

[2015-08-24 13:18] hemraker opened #217 "Create ExamineIndex.config documentation"
/Documentation/Reference/Config/ExamineIndex/

[2015-08-24 13:20] hemraker opened #218 "Create fileSystemProviders.config documentation"
/Documentation/Reference/Config/fileSystemProviders/

[2015-08-24 13:22] hemraker opened #219 "Create trees.config documentation"
/Documentation/Reference/Config/trees/

[2015-08-24 13:24] hemraker opened #220 "Create UrlRewriting.config documentation"
/Documentation/Reference/Config/urlrewriting/

[2015-08-25 10:07] jgettrup opened #221 "Unusable desktop layout on Windows Phone"
When https://our.umbraco.org/documentation/ is viewed on a Windows Phone the desktop layout is shown instead of the responsive mobile layout. The desktop layout is unusable on a small screen because the meta viewport tag does not allow user scaling. Specifically, this issue is seen on a Nokia Lumia 710 running Windows Phone 7.8.

[2015-08-25 12:30] hemraker commented on #221
Are you only experiencing this on the documentation pages or is it a general problem with when browsing  our.umbraco.org?

[2015-08-25 13:44] jgettrup commented on #221
It's a general problem across our.umbraco.org, although other parts of the site cope a bit better. The home page, forum and download are fairly OK, mainly because they don't have a left hand nav, but none show the correct responsive mobile layout seen on the desktop when a browser window is shrunk down to phone size.

The main problems seem to be that the main menu is not collapsing, and the left

[2015-08-25 19:53] biapar opened #222 "How to about to contribute to Umbraco source code using GIT: example and images"
How to about to contribute to Umbraco source code using GIT: example and images

[2015-08-25 20:10] nul800sebastiaan commented on #222
It's on my list, a rough draft is here:
https://docs.google.com/document/d/17CMmioiFIBENoum7zcu77dzBqlN9tnxmpSJgU2tk_PI/edit?usp=sharing

[2015-08-26 06:05] singhgurbaj opened #225 "Umbraco upgrade"
hello.
i am new this umbraco. and want to upgrade umbraco 4.7 version to latest version.
but i want to download umbraco 4.7 application.
please send me link if anybody have link.

[2015-08-26 06:54] Shazwazza commented on #225
Hi, this is more of a question that you can post on the forum, not an issue with documentation: http://our.umbraco.org

The download page for Umbraco releases is: https://our.umbraco.org/download

To see all releases, click on the bottom link: https://our.umbraco.org/contribute/releases/

[2015-08-26 06:54] #225 closed

[2015-08-27 14:10] Shazwazza opened #228 "Duplicate docs - courier installation"
These are duplicated:

https://our.umbraco.org/Documentation/Products/UmbracoCourier/Architecture/Installation
https://our.umbraco.org/Documentation/Add-ons/UmbracoCourier/Architecture/Installation

https://our.umbraco.org/Documentation/Add-ons/UmbracoForms/Installation/
https://our.umbraco.org/Documentation/Products/UmbracoForms/Installation/

... probably others, would have to assume that those

[2015-09-01 06:45] hemraker commented on #203
Closed with 48caed6faa68744309a23d9d35e622ae7ba6aadd

[2015-09-01 06:45] #203 closed

[2015-09-01 07:03] hemraker opened #230 "Add documentation for tag support (creating property editors)"
The example for c# is very limited IMO and none exists for manifest (if this is possible)

https://our.umbraco.org/documentation/Extending/Property-Editors/tag-support
http://umbraco.github.io/Belle/#/tutorials/Tag-Enabled-Property-Editors

[2015-09-01 12:18] Aaen opened #231 "Broken sublinks in Routing section"
All sub links in the section about execute request https://our.umbraco.org/documentation/Implementation/Default-Routing/ are broken.

[2015-09-01 15:00] #231 closed

[2015-09-02 08:00] Shazwazza opened #232 "7.3 load balancing docs"

[2015-09-03 09:31] Aaen opened #234 "Update no nodes screenshot"
The no nodes screenshot needs to be updated to a screenshot from Umbraco 7 https://our.umbraco.org/documentation/tutorials/creating-basic-site/Getting-Started

[2015-09-03 10:13] Aaen commented on #234
I have just created a pull request for this one https://github.com/umbraco/UmbracoDocs/pull/235

[2015-09-03 10:33] #234 closed

[2015-09-03 15:54] shannonmckenzie opened #236 "broken link to tutorial-child-action#AccessingViewData"
https://our.umbraco.org/documentation/Reference/Mvc/forms/turorial-child-action#AccessingViewData

I found the link in this [post](https://our.umbraco.org/forum/developers/api-questions/41357-return-CurrentUmbracoPage-results-in-Error-loading-Partial-View-script#comment-151363)

[2015-09-04 11:06] Aaen opened #237 "Incorrect razor snippet in Umbraco Forms documentation"
There is some old DyamicNode, pre Umbraco 6.0.0 Razor exampe that needs to be updated.

https://our.umbraco.org/Documentation/Products/UmbracoForms/Developer/Working-With-Data/

[2015-09-04 11:12] Aaen commented on #237
I have just created a pull-request for this one https://github.com/umbraco/UmbracoDocs/pull/238

[2015-09-04 11:28] hemraker commented on #237
Fixed with 49c4cdc6dd6992359af8cc2688007db7211b2e30

[2015-09-04 11:28] #237 closed

[2015-09-07 20:41] Shazwazza opened #244 "Need to have the ability to link to headers in the article"
We basically need this functionality on GitHub:

![image](https://cloud.githubusercontent.com/assets/1742685/9722677/9b0c7a18-55b1-11e5-9f75-0c3f2597fe15.png)

[2015-09-08 08:23] Aaen opened #245 "Courier Architecture links"
All links under https://our.umbraco.org/documentation/Add-ons/UmbracoCourier/Architecture/Index/ is broken.

[2015-09-08 08:30] nul800sebastiaan commented on #245
How did you get to the link above @Aaen ? If you remove `/Index/` it all works, just curious how you got here.

The fix would be to automatically redirect anyone from `/Index` and `/Index/` to `/`

[2015-09-08 08:30] #245 closed

[2015-09-08 16:55] hemraker commented on #245
There was a link to `Architecture/Index.md` which when parsed became `Architecture/Index/`.

[2015-09-16 11:25] mlazovic opened #249 "Broken link on Back office controllers page"
Link that says "Controllers Documentation" leads to 404 page https://our.umbraco.org/documentation/Reference/Implementation/Controllers/

[2015-09-16 14:53] #249 closed

[2015-09-16 14:54] hemraker commented on #249
Thanks @mlazovic

[2015-09-29 12:42] hemraker opened #250 "Move section to troubleshooting"
Move debug section from https://our.umbraco.org/documentation/Umbraco-as-a-Service/Deployment/
to https://our.umbraco.org/documentation/Umbraco-as-a-Service/Troubleshooting/

[2015-10-01 09:18] hemraker opened #252 "UaaS open website in visualstudio"
Add documentation on opening a cloned UaaS project as a website in Visual Studio to
https://github.com/umbraco/UmbracoDocs/blob/master/Umbraco-as-a-Service/Set-Up/Visual-Studio/index.md

[2015-10-01 14:03] hemraker opened #253 "Document language files for packages"

[2015-10-05 09:12] Lachlann opened #254 "Missing documentation Creating Forms Based on Datasources"
as found here:
https://our.umbraco.org/Documentation/Add-ons/UmbracoForms/Editor/Creating-Forms-Based-on-Datasources

[2015-10-05 11:12] #252 closed

[2015-10-05 11:30] hemraker commented on #253
Closed with 37a53d671511c328854e45bbe57a9dec7b6a6790

[2015-10-05 11:53] Shazwazza commented on #253
Docs are still missing from this. The PR didn't include the ability to customize the distributed Core language files without modifying the Core files... this is a new feature in 7.3 as well. I'll re-open

[2015-10-05 11:54] perploug commented on #253
I kept it out of this as it does not apply to packages IMO

[2015-10-05 11:55] Shazwazza commented on #253
Ahh! :) yes fair point, i didn't read the title. @hemraker can we create another docs task for that ?

[2015-10-05 11:55] #253 closed

[2015-10-06 07:17] Aaen opened #255 "Gravatar image not used"
The gravatar image is not used on the profile page, on www.umbraco.tv/profile

[2015-10-06 07:21] Aaen opened #256 "Write documentation for ASP.NET Identity"
We need to add some documentation for the new ASP.NET Identity for Umbraco 7.3 http://issues.umbraco.org/issue/U4-4808

[2015-10-06 15:04] Shazwazza commented on #232
See PR #257

[2015-10-06 15:04] Shazwazza commented on #232
I'll close this issue since we can comment on the PR

[2015-10-06 15:04] #232 closed

[2015-10-13 07:52] nul800sebastiaan opened #258 "Document dynamic macro params"
Doctype value: `[#bodyText]`
Recursive doctype value `[$headerTitle]`
Request value `[@productId]`
Session value `[%memberId]`

[2015-10-13 08:06] Shazwazza commented on #258
Is this missing docs ?

[2015-10-13 08:06] nul800sebastiaan commented on #258
yes

[2015-10-13 08:08] Shazwazza commented on #258
:+1:

[2015-10-15 08:09] hemraker commented on #258
Should you be assigned to this @nul800sebastiaan ?

[2015-10-23 08:55] hemraker opened #261 "TV: Profile URL is not working"
Users have the ability to create public profiles but it just returns a 404

[2015-10-23 08:59] #261 closed

[2015-10-26 08:01] simonbusborg opened #264 "Clicking on 'Coming soon' documentation takes one to a 404"
When clicking on `Packaging` on https://our.umbraco.org/documentation/Extending/,  it will return a 404 since it's still a link despite not existing yet.

[2015-11-08 20:19] blueboxes opened #271 "Broken Edit Link"
https://our.umbraco.org/documentation/reference/using-ioc

This has a broken edit link but no idea where to fix it with pull request?

[2015-11-09 09:13] Shazwazza commented on #271
@hemraker pretty sure he means this broken link: https://our.umbraco.org/documentation/reference/custom-controllers

[2015-11-10 07:56] blueboxes commented on #271
I was meaning if you click the ocotkitty edit link in the top right of https://our.umbraco.org/documentation/reference/using-ioc it directs you to https://github.com/umbraco/UmbracoDocs/blob/master/reference/using-ioc.md which is not correct you get a github 404

[2015-11-13 12:04] AnassL opened #274 "Missing ressource for the Tutorial : Creating a property editor"
I am following the tutorial [here!](https://our.umbraco.org/documentation/Tutorials/Creating-a-Property-Editor/) but found no markdown.css file sample in the tutorial. Is there any code source for this tutorial to compare with the found results ?

[2015-11-19 19:47] ed-parry commented on #271
It looks like this issue is relating to umbraco.org URL. If "reference" has a capital R, the link works fine (I guess it is pulled into the github.com URL through the Edit button?). But if the link has a lowercase R (as in @blueboxes comments), then it pulls that through into the GitHub URL which is case sensitive and is therefore a broken link.

[2015-11-19 19:52] ed-parry commented on #271
A quick look at the source suggests this [file](https://github.com/umbraco/OurUmbraco/blob/master/OurUmbraco.Site/Views/MacroPartials/Documenation/Breadcrumb.cshtml) is where the fix is required?

[2015-11-19 20:36] ed-parry commented on #271
Made a [pull request](https://github.com/umbraco/OurUmbraco/pull/82) to hopefully resolve this issue.

[2015-11-23 08:41] hemraker commented on #256
Closed with 219ab51ff86f497c495e4b25d2a2c2f48c7b3f87

[2015-11-23 08:41] #256 closed

[2015-11-23 08:43] hemraker commented on #271
Awesome, thanks a bunch! Will test :)

[2015-11-23 09:45] hemraker opened #280 "Migrate umbraco.library from wiki to docs"
Wiki page can be found here https://our.umbraco.org/wiki/reference/umbracolibrary/

New umbraco.library docs should be available here https://our.umbraco.org/documentation/Reference/Templating/Macros/Xslt/UmbracoLibrary/
and redirect from documentation/reference/api/umbracolibrary should be updated to reflect this

Work will be done in this branch https://github.com/umbraco/UmbracoDocs/tree/Umbrac

[2015-11-23 10:28] hemraker commented on #280
@greystate Initial commit 1d38e880f69932c3f6108c84199f98fe71a644ff

[2015-11-23 10:34] greystate commented on #280
Cüül! :metal:

[2015-11-26 01:35] jenistonj opened #281 "Missing - Creating Forms Based On Datasources documentation"
Broken link at
https://our.umbraco.org/documentation/Add-ons/UmbracoForms/Editor/Creating-Forms-Based-on-Datasources

[2015-11-30 08:13] hemraker commented on #274
Right we need to update the tutorial with some up to date assets.

Thanks for raising the issue!!

[2015-11-30 08:18] hemraker commented on #281
Datasources has been added in this pull-request https://github.com/umbraco/UmbracoDocs/pull/181, needs to be updated and added to new docs structure though.

[2015-12-01 13:35] nul800sebastiaan opened #284 "Document how to connect to sql azure databases on UaaS"
Specifically that you need to go into options and specify the database name:

![image](https://cloud.githubusercontent.com/assets/304656/11502022/b2584fde-9838-11e5-8a15-37a8558dde77.png)

[2015-12-07 09:31] Aaen opened #288 "Broken link to old documentation"
On this page https://our.umbraco.org/documentation/Legacy the link to the old documentation on GitHub gives a 404 not found

[2015-12-07 10:52] hemraker opened #289 "Remove products folder"
Remove the "Products" folder and add redirects to "Add-ons"

[2015-12-07 19:04] Aaen commented on #288
I have change the link, I forgot to make it on my fork version of this repo, will remember next time.

https://github.com/umbraco/UmbracoDocs/commit/1fe90e5190bf8a79503ba07fbf78f5eb3c4a5de0

[2015-12-07 21:22] greystate commented on #280
I think it should be enough with a single Index.md file in that folder, documenting the various extensions. It should only serve as a reference for those who've got their hands on an older solution built with XSLT, that they need to do some reference lookups for.

So if it's modeled like the UmbracoHelper page it should be easy to follow, I guess?

[2015-12-09 19:14] hemraker commented on #280
Could do that, although some of the examples are quite extensive and it would require a lot of scrolling. Also it shouldn't be for reference for  old versions (that's what the wiki is for) instead correct docs on using Umbraco.Library today.

[2015-12-09 19:30] #288 closed

[2015-12-09 19:43] greystate commented on #280
Sounds great - I'll proceed as planned :-)

[2015-12-11 22:48] greystate commented on #280
This just to let @hemraker know that there's progress here :)

[Here's a comparison][COMPARE] - and you can [browse them here][BROWSE] and see if this is the way to proceed...

[COMPARE]: https://github.com/umbraco/UmbracoDocs/compare/UmbracoLibrary...greystate:UmbracoLibrary

[BROWSE]: https://github.com/greystate/Umbraco4Docs/blob/UmbracoLibrary/Reference/Templating/Macros/Xslt/UmbracoLibrary/in

[2015-12-23 22:13] Nicholas-Westby commented on #194
Just an FYI to anybody who comes across this that some of the documentation appears to have been added now: https://our.umbraco.org/documentation/Extending/Language-Files/Language-Files-For-Packages/

[2015-12-31 03:52] MikeNH opened #294 "Documentation: Broken Link to Backoffice Dashboard"
https://our.umbraco.org/documentation/Getting-Started/Backoffice/Extending/Dashboards

Thanks
Mike

[2016-01-01 12:35] #294 closed

[2016-01-01 12:36] hemraker commented on #294
Thanks reporting!

[2016-01-01 15:54] MikeNH commented on #294
Thanks for the prompt response.

[2016-01-06 07:06] hemraker opened #295 "Update Image Cropper docs to use UrlHelper"

[2016-01-06 07:33] hemraker commented on #295
Ref https://github.com/umbraco/UmbracoDocs/pull/262

[2016-01-12 21:22] Aaen opened #296 "Broken link to to Umbraco TV video"
There is a broken link on the bottom of this page https://our.umbraco.org/documentation/Reference/Searching/Examine/overview-explanation to a Umbraco TV video.

The broken link is http://umbraco.com/help-and-support/video-tutorials/developing-with-umbraco/examine.aspx it´s link to the old video place

[2016-01-18 19:33] Jeavon commented on #295
See #299

[2016-01-21 23:30] mohsinkhan13 opened #300 "Broken link to Creating Forms Based on Datasources"
Our Documentation ->  Products -> UmbracoForms -> Editor -> Creating Forms Based on Datasources

[2016-01-29 15:55] jamescoxhead opened #304 "Broken links on property value converters documentation"
There's a couple of broken links at under the Samples on the [Property Value Converters](https://our.umbraco.org/documentation/Extending/Property-Editors/value-converters) page.

It looks like the correct pages are https://our.umbraco.org/Documentation/Extending/Property-Editors/value-converters-full-example-attributes and https://our.umbraco.org/Documentation/Extending/Property-Editors/value-conv

[2016-01-29 16:00] Jeavon commented on #304
Thanks I have fixed those links in the source md file, so Our should be fixed with next update

[2016-01-29 16:00] #304 closed

[2016-01-31 12:40] Aaen opened #305 "Download link to GitExtenstions is wrong"
Dowoload link to GitExtensions is broken on this page https://our.umbraco.org/documentation/Umbraco-as-a-Service/Set-Up/Working-Locally/

[2016-02-02 13:44] #305 closed

[2016-02-03 16:12] rolorogan opened #308 "Broken Link - documentation/Add-ons/UmbracoForms/Installation/license"
Broken link - https://our.umbraco.org/documentation/Add-ons/UmbracoForms/Installation/license

Umbraco Forms installation docs (Configuring a license) - https://our.umbraco.org/documentation/Add-ons/UmbracoForms/Installation/

[2016-02-15 11:28] manjugi opened #311 "Help page to Creating-Forms-Based-on-Datasources is not accessable"
Not able to access the below url

https://our.umbraco.org/documentation/Add-ons/UmbracoForms/Editor/Creating-Forms-Based-on-Datasources

[2016-02-15 13:03] #308 closed

[2016-02-15 13:04] hemraker commented on #308
Thanks for reporting :)

[2016-02-15 13:17] #295 closed

[2016-02-15 13:40] #264 closed

[2016-03-02 20:50] mattkemp opened #314 "Add asp to disallowedUploadFiles"
After a penetration test on Umbraco version 7.4.0 assembly: 1.0.5885.31226 they found they could upload an asp file and execute it. Seems like a pretty simple change to add it to the default list of disallowed upload files in umbracoSettings.config

[2016-03-02 20:52] mattkemp commented on #314
sorry wrong place for this

[2016-03-02 20:52] #314 closed

[2016-03-02 21:17] hemraker commented on #314
http://issues.umbraco.org/ is the place for that :smiley: but thanks for reporting!!!

[2016-04-06 15:42] KevinJump opened #316 "Content Type Property Conventions"
There doesn't appear to be anything in the documentation about the 'preset' umbraco properties that do special things.

e.g.
- umbracoNaviHide
- umbracoUrlAlias
  (see https://github.com/umbraco/Umbraco-CMS/blob/75c2b07ad3a093b5b65b6ebd45697687c062f62a/src/Umbraco.Core/Constants-Conventions.cs#L47)

quite happy to put something in the documentation not 100% sure where it would live?

maybe as a ch

[2016-04-07 12:58] Shazwazza opened #317 "Need to document how to implement OAuth providers"

[2016-04-13 12:27] xtrasmal opened #319 "Umbraco End of life?"
Is Umbraco still in development or what? The documentation feels like there is no love for the product. There is massive cognitive load and not enough info.

Really makes us wonder if Umbraco is something we can trust.  So is Umbraco still being loved or is it just a milking cow that is about to die.

[2016-04-13 12:37] dampee commented on #319
The documentation has had an insane rework last year by @hemraker. And it keeps on growing on a steady pace.  All information can be found in either the forums where lots of community members are willing to help you.
Umbraco HQ is a company employing real (and intelligent) people, providing paid support if you want to.  Umbraco is running websites like www.asp.net among [almost 350k installs](http

[2016-04-13 12:59] nul800sebastiaan commented on #319
Umbraco is alive and kicking! We release a new and improved version every months and see about a 1000 installs every day. Many large corporations trust Umbraco (recent examples that come to mind: the NFL, Carlsberg and Red Bull).

If you are just getting started then our self-paced learning platform, Umbraco TV might be for you. Subscribe for tutorials and "how-to" videos http://umbraco.tv/

If yo

[2016-04-13 12:59] #319 closed

[2016-04-13 13:14] coding3d commented on #319
Many years ago, when I first discovered Umbraco I couldn't understand much from its documentation either (I haven't checked it out lately). But Umbraco TV + experimentation was, and I guess still is, the quick & fun way to go, thanks to its intuitive interface & API.

[2016-04-13 19:47] alindgren commented on #319
Also check out the training available: http://umbraco.com/products/training/schedule

I always wish documentation was better but it has improved quite a lot over the last year.

[2016-04-24 13:58] xtrasmal commented on #319
@dampee Did not know that. Still there are metric tons of info that could be added.

@nul800sebastiaan Thanks. I hope that the documentation keeps improving. Right now, it feels like it's been neglected. Umbraco TV sounds nice, but it should be in the documentation first. The documentation needs 1000+ more pages or so. And more coherency. It makes Umbraco feel like a dead unloved project.

If a 14

[2016-04-24 19:34] dampee commented on #319
@xtrasmal You know you are using open source.  Don't hestiate to improve documentation, or ask for help with topic you feel that are missing.

What specific topic are missing according to you?

[2016-04-24 19:39] coding3d commented on #319
@xtrasmal I get what you're saying. I know it's a very weird way to learn it but it worked for me. I had never learned anything this way before I came across Umbraco, neither have I had the opportunity to repeat the experience with another product, not successfully at least. But strangely enough, with Umbraco, it just works...

[2016-05-02 11:34] Shazwazza opened #323 "Document how cache refreshers work (ICacheRefresher)"

[2016-05-02 11:34] Shazwazza opened #324 "Document how cache refresher events work (CacheRefresherBase<PageCacheRefresher>.CacheUpdated)"

[2016-05-06 20:42] Aaen opened #328 "Mssing Documentation about DateTime property editor"
I have added documentation for the DateTime property editor

https://github.com/umbraco/UmbracoDocs/pull/327

[2016-05-06 21:08] Aaen opened #330 "Missing Documentation about DateTime with time property editor"
I have added documentation for the DateTime with time property editor

https://github.com/umbraco/UmbracoDocs/pull/329

[2016-05-07 11:54] Aaen opened #332 "Missing Documentation about Member picker property editor"
I have added the documentation for member picker property editor with this PR https://github.com/umbraco/UmbracoDocs/pull/331

[2016-05-07 13:42] Aaen opened #334 "Missing Documentation for the textbox property editor"
Hi have created a PR for this documentation https://github.com/umbraco/UmbracoDocs/pull/333/

[2016-05-12 08:38] Shazwazza opened #336 "Building a form with a GET action"
Need to document there various ways this can be achieved

[2016-05-12 08:53] Shazwazza opened #337 "Custom controllers docs needs to remove the part about "In the near future we will allow setting a custom default controller""
This part "In the near future we will allow setting a custom default controller..." needs to be removed from https://our.umbraco.org/Documentation/Reference/Routing/custom-controllers because it's actually implemented and documented.

[2016-05-20 07:10] LUS1N opened #338 "Search query with unexpected characters throws an error"
https://our.umbraco.org/search?q=site()&cat=documentation

[2016-05-20 07:26] Shazwazza commented on #338
This issue is best logged on the Our issue tracker here: http://issues.umbraco.org/issues/OUR
thanks!

[2016-05-20 07:26] #338 closed

[2016-05-20 07:27] Shazwazza commented on #338
More or less the same issue logged: http://issues.umbraco.org/issue/OUR-395

[2016-05-20 18:35] Aaen opened #340 "Added customzie form documentation for Umbraco Forms"
I have added a section to the documentation for Umbraco Forms on how to customize for a specific form

[2016-05-20 18:45] Aaen commented on #340
I have created a pull-request for this https://github.com/umbraco/UmbracoDocs/pull/341

[2016-05-23 16:40] glcheetham opened #342 "Docs on implementing IOC unclear"
https://our.umbraco.org/documentation/reference/using-ioc

I found the documentation page on implementing IOC unclear, they don't specify that the given examples will not compile without a reference to the [Autofac MVC package](http://docs.autofac.org/en/latest/integration/mvc.html) alongside the mentioned container Autofac. (For `ContainerBuilder.RegisterControllers` and `AutofacDependencyResolve

[2016-05-24 10:26] glcheetham commented on #342
Also, I've found that using `System.Web.Mvc.DependencyResolver.SetResolver(new AutofacDependencyResolver(container));` makes my dependencies resolve but breaks the Umbraco backoffice (7.4.3)

Here's a stack trace from the backoffice:
[code]

[2016-05-24 11:58] Shazwazza commented on #342
Hi, @clausjensen has been working on getting these updated, sorry for the out-dated docs, we'll try to get this updated as soon as possible. Quite a lot of developers are using Autofac so would be worth searching or asking on the forum for advice: http://our.umbraco.org

[2016-05-24 13:23] glcheetham commented on #342
Thanks for the update. I'd love to help out, I feel quite strongly about dependency injection and IOC. I'll send a PR over and reference this issue when I get time to share what I've learned experimenting with DI in Umbraco.

[2016-05-24 13:39] clausjensen commented on #342
@glcheetham check your twitter ;)

[2016-05-24 13:53] glcheetham commented on #342
@clausjensen Thanks a bunch. So I can refer back to this issue in the future, [your gist](https://gist.github.com/clausjensen/f664669c0fe2b99a6f37224a52562df1) was just what I needed. I was struggling to figure out which of Umbraco's types I needed to register with Autofac to get the backoffice working again.

[2016-05-26 15:14] rolorogan opened #345 "our.umbraco.org search - Server error when you input brackets"
When you input brackets into a search query a server error appears.

e.g. - () [] {}

Thanks

[2016-05-26 15:17] nul800sebastiaan commented on #345
Yup, thanks, we're aware! http://issues.umbraco.org/issue/OUR-395

[2016-05-26 15:17] #345 closed

[2016-06-06 10:28] warrenbuckley opened #348 "Debugging & MiniProfiler"
I always forget what debug configuration needs to be to show MiniProfiler as the debug querystring has evolved through the years of Umbraco and always involves me trying a various combinations be nice to have this documented and saving me my guess work :)

[2016-06-06 10:33] nul800sebastiaan commented on #348
Also document how to add to the profiler:
[code]
Replace `MyType` with the class you're adding profiling to so you can figure out in the mini profiler overview where the message came from.

[2016-07-07 11:05] Shazwazza opened #358 "Flexible Load Balancing docs for dealing with Media"
We don't have docs about how to deal with media files with Flexible Load Balancing and the different hosting environments.

[2016-07-10 14:08] hemraker commented on #332
Closed #331

[2016-07-10 14:08] #332 closed

[2016-07-10 14:10] hemraker commented on #334
Closed #333

[2016-07-10 14:10] #334 closed

[2016-07-10 14:11] hemraker commented on #330
Closed #329

[2016-07-10 14:11] #330 closed

[2016-07-10 14:11] hemraker commented on #328
Closed #327

[2016-07-10 14:11] #328 closed

[2016-07-10 14:13] hemraker commented on #134
Fixed

[2016-07-10 14:13] #134 closed

[2016-07-11 07:51] Shazwazza opened #359 "DatabaseServerMessengerOptions needs docs to show how to configure options on startup"
During startup the `DatabaseServerMessengerOptions` can be tweaked to control how often the load balancing instructions from the database are processed and pruned.

[2016-07-13 10:58] warrenbuckley commented on #201
Updated & in this PR here - https://github.com/umbraco/UmbracoDocs/pull/362

[2016-08-02 02:29] Myster opened #366 "Add info on what to include in source control"
What should always be in source control
What should never be in source control
What may or may not be in source control depending on your work-flow.

A discussion I started about this is here: https://our.umbraco.org/forum/using-umbraco-and-getting-started/78957-what-should-i-commit-in-the-umbraco-folder

I nearly just submitted a PR, but I wasn't sure where to put it, perhaps if a stub were creat

[2016-08-09 08:31] Shazwazza opened #368 "Document the new 301 URL tracker in 7.5"
Need docs on how this works and using the dashboard to modify entries.

[2016-08-11 08:11] nul800sebastiaan opened #369 "Document U4-8532 No built in Active Directory authentication in Umbraco 7.3+"
Document how this works based on http://issues.umbraco.org/issue/U4-8532

[2016-08-19 07:54] Aaen opened #371 "404 Umbraco Forms documentation about configure license"
I think there is no documentation written on this. If there is then we need to fix the link.

https://our.umbraco.org/documentation/Add-ons/UmbracoForms/Installation/license

[2016-08-19 07:57] warrenbuckley commented on #371
Not that I am aware of @Aaen
Perhaps based off conversations with customers regarding this topic from support tickets etc that you may be able to put something together please. If not I will need to find time & schedule it in for next sprint or something to do a docs review etc.

[2016-09-19 16:59] Jeavon commented on #359
I can write this, but do you know a use case?

As far as I can tell sample code would be like this:

	namespace BearTheLoad.Logic.ServerRegistrars
	{
		using Umbraco.Core.Sync;

		public class BearTheLoadDatabaseServerMessengerOptions : DatabaseServerMessengerOptions
		{
			public BearTheLoadDatabaseServerMessengerOptions()
			{
				DaysToRetainInstructions = 2; // 2 days
				ThrottleSeconds = 5;

[2016-09-19 18:35] Shazwazza commented on #359
You don't need to subclass the options, just set the properties when you create the options.

If people don't want it checking instructions so often they could adjust here, i guess it depends on how much the site is serving and how often things are being published.

[2016-09-19 18:37] Shazwazza commented on #359
Or maybe you know you take servers offline for a few days, I'm which case you'd want to retain instructions longer.

Lastly, maybe you want to cold boot with less pending Max instructions

Really depends on what your site is doing i guess.

[2016-09-20 08:16] Jeavon commented on #359
Cool, I'll write it up.

Code sample something like this then:

	ServerMessengerResolver.Current.SetServerMessenger(
		new DatabaseServerMessenger(
			applicationContext,
			true,
			new DatabaseServerMessengerOptions() {
				DaysToRetainInstructions = 2, // 2 days
				ThrottleSeconds = 5, // 5 second
				MaxProcessingInstructionCount = 1000,
				PruneThrottleSeconds = 60 // 1 minute
			}
		)
	);

[2016-09-20 17:45] Aaen opened #378 "Added documentation for using keyboard shortcuts in the document type editor"
https://github.com/umbraco/UmbracoDocs/pull/377

[2016-10-07 20:40] paulsterling commented on #348
Wouldn't the correct code need to include "UmbracoContext.Current"
[code]

[2016-10-11 08:17] dangvantanh opened #381 "Umbraco has always unavailable"
Hi Team,

we has been used umbraco CMS and built some website large for clients. but we have some problem with caching, examine-index and The IIS has always unavailable or out of memory. Please help me recommend configuration for website with big data.

Also, media in Backoffice is slowly. please help me how are improvement ?.

Our server configuration information below

Web server IIS7
.Net frame

[2016-10-11 08:20] Shazwazza commented on #381
Hi, please post Umbraco questions on the forum where the community will be able to assist you:  https://our.umbraco.org

[2016-10-11 08:20] #381 closed

[2016-10-11 08:22] Shazwazza commented on #348
@paulsterling that's if you are relying on Singletons which you shouldn't. We expose all of these services as properties on all of our base classes (controllers, views, etc...) so you should never use singletons when you don't absolutely need them.

That said, there's no reason to use `UmbracoContext.Application.ProfilingLogger;` when the ApplicationContext is exposed directly on everything: `Appl

[2016-10-20 10:10] simonech commented on #218
I'll give it a go :)

[2016-10-20 11:11] hemraker commented on #218
That, my friend, is awesome!!! Let us know if you need anything 😄

[2016-10-20 11:30] simonech commented on #218
I've been playing with these settings and I found a weird problem, but I'm
already discussing with Shannon about it
basically, configuration change affects only media files saved after. All
old files are still at the original url, even if you move them manually to
the new path

On Thu, Oct 20, 2016 at 1:11 PM, Rune Hem Strand <notifications@github.com>
wrote:

--
Simone Chiaretta
Microsoft MVP ASP

[2016-10-20 12:43] simonech commented on #218
In case you are interested this is the problem:
https://our.umbraco.org/forum/using-umbraco-and-getting-started/80802-moving-the-media-folder-to-a-different-location

[2016-10-21 09:40] simonech commented on #218
Updated the PR... should be good to merge now

[2016-10-25 18:31] simonech commented on #218
Problem solved :)
I'll update the PR
Simo

Sent from my iPhone

[2016-10-27 07:24] simonech commented on #218
Hi, I noticed a problem with the formatting.
I updated the page again, sent PR #385

[2016-11-03 12:47] hemraker commented on #378
Closed in #377

[2016-11-03 12:47] #378 closed

[2016-12-20 17:32] deliberaligiacomo opened #408 "Umbraco.Tags cannot be deleted"
I have a DataType called `Multi language Tags` that is a `Vorto` property based on `Umbraco.Tags`.

Once I have added a tag, I can't remove it. If I click in the cross to delete it, nothing happens. Any ideas?

<img width="235" alt="screen shot 2016-12-20 at 18 31 20" src="https://cloud.githubusercontent.com/assets/4717227/21361035/996982fc-c6e2-11e6-9736-4bc7cfec230c.png">

[2017-01-03 10:04] ZNS commented on #324
Googled CacheRefresherBase and the first thing I found was this. I'd really like to see some docs on this :)

[2017-01-12 10:15] hemraker commented on #408
Hi @deliberaligiacomo this is the repository for the Umbraco documentation. Might be a good idea to post the issue on the [umbraco forum](https://our.umbraco.org/forum/), since you are using the Vorto package it might be a good idea to post it to the Vorto forum. You can find that at the bottom of the [Vorto project page](https://our.umbraco.org/projects/backoffice-extensions/vorto/)

Hope that ma

[2017-01-12 10:15] #408 closed

[2017-01-15 11:37] Aaen opened #417 "Missing documentation for browse API documentation for SectionService"
https://our.umbraco.org/documentation/Reference/Management/Services/SectionService

[2017-01-17 15:32] mitchstewart opened #421 "Broken Link to Configuring Courier Page"
If you click the Configuring Courier link on page https://our.umbraco.org/documentation/products/umbracocourier/Architecture/Index/, the link directs to Architecture/Index/Configuration when it needs to direct to Architecture/Configuration.

[2017-01-17 15:34] mitchstewart commented on #421
Actually, all of the links on the above page are broken.

[2017-01-18 14:31] biapar commented on #369
Better documentation on OAuth or AD authentication for members or backoffice user.

[2017-01-18 14:31] biapar opened #422 "Security Doc: Better documentation on OAuth or AD authentication for members or backoffice user."
Better documentation on how to configure OAuth or AD authentication for members or backoffice user.

[2017-01-25 04:53] harsheet opened #423 "Forms with datasource - Broken link"
The link https://our.umbraco.org/documentation/products/umbracoforms/editor/Creating-Forms-Based-on-Datasources

is not working.

Please have a look at this.

Thanks

[2017-01-28 20:24] ruskom opened #424 "Umbraco Forms developer documentation outdated"
The documentation on the "[Adding a workflow type to Umbraco Forms](https://github.com/umbraco/UmbracoDocs/blob/0e4cc817fab303f5e867aba4cfe289c943491ace/Add-ons/UmbracoForms/Developer/Extending/Adding-a-Workflowtype.md)" page is outdated and not working as it is described there.

Could you please update it.

[2017-02-08 09:09] Shazwazza opened #426 "Need to document all of the logging types in Umbraco, how they work and configuration"
* document that we use log4net and it's config for diagnostic logging
* our `ILogger` interface
* our `ProfilingLogger` class and what it does and the timing output it creates in both logs and miniprofiler
* the audit trail, how it works, where it's stored

[2017-02-20 12:14] Aaen commented on #371
Fixed

[2017-02-20 12:14] #371 closed

[2017-02-20 12:17] hemraker commented on #371
🎉

[2017-02-21 00:33] robinnicholl opened #430 "Broken link: Creating Forms Based on Datasources"
https://our.umbraco.org/documentation/products/umbracoforms/Editor/Creating-Forms-Based-on-Datasources/

[2017-03-02 18:38] jfsaliba opened #433 "Most documentation pages giving "Oooops" message"
Looks like most of the Documentation pages are giving Oooops message (see image). Images are also returning 404. Example:

https://our.umbraco.org/documentation/Reference/Querying/IPublishedContent

Something not working quite right at the moment?

![umbracodocs](https://cloud.githubusercontent.com/assets/395902/23521501/252812e8-ff34-11e6-90cd-a880fe7f321f.PNG)

[2017-03-02 20:07] tappiorg commented on #433
Happening to me as well. All documentation pages.

[2017-03-03 06:34] jfsaliba commented on #433
Docs are working again, dunno what was wrong but it's fixed now. :)

[2017-03-03 06:34] #433 closed

[2017-03-23 14:15] KirschnerMatt commented on #423
This is still broken. How, exactly, do I use datasources?

[2017-04-04 02:52] alirobe opened #443 "Broken: all links for Courier Architecture"
All header links are broken @ https://our.umbraco.org/documentation/products/umbracocourier/Architecture/Index/

'index' seems as though it should not be created as a folder.

Also, the "github edit" button is broken.

[2017-04-10 22:18] melihs opened #444 "Broken link: Creating Forms Based on Datasources web page is still not open!"
[page link](https://our.umbraco.org/Documentation/Products/UmbracoForms/Editor/Creating-Forms-Based-on-Datasources)

[2017-04-19 08:44] Jeavon opened #447 "Port docs from Property Value Converters project for Umbraco v7.6"
Docs from https://github.com/Jeavon/Umbraco-Core-Property-Value-Converters/tree/v3/Docs need porting over for v7.6

[2017-06-12 22:44] dampee commented on #208
Question about [DistributedCacheExtensions](https://github.com/umbraco/Umbraco-CMS/blob/47dbb648fb38fce6b65fb4af3dd7a31033ec574a/src/Umbraco.Web/Cache/DistributedCacheExtensions.cs).

That is a internal class, why would that be necessary to explain in the documentation?
Or is it the intention to make this class public to the big cruel world?

[2017-06-12 22:50] dampee commented on #208
Also:
I can't find `DistributedCache.CacheChanged`.  I guess this does not exists anymore.
Same for `DistributedCache.Current`, only `.Instance` is there.  I guess .Current is old stuff?

[2017-06-21 09:53] #447 closed

[2017-07-11 15:13] abjerner opened #501 "No documentation for ignoring Angular HTTP errors"
UmbracoCms has an interceptor hooked into the `$http` Angular service, and will trigger an error message if a request responds with a 404 error code.

It _is_ possible to tell Umbraco to ignore these errors - either by specifying the `x-umb-ignore-error` request header or the `umbIgnoreErrors` config option. But as far as I can tell, neither of these are mentioned anywhere in the documentation.

I

[2017-07-24 08:18] jamieomaguire opened #505 "Querying link broken"
Clicking on the querying link on the documentation leads to a broken page.

https://our.umbraco.org/documentation/Reference/Templating/querying

[2017-07-24 09:52] hemraker commented on #505
Hi Jamie, thanks for raising the issue. I'm going to need a little bit more info. Where do you find a link with the above url?

All the best
Rune

[2017-07-24 19:16] jamieomaguire commented on #505
Hi Rune,

My bad, I thought I had linked the page where I found the issue – here it is:

https://our.umbraco.org/documentation/Getting-Started/Design/Templates/basic-razor-syntax

At the bottom of the page there is a link to Querying. That’s the incorrect link.

All the best,
Jamie
From: Rune Hem Strand
Sent: 24 July 2017 10:52
To: umbraco/UmbracoDocs
Cc: Jamie Maguire; Author
Subject: Re: [umbrac

[2017-07-28 09:38] hemraker commented on #505
Great, it all makes sense now 😄 Fixed with 83733d226c2315cf00e440c5f441ee8bbac61707
Thanks a bunch!

[2017-07-28 09:38] #505 closed

[2017-07-29 16:38] gunnim opened #509 "Permissions for static files"
The permissions page lacks documentation for serving up media with imageprocessor or for handling static files:
https://github.com/umbraco/UmbracoDocs/blob/master/Getting-Started/Setup/Install/permissions.md

If you intend to serve css and js as static files without the ClientDependency package you need to give IUSR read and execute permissions to those folders.
For images served through imageProc

[2017-07-29 16:42] gunnim commented on #509
I'm also not sure that this section is at all visible from the documentation navigation tree?
I think i found it through google.

Might also make sense to update this sentence:
The user with the permissions set are the user used by the Application Pool used by the IIS website (usually Network Service or the IIS_IUSRS group)
Since IIS by default creates a new application pool for each site, meaning

[2017-08-25 11:09] Aaen opened #517 "Add documentation about which values that we force in webconfig transforms"

[2017-08-25 15:18] greystate opened #518 "A Question of Image Sizes"
In the README for this repo it's stated that [Images can have a maximum width of **800px**.](https://github.com/umbraco/UmbracoDocs/blob/master/README.md#images) — is this still the case, or are they being "sensibly" sized?

Also, related: Should they really be retina-ready versions?

/cc @hemraker

[2017-08-27 19:42] CyrilStreit commented on #517
Rechtliche

[2017-09-12 11:16] hemraker opened #526 "Add docs on how to deploy bugfix on Umbraco Cloud with pending changes between environments"
It can in some cases be necessary to deploy a bugfix to a Live site. On projects with multiple environments this should normally be done through the portal. However there might be pending changes between environments that are not ready for deployment yet, so a step by step guide on how to do this is warranted.

[2017-10-03 14:10] gijsstegehuis opened #549 "Umbraco 7.7 AddSectionToAllUsers method in UserService removed?"
`AddSectionToAllUsers` seems to be removed from `UserService` since Umbraco 7.7
Whats the equivalent for this method in 7.7?

[2017-10-03 14:38] liamlaverty commented on #549
Can't find the equivalent anymore, but you can use this to achieve the same thing

    public bool UpdateUserSections(string sectionAlias)
        {
            try
            {
                var userService = Services.UserService;

                int myTotalRecords = 0;
                //if you've got more than 100 users then you'll need to page these
                var users = userService.G

[2017-10-03 22:47] Shazwazza commented on #549
In 7.7 a User Group determines section access so you can just update the User Group that you want to add sections to

[2017-10-03 22:47] #549 closed

[2017-10-17 16:34] Aaen opened #563 "Document what roles do in the Umbraco Cloud portal"
I will be great to some documentation about what you can do with read/write and admin rights when you are added to a project in the portal.

[2017-10-23 00:45] skartknet opened #565 "Broken Custom Controllers docs"
The page related to Custom Controllers is broken:
https://our.umbraco.org/Documentation/Reference/Routing/custom-controllers

[2017-10-23 03:01] Shazwazza commented on #565
I think all pages were broken, they are fixed now

[2017-10-23 03:01] #565 closed

[2017-10-30 09:19] sofietoft commented on #563
https://our.umbraco.org/documentation/Umbraco-Cloud/Set-Up/Team-Members/

[2017-10-30 09:19] #563 closed

[2017-11-03 23:29] greystate commented on #526
Truth! 👍

[2017-11-03 23:34] greystate commented on #316
This page mentions a couple of them:

https://our.umbraco.org/Documentation/Reference/Routing/routing-properties

[2017-11-14 10:28] khoatruongquocanh opened #579 "Oooops, something broke.."
Hi
When I go to the link below or all link on our.umbraco.org.
https://our.umbraco.org/documentation/getting-started

Oooops, something broke..
Looks like you ran into a broken link. We really want to fix it but we need to know about it first. You can let us know by creating an issue on Github.

The Umbraco documentation is open source so you can also help us make the documentation better by creat

[2017-12-07 22:45] greystate commented on #526
I have done this horribly wrong more than once and paid for it for weeks thereafter :) Do you have any rough guides/steps? I'd be happy to test and write up the process with git commands/invocations/glögg and what have you :laughing:

[2017-12-13 16:11] rolorogan opened #598 "Oooops, something broke.. appears within documentation search results"
The broken link page appears in the documentation search results (https://our.umbraco.org/documentation/). e.g. search for "link"

This appears in the resultss - https://our.umbraco.org/Documentation/broken-link

[2017-12-15 16:04] sussexrick opened #600 "Document Umbraco Forms options"
On this page: https://our.umbraco.org/documentation/Add-ons/UmbracoForms/Developer/Configuration/

1. The configuration values need to be documented.
2. The documentation for `EnableAntiForgeryToken` says it's not there by default but, in Forms 6.0.5, it is. I can't update the doc as I don't know at what point that changed.

[2018-01-09 07:54] Frost117 opened #606 "The documentation on Custom HTML markup is behaving strangely."
In the Forms documentation, under the Developer section, the Custom HTML Email is behaving very odd.
It is has closed brackets seeming randomly all over, but taking a closer look, it looks like it has not been implemented correctly.

[2018-01-09 09:16] Frost117 commented on #606
https://our.umbraco.org/documentation/Add-ons/UmbracoForms/Developer/Email-Templates/

[2018-01-09 14:34] umbracowulser opened #608 "Missing an "a""
In the section: https://our.umbraco.org/documentation/Tutorials/ the name: "Creating Basic Site" should have and "a" in it so it ends up being named: "Creating a Basic Site".

[2018-01-13 13:28] #606 closed

[2018-01-14 08:11] Al-Sharif commented on #408
Hi all, in umbraco.controllers.js:15533
`if (!$scope.model.config.storageType || $scope.model.config.storageType !== 'Json')` this condition related for each array of tags in one post.
I've changed `Json` to `Csv` while VortoTags returning json and **solved** for me.

but i need to know if there's any risk for this change? and how can change storageType for this dataType?

[2018-01-15 14:08] sofietoft commented on #115
Hi there,
Thank you so much for submitting this request! 😁

As it's quite old by now, I'm gonna close down the request.
I realize we haven't yet implementing a _last updated date_, but it'd definitely be a great thing to have!
I'll make sure to have a new request for this made up, in the near future!

- Sofie

[2018-01-15 14:08] #115 closed

[2018-01-15 14:25] sofietoft commented on #194
Hi guys,
I'm currently working my way through the issue tracker here on the Umbraco Documentation!

Seems that documentation for this has already been created: https://our.umbraco.org/documentation/Extending/Language-Files/Language-Files-For-Packages/

I'm closing this request down.
Please feel free to create another issue on this tracker, if you feel the documentation on this area is still a bit

[2018-01-15 14:25] #194 closed

[2018-01-15 14:28] sofietoft commented on #200
Hi @Shazwazza

I'm currently going through the issue tracker here on the Docs.
Seems that documentation about Custom Routing has been created: https://our.umbraco.org/documentation/Reference/Routing/custom-routes

Can I close this issue down? 😁

- Sofie

[2018-01-15 14:31] sofietoft commented on #201
Documentation added: https://our.umbraco.org/Documentation/Extending/Property-Editors/package-manifest

[2018-01-15 14:31] #201 closed

[2018-01-15 14:44] sofietoft commented on #204
Hi @Shazwazza

Is this simply a copy/paste thing?
Or perhaps I should ask, whether it's still relevant? 🤔

- Sofie

[2018-01-15 17:58] hemraker commented on #204
@sofietoft it's done == https://our.umbraco.org/documentation/Reference/#backoffice-ui-api-documentation

Can be closed down 🙂

[2018-01-16 03:42] Shazwazza commented on #200
Yup! will close :)

[2018-01-16 03:42] #200 closed

[2018-01-16 03:45] Shazwazza commented on #204
These are the 'tutorials' i'm talking about here: http://umbraco.github.io/Belle/#/tutorials

Not the API docs part. I'm unsure if all of these have been migrated or not, would need to check in the current docs to confirm. (then we should close down that Belle site!)

[2018-01-16 09:03] sofietoft commented on #218
Hi guys,

I'm currently working my way through the issue tracker here on the Umbraco Docs.
Seems this documentation has been created! Awesome job, thanks!! #h5yr

I'll close the issue down.
Keep up the good work 😁

BR Sofie

[2018-01-16 09:03] #218 closed

[2018-01-16 09:05] sofietoft commented on #220
Seems these docs has been made: https://our.umbraco.org/documentation/Reference/Routing/IISRewriteRules/

[2018-01-16 09:05] #220 closed

[2018-01-16 09:11] sofietoft commented on #221
Yo!

@hemraker, this is getting fairly old, and since it was already an edge case back in 2015, I'll close it down.

Hope it's okay! 😁
-Sofie

[2018-01-16 09:11] #221 closed

[2018-01-16 09:46] sofietoft commented on #222
Yo!
Do you have a status on this, @nul800sebastiaan ? 😁

-Sofie

[2018-01-16 09:47] #228 closed

[2018-01-16 09:48] sofietoft commented on #230
Yo!

Is this by any chance related to this one: https://github.com/umbraco/UmbracoDocs/issues/170 ?

-Sofie

[2018-01-16 09:51] sofietoft commented on #236
Hi!
I know I'm a bit late to the party, but the correct link is: https://our.umbraco.org/documentation/Reference/Templating/Mvc/Forms/tutorial-child-action#accessing-viewdata

Thanks for reporting it! 😁
-Sofie

[2018-01-16 09:51] #236 closed

[2018-01-16 09:51] #244 closed

[2018-01-16 09:54] #250 closed

[2018-01-16 09:56] #255 closed

[2018-01-16 10:02] sofietoft commented on #258
Yo, @nul800sebastiaan,
Couldn't find anything about dynamic macro params in the Docs, so I suppose this is still missing, yeah?

-Sofie

[2018-01-16 10:04] #271 closed

[2018-01-16 10:08] sofietoft commented on #274
A task for you, @hemraker?
Or perhaps the entire tutorial needs an overhaul?

[2018-01-16 10:27] hemraker commented on #274
A bit of both ;)

[2018-01-16 10:47] sofietoft commented on #280
@hemraker,
I'm having a bit of a hard time figuring this one out.
The branch is still there: https://github.com/umbraco/UmbracoDocs/tree/UmbracoLibrary

But this documentation/reference/api/umbracolibrary , redirects to https://our.umbraco.org/documentation/Reference/Routing/WebApi/
And this https://our.umbraco.org/documentation/Reference/Templating/Macros/Xslt/UmbracoLibrary/ doesn't exist.

Help

[2018-01-16 10:58] sofietoft commented on #281
@hemraker,
"Creating Forms based on Datasources", was that a guide that existed at some point?
Also, the PR you linked to, has been closed due to inactivity 🙈

-Sofie

[2018-01-16 10:59] sofietoft commented on #284
Done: https://our.umbraco.org/documentation/Umbraco-Cloud/Databases/

[2018-01-16 10:59] #284 closed

[2018-01-16 11:05] sofietoft commented on #300
See: https://github.com/umbraco/UmbracoDocs/issues/254

[2018-01-16 11:05] #300 closed

[2018-01-16 11:05] sofietoft commented on #311
See: https://github.com/umbraco/UmbracoDocs/issues/254

[2018-01-16 11:05] #311 closed

[2018-01-16 11:06] sofietoft commented on #254
See: https://github.com/umbraco/UmbracoDocs/issues/281

[2018-01-16 11:16] sofietoft commented on #316
Hi Kevin,
That's an excellent idea! 😁

I realize it's been quite a while since you added this ticket.
BUT! If you're still up for it, it'd be amazing if you'd make some documentation for these '_special properties_'! 😄

Looks like the only one missing is the _umbracoNaviHide_ property: https://our.umbraco.org/Documentation/Reference/Routing/routing-properties

-Sofie

[2018-01-16 11:18] sofietoft commented on #317
@Shazwazza,
Looks like this documentation has _already_ been created: https://our.umbraco.org/Documentation/Reference/Security/#back-office-users and https://our.umbraco.org/Documentation/Reference/Security/#custom-oauth-providers

Can I close this issue? 😁

[2018-01-16 11:21] sofietoft commented on #323
@Shazwazza,
Looks like someone started on these docs, but didn't quite finish?
https://our.umbraco.org/Documentation/Reference/Cache/cache-refresher

Ah, and it's related to this: https://github.com/umbraco/UmbracoDocs/issues/208, right?

[2018-01-16 11:22] sofietoft commented on #324
See: https://github.com/umbraco/UmbracoDocs/issues/323 and https://github.com/umbraco/UmbracoDocs/issues/208

[2018-01-16 11:24] dampee commented on #323
it is linked indeed :-)

[2018-01-16 11:25] sofietoft commented on #340
PR merged.

[2018-01-16 11:25] #340 closed

[2018-01-16 11:53] sofietoft commented on #342
Hi guys,
To me it looks like the Docs, https://our.umbraco.org/documentation/reference/using-ioc, has been updated.

Is it safe to assume this can be closed down? 😁
-Sofie

[2018-01-16 13:26] sofietoft commented on #359
Hi @Jeavon,

I'm currently working my way through the issue tracker here on the Docs.
Any chance you can give me a status on this? 😁
I haven't been able to locate anything about this in the docs, but I might very well be looking the wrong places.

-Sofie

[2018-01-16 13:55] sofietoft commented on #368
@hemraker ,
Am I right to assume that this documents the URL tracker: https://our.umbraco.org/Documentation/Reference/Routing/URL-Tracking/ ?

Also, in the article I linked to it says:

That's wrong, right?
I mean, we have this https://our.umbraco.org/Documentation/Reference/Routing/IISRewriteRules/

-Sofie

[2018-01-16 13:58] sofietoft commented on #369
Documentation added: https://our.umbraco.org/documentation/Reference/Security/#back-office-users

[2018-01-16 13:58] #369 closed

[2018-01-16 14:05] clausjensen commented on #342
Yep I think we can close it for now .. can reopen if we think there's a need for further docs

[2018-01-16 14:05] sofietoft commented on #421
Hi Mitch,
Thanks for raising this issue! 😄

If you go to
https://our.umbraco.org/documentation/Add-ons/UmbracoCourier/Architecture/
Instead of
https://our.umbraco.org/documentation/products/umbracocourier/Architecture/Index/

All the links seems to be working correctly.

I know it's been a while since you made the issue here, but do you happen to know how you ended up on https://our.umbraco.org/do

[2018-01-16 14:06] sofietoft commented on #342
Brilliant! Thanks @clausjensen

[2018-01-16 14:06] #342 closed

[2018-01-16 14:10] sofietoft commented on #422
Hi there,
Thank you so much for contributing! 😁

Since your request this article has been updated: https://our.umbraco.org/Documentation/Reference/Security

A lot of information about both OAuth and AD authentication has been added.
If you still feel something is missing, please let us know!

Thanks again for helping us improving our Docs!
-Sofie

[2018-01-16 14:10] #422 closed

[2018-01-16 14:13] sofietoft commented on #423
See: https://github.com/umbraco/UmbracoDocs/issues/254

[2018-01-16 14:13] #423 closed

[2018-01-16 14:14] marcemarc commented on #348
@Shazwazza @nul800sebastiaan added some info on trace, miniprofiler and logging here: https://github.com/umbraco/UmbracoDocs/pull/612

[2018-01-16 14:22] sofietoft commented on #430
See: https://github.com/umbraco/UmbracoDocs/issues/254

[2018-01-16 14:22] #430 closed

[2018-01-16 14:24] sofietoft commented on #443
Hi,
Thank you so much for pointing this out 😁

Please refer to this issue: https://github.com/umbraco/UmbracoDocs/issues/421

I'm very interested to know, how you ended up on https://our.umbraco.org/documentation/products/umbracocourier/Architecture/Index/ instead of the correct https://our.umbraco.org/documentation/Add-ons/umbracocourier/Architecture/

-Sofie

[2018-01-16 14:24] #443 closed

[2018-01-16 14:24] sofietoft commented on #444
Please see this issue: https://github.com/umbraco/UmbracoDocs/issues/254

[2018-01-16 14:24] #444 closed

[2018-01-16 14:37] sofietoft commented on #501
@Shazwazza,
Do you have an idea of a good place to put documentation about this?

[2018-01-16 14:42] sofietoft commented on #517
Documentation has been added: https://our.umbraco.org/documentation/Umbraco-Cloud/Set-Up/Config-Transforms/#forced-transforms

[2018-01-16 14:42] #517 closed

[2018-01-16 14:57] sofietoft commented on #518
Hi there,
Excellent questions! 😁

I believe that the images are indeed sensibly sized.
I can see that I've added images where the width exceeds the 800px limit 🙈
Those looks to be fitted well enough to the screen: https://our.umbraco.org/documentation/Umbraco-Cloud/Getting-Started/The-Umbraco-Cloud-Portal/

I can see that your PR was already merged, so I'm closing this issue down!
Thanks for contr

[2018-01-16 14:57] #518 closed

[2018-01-16 15:00] sofietoft commented on #579
Hi there,
Thank you so much for reporting this!

It seems that you might have tried to access Our at a time where it was down 😞
Fear not! It's all up a running again!

-Sofie

[2018-01-16 15:00] #579 closed

[2018-01-16 15:02] sofietoft commented on #598
Hi there,
You have a really good point there!
The 'broken link' site shouldn't show up in the search results 🙈

@nul800sebastiaan, could this be a task for you perhaps?

-Sofie

[2018-01-16 17:06] marcemarc commented on #426
added some 'getting started' information here: https://github.com/umbraco/UmbracoDocs/pull/612 but this could lead into more verbose docs for the above?

[2018-01-16 19:14] marcemarc commented on #258
@sofietoft @nul800sebastiaan ahhh the secrets of the Dynamic Macro Parameter syntax... I've added some details here: https://github.com/umbraco/UmbracoDocs/pull/613

[2018-01-16 19:56] marcemarc opened #614 "Document User Permission Code Characters"
Each action / permission that can be set has an associated character, be good to document these somewhere.

[2018-01-16 19:57] marcemarc commented on #614
pull request: https://github.com/umbraco/UmbracoDocs/pull/594

[2018-01-16 19:58] marcemarc opened #615 "Document EditorModelEventManager Sending Content Model Event"
Think this might be a really useful event for people to be aware of, but it's not really mentioned on any of the official Umbraco Training courses nor in the documentation that I can find, other than the generated API reference, but if you didn't know it existed, you probably wouldn't look for it, and if you did think something might exist, you might not guess/remember it's called the EditorModelE

[2018-01-16 19:58] marcemarc commented on #615
Pull request: https://github.com/umbraco/UmbracoDocs/pull/582

[2018-01-16 22:35] marcemarc commented on #215
see https://our.umbraco.org/documentation/Extending/Dashboards/ contains some explaination of the dashboards.config - but would make sense to have a separate document for each config file in the /reference/config section

[2018-01-17 15:46] Jeavon commented on #359
@sofietoft I will create the docs for this, assigned to myself :)

[2018-01-18 22:39] marcemarc commented on #216
@hemraker have added some documentation here https://github.com/umbraco/UmbracoDocs/pull/616 for adding custom Embedded Media Providers, and made a start on describing the config.

[2018-01-19 09:32] marcemarc commented on #316
@sofietoft @KevinJump @greystate  My feeling is that umbracoNaviHide is probably not on the routing-properties documentation page, because it isn't really 'routing' related... it's a convention to use with the IsVisible() IPublishedContent extension method (which we also do not document)...

Suggestion would be to add details of IsVisible convention to the Querying section for IPublishedContent co

[2018-01-19 10:08] greystate commented on #316
Wholeheartedly agree with @marcemarc that `umbracoNaviHide` is better suited to a page (finally!) describing the `IsVisible()` "situation", and the fact that it is totally dependent of that property being present :)

[2018-01-19 11:02] marcemarc commented on #204
@sofietoft @Shazwazza @hemraker what I think is we need a new section in the main documentation for 'Running Umbraco from Source' or possibly as part of a 'How to contribute to Umbraco section' - see related: https://github.com/umbraco/UmbracoDocs/issues/222 and we should sanity check The 'running a nightly build' and 'Building from source' tutorials to move here.  Also the 'How the code is struct

[2018-01-28 21:20] marcemarc commented on #316
Added a few lines of text to the querying  IPublished Content collections page: https://github.com/umbraco/UmbracoDocs/pull/622

[2018-01-29 10:06] sofietoft opened #623 "Cloud Docs: Create section for troubleshooting with Courier"
All new project on Umbraco Cloud use Umbraco Deploy instead of Courier.
There are different guides on how to troubleshoot various issues depending on which engine the project is using.

We need to make a new section to place all the guides for troubleshooting when using Courier.

Examples on how it looks now:
* https://our.umbraco.org/documentation/Umbraco-Cloud/Troubleshooting/Content-Deploy-Sche

[2018-01-29 10:15] sofietoft opened #624 "Cloud Docs: Documentation about adding/removing environments"
Missing documentation about how to add / remove environment on a Cloud project.

Should be added either here:
https://our.umbraco.org/documentation/Umbraco-Cloud/Getting-Started/The-Umbraco-Cloud-Portal/

or here:
https://our.umbraco.org/documentation/Umbraco-Cloud/Getting-Started/Project-Overview/

[2018-01-29 16:30] marcemarc commented on #615
merged!

[2018-01-29 16:30] #615 closed

[2018-02-05 05:07] Shazwazza commented on #501
Would probably create another category in `Reference` since this is a pretty technical concept. A new category could be called UI Development or Angular Development or similar

[2018-02-05 05:08] Shazwazza commented on #317
Yup! i'll close

[2018-02-05 05:08] #317 closed

[2018-02-05 05:08] Shazwazza commented on #230
Yes they are related

[2018-02-05 15:37] benbracedigital opened #630 "Add date stamp to all docs"
Could we a date stamp to all documents? There are a few instances where pages change such as https://our.umbraco.org/documentation/getting-started/setup/server-setup/azure-web-apps changes with different Umbraco versions so it'd be good to see when pages have been updated

[2018-02-06 11:29] Jeavon opened #634 "Update "Setup Your Site to use Azure Storage for Media""
The security.config example is outdated and needs to be updated to use the container setting

[2018-02-06 13:38] gareth-d85 opened #636 "Getting started, install guide is out of date"
the link to the Webmatrix is dead.
from what I can tell webmatrix has been discontinued.

[2018-02-06 13:40] gareth-d85 commented on #636
I see there is a pull request for his dead link and guide update.

[2018-02-06 13:40] #636 closed

[2018-02-08 17:15] marcemarc opened #639 "Document the appSetting: umbracoDisableElectionForSingleServer and it's role in flexible load balancing"
We should document this setting and how it affects flexible load balancing:

               //by default we'll use the db server registrar unless the developer has the legacy
            // dist calls enabled, in which case we'll use the config server registrar
            if (UmbracoConfig.For.UmbracoSettings().DistributedCall.Enabled)
            {
                ServerRegistrarResolver.Current

[2018-02-08 22:14] Shazwazza commented on #639
There's a whole topic in the docs about election here: https://our.umbraco.org/documentation/Getting-Started/Setup/Server-Setup/load-balancing/flexible#scheduling-and-master-election

Enabling this setting simply means that any election will be disabled. We use this on Umbraco Cloud since we are certain there is no load balancing taking place. This can slightly improve startup performance since no

[2018-02-08 22:37] marcemarc commented on #639
@Shazwazza Yes, that is the page I was going to add it on, helped a client today, who couldn't get flexible load balancing to work, they had that setting, set to true in the web.config, in fact, the site 'used' to be hosted on Umbraco Cloud, which probably explains why it was there. So I think important to mention the setting, somewhere in the docs, and within the context of this page,  and I was

[2018-02-08 23:19] Shazwazza commented on #639
Ah i see what you are saying. Yup it's dense reading but i guess there's a lot to know :)

A troublshooting guide could be pretty good, we could potentially combine that with the FAQ list that was started too (which isn't to discoverable either) https://our.umbraco.org/documentation/Getting-Started/Setup/Server-Setup/load-balancing/#faqs

[2018-02-09 00:41] marcemarc commented on #639
Yes, I'd like to tie it in with this too: http://issues.umbraco.org/issue/U4-10955 there are lots of small subtle variations in the different configuration scenarios, so having something to keep your sanity, "I did actually change that setting..." etc - and get people used to the language of  master/slave/single etc to reflect the info here.

[2018-02-14 13:19] A97JohnLlewellyn opened #646 "Umbraco Startup Process"
Either cut'n'paste @Shazwazza's comment here or get him to expand on it. Absolute gold.

http://issues.umbraco.org/issue/U4-10967#comment=67-44622

[2018-02-20 11:32] jmayntzhusen opened #655 "Update multilingual site guide"
I plan to follow the Umbraco.tv guide on: https://umbraco.tv/videos/umbraco-v7/implementor/multi-lingual/creating-a-multi-lingual-site/introduction/

And then test and take pictures and update the following page:
https://our.umbraco.org/documentation/Tutorials/Multilanguage-Setup/

[2018-02-20 16:55] marcemarc commented on #608
Hi @umbracowulser

Ahh, good spot, you mean in the left-hand navigation?

There is a slight issue with changing it here because it's generated from the name of the folder, and so if we change the folder name, it will cause lots of broken links!

and so we'd have to ask @nul800sebastiaan nicely to create redirects to ensure people can still find this content, if we do add the 'a'...

so whilst it s

[2018-02-20 17:06] marcemarc commented on #614
Merged

[2018-02-20 17:06] #614 closed

[2018-02-20 17:08] marcemarc commented on #316
@KevinJump @sofietoft @greystate merged in, a historic moment for the documentation umbracoNaviHide is in the docs!

[2018-02-20 17:08] #316 closed

[2018-02-20 17:25] marcemarc commented on #258
@nul800sebastiaan @sofietoft @Shazwazza @hemraker  The documentation curators have merged this PR into the docs, so I'm closing this issue, feel free to open it again, if you spot something awry with the information on dynamic macro parameters...

[2018-02-20 17:25] #258 closed

[2018-02-20 17:28] alindgren opened #657 "Reorganize "Getting Started" pages"
I find many of the pages in the "Getting Started" section not really about things I would consider for getting started.  For instance, "load balanced setup" and "Subscribing to events" are in the "Getting Started" section but to me seem like more advanced topics. Before reorganizing things in a way that makes sense to me (and making a PR), I'd like to hear what other people think.

[2018-02-20 22:21] abjerner opened #659 "Reorganize the page about umbracoSettings.config (or improve the search)"
Just creating an issue here, as the documentation search has some room for improvement, or the page about `umbracoSettings.config` should be reorganized.

Let's try the following:

1. Search for *scheduled tasks*
2. Look for a matching result in the list
3. Where to look?

![image](https://user-images.githubusercontent.com/3634580/36452251-17a78e6e-1694-11e8-9441-b7f09ec8bfa6.png)

The problem her

[2018-02-20 22:28] marcemarc commented on #368
@sofietoft What it means is that the Redirect Url Management tracker doesn't try to support rewriting complex rules or anything super clever (it's just a simple 'this old url you had published has changed, to this new url, so let's make a 301 redirect for you' kind of thing)

Because Umbraco is based in .net and hosted in IIS, though you can make use of Microsoft's own Url Rewrite module for IIS t

[2018-02-21 11:05] umbracowulser commented on #608
Hi @marcemarc ,

Yes exactly. It just caught my eye that the syntax was off in the navigation in comparison to the rest of the links.

But I understand that it's not such a simple fix as I assumed, so it makes sense that it is not a top priority to change it. After all it is only a minor thing, I am certain people can find their way around in the navigation as it is now.

Thank you for getting bac

[2018-02-21 11:05] #608 closed

[2018-02-21 21:36] marcemarc commented on #659
Yes,, been trying to get my head around the best way to document configuration, and it's the issue you mention that is exactly the thing!, topics kind of need 'introducing' and 'describing' with text that makes them findable... regardless of where they are configured - but also 'quick lookup' of configuration is a more frequent activity, and seeing the config in the context of the description, can

[2018-02-21 22:15] marcemarc commented on #657
Thanks alindgren! I agree, I think partially it's an issue with the term 'getting started' and sign-posting -
 for me this is a section which 'gets you started' nothing more - but from what starting point? Installing on a server, running locally in visual studio - or you have a cloud install, and your staring already at the backoffice?

I think currently we're aiming 'getting started' to cover eve

[2018-02-21 22:51] marcemarc commented on #337
PR here: https://github.com/umbraco/UmbracoDocs/pull/661

[2018-02-22 07:41] abjerner commented on #659
I like the idea of splitting the page into multiple sub pages, and the current page for **umbracoSettings** could have some basic information, but otherwise just be a index list of the sub pages. That would also create a better context for more details and possibly also examples.

Regarding the search, perhaps we could take some inspiration from GitHub's search:

![image](https://user-images.githu

[2018-02-22 09:05] jmayntzhusen commented on #657
I have also found the 'Getting started' section way too comprehensive for me (I just started learning Umbraco about a month ago), my suggestion would be to split it up a bit more.

If we stole an idea from the way Angular does it: https://angular.io/guide/quickstart
They have a section called 'Quickstart' that basically helps you set up a new site for a complete beginner, as well as do a quick ove

[2018-02-22 20:40] drpeck opened #664 "Umbraco Backoffice UI API Documentation needs examples"
The Umbraco Backoffice UI API Documentation has a lot of information, but with no demos or images of what an element refers to it is of limited use.

An example; I was shown a property editor that uses umbMediaGrid today. I was told that umbMediaGrid is all properly documented, and it is:
https://our.umbraco.org/apidocs/ui/#/api/umbraco.directives.directive:umbMediaGrid

Unfortunately I can't thin

[2018-02-22 20:45] marcemarc commented on #664
Agree, we've talked in the past about having a visual 'style guide' to the directives, so you could thumb through screenshots of the interaction that you are used to seeing in Umbraco and then be able to find the name of the directive that creates that type of interaction! as you say, nobody will search for 'slidey out panel thing' and get umbOverlay etc

[2018-02-23 09:40] mirhat opened #668 "Oooops, something broke.. on getting started documentation"
I am getting Oooops, something broke.. text on on getting started documentation

[2018-02-23 11:12] sofietoft commented on #668
Hi!
Thanks for bringing this to our attention.
It has been fixed now, and you should be able to view the Getting Started section once again.

Unfortunately the connection between Github and Our breaks occasionally when we merge in new PRs. We are working on resolving it!

-Sofie 😸

[2018-02-23 11:12] #668 closed

[2018-02-26 13:53] dampee opened #674 "Update .Net framework version"
This page (Getting-Started/Setup/Install/install-umbraco-with-nuget.md) still mentions the .net framework.

@nul800sebastiaan [suggested to drop it completely](https://github.com/umbraco/UmbracoDocs/pull/638#issuecomment-364096540)

[2018-02-26 14:10] dampee commented on #280
Hi,
The Library is now the [UmbracoHelper](https://our.umbraco.org/Documentation/Reference/Querying/UmbracoHelper/). I guess we can just close this issue.

Or maybe ask @nul800sebastiaan  why documentation/reference/api/umbracolibrary , redirects to https://our.umbraco.org/documentation/Reference/Routing/WebApi/... but other than that: close it!

[2018-02-26 14:27] #655 closed

[2018-02-26 15:30] mzmati opened #675 "Umbraco Documentation - 404 Errors for section Getting Started"
As in title, whole section "Getting Started" returns 404 and message "Oooops, something broke.."

[2018-02-26 15:35] rajwar opened #676 "Broken link"
https://our.umbraco.org/documentation/getting-started/backoffice/property-editors/built-in-property-editors/multinode-treepicker

[2018-02-26 15:36] dampee commented on #676
Hi @rajwar
How did you got to this page?
Kind regards
Damiaan

[2018-02-26 15:37] dampee commented on #676
This is the correct page: https://our.umbraco.org/documentation/Getting-Started/Backoffice/Property-Editors/Built-in-Property-Editors/Multinode-Treepicker2

@nul800sebastiaan can we create a redirect?

[2018-02-26 15:40] dampee commented on #675
I don't have any issues.  Can you verify this is still the case?  Or can you specify where you encounter this issue exactly?  On which page are you before you got a 404?

[2018-02-26 15:40] Jeavon commented on #676
They are not the same, the first one is non UDI picker the second is the new UDI picker.

I don't think it's a broken link, we had an issue earlier with GH not pushing correctly to Out but this has been resolved.

[2018-02-26 15:41] mzmati commented on #675
Ok, section is back again ! :)

[2018-02-26 15:42] dampee commented on #676
Indeed.  It's working again.  Let's close this.

[2018-02-26 15:42] #676 closed

[2018-02-26 15:42] dampee commented on #675
Apparently we had an issue earlier with GH not pushing correctly to Our but this has been resolved indeed.

Thanks for reporting this!

[2018-02-26 15:42] #675 closed

[2018-02-27 10:41] Jeavon commented on #664
There is some great content in the Umbrangular slide deck that could potentially be re-purposed https://docs.google.com/presentation/d/1ZUt6EPkqZurF4I2IRtKNZSX7Z-6j8eSxr0dzz9dLNgY/edit#slide=id.g2255284922_0_120

[2018-02-27 10:43] dampee commented on #664
The umbracolar code is on github: https://github.com/umbraco/umbrangular/
as are the slides (in PDF form): https://github.com/umbraco/umbrangular/blob/master/UmbrAngular.pdf

[2018-02-27 10:48] dampee commented on #213
We should mention this is legacy but is still working. And we should point out they need IContentFinder

[2018-03-03 15:52] marcemarc commented on #215
Need to rejig this around so that the information added to Extending/Dashboards is actually in the reference/config/dashboard page, and the extending page is more of an introduction to customisation dashboards

[2018-03-03 16:50] marcemarc commented on #215
Pull request here: https://github.com/umbraco/UmbracoDocs/pull/692

[2018-03-05 16:30] OwainWilliams opened #695 "Links don't work in Starter-kit docs."
The links in the 'Contribute to the starter kit' section don't work.

https://our.umbraco.org/documentation/Tutorials/Starter-kit/#contribute-to-the-starter-kit

[2018-03-05 16:43] OwainWilliams commented on #657
I agree with everything above. I found when I was just getting in to Umbraco the getting started section was also too high level. It presumed you knew what you were doing in many cases. I know it's always a good idea to do training e.g. Umbraco.TV or the official training days to get more knowledge but this section really needs to be written in step by step guide form. Make it as easy as possible

[2018-03-06 16:41] marcemarc commented on #213
@hemraker the documentation curators have merged a pull request, that provides information on 404handlers, so I'm going to close this issue. Thanks for bring it to our attention!

[2018-03-06 16:41] #213 closed

[2018-03-06 16:47] marcemarc opened #698 "Document the new ConsentService"
This was added in 7.9...

add to Getting Started - Code - Services

(although why they are in Getting Started and not in Reference!)

[2018-03-07 16:39] #695 closed

[2018-03-08 15:17] jameskraus opened #703 "Adding a workflow type docs are out of date"
https://github.com/umbraco/UmbracoDocs/blob/master/Add-ons/UmbracoForms/Developer/Extending/Adding-a-Workflowtype.md

The doc says to use RecordService from Umbraco.Forms.Core.Services. RecordService doesn't seem to exist under that namespace.

Also, "Both the RecordService and RecordStorage is described in detail in the reference chapter.". Neither seem to be described in a reference chapter. Let

[2018-03-12 20:03] ed-parry commented on #674
Submitted PR #709.

[2018-03-13 12:48] #623 closed

[2018-03-13 16:09] marcemarc commented on #674
Merged!

[2018-03-13 16:09] #674 closed

[2018-03-13 16:11] sofietoft commented on #624
Documentation added here: https://our.umbraco.org/documentation/Umbraco-Cloud/Getting-Started/The-Umbraco-Cloud-Portal/

[2018-03-13 16:11] #624 closed

[2018-03-13 16:19] marcemarc commented on #215
@hemraker I'm closing this issue now that the Umbraco Documenters have merged in the PR to rejig the dashboard configuration pages, but feel free to re-open this issue or create a new issue if you discover something else that should be covered...

[2018-03-13 16:19] #215 closed

[2018-03-13 16:23] marcemarc commented on #296
Link removed, closing this issue.

[2018-03-13 16:23] #296 closed

[2018-03-13 16:37] #421 closed

[2018-03-13 16:49] dampee commented on #208
Created a pull request (work in progress) #711

[2018-03-13 16:50] dampee commented on #323
@sofietoft I think we should close this issue as it is linked to the #208

[2018-03-14 08:22] #323 closed

[2018-03-14 17:00] NikRimington opened #712 "Umbraco.Media vs Umbraco.TypedMedia"
Hi Curators of the Umbraco Docs.

As I understand it Dynamics is being phased out as the best approach for accessing content. I was under the impression that this was also true for accessing media. Does the following page need updating to show the TypedMedia way of accessing media?

https://github.com/umbraco/UmbracoDocs/blob/master/Getting-Started/Design/Rendering-Media/index.md

(If it does I'm

[2018-03-14 17:11] NikRimington commented on #657
I think getting started, as others have said, is a very broad topic. What might be helpful could be sections such as

- Getting started locally (or quickstart) which focuses on your local environment, VS etc
- Get started with cloud (quick intro to cloud linking through to the main cloud docs)
- Knowing Umbraco (talking about back office, structure, etc)

Then you could move more onto sections tha

[2018-03-15 09:23] Jeavon commented on #712
:thumbsup: Absolutely! Look forward to seeing a PR from you.

[2018-03-15 12:59] marcemarc commented on #712
Was about to say exactly the same thing! we should be looking I think to show the TypedMedia approach but also how you'd work with media if using modelsbuilder - also looking very forward to seeing a PR :-P

[2018-03-15 13:08] liamlaverty commented on #657
I think the WordPress (don't hate me pls) [Where To Start pages](https://codex.wordpress.org/New_To_WordPress_-_Where_to_Start) are a really good place to look for inspiration. It's fairly concise, but pretty much links out to everything you'd ever need to know to get from nothing to a deployed website inside of one document.

It also guides you through checking if you're in the right place. It's

[2018-03-15 13:35] marcemarc commented on #657
Thanks all, keep observations coming!, reading and digesting - and we're discussing in the documentation curators team - we're still in our primary phase (that makes it sound rather grand, getting existing PRs processed, we're down to one page of PRs instead of four! - and now trying to reduce open issues of missing documentation - eg lets make obviously missing docs exist, even if it's in the wro

[2018-03-15 14:03] ed-parry commented on #634
@Jeavon Happy to PR for this one if you're not looking at it? From what I can see from recently implementing this process, the `Container` is missing from `security.config` as you said, and `CachedCDNTimeout` and `UseCachedContainerInUrl` from `cache.config`?

[2018-03-15 14:54] dampee commented on #712
My eyes hurt when I see all these "dynamics" in examples. :-)

[2018-03-16 10:42] Jeavon commented on #337
#661 was merged so closing

[2018-03-16 10:42] #337 closed

[2018-03-16 10:51] Jeavon commented on #634
@ed-parry yes, that's exactly it. If you want to send in a PR I would love to see it :)

[2018-03-17 09:32] ed-parry commented on #634
There you go, @Jeavon! Added in the missing items and updated Azure-based URLs to recommend HTTPS by default (though made an assumption sites on the umbraco.io domain pick up HTTPS by default?)

Also set `UseCachedContainerInUrl` to `false` by default, as the latest [ImageProcessing docs](http://imageprocessor.org/imageprocessor-web/plugins/azure-blob-cache/) suggest newer Azure formats require th

[2018-03-17 12:30] greystate commented on #526
Just needed this badly yesterday :)

I know @skttl knows a thing or two about this, so looping him in here now...

[2018-03-17 12:52] skttl commented on #526
My approach kind of deviates from the "official" Umbraco Cloud workflow.

I add both my dev, and live environment as remotes for my local git repository.

I then find the latest common commit for both dev and live, and start a new hotfix branch from there. When done, I merge the fix into both dev and master.

I can elaborate in a hangout/skype session or similar. I have a powerpoint show, I used w

[2018-03-17 13:49] greystate commented on #526
It deviates yes - but that’s exactly what’s requested in this issue (I think?)

I was doing the same (with both environments as remotes) but missed part of using the common commit, so got stuck in “detached HEAD” ;)

I’d love to see the PowerPoint and write these docs based on that outline (and actual case of fixing a bug).

[2018-03-19 09:29] hemraker opened #718 "Document Cloud organizations"
Would be helpful with an explanation of what an organization actually is and what is currently possible with organizations on Cloud.

* What is an organization
* What are the benefits organizations
* What are the features of organizations

There is a tiny bit documented atm https://our.umbraco.org/Documentation/Umbraco-Cloud/Getting-Started/The-Umbraco-Cloud-Portal/Organizations/ but you need some

[2018-03-20 08:49] sofietoft commented on #526
Hi guys!

Thanks for pitching in here 😁

I'm diving into testing and writing some guides on how to apply hotfixes on Cloud environments next week.
The solution you mention, @skttl , is very technical but definitely one way of going about it!!

What I'm going to write is gonna be a bit less technical; cloning down the Live environment and simply copying over the files from a local clone of a Develo

[2018-03-23 17:13] jamescoxhead commented on #424
Adding to this, as I think there's quite a few pages in the developer documentation that are now out of date (the [rendering scripts](https://our.umbraco.org/documentation/Add-ons/UmbracoForms/Developer/Rendering-Scripts/) page being another example).

I'm happy to submit a PR based on what I've done to get Forms working on my current project.

[2018-03-24 00:12] dampee commented on #214
Hey @marcemarc
Does does het into collision with the work you are doing on the tree's?  Or can I merge this in?

[2018-03-25 21:50] OwainWilliams commented on #630
I liked this idea so decided to look in to implementing it. Not a easy as I first though.
Due to the way the documentation is imported in to the CMS, via a zip file which is downloaded from Git, there isn't any meaningful timestamp available. All the files in the zip file have the same created date - the date the zip is saved.

I then looked at a way to add a timestamp to each page within Git prio

[2018-03-26 09:05] #634 closed

[2018-03-27 15:11] marcemarc commented on #214
Closing as PR #724 provides the basics of this

[2018-03-27 15:11] #214 closed

[2018-03-29 14:16] liamlaverty commented on #630
Might be able to get this info with the github api:

https://stackoverflow.com/a/25921837/1663868

`GET /repos/:owner/:repo/commits` with a `path` should give you the committer dates per directory (maybe per file, I've not been able to test it).

[2018-03-30 18:58] marcemarc commented on #219
PR https://github.com/umbraco/UmbracoDocs/pull/729

[2018-03-30 18:59] marcemarc commented on #211
Remaining todo:

Trees.config
examineindex.config

and umm umbraco.library

[2018-03-31 11:42] marcemarc commented on #217
PR: https://github.com/umbraco/UmbracoDocs/pull/730

[2018-04-04 22:30] marcemarc commented on #280
I've added this page: https://our.umbraco.org/documentation/Reference/Templating/Macros/Xslt/Umbraco.Library/
(for a different issue - to get rid of all pages that say 'documentation is waiting')

It just lists the methods of Umbraco.Library but without any detail...

Is this enough to draw a close to this issue too?

Is there anything else valuable in the wiki: https://en.wikibooks.org/wiki/Umbra

[2018-04-05 23:43] skartknet opened #734 "Surface Controller page routes are wrong"
The routes displayed here: https://our.umbraco.org/documentation/reference/routing/surface-controllers
are incorrect. It looks like some details have disappeared:

![image](https://user-images.githubusercontent.com/1685262/38397054-da8900a4-397e-11e8-872e-bac9b7b1fe48.png)

[2018-04-05 23:49] skartknet commented on #734
The MD file looks correct. There must be an issue with the rendering of it into the site:

![image](https://user-images.githubusercontent.com/1685262/38397210-ca779508-397f-11e8-85f8-e6f1182a122f.png)

[2018-04-06 11:43] marcemarc commented on #219
@hemraker The PR #729 has been merged in, so closing this issue  but if you notice anything else you'd like to include that would improve this documentation feel free to open a new issue

[2018-04-06 11:43] #219 closed

[2018-04-06 11:43] marcemarc commented on #217
@hemraker The PR #730 has been merged in, so closing this issue  but if you notice anything else you'd like to include that would improve this documentation feel free to open a new issue

[2018-04-06 11:43] #217 closed

[2018-04-06 11:48] marcemarc commented on #211
@Shazwazza closing this issue, have searched through the repo and on 'our umbraco', and have targeted pages containing this placeholder text, a recent flurry of PRs means there are now no longer (or as far as I can see any pages) that contain this 'This section is waiting for content' text. So I'm closing this issue on the tracker. If we do happen to come across any more 'coming soon' items we can

[2018-04-06 11:48] #211 closed

[2018-04-06 19:12] dampee commented on #734
Thanks a lot for bringing this to our attention.  We will look at this asap.

[2018-04-06 22:44] marcemarc commented on #734
@Jeavon wondered if this was related to the change from MarkdownDeep to Markdig for the converter?

[2018-04-09 08:09] #698 closed

[2018-04-09 10:04] #598 closed

[2018-04-09 10:04] sofietoft commented on #598
The _broken link_ page no longer appears in the search result! 👏

[2018-04-09 14:57] Jeavon commented on #734
hmm, something is parsing out the braces, I think it's probably the link parser, but I'll check

[2018-04-10 09:04] Jeavon commented on #734
This is indeed a issue with Markdig, I have created a workaround. Closing this issue as the issue is with Our not the Docs themselves. https://github.com/umbraco/OurUmbraco/pull/226/files

[2018-04-10 09:04] #734 closed

[2018-04-10 12:51] nul800sebastiaan commented on #734
Thanks! Fix has been deployed and the page looks good again.

[2018-04-10 15:27] #639 closed

[2018-04-10 15:31] marcemarc commented on #280
Having discussed with the documentation curators, we're closing this issue, there is now a page that can be  a landing page for Umbraco.Library that lists it's methods, more documentation can be added here, but it's fairly obsolete...

[2018-04-10 15:31] #280 closed

[2018-04-10 16:00] marcemarc commented on #417
@Aaen we've reviews this amongst the documentation curators, and we think this has been added... are we right? can we close this now?

[2018-04-10 16:04] marcemarc commented on #254
The missing page is how to autogenerate an Umbraco form from an external Data Source, there is documentation for contour here; https://our.umbraco.org/projects/umbraco-pro/contour/documentation/Editor/Creating-Forms-Based-on-Datasources/ it probably works in the same way, need to check and update screenshots...

[2018-04-10 16:04] marcemarc commented on #281
This is a duplicate of: https://github.com/umbraco/UmbracoDocs/issues/254

[2018-04-10 16:04] #281 closed

[2018-04-10 16:07] marcemarc commented on #206
@Shazwazza were there any frequent requests over the last 3 years? if not, can we close this issue?

[2018-04-10 20:20] dampee commented on #170
@Jeavon what do you think of this commit: 24d49bbeee84b1932cc033d42404a80649b96dab

[2018-04-10 23:27] Shazwazza commented on #206
blast from the past! i think we can close it :)

[2018-04-10 23:27] #206 closed

[2018-04-17 12:55] KevinJump opened #745 "Document correct usage of DatabaseContext"
From the latest release to Umbraco 7.8/7.9/7.10 to address a memory leak
http://issues.umbraco.org/issue/U4-11207

in the issue and comments - @zpqrtbnk states:

and in comment :

[code]

The Common Pitfalls page actually shows an good practice code snippet using DatabaseContext.Database - it would be good if we could have definitiave sample of what is good practice here ? (see https://github.com/

[2018-04-17 13:36] dampee commented on #745
Thanks @KevinJump Definitly very valid feedback.  Don't hesitate to do any pull request.

[2018-04-17 17:32] mvanhelmont commented on #745
@KevinJump I am also interested, I see ScopeProvider as internal in the ApplicationContext. So maybe core can show the correct way?

[2018-04-18 00:07] Shazwazza commented on #745
Some clarification is needed and we don't want to confuse everyone ... Using the DatabaseContext.Database is fine in almost all scenarios except for when running code on background threads. Anywhere that we expose the `DatabaseContext` on base classes, it's totally fine to use it there. I don't think there's a need to update this particular doc because it's usage is fine.

We should update the doc

[2018-04-18 06:54] zpqrtbnk commented on #745
Comments:
* re. `ApplicationContext.Current`: yes, this is bad practice, one should not use singletons, so make it `applicationContext` and assume it has been passed by whatever is calling the code
* re. `DatabaseContext.Database`: let's say I got confused by the current v8 works (and overlooked the fact that the scope provider is still internal in v7); current documentation is fine, but might nee

[2018-04-18 06:55] zpqrtbnk commented on #745
As for [U4-10290](http://issues.umbraco.org/issue/U4-10290): now reading, will comment on the tracker.

[2018-05-08 15:25] marcemarc opened #762 "Document What Application Context is"
Document what ApplicationContext is
and UmbracoContext

we never really explain what they are anywhere, so it would be good to have one place to emphasise the good practice to link to from other places in the docs, eg no using .Current - but injecting in instances of ApplicationContext etc - See Anti Patterns common pitfalls docs

[2018-05-09 08:17] marcemarc opened #763 "There are two File and Folder Permissions pages"
https://our.umbraco.org/documentation/Getting-Started/Setup/Server-Setup/permissions
https://our.umbraco.org/Documentation/Getting-Started/Setup/Install/permissions

probably only need the 'Server Setup' one and then link through to the page from the install folder

[2018-05-09 14:23] jamescoxhead opened #764 "Contour mentioned in the docs"
I found Contour was mentioned in the Forms documentation earlier today (see [here](https://our.umbraco.org/Documentation/Add-ons/UmbracoForms/Installation/license#can-i-add-additional-domains-to-the-license)). A wider search of the docs also revealed a mention of it [here](https://our.umbraco.org/Documentation/Getting-Started/Setup/Upgrading/general#merge-uixml-and-language-files).

[2018-05-11 09:39] jamescoxhead opened #767 "Broken link - dashboard examples"
The "see examples" link on the [dashboards config page](https://our.umbraco.org/documentation/Reference/Config/dashboard/#dashboard) is broken. I think it should be pointing to [this page](https://our.umbraco.org/documentation/Extending/Dashboards/) under the Extending section.

[2018-05-14 11:07] #526 closed

[2018-05-18 11:04] jonroberts24 opened #781 "Scheduling Parent/ Child Pages"
I have realised that if you schedule publishing for a Parent and its Child pages there is a good chace that the Parent page is scheduled milliseconds after the child pages. This will prevent the child pages from publishing as the Parent page hasn't been published yet.
Apart from the obvious of staggering the schedule times is there a fix for this to check Parent/Child relationships?

[2018-05-24 13:13] dampee commented on #781
Not that I know of by heart.  As this is the documentation repo, you might be asking this on the forum or raise an issue on http://issues.umbraco.org

Is it ok to close this issue here?
You can add a link here to the other places if you want to.

[2018-05-27 19:18] abjerner opened #815 "Link to the old wiki is now dead"
At the bottom of this page:

https://github.com/umbraco/UmbracoDocs/blob/master/Reference/Templating/Macros/Xslt/45-XML-Schema.md

is a link referring to the old wiki, which now is dead:

`/wiki/reference/xslt/45-xml-schema/switching-between-old-and-new-schema`

I haven't been able to find a replacement in the new documentation - hence this issue.

![image](https://user-images.githubusercontent.co

[2018-05-27 20:55] abjerner opened #819 "Broken links"
Links for Tekpub are now dead:

https://github.com/umbraco/UmbracoDocs/blob/master/Tutorials/Creating-a-Property-Editor/index.md
https://github.com/umbraco/UmbracoDocs/blob/master/Tutorials/Creating-a-Custom-Dashboard/index.md

![image](https://user-images.githubusercontent.com/3634580/40590565-128cb8ec-6201-11e8-99d5-934f00f22c84.png)

Most likely the links can just be removed, but wanted to crea

[2018-05-28 11:05] ed-parry commented on #712
Looks like this one can be closed now?

[2018-05-28 11:32] FransdeJong commented on #657
The getting started should be coupled to the new Starterkit (umbraco demo) in the future. A starting developer can than open the starter kit and see a example of what he is reading in the documentation.

[2018-05-28 11:36] FransdeJong commented on #763
Maybe also emphasize that the the old folders (usercontrols, xslt, masterpages, macroscripts) can be missing because it's not used by umbraco anymore?

[2018-05-28 11:57] dampee commented on #712
We could indeed close this one.  There are certainly other examples, but we could just create a new issue at that moment!

[2018-05-28 11:57] #712 closed

[2018-05-28 12:06] AndyFelton commented on #763
Just completed a pull request to resolve the original issue. @FransdeJong can I suggest you add your comment as a new issue.

[2018-05-28 12:09] AndyFelton commented on #763
#822

[2018-05-28 12:14] AndyFelton opened #823 "Increasing security of a site"
May be worth referencing some of the modifications @JeffreyPerplex mentioned in his talk at Codegarden.

EG. if you use Visual Studio rather than the Back Office to change templates, style sheets, etc make the appropriate directories read only.

I'm happy to make changes  (probably a new section Setup/Security) if it makes sense?

[2018-05-28 17:14] abjerner opened #825 "Broken link"
The link for **Base2** is dead. I don't know the framework, so I'm not sure whether it is possible to find a new link that works.

https://our.umbraco.org/documentation/Development-Guidelines/Coding-Standards/js-guidelines

![image](https://user-images.githubusercontent.com/3634580/40624155-1eba4be8-62ab-11e8-9e74-1122525c8c5b.png)

[2018-05-28 17:22] abjerner opened #826 "Broken link"
https://our.umbraco.org/documentation/Getting-Started/Data/Data-Types/

The link references an Umbraco.tv video that no longer appear to exist. With a quick look through some of the other videos, I haven't been able to find a suitable replacement. So most likely we can just remove the link?

![image](https://user-images.githubusercontent.com/3634580/40624316-283db3b6-62ac-11e8-8bd5-af4e6ca5bd87.pn

[2018-05-28 17:25] abjerner opened #827 "Broken link"
https://our.umbraco.org/documentation/Getting-Started/Setup/Server-Setup/Load-Balancing/traditional

Not sure whether it is possible to find a replacement 🤔

![image](https://user-images.githubusercontent.com/3634580/40624389-9bb719ae-62ac-11e8-9c84-86a8b90d2a7a.png)

P.S.: If individual issues for each page is annoying, feel fee to throw something at me, and I'll try to group future issues ;)

[2018-05-28 17:27] abjerner commented on #827
Oh - btw. These two links are dead as well (on the same page):

![image](https://user-images.githubusercontent.com/3634580/40624461-18f2341c-62ad-11e8-9d53-803d3ece0637.png)

[2018-05-28 17:40] abjerner opened #830 "Broken link"
On this page: https://our.umbraco.org/documentation/Reference/Templating/Macros/Xslt/Using-XPATH/XPath-Examples

I haven't been able to find a replacement URL, so most likely this link can just be removed.

![image](https://user-images.githubusercontent.com/3634580/40624779-d7c51a0c-62ae-11e8-87c1-1bf3b0e8714f.png)

[2018-05-29 06:28] JeffreyPerplex commented on #823
Hi Andy, I've posted my slides over here; https://www.perplex.nl/en/blog/2018/security-umbraco-codegarden-2018/. If we agree on the tips I've mentioned, I'm more than willing to contribute to the documentation, but I think the first important step is to agree on the points.

[2018-05-29 16:20] jamescoxhead opened #837 "Document the new dropdown property editor"
There's a couple of posts on Our about no docs for the new dropdown property editor (see [here](https://our.umbraco.org/forum/using-umbraco-and-getting-started/91570-new-dropdown-in-umbraco-7101)). I've got a PR for this in progress and will try to submit it later today.

Should I also mark the pages for the older dropdown property editors as obsolete and that they only apply to pre-7.10 installat

[2018-05-31 16:39] readingdancer opened #845 "Make the Umbraco UI documentation easier to find by adding a link in the docs navigation."
Currently it doesn't seem like the Umbraco UI API docs are linked to from the main documentation section, so unless you have Googled it and come across the link, it's almost impossible to find.

I think there should be a clear link in the main documentation navigation tree on the left across to the API docs:

https://our.umbraco.org/apidocs/ui/#/api

[2018-06-01 07:05] SwastikMS opened #846 "Package.manifest JSON documentation page is broken"
Link:- https://our.umbraco.org/documentation/tutorials/Extending/Property-Editors/package-manifest

Access Point :- https://our.umbraco.org/documentation/tutorials/Creating-a-Property-Editor/_/

[2018-06-04 09:23] dampee commented on #846
Hi @SwastikMS
Who do you got on the first page?  You should not have a url ending in /_/ .
If that part is gone, the link works just fine.

[2018-06-04 09:41] SwastikMS commented on #846
Hi @dampee
No you took it wrong.
Please visit the url  https://our.umbraco.org/documentation/tutorials/Creating-a-Property-Editor/_/
There you can see a link "For full package.manifest JSON documentation see here" which redirects to "https://our.umbraco.org/documentation/tutorials/Extending/Property-Editors/package-manifest" link. This link doesn't load. It shows "something broke".

[2018-06-04 09:47] abjerner opened #847 "Missing documentation for services"
About half of the services are not documented - at least when looking here:

https://our.umbraco.org/documentation/Reference/Management/Services/

- [x] ApplicationTreeService
- [x] AuditService
- [x] ConsentService
- [x] ContentService
- [x] ContentTypeService
- [x] DataTypeService
- [x] DomainService
- [x] FileService
- [x] EntityService
- [x] ExternalLoginService
- [x] FileService
- [x] Localiz

[2018-06-04 20:49] jamescoxhead opened #849 "Add .editorconfig"
I've just pushed some updates to a PR and noticed that I'd also unintentionally committed some whitespace changes - these would have come from my VS Code settings.

It would be useful to have an [.editorconfig](https://editorconfig.org/) file in the root of the docs repo to define a consistent formatting style and avoid making whitespace changes like this.

As a starting point, I'd like to put for

[2018-06-04 21:41] #837 closed

[2018-06-04 21:42] marcemarc commented on #847
@abjerner I think it's fine for this to be a single issue, we have been in two minds when discussing the services, in that I think they should all be listed, their existence acknowledged! - and a short description of what they are and where they might be used, and any quirks, example of common usage if appropriate - but we sort of also feel we want to steer clear of duplicating the content generat

[2018-06-04 21:47] dampee commented on #849
I think that is a VERY good idea.  I'll discuss this with @sofietoft, @marcemarc and @Jeavon.

Not sure why we should add .yml files.  Can you elaborate on that?

[2018-06-04 21:53] marcemarc commented on #846
Hi @SwastikMS

If you visit this page:

[https://our.umbraco.org/documentation/Tutorials/Creating-a-Property-Editor/](https://our.umbraco.org/documentation/Tutorials/Creating-a-Property-Editor/)

Then you'll find the link isn't broken.

The link is being made by traversing up two folders to the extending section, and then across to the Json documentation...

but the url of the page you are reporti

[2018-06-04 21:54] marcemarc commented on #845
Would you have it on the top level, or in the reference section? think we just need @nul800sebastiaan to setup a redirect

[2018-06-04 22:02] jamescoxhead commented on #849
The .yml section can be ignored - it's just an example file I use on my personal projects (some of which contain .yml files).

[2018-06-04 23:12] readingdancer commented on #845
My gut feeling is it should be within one of the sections so that we can describe what it is used for. If people see it on the top level they might just click in and be confused as to its usage?

As you said perhaps in the reference section or in a second that talks about back office development. ( I am not at my PC currently so not 100% sure )

[2018-06-05 22:00] marcemarc commented on #845
@readingdancer have added a couple of 'landing pages' in reference and extending, that might be a start, should at least make  them appear in the navigation... https://github.com/umbraco/UmbracoDocs/pull/850

what do you think?

[2018-06-05 22:20] dampee commented on #845
I think we should at least make them appear in the search  :-)

[2018-06-06 10:48] jomehmet opened #851 "Let's encrypt"
It should be clear that Let's encrypt is enabled on Umbraco as a Service. I didn't know this and bought a certificate, but suddenly my domain was "Secure" without doing anything. When I inspected the certificate I could see it was Let's encrypt.

[2018-06-06 15:57] dampee commented on #849
We can take the editorconfig from the core project:

https://github.com/umbraco/Umbraco-CMS/blob/dev-v7/.editorconfig

[2018-06-06 18:49] marcemarc commented on #845
@readingdancer ok that's merged in! Have a look see if that's a step in the right direction; thanks for pointing it out... Be interesting to see in the analytics if more people discover them in this way

[2018-06-07 12:28] dampee commented on #851
Hi @jomehmet
I understand it should be mentioned somewhere.  What you encountered is the new product called [Latch](https://umbraco.com/products/umbraco-latch/).
I'll ask @sofietoft to look into this!

Kind regards
Damiaan

[2018-06-07 12:39] dampee commented on #846
Yes indeed.  It would be super helpfull if you know where we can find the page linking to the page ending on /_/

Hope you can help us @SwastikMS

[2018-06-07 14:29] ed-parry commented on #830
@abjerner Hi Anders - were you going to PR these broken links in? Only ask as I have some free time coming up so could bunch them together if you'd like?

[2018-06-07 19:00] ed-parry commented on #630
Might be worth closing this issue as there's a separate one for the same item on the Our repo [here](https://github.com/umbraco/OurUmbraco/issues/245), which is where the change would need to be implemented. Been an eerily similar discussion there in the past couple of weeks too!

[2018-06-07 19:17] ed-parry opened #857 "Update and review Search documentation"
It looks like the Search documentation could do with reviewing and re-writing. It looks as though it's been updated in parts over the years, but it still regularly references version 4 and XSLT (the [Examine page](https://our.umbraco.org/documentation/Reference/Searching/Examine/quick-start), as an example), and the search [landing page](https://our.umbraco.org/documentation/Reference/Searching/)

[2018-06-08 12:49] sofietoft commented on #851
Hi @jomehmet

You are completely right, and I agree!
We need to make LATCH more visible.
I've already talked with our communication people, and they are putting some info on our website.

I have a plan to write / rewrite the documentation we have about domains and certificates for Cloud already.

-Sofie

[2018-06-11 07:33] dampee commented on #830
Knol is an old google wikipedia attempt.  It has been discontinued for some time.
And the page was [never properly archived by the wayback machine](https://web.archive.org/web/20140806211140/http://knol.google.com:80/k/jackie-sprott/xpath/2i2dcklqevrpq/6).

So we should definitly remove the link entirely.

[2018-06-11 16:09] abjerner commented on #830
@ed-parry feel free to create a PR for this one ;)

[2018-06-13 07:01] SwastikMS commented on #846
@dampee Why everyone is after /_/ . It's not creating any problem.

Please follow my 2nd comment.

visit the url https://our.umbraco.org/documentation/tutorials/Creating-a-Property-Editor/_/

There in "Setting up a plugin" section,  you will find a link with text "For full package.manifest JSON documentation see here". Click on that link, you will come to know the issue.

Thanks

[2018-06-14 10:26] GertyEngrie opened #877 "Editors manual missing"
It would be nice to have a link to the editors manual on the documentation overview page.
But, the available versions of the manual(s) at this moment are not really ideal:
- static pdf version ( [https://our.umbraco.org/projects/website-utilities/umbraco-7-editors-manual/](https://our.umbraco.org/projects/website-utilities/umbraco-7-editors-manual/) )
- markdown version to use with bookshelf packa

[2018-06-14 16:03] abjerner commented on #846
@SwastikMS It is your original link itself that is the culprit. Do you remember where you got this from?

The URL for *Creating a Property Editor* should really be:

https://our.umbraco.org/documentation/tutorials/Creating-a-Property-Editor/

rather than:

https://our.umbraco.org/documentation/tutorials/Creating-a-Property-Editor/_/

If you found that link somewhere else in the documentation, then

[2018-06-14 17:33] ed-parry commented on #826
Managed to find [this](https://umbraco.tv/videos/umbraco-v7/implementor/fundamentals/document-types/creating-and-reusing-editors/) video, "Creating and Reusing Editors" which looks to be a suitable replacement as it discusses creating and reusing data types. Working on a PR for these broken links so will be part of that :)

[2018-06-14 17:37] ed-parry commented on #819
Going through these, I've updated them to point to the AngularJS path on Pluralsight, as Tekpub eventually became that so the closest thing in terms of content. I'll link to the PR including these here shortly if we need/want to review.

[2018-06-14 20:16] #830 closed

[2018-06-14 20:16] #827 closed

[2018-06-14 20:16] #826 closed

[2018-06-14 20:16] #825 closed

[2018-06-14 20:17] #819 closed

[2018-06-15 07:32] dampee commented on #877
Hi @GertyEngrie

I think that's a great idea!  Because the mentioned repo's are already 3 years old, I don't think someone will object to move this to the documentation repo.

Creating a PDF would involve submitting a PR to OUR.  Don't know what the best step for that would be.
Also, I don't know if the bookshelf package from Kevin supports partial repo's.

Maybe another approach: if Umbraco forks

[2018-06-15 07:57] GertyEngrie commented on #877
Hi @dampee!

yes, true, a fork might be a better idea!
A pdf version might not be necessairy at first. Let's get it consultable & maintainable first. If there's a way to display the manual in 1 page then you can always use the browser's 'print to pdf' functionality i guess :)

[2018-06-15 08:07] marcemarc commented on #877
This is a great idea!, if everyone who put work into the original V7 manual would be happy to have the work maintained in this location. The manual sort of stops at early seven, doesn't mention grid etc, also I have bits and pieces on the Editor Training Course I run that I could bring across into it.

That said, yesterday, Umbraco announced, a new Content Editor Course, so it is a fair assumption

[2018-06-17 19:30] BatJan opened #885 "Add a specific page about AngularJS usage"
I just submitted to very minor PR's about a link to egghead.io, which was pointing at just the frontpage and not explicitly at the AngularJS courses they provide - I asked on one of the PR's if perhaps it would make sense to add a specific page about AngularJS usage in Umbraco in general like we have a "common pitfalls" page and @dampee asked me to raise the question/issue here. So here I go :)

D

[2018-06-17 19:36] marcemarc commented on #885
Yes; I agree, a page that explains where it's used; the specific version and resources to learn it... Although not really docs - I'd squeeze in a statement on why the version is not super recent ... Just because that is a FAQ

[2018-06-18 17:31] BatJan commented on #885
Yup it would be nice to have something to refer to. And especially with explaining the version choices and why it's not latest version in 7 yet etc.

I'll see if I can give it a go during the week - But otherwise I have some time in the weekend. Thanks for the input @marcemarc

[2018-06-19 22:45] Myster opened #889 "Documentation update"
Hi,
I am looking at this documentation about formsupdate file.
https://github.com/umbraco/UmbracoDocs/blob/master/Add-ons/UmbracoForms/Installation/ManualUpgrade.md

The file seems to put a version number in it (that does not match the nuget package version number)
the documentation says it should dissappear, it doesn't.

Note: I upgraded via nuget rather than manually.

[2018-06-20 15:13] marcemarc commented on #845
@readingdancer forgot to close the issue!

[2018-06-20 15:13] #845 closed

[2018-06-20 15:20] marcemarc commented on #823
@JeffreyPerplex @AndyFelton I'm thinking there should be a page called 'Hardening Access to the Umbraco Backoffice' linked from this page: https://our.umbraco.org/documentation/Reference/Security/  which could talk about the pros and cons of hiding the different aspects of Umbraco and the techniques for making the backoffice available to only your editors, etc ?

[2018-06-20 15:26] marcemarc commented on #815
I think we may need to remove this link, I can't find the content anyway :-( and I've tried

[2018-06-20 15:27] #781 closed

[2018-06-20 15:31] marcemarc commented on #646
Think this is a good idea to include, it's related to this issue too:

https://github.com/umbraco/UmbracoDocs/issues/205

[2018-06-20 15:33] dampee commented on #205
Duplicated by #646

[2018-06-20 15:33] #205 closed

[2018-06-21 10:20] hemraker commented on #877
I think it would be great to get the Editors Manual in the docs. It obviously needs an update but other then that I say go for it 😃  There is a bit of overlap with the content management course but I think they will be good companions.

[2018-06-21 13:16] sofietoft commented on #851
Umbraco Latch Documentation is now Live: https://our.umbraco.org/documentation/Umbraco-Cloud/Set-Up/Manage-Domains/Umbraco-Latch

[2018-06-21 13:16] #851 closed

[2018-06-22 08:18] jomehmet commented on #851
Great that you created documentation for this. For people using google to find the documentation, I think it would be nice in this article: https://our.umbraco.org/Documentation/Umbraco-Cloud/Set-Up/Manage-Domains/Security-Certificates/ To write on the top of the article: "In case you don't want to use automated certificate (LATCH), you can add it manually, for instans if you want a green bar cert

[2018-06-22 14:55] dawoe opened #894 "Creating a custom dashboard tutorial needs an update"
The tutorial [here](https://our.umbraco.org/documentation/Tutorials/Creating-a-Custom-Dashboard/) can not be completed at the moment because of some bugs in Umbraco.

More details can be found in this [forum topic](https://our.umbraco.org/forum/extending-umbraco-and-using-the-api/92396-custom-dashboard-and-sqlce) and this [issue](http://issues.umbraco.org/issue/U4-11458) on the tracker

I already

[2018-06-23 13:31] BatJan opened #895 "Update screendumps in documentation?"
I'm wondering what the correct approach to updating the screendumps in the documentation in general would be? Because some places it's not just enough to update the screendumps but also the writing to reflect the changed process of doing things in the backoffice - An example of this can be found here https://our.umbraco.org/documentation/Getting-Started/Design/Rendering-Content/ - The "Insert" opt

[2018-06-25 15:34] marcemarc commented on #894
:-) yep, it wasn't obsolete when the tutorial was created :-P (though it didn't work!, and needed a PR)
 which confused people trying to complete the tutorial on an older version of Umbraco - probably the paging got added now that we have the history displayed on the info tab of a node... so yes, we can switch the tutorial to use the new method, thanks @dawoe !!

[2018-06-25 17:21] dampee commented on #895
Hi Jan
What you saw is umbraco/OurUmbraco#236. It is not completely ready, so it's not merged in.  We planned on working on this, later this week.
I would suggest to wait a few more days until this has been delivered because our PR will introduce a few new concepts:

* tagging of documents (using YAML)
* version agnostic documentation

Your question makes a lot of sense.  And there are solutions (

[2018-06-25 18:03] BatJan commented on #895
Hi Damiaan

Ah cool! Was hoping that this was the case but could not recall it being mentioned at CG18 or at Twitter etc. - Just remembered that screendump :)

I also have some documentation for the tags property editor in the works, which I will hold back untill this feature is available since it will need to be written differently for v7.6+ and for version before this.

Will you let me know in h

[2018-06-26 10:32] dampee commented on #895
If you create already a PR and reference #170 and/or #230 then no-one else will start on this.

You should write for the current version.  If you have specific information about (older) versions you should move that to a different file with the same name adding a postfix in the filename (eg xxx.v-6.2.md).

[2018-06-26 19:21] BatJan commented on #895
Thanks @dampee - I have opened a PR here https://github.com/umbraco/UmbracoDocs/pull/900

[2018-06-27 04:13] readingdancer opened #901 "Many typos, spelling mistakes, capitalization issues."
As mentioned there were still quite a lot of these issues, so I've just spent a few hours going through all the documentation files, the Pull request will fix all the issues I found in one go :)

[2018-07-03 05:35] #901 closed

[2018-07-03 11:45] readingdancer opened #912 "Invalid URL's for Courier Nightly URL's"
I think this one needs someone from HQ, so maybe @sofietoft can help?

On this page:

https://github.com/umbraco/UmbracoDocs/blob/master/Add-ons/UmbracoCourier/CommonIssues.md

All the links are invalid, they look like they should be re-directs that then point to the current location of these files, but we don't have access to fix these re-directs, I assume this is something the HQ can do. I could

[2018-07-03 15:01] #646 closed

[2018-07-03 15:10] marcemarc opened #913 "Add details of the UmbracoDefaultOwinStartup_MiddlewareConfigured event"
Document the existence of the UmbracoDefaultOwinStartup_MiddlewareConfigured

on the Events page under a heading of OWIN

and also possibly in link to it from the security page? OWIN Stuff...

if we can come up with a good example of using it other than wiring up SignalR in Umbraco < 7.6

[2018-07-03 15:12] marcemarc opened #914 "Document existence of SignalR in the core, and how to work with it."
SignalR now ships with the core 7.6 there are a couple of tricks to use it in your own packages,  or on the frontend of your site, we could add some info perhaps in /extending area of the docs to let people know where this is.

[2018-07-03 15:29] sofietoft commented on #912
Hi Chris,

You sure are right! That article is out-of-date.
I'll add it to my list, and hopefully get to it soon! 👌

-Sofie

[2018-07-10 19:43] idseefeld opened #916 "Umbraco Forms Documentation Outdated for Developers"
https://our.umbraco.com/documentation/Add-ons/UmbracoForms/Developer/Rendering-Scripts/

The description is not clear and seems to be outdated anyways, as no _FormsRenderScripts_ macro exists.

[2018-07-12 07:16] hemraker opened #917 "Document how Umbraco Forms is handled on Umbraco Cloud"
There should be documentation on how Forms is sync'ed between environments on Umbraco Cloud.

* What is the recommended workflow?
* Document how Forms are serialized
* What happens when a form is deployed from one environment to another
* How are upgrades handled with forms (especially there are custom themes/field types)
* FAQ - if SWAT encounters similar questions, they should be added here

[2018-07-13 14:59] readingdancer opened #919 "Replace http:// with https:// whereever possible."
Throughout the documentation we have links to third party sites and a lot of these links were using http, these should really be updated to use https where possible.

[2018-07-16 11:59] clausjensen opened #925 "Documentation for blob storage with Umbraco Cloud"
Need to update https://our.umbraco.com/Documentation/Umbraco-Cloud/Set-Up/Media/ to include information about excluding specific entity types (media-file) from deploys since this is a required workaround to use Deploy with blob storage on Cloud right now.

[2018-07-19 09:11] hemraker opened #929 "Incorrect documentation for creating Courier data resolvers"
This documentation is outdated and needs to be updated to work with the latest version of Courier.

https://our.umbraco.com/documentation/Add-ons/UmbracoCourier/Developer/DataResolvers

[2018-07-19 09:14] hemraker commented on #929
There are some good examples on how to create these here https://github.com/umbraco/Umbraco.Courier.Contrib/tree/dev/src/Umbraco.Courier.Contrib.Resolvers/PropertyDataResolvers

[2018-07-25 07:21] jmayntzhusen opened #932 "Update documentation on users"
The member section and member groups have pretty good documentation: https://our.umbraco.com/documentation/Getting-Started/Data/Members/

It seems the users are missing out, all I could find was https://our.umbraco.com/documentation/Getting-Started/Backoffice/#user
Would be great with more careful documentation on the difference between members and users aswell as user groups, granular permissions

[2018-07-27 22:51] marcemarc commented on #894
Needs this PR to be merged into core: https://github.com/umbraco/Umbraco-CMS/pull/2719/files
then update tutorial

[2018-07-31 08:41] sofietoft commented on #919
The referenced PR has been merged, so I'll close this issue 👌

[2018-07-31 08:41] #919 closed

[2018-08-01 09:47] #925 closed

[2018-08-01 11:21] dampee opened #943 "Nested content is not a package anymore"
The document about [Migrating to the cloud](https://github.com/umbraco/UmbracoDocs/edit/master/Umbraco-Cloud/Getting-Started/Migrate-Existing-Site/index.md) mentions Nested Content as "_a package with no Data Resolver_".  As nested content is a core feature, I can only hope there is a default data resolver.

[2018-08-03 02:47] Shazwazza commented on #208
Just FYI, i've had to get some of these docs written, i've added the info directly to the main doc https://github.com/umbraco/UmbracoDocs/blob/master/Reference/Cache/index.md ... i didn't want to change too much but you can probably re-use/move, etc... this info for this PR.

[2018-08-03 10:32] sofietoft commented on #943
Updated: https://our.umbraco.com/documentation/Umbraco-Cloud/Getting-Started/Migrate-Existing-Site/

[2018-08-03 10:32] #943 closed

[2018-08-03 16:54] greystate commented on #916
I agree - It's very confusing at the moment, but that's mostly because the sidebar navigation doesn't show all levels. There *is* actually a page with updated information, but that's hidden in the **Themes** section of the **Developer** docs:
https://our.umbraco.com/documentation/Add-ons/UmbracoForms/Developer/Themes/

And a heading partway down the page reveals the scripting files info: https://o

[2018-08-07 08:11] jmayntzhusen commented on #659
I see the appeal of indexing this better by splitting it up.

I am really not a fan of having many sub pages, especially since we can't show them properly in the menu as it only covers the top three levels.
I don't know if you have had a look at the [migrating to Cloud guide](https://our.umbraco.com/documentation/Umbraco-Cloud/Getting-Started/Migrate-Existing-Site/) but I can tell you that a lot o

[2018-08-10 11:37] greystate opened #948 "Docs for manually rendering scripts when using Themes are somewhat hidden"
Burnt by previous mistakes, I suggest the Developer docs gets updated with a link to the *Themes*-way of rendering the Forms scripts (the "extra step" link).

***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/master/Add-ons/UmbracoForms/Developer/Prepping-Frontend/index.md***

The Themes documentation for that is here:
https://our.umbraco.com/documentation/Add-ons/Umbrac

[2018-08-10 15:33] greystate commented on #916
I just somehow duped this (here: #948 ) without at all remembering this one... LOL

Anyway - hope to submit a PR soon that fixes it.

[2018-08-14 22:44] paulsterling opened #953 "Example Code is incorrect for Forms v7"
***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/master/Add-ons/UmbracoForms/Developer/Extending/Adding-a-Workflowtype.md***

The current example code is not correct and will not work as-is with Forms v7. It is a bit mis-leading in that the namespaces are not correct and the approach has changed as well - at least if what I've done to have it work as expected is correct

[2018-08-21 11:10] #916 closed

[2018-08-21 11:10] #948 closed

[2018-08-26 13:30] tiffy74 opened #961 "Gulp"
## What type of issue is it? (Choose one - delete the others)

Missing documentation

## What article/section is this about?
https://github.com/umbraco/Umbraco-CMS/blob/dev-v7/docs/CONTRIBUTING_DETAILED.md
https://github.com/umbraco/UmbracoDocs/blob/master/Development-Guidelines/building-angular-project.md

## Describe the issue:
2 issues in one!

First - occasionally there are out of date pages t

[2018-08-28 21:26] greystate opened #967 "Missing (or deprecated/obsolete?) info about context-aware help?"
In [this article](https://24days.in/umbraco-cms/2012/superhero/) on **24 Days In Umbraco** (albeit about v6), there's a `<help>` element mentioned that enables the **Help** link to be context-aware.

Is that still possible? I've noticed that the Help drawer seems to have been prepared for something like this (but I don't know where to look for how it would be populated).

So is this a "missing doc

[2018-08-29 11:42] tiffy74 commented on #961
Of course - more than happy to fix these myself if you approve :)

[2018-08-29 16:55] tiffy74 commented on #961
Noticed that Gulp watch is referenced correctly in the angular api documentation.  Therefore thinking about some way of linking to it so new devs won't panic :)

[2018-08-30 13:39] sofietoft commented on #967
Hi @greystate

That's a great question!
I bit outside my scope of Umbraco knowledge though.
Perhaps one of my fellow curators can help us out; @dampee , @marcemarc , @Jeavon ?

I'm also not 100% sure about the link to the repo you've sent.
It's this article: https://our.umbraco.com/Documentation/Reference/Config/umbracoSettings/, right? Is there any specific section in this article you are referri

[2018-08-30 13:43] sofietoft commented on #953
Hi @paulsterling

Thanks for this!
Perhaps @warrenbuckley , have a minute or two to look at this?

If everything looks good, would you prefer to make a PR yourself, or should I update the article? 😁

-Sofie

[2018-08-30 15:00] paulsterling commented on #953
@sofietoft No need to wait for me on the update if it's good as-is. I'd update if I can find the time, but if this is actually the right approach, better to update sooner.

-Paul

[2018-08-30 15:05] greystate commented on #967
Ah, right...

Douglas' article refers to a `<help>` section in the **umbracoSettings.config** file, so I'm just asking if there needs to be a description of it (i.e. _missing documentation_) or if it's been deprecated/obsoleted?

[2018-08-30 17:25] tiffy74 commented on #961
Yes @sofietoft  - thanks.  Although I think it's probably a wider issue than I had realised as @marcemarc has commented on the PR - so more than happy to make wider changes in support of the PR.  If anyone else spots any incorrect grunt references then it would be useful if they could use this thread to point them out.

Maybe it would be better to change the name of this thread  - perhaps to somet

[2018-09-02 20:06] telljimmy opened #971 "Error in sample code"
The last part of this page shows sample for showing first 100 characters of an article (Fig 42). This is throwing an error saying @item.ArticleContents is not found.

***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/master/Tutorials/Creating-Basic-Site/Articles-Parent-and-Article-Items.md***

[2018-09-02 21:39] dampee commented on #971
Hi @telljimmy
Are you sure you have created the Article Content property as mentioned in this image:
![afbeelding](https://user-images.githubusercontent.com/1857460/44960979-63478c80-af09-11e8-856d-d0fa15ed7063.png)

[2018-09-04 15:01] tiffy74 commented on #961
Fixed all references to Grunt and replaced with gulp :)

[2018-09-05 08:53] ravimotha commented on #657
I think there are a couple of ideas we should be stealing/borrowing bodging together.. :

1. Quickstart Guide: how to get up and running in x minutes
2. Quickstart Guide: getting up and running in the Cloud
3. Find out how to

- Get started as an editor
- Get started as a developer
- Get started as a user manager
4. Advanced Documentation:

- load balanced Solution
- Api Documentation
- Using AWS

[2018-09-06 10:33] telljimmy commented on #971
Sorry for the late reply. I used Article Content instead of Article Contents. But its the same in both document type and in the Macro Partial. So hope it should have worked. images below. Thanks
![articleitemdoctype](https://user-images.githubusercontent.com/36344598/45152343-1408a100-b214-11e8-8f99-ac11d101fe3c.PNG)
![macropartial](https://user-images.githubusercontent.com/36344598/45152351-19fe8

[2018-09-06 12:41] telljimmy commented on #971
the error is
\Views\\MacroPartials\\listArticles.cshtml(23): error CS1061: 'Umbraco.Core.Models.IPublishedContent' does not contain a definition for 'ArticleContent' and no extension method 'ArticleContent' accepting a first argument of type 'Umbraco.Core.Models.IPublishedContent' could be found (are you missing a using directive or an assembly reference?)"	string

[2018-09-07 12:00] telljimmy opened #973 "Error while running sample code"
***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/master/Tutorials/Creating-a-Custom-Dashboard/index.md***

![image](https://user-images.githubusercontent.com/36344598/45217896-1d177200-b2e9-11e8-95e2-083e8b4fb3e2.png)

Code in Controller
================
angular.module("umbraco").controller("CustomWelcomeDashboardController", function ($scope, userService, logResource)

[2018-09-14 22:12] greystate opened #977 "Hard-to-follow example in config-transforms documentation"
***This is the page (and section) in question: https://our.umbraco.com/documentation/Umbraco-Cloud/Set-Up/Config-Transforms/#including-transforms-in-umbraco-packages***

Though there's some very clever stuff going on in this section, I find it a little confusing and hard to follow - I've turned to this section more than a few times, and I always have to really slow down when trying to decipher it,

[2018-09-17 13:03] #417 closed

[2018-09-17 13:15] dampee commented on #971
To the team:
It has to do with the modelsbuilder.  We should take some time to validate whether that this tutorials has issues with the new modelsbuilder features.

Hi @telljimmy
I am sure that if you do `@(Umbraco.Truncate(item.GetPropertyValue<string>("articleContent"), 100)`
... it will work.

[2018-09-17 13:43] ravimotha opened #979 "Add new section to getting started page - Community"
## What type of issue is it?
Discussion

## What article/section is this about?
https://our.umbraco.com/documentation/Getting-Started/

## Describe the issue:
https://www.owain.codes/blog/posts/2018/august/jamie-townsend/ I was reading the following article and noticed that the community memeber did not know about #h5yr as a hashtag : I made me think we need at the very least a glossary of common

[2018-09-17 19:37] dampee opened #980 "Extend the markdown generation classes"
## What type of issue is it?
Discussion

## What article/section is this about?
All :-)

## Describe the issue:
Sometimes you want to warn the user, or make a side node. We currently have no possibility to include this kind of extra information in the documentation. And because Microsoft Docs has been doing awesome things, I've been looking at them.  :-)

While I know the solution will need to be

[2018-09-18 08:19] jmayntzhusen commented on #980
This looks great, not sure we need all of these, but there are definitely a couple of them that would be amazing - and would tie in well with a possible contribution guideline update as well once implemented!

Now all we need is to figure out how to extend Markdig to make this work 😄

[2018-09-18 08:42] sofietoft commented on #170
Closing this issue, as it looks like Tags has been documented.

[2018-09-18 08:42] #170 closed

[2018-09-18 08:45] jmayntzhusen commented on #630
I will close this issue now since there is a pending pull request for adding YAML to handle version specific documentation here: https://github.com/umbraco/OurUmbraco/pull/308

I believe that will fix the issue described here - I can share a sneakpeak of how it will look:
<img width="434" alt="udklip" src="https://user-images.githubusercontent.com/36075913/45675548-e84cbb80-bb2f-11e8-934a-99046165

[2018-09-18 08:45] #630 closed

[2018-09-18 08:51] sofietoft commented on #222
Contribution docs added: https://github.com/umbraco/Umbraco-CMS/blob/dev-v7/.github/CONTRIBUTING.md

[2018-09-18 08:51] #222 closed

[2018-09-18 09:38] Monk1995 opened #981 "Partial views in creating site from scratch"
while using partial views in the blog post I don't get the title of the blog when a specific blog is selected. it shows on the blog list but not in the specific blog is selected for viewing it.
this is the page where you can see the title
![image](https://user-images.githubusercontent.com/43085658/45678572-5b682900-bb54-11e8-9f5b-85cd7b77b47a.png)

In here I don't see the title
![image](https://us

[2018-09-18 09:51] sofietoft commented on #981
Hi @Monk1995

I'm not really sure what you are reporting here. Can you help me out?
Are you following a tutorial on our Documentation, or perhaps Umbraco.TV?

-Sofie

[2018-09-18 09:54] Monk1995 commented on #981
ya I am new to umbraco so catching up with the Ubraco.tv tutorials and working on it . I don't get the partial views as desired while selecting the particular blog post I don't get the title of it on the header section.

[2018-09-18 10:04] sofietoft commented on #981
Thanks for explaining 😁
So, this repository is for reporting issues on the Umbraco Documentation, so we can keep it up to date.

For help moving forward, there are a few options for you:
* Get in touch with our very friendly community on Our: https://our.umbraco.com/forum/using-umbraco-and-getting-started/
* Reach out to our Support Warriors: contact@umbraco.com

You might also benefit from readin

[2018-09-18 10:09] Monk1995 commented on #981
thanks for helping me out!!

[2018-09-18 10:35] dampee commented on #980
Apparently, Markdig already supports something like this already:
https://github.com/lunet-io/markdig/blob/master/src/Markdig.Tests/Specs/CustomContainerSpecs.md

[2018-09-18 10:57] sofietoft commented on #977
Hi Chriztian,

As much as I do appreciate the clever play on the lyrics from the Rolling Stones - Paint it Black song, I understand how this can be very confusing 🙈

Regarding the file-naming, it can indeed be anything you like.
I do agree, however, that we should write in the documentation that the name of the file should be the name of the package as well - just to make it more consistent, and -

[2018-09-18 11:32] jmayntzhusen commented on #980
So apparently this is already implemented:
https://github.com/umbraco/OurUmbraco/blob/master/OurUmbraco/Documentation/Busineslogic/MarkdownLogic.cs#L49

I just tried locally to add this to a markdown file:
[code]

And it made this:

[code]

So I guess all we need is to add some css and agree on conventions for doing things? 😃

[2018-09-18 11:47] dampee commented on #980
Indeed. The only thing is that I would like to have a type.  E.g. "Note", "Tip", "Warning".
Something like this: ![afbeelding](https://user-images.githubusercontent.com/1857460/45685359-69fd1300-bb49-11e8-942c-1183021a20e4.png)

[2018-09-18 12:11] jmayntzhusen commented on #980
We can do something like that with pure css though, we just need to agree how it will look - here is an example I quickly threw together: https://codepen.io/anon/pen/VGVeVY 😉

[2018-09-18 14:10] tiffy74 commented on #961
I think that the main issue is dealt with.  The issue with Gulp Watch is secondary really so I'm happy to close off this thread :)

[2018-09-18 14:10] #961 closed

[2018-09-18 14:33] greystate commented on #977
Thanks @sofietoft – I'll give it a whirl :)

[2018-09-19 13:30] marcemarc commented on #823
@AndyFelton I'm closing this issue as @JeffreyPerplex 's sterling work in #897 has been pulled in!

[2018-09-19 13:30] #823 closed

[2018-09-19 14:00] marcemarc commented on #366
We now have a page that we can update with Source Control info!

[2018-09-19 14:00] #366 closed

[2018-09-20 04:38] Serjster opened #987 "Permissions Page from Install broken"
Just installed the latest Umbraco via Visual Studio NuGet (version 7.12.2)

During the install, my permissions were showing as broken, with a help doc pointing to:
https://our.umbraco.com/documentation/getting-started/setup/install/permissions

Going to that page shows a broken link...

***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/master/broken-link.md***

[2018-09-20 10:48] jmayntzhusen opened #988 "Should documentation on site structure be added?"
## What type of issue is it?
Discussion

## Describe the issue:
I find myself sometimes recommending the "ultimate site structure" described in Sebastiaans old blogpost: https://cultiv.nl/blog/tip-of-the-week-the-ultimate-site-structure-setup/

As someone who is admittedly a bit out of touch with the recommendations on this sort of things I figured maybe some people could pitch in on what they fee

[2018-09-20 15:11] KevinJump opened #989 "No Documentation for Content Templates (Blueprints)"
There appears to be no documentation for Content Templates (the ones in the settings/content templates - introduced in v7.7)

At least nothing relevant comes up when you search for Content Templates, and i couldn't see anything around in the content docs.

[2018-09-21 07:43] jmayntzhusen commented on #989
Hey @KevinJump ,

I think you are absolutely correct, thanks for reporting it 🙂 Is this something you would like to also submit a PR for or should I throw an up-for-grabs label on this issue?

[2018-09-21 07:46] jmayntzhusen commented on #980
I'll be having a look at implementing this next week, will update here what I make so people can pitch in ideas / feedback 😄

[2018-09-25 12:15] jmayntzhusen commented on #980
So my first try ended up looking like this:
![udklip](https://user-images.githubusercontent.com/36075913/46013531-df7a5d80-c0cc-11e8-9953-536b863033f1.PNG)

The only markdown is below, the rest is made with pure css 😁

[code]

Will take a look at something like checklists and maybe small menues next - we are using sitewide menues a few places like here: https://our.umbraco.com/documentation/Umbrac

[2018-09-25 20:04] dampee commented on #980
Looks fine IMHO.  Is this on your PC only?  Or is it merged stuff?

[2018-09-26 07:37] jmayntzhusen commented on #980
For now it is only on my pc, didn't have time to check if it needed some scalability for tablets / screens yet, but the css was actually rather simply and only takes up 45 lines, if you want to play around with it I have uploaded the css here: https://gist.github.com/jmayntzhusen/5bf0cf917f07684a309a8cbff355ac2a

If there is nothing else needed for now I will test out how it scales and then create

[2018-09-26 09:36] AstuteMediaDev opened #999 "Umbraco Forms and Autofac"
We ran into a problem on a new site build with the latest versions of Umbraco and Forms which also uses Autofac.

Umbraco 7.12.3
Umbraco Forms 7.0.4
Autofac 4.0.1

After installing forms we were getting 500 backoffice errors on the GetSections endpoint.

The solution marked in this post seems to have solved the problem i.e. register controllers in one of the Forms assemblies:

https://our.umbraco.

[2018-09-26 11:54] jmayntzhusen commented on #703
This is on a list of things we need to update, for now I can tell you that the correct namespace is Umbraco.Forms.Web.Services.RecordService 🙂

[2018-09-28 00:53] readingdancer opened #1006 "The FAQ should mention Umbraco Latch"
## What type of issue is it? (Choose one - delete the others)
Wrong documentation

## What article/section is this about?
The Umbraco Cloud FAQ

## Describe the issue:
The original documentation mentioned that users could use Let's Encrypt, however they would need to manually remember to renew their certificates every 90 days. Now that Umbraco Latch has been launched, this is all automated and hen

[2018-09-28 08:19] sofietoft commented on #703
Duplicate: #424

[2018-09-30 18:15] dampee opened #1011 "update information about umbracoDisableElectionForSingleServer"
## What type of issue is it?
Missing documentation

## What article/section is this about?
umbracosettings.config / umbracoDisableElectionForSingleServer

## Describe the issue:
As discussed in PR #741 we should move this into a troubleshooting section.

[2018-10-01 07:50] jmayntzhusen opened #1012 "Missing documentation on compositions"
## What type of issue is it?
Missing documentation

## Describe the issue:
It appears we have no documentation on how to use compositions for document types, maybe it fits here: https://our.umbraco.com/documentation/Getting-Started/Data/Defining-content/

[2018-10-01 07:58] jmayntzhusen opened #1013 "Missing documentation on rebuilding examine indexes"
## What type of issue is it?
Missing documentation

## What article/section is this about?
https://our.umbraco.com/documentation/Reference/Searching/Examine/

## Describe the issue:
We seem to have no documentation on the examine dashboard in the backoffice - developer section.  Would be great to have a small overview and explanation of the what you can do in there!

[2018-10-01 09:59] dampee opened #1015 "Style guidelines for language"
## What type of issue is it?
Discussion

## What article/section is this about?
Contributing

## Describe the issue:
I think we should have *some* guidelines on how to write.  It was sparked by #996 and #1014

So let us open the discussion

1. Where to put this information
2. what to put in?

For the first question, I think we should put it aside on the contributing section as started by @jmayntzh

[2018-10-01 10:34] jmayntzhusen commented on #1015
That was on my original list of things to add to the contribution guide, but I wanted to get it out there before adding too many additional sections. I think it is a great idea though!

[2018-10-01 18:01] ed-parry commented on #1013
I'll take a look at putting something together for this - great spot @jmayntzhusen, it's probably a key area of interaction with search for a lot of people since it was introduced.

[2018-10-01 19:07] susw12 commented on #1012
@jmayntzhusen I can write something up for this! Please do not hesitate to point if I make a mistake in something that I write!

[2018-10-02 07:32] jmayntzhusen commented on #1012
Hey @susw12 ,

That sounds great! Please reference this issue on your pull request when you post it by writing #1012 😉

Looking forward to seeing what you come up with, and thanks for helping out! 😃

[2018-10-02 08:59] andrewmumblebee commented on #973
I'm having the same issue when running this code sample 😢 , @telljimmy did you have any luck resolving this?

[2018-10-02 09:05] andrewmumblebee commented on #973
Upon further investigation looks like this issue is fixed with https://github.com/umbraco/Umbraco-CMS/pull/2719 , not within a release version yet though.

[2018-10-02 09:09] andrewmumblebee commented on #971
I also hit this issue when following the tutorial and using the sample code, using GetPropertyValue and casting to a string resolves this. I'm running v7.12.3

[2018-10-02 11:01] #1013 closed

[2018-10-02 22:28] michizhou commented on #932
I could write up some documentation for this. I would appreciate it if you could provide some more info and docs that could help fill in the gaps about the differences between users and members as well as users themselves represent. Thanks!

[2018-10-03 07:37] #977 closed

[2018-10-03 13:31] dampee commented on #988
As discussed by the curators:
* It would be very opinionated
* is it already in the getting started section
* there are many very good ways
* Do we need to take things to take into account like multi lingual, multi site, ...
* training course teaching group properties by composition

Creating a basic site tutorial can (and should) be extended with a "how to architect a site".

Different approaches

[2018-10-03 13:34] marcemarc commented on #1012
Here would be a great place: https://our.umbraco.com/documentation/Getting-Started/Data/Defining-content/

[2018-10-03 13:35] marcemarc commented on #989
Perhaps added to the 'backoffice' section: https://our.umbraco.com/documentation/Getting-Started/Backoffice/ in a new section called 'Content Templates' ?

[2018-10-03 13:36] #1006 closed

[2018-10-03 13:37] dampee commented on #1011
@dawoe could you help?

[2018-10-04 07:13] gorlapraveen commented on #932
hi @jmayntzhusen , I tried to added some documentation,  #1047

[2018-10-04 07:20] michizhou commented on #989
Hi @jmayntzhusen I could write up documentation for this. Let me know if there's any useful reference docs you would recommend I look over.

[2018-10-04 11:49] jmayntzhusen commented on #932
Hey @michizhou ,

Thanks for offering to write something, what I was thinking is to make something similar to https://our.umbraco.com/documentation/Getting-Started/Data/Members/ but for users, it could also be in the same path /Getting-Started/Data/Users for example. The topics that could be covered is:
* What is a user
* How do you make users and user groups
* How do you set permissions on user g

[2018-10-04 15:06] OwainWilliams commented on #1015
This would help a lot. Having a guide makes sure everyone is writing in a similar way.

[2018-10-04 15:10] OwainWilliams commented on #979
That was a surprise, one of my blogs starting this discussion. I think a community 'getting started' is a great idea. It's not always easy getting in to an established community, even when it's as friendly as Umbraco.

The Umbraco t-shirt day needs to be on the list too 😊

[2018-10-04 15:44] BatJan commented on #1015
It makes perfect sense @dampee I just hope you will keep it short as in the above bullet points you listed otherwise it might be a roadblock for people starting out...Like "Oh man, that's a lot of stuff to think about. I better just drop this PR".

But I guess it would be weird to write a long complicated guideline, which is all for keeping it simple anyway 😄

[2018-10-04 15:58] BatJan commented on #979
Great idea @ravimotha - I'm thinking that it should perhaps also contain information about some or all of the following
- The Umbraco slack channel (As an oldtimer I even forget that there's a lot of activity in there and have not really been active in there)
- Twitter hashtags as you mention, apart from #h5yr I also think that #h5is deserves an explanation - Other hastags are of course umbteesday

[2018-10-04 22:39] mateoholman commented on #764
I can take this one on if no one else is currently working on it?

[2018-10-07 02:56] michizhou commented on #932
@jmayntzhusen I added some new documentation that should address the issue (#1058)

[2018-10-07 23:03] #815 closed

[2018-10-08 09:37] sofietoft commented on #999
Hi @AstuteMediaDev

I've had a chat with our Forms expert, Warren, about this.
We already have some documentation about how to use IOC and AutoFac with Umbraco: https://our.umbraco.com/Documentation/Reference/using-ioc

What you are reporting here, seems like a niche case, and we do not have any recommended way of doing it.
If the examples from the forum posts works, I'd say go for those!
You are

[2018-10-08 09:37] #999 closed

[2018-10-08 09:39] sofietoft commented on #600
Closing this issue, as Warren has added a bunch of configuration options to the article: https://our.umbraco.com/documentation/Add-ons/UmbracoForms/Developer/Configuration/

[2018-10-08 09:39] #600 closed

[2018-10-08 09:42] sofietoft commented on #889
Hi @Myster

Thanks for reporting this.
Maybe what's needed here, is more documentation on the different options you have for upgrading Forms?
Like, there is already documentation for how to do it manually, how to do it from the Backoffice, but documentation on how to do it using NuGet is missing.
What do you think?

-Sofie

[2018-10-08 09:58] sofietoft commented on #764
Hi @mateoholman

Looks like there's already an open PR for this: #765
But thanks anyways 😄
Perhaps there's something else you can grab instead?

-Sofie

[2018-10-08 13:17] #932 closed

[2018-10-08 13:27] jmayntzhusen commented on #980
Closing this as it has been merged 🎉

[2018-10-08 13:27] #980 closed

[2018-10-09 11:12] dampee opened #1072 "Introduce related links"
[Sparked by the comment](https://github.com/umbraco/UmbracoDocs/pull/1065#discussion_r223582742) of @jmayntzhusen

It would be awesome to have related links. :-)   It could be:

1. automated
2. curated

I don't think we are ready to have automated related links (someone disagree?). The dream obviously is having personalisation and have suggested related links for the visitor of the docs. But for n

[2018-10-09 14:40] mateoholman commented on #989
@marcemarc @jmayntzhusen I'll tackle this issue and start a new section in the 'backoffice' area!

[2018-10-09 17:22] dampee commented on #989
Great to hear @mateoholman
Looking forward to your PR!

[2018-10-10 10:43] jmayntzhusen commented on #1072
Hey @dampee

My initial comment was simply about making a standardized layout for related links similar to the tip, note and warnings - this would be a lot cooler though!

We have talked about a doc guid before, I think it is something we should look into generating as it would help a lot with several things!

[2018-10-10 15:19] arshadkazmi42 opened #1086 "Fix broken links in README"
## What type of issue is it? (Choose one - delete the others)
Broken links

## What article/section is this about?
[README.md](https://github.com/umbraco/UmbracoDocs/blob/master/README.md)

## Describe the issue:
`adding_metadata.md` and `file-naming-conventions.md` links are broken

[2018-10-11 09:17] #1086 closed

[2018-10-11 09:29] sofietoft commented on #889
Hi @Myster

I've done some testing, and it seems that you are right.
No matter how I update Forms, the `formsupdate` marker isn't automatically removed as the documentation states 🤔

Could you create an issue on this on the [Forms issue tracker](https://github.com/umbraco/Umbraco.Forms.Issues/issues)?
In the meantime, I've updated the documentation to mention that sometimes you might need to remov

[2018-10-13 10:16] MMasey opened #1098 "Feature request - Package Development Guide"
It would be really useful to have some documentation around how to create, maintain and upload packages to Our & nuGet.

A baseline would be really useful a guide that can be extended from.

@emmaburstow @leekelleher @mattbrailsford

[2018-10-13 10:47] leekelleher commented on #1098
Here's my old (old) repo for our package repo boilerplate: https://github.com/leekelleher/umbraco-package-boilerplate

If it helps? Ignore if not.

[2018-10-13 11:03] marcemarc commented on #1098
@BatJan @emmaburstow @emmagarland @leekelleher Go Cabinistas!

There is this reference for package actions: https://our.umbraco.com/documentation/Reference/Packaging/

(it would be good to review if this is 'up to date')

Secondly there 'isn't really' anything on creating a package (I mean not necessarily a package to release) but just using that section - @prjseal wrote something for 24days: http

[2018-10-13 11:13] emmaburstow commented on #1098
Hey Marc,

I'll send over the work in progress doc we have going on at the mo. We're looking at Paul's now so thanks! The approach we're taking is more holistic and goes into etiquette around feedback, committing to ongoing maintenance and security considerations. Mostly with an aim to standardising the approach of providing a launchpad for total beginners.

Em

[2018-10-13 12:18] marcemarc commented on #1098
@emmaburstow ace, yes etiquette is interesting, - there was often been discussion around identifying 'community loved' packages... or having 'package status - eg actively supported - accepts contribution etc' - but if you have an idea of a new package,  it's not easy to know where to start...

Possibly also we could add a tutorial page following on from  the 'creating a property editor one'

https

[2018-10-15 17:44] silvia-odwyer opened #1103 "Possible Typo In Config Name in Documentation"
What type of issue is it? (Choose one - delete the others)
Wrong documentation

## What article/section is this about?
https://our.umbraco.com/documentation/Add-ons/UmbracoForms/Developer/Configuration/

## Describe the issue:
While perusing the documentation, I have discovered a possible typo in a configuration value, but I wanted to make sure that this is indeed a typo by the author of that page

[2018-10-15 22:43] marcemarc opened #1106 "Document those little overlay icons that appear on top of nodes in the Content Tree"
## What type of issue is it? (Choose one - delete the others)

Missing documentation

## What article/section is this about?
Backoffice/Sections

## Describe the issue:

Umbraco has these tiny icons that overlay the top of content nodes, and there doesn't seem to be anywhere that explains what they are...

... perhaps there should be a Using Umbraco section of the documentation, or perhaps this fi

[2018-10-15 22:50] marcemarc commented on #1106
see: https://our.umbraco.com/forum/using-umbraco-and-getting-started/94191-meaning-of-various-content-tree-mini-icons

[2018-10-15 23:16] fer22f commented on #1106
Hey, I want to grab this one! I will check the source code out to see if there are more enumerations, any hints as to where I could find them?

[2018-10-16 06:52] LottePitcher opened #1108 "Guidelines on creating v8 content apps"
## What type of issue is it?
Missing documentation

## What article/section is this about?
Content Apps in v8 - a feature that is only relevant to v8

## Describe the issue:
People want to know how to create content apps in v8.  Currently you have to play detective in the Core implementations to figure it out.  The process is very similar to adding a new property value editor and therefore a tutor

[2018-10-16 11:30] #1106 closed

[2018-10-17 07:11] muskan09 commented on #1103
Can I update the corrected spelling if it's not done yet?

[2018-10-17 08:50] #1103 closed

[2018-10-17 08:51] jmayntzhusen commented on #1103
This has been fixed as of #1116 - thanks for reporting the issue 😉

@muskan09 Sorry someone already submitted this.

[2018-10-17 10:32] jmayntzhusen commented on #1108
Hey @LottePitcher

This sounds super great! We will discuss it today at our biweekly Documentation meeting and see if we can come up with a proper plan on how we can add new features that only exist in future versions 🙂

[2018-10-17 10:57] LottePitcher commented on #1108
Thanks @jmayntzhusen. Yes I appreciate it needs some proper thought!

If you decide it is too early for stuff like this to join the docs then I can put online as a blog post.  But that would seem a shame as then it can't be kept up-to-date by the community as the feature evolves (as no doubt it will!)

[2018-10-17 14:33] dampee commented on #1108
Hi @LottePitcher

I have created a new branch for you which can give you a starting point.  If you (or someone else?) got somewhere, just create a PR and we'll happily review it.

Thanks a lot for creating the issue.  It's much appreciated!

Kind regards
Damiaan

[2018-10-17 16:51] LottePitcher commented on #1108
Hey @dampee

Great. That all makes sense, so fingers crossed I end up with a PR in the right place ;-)

[2018-10-17 21:01] LottePitcher commented on #1108
@dampee how did I do?!!
PR #1123

[2018-10-17 21:27] dampee commented on #1108
Do we close this issue, or do you think @crgrieve will pitch in here?

We could create a new Issue or immediately a PR against the master.  (The ContentApps branch is deleted).

[2018-10-17 22:34] LottePitcher commented on #1108
Thanks @dampee !

Looks like we can't navigate to the v8 page on Our at the moment, despite the fact that I can see you've added the missing version YAML.  I have a feeling that the version links aren't appearing on pages I'm sure I've seen them on previously so thinking it's a wider issue.  In which case I think this specific issue can be closed.  As you say further improvements on the content ap

[2018-10-17 22:46] LottePitcher commented on #1108
Although that said...

It would look better if there was a space in the wording in the side menu and breadcrumb - i.e. "Content Apps" not "ContentApps".   Is that fixed by adding a hyphen in the folder name?  If so, and you would like me to do that in a PR then let me know.

I don't know how searching works in Our.  Would you expect "content apps" to return matches now that these pages are publish

[2018-10-18 09:29] #912 closed

[2018-10-18 13:03] jmayntzhusen commented on #1108
@LottePitcher , @dampee The new Content Apps section is working with the versioning now, and it looks really awesome, good job to whoever was involved at CodeCabin 😄

I will close this issue now, and if there are several things missing then maybe we should open another issue with a proper list of them so it's easier to get an overview? 🙂

[2018-10-18 13:03] #1108 closed

[2018-10-19 05:47] telljimmy commented on #973
@andrewmumblebee . thanks for finding this. glad to know that its getting fixed.

[2018-10-19 18:56] dampee commented on #989
Closing this issue with the PR merge

[2018-10-19 18:56] #989 closed

[2018-10-21 16:38] marcemarc opened #1143 "Document the behaviour of the default route / in single/multisite scenarios"
## What type of issue is it? (Choose one - delete the others)
Missing documentation

## What article/section is this about?
https://our.umbraco.com/documentation/Tutorials/Multilanguage-Setup/
https://our.umbraco.com/documentation/Reference/Routing/

## Describe the issue:
See this discussion on Our: https://our.umbraco.com/forum/using-umbraco-and-getting-started/94268-link-to-first-content-node-i

[2018-10-22 16:39] Myster commented on #889
I don't seem to be able to do that today, git-hub keeps signing me out.
I'll try and remember to do it later.

On Thu, 11 Oct 2018 at 22:30 sofietoft <notifications@github.com> wrote:

[2018-10-22 21:31] greystate opened #1151 "Docs on using Models Builder interfaces to render compositions"
## What type of issue is it?

Missing documentation

## What article/section is this about?

[Reference/Templating/Modelsbuilder](https://our.umbraco.com/documentation/Reference/Templating/Modelsbuilder/)

## Describe the issue:

The Models Builder section is missing some docs on how to render data from compositions (without having to use the generic `GetPropertyValue()` thingy).

So I've started

[2018-10-23 05:48] poornimanayar opened #1153 "Grid layout page Issue with Configuring the Grid Layout data type url"
## What type of issue is it? (Choose one - delete the others)
Badly formed markdown on the Grid layout page (https://our.umbraco.com/documentation/getting-started/backoffice/property-editors/built-in-property-editors/grid-layout)
![image](https://user-images.githubusercontent.com/3941753/47338385-8a137b00-d68f-11e8-933b-9dd9cfda8a77.png)

## What article/section is this about?
https://our.umbraco.

[2018-10-23 05:55] poornimanayar commented on #1153
Fixed in PR https://github.com/umbraco/UmbracoDocs/pull/1154

[2018-10-23 11:49] #1153 closed

[2018-10-23 12:17] jmayntzhusen commented on #1151
Hey @greystate

The page on your branch looks good 🙂 I don't know how much you are planning to add to this, I would suggest you either use this issue to keep track of parts and then do PR's little by little or just submit what you have and then see if others add onto it.

We may as well benefit from what is already there 😉

[2018-10-23 12:27] greystate commented on #1151
Thanks @jmayntzhusen 👍

I'll submit a PR and get the ball rolling from there ⚾️ 🎢

[2018-10-23 13:42] jmayntzhusen commented on #1151
I would say so, it works fine at the moment 🙂

[2018-10-24 07:52] #1151 closed

[2018-10-24 11:53] jmayntzhusen commented on #764
Seems this has been fixed and merged, will close this 🙂

[2018-10-24 11:53] #764 closed

[2018-10-24 11:55] jmayntzhusen commented on #1012
Closing as it has been merged in already, great job @susw12  😃

[2018-10-24 11:55] #1012 closed

[2018-10-24 14:13] greystate opened #1168 "The .md extension gets stripped from code samples"
***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/master/Contribute/Markdown-Conventions/index.md***

In the [Internal links section](https://our.umbraco.com/documentation/Contribute/Markdown-Conventions/#internal-links) it is specifically mentioned that one should _"include the .md extension."_ - but the two code samples are both missing said extension:

<img width="892

[2018-10-25 07:20] jmayntzhusen commented on #1168
Hey @greystate

You are right, if I recall the actual code I think it doesn't matter - if you add the .md it will strip it anyways..

It is important to note that it should either link to the folder name if you are targeting the index.md file or link to the file name if it is not in its own folder like below:

![udklip](https://user-images.githubusercontent.com/36075913/47482345-94bc4480-d836-11e8

[2018-10-25 09:46] tcmorris opened #1172 "Add info on ISearchableTree"
## What type of issue is it? (Choose one - delete the others)

Missing documentation

## What article/section is this about?

Not entirely sure where to place the docs, but this seems like a good fit.
https://our.umbraco.com/documentation/Extending/Section-Trees/trees

## Describe the issue:

Can't find any information about how to implement `ISearchableTree` and why you might want to do that.

Ex

[2018-10-25 18:32] Niladri24dutta commented on #1168
@jmayntzhusen and @greystate Can I work on this as a PR for hacktoberfest? This is my first time contribution to Umbraco repo

[2018-10-25 19:50] greystate commented on #1168
@Niladri24dutta No problem — go for it 👍

[2018-10-25 20:08] Niladri24dutta commented on #1168
@greystate Thanks, so as suggested I am just rephrasing the given instruction for a better understanding except the `.md` part because it by default removed as part of markdown.

[2018-10-25 20:43] Niladri24dutta commented on #1168
@greystate @jmayntzhusen I have created my first PR. Can you please check and let me know if anything needs to be changed?

[2018-10-26 12:39] Soundug commented on #847
@marcemarc Can I take this one?
I could add some services documentation.

[2018-10-26 14:02] berry120 commented on #1143
https://github.com/umbraco/UmbracoDocs/pull/1177

Newcomer to Umbraco, so please let me know if I've missed anything obvious or done anything wrong!

[2018-10-27 09:46] marcemarc commented on #847
@Soundug Yes, absolutely, we're trying to follow the pattern that @abjerner has established for the services - take a look at the domain service for example: https://our.umbraco.com/Documentation/Reference/Management/Services/

Essentially we are not trying to duplicate the auto generated api documentation eg https://our.umbraco.com/apidocs/csharp/api/Umbraco.Core.Services.DomainService.html

but

[2018-10-27 10:28] abjerner commented on #847
@Soundug Feel free to write here if you started adding documentation for some of the services. I planned on doing that for a least some of the missing services this weekend. I'll write here as well so we don't end up working on the same services ;)

[2018-10-29 08:55] jmayntzhusen commented on #1172
Hey @Soundug

I am not aware if this is changing in v8, you are very welcome to check it out and add that as well - but adding v7 is also perfectly fine 😁

[2018-10-30 09:01] jomehmet opened #1212 "The rewrite rule under the section **How can I control who accesses my backoffice using IP filtering?** has a security flaw."
***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/master/Umbraco-Cloud/Frequently-Asked-Questions/index.md***

In [how-can-i-control-who-accesses-my-backoffice-using-ip-filtering](https://github.com/umbraco/UmbracoDocs/blob/master/Umbraco-Cloud/Frequently-Asked-Questions/index.md#how-can-i-control-who-accesses-my-backoffice-using-ip-filtering)
[code]

The HTTP_HOST input

[2018-10-30 09:19] nul800sebastiaan commented on #1212
The reason we want to make a rewrite rule is so that normal visitors will get the site served over https. That way man-in-the-middle attacks are not possible. No regular website visitor would ever willingly pretend to be localhost to prevent a redirect.

This exception is ONLY there so that when you're working with your site locally, you don't get redirected to https.

Is there any attack vector t

[2018-10-30 14:34] #1168 closed

[2018-10-30 16:46] lars-erik opened #1215 "New backoffice clientside events for content and grid"
Missing documentation. Issue solicited by @dampee :)

## What article/section is this about?
Extending

## Describe the issue:
The content editor process has new events:
- content.loaded
- content.saved
- content.saving
- content.newReady
- content.unpublishing
- content.unpublished

The content is in the event args.

The grid editor has new events:
- grid.initializing
- grid.initialized
- grid.ro

[2018-10-31 07:56] jomehmet commented on #1212
This issue was about [how-can-i-control-who-accesses-my-backoffice-using-ip-filtering](https://github.com/umbraco/UmbracoDocs/blob/master/Umbraco-Cloud/Frequently-Asked-Questions/index.md#how-can-i-control-who-accesses-my-backoffice-using-ip-filtering), thus only let certain IP-adresses geting acces to backoffice, not redirecting to https. Https wouldn't stop you for setting whatever Header you wa

[2018-10-31 14:53] marcemarc opened #1222 "Create a SiteMap.xml Tutorial"
## What type of issue is it? (Choose one - delete the others)

Missing documentation

## What article/section is this about?
How to create a sitemap.xml for an Umbraco site, from scratch, for a google/search engine consumption.

## Describe the issue:

we can link to any existing packages that do the job

But creating a sitemap from scratch is a good opportunity to show off good practice of workin

[2018-11-01 10:02] dampee commented on #1072
As discussed:

1. We should use Guids
2.  external links should be possible
3. we might need some taxonomie in the future to group documents

[2018-11-02 12:51] nul800sebastiaan commented on #1212
Cool, it seems this is a non-issue. I'll close it for now unless we can reproduce a problem. Thanks!

[2018-11-02 12:51] #1212 closed

[2018-11-08 14:36] Attackmonkey opened #1236 "Add Missing Documentation on TagQuery for UmbracoHelper"
## What type of issue is it? (Choose one - delete the others)
Missing documentation

## What article/section is this about?
https://our.umbraco.com/Documentation/Reference/Querying/UmbracoHelper/

## Describe the issue:
No documentation for the TagQuery property of the UmbracoHelper.

[2018-11-08 14:38] Attackmonkey commented on #1236
Pull request submitted: https://github.com/umbraco/UmbracoDocs/pull/1234

[2018-11-08 15:40] LottePitcher opened #1238 "Duplicated markdown guidelines"
## What type of issue is it? (Choose one - delete the others)
Duplicated documentation

## What article/section is this about?
https://github.com/umbraco/UmbracoDocs/blob/master/README.md
https://github.com/Umbraco/UmbracoDocs/blob/master/Contribute/Markdown-Conventions/index.md

## Describe the issue:
There are some guidelines on both these pages explaining the markdown conventions to use in the

[2018-11-09 07:59] #917 closed

[2018-11-09 09:48] dampee commented on #1236
Hi @Attackmonkey

Great to see some examples for the TagQuery. However, we try to minimize the method lists which are generated too from the [automatic TagQuery documentation](https://our.umbraco.com/apidocs/csharp/api/Umbraco.Web.TagQuery.html?q=tagquery).

Could you update the PR a littlebit so that it feels more like an explanation with an example and not like the auto generated page?

What do

[2018-11-09 09:50] dampee commented on #1236
Just noticed that the PR is already merged by @marcemarc , but I think we can do better.  Do you have some time to help us out @Attackmonkey ?

[2018-11-09 12:09] jmayntzhusen commented on #1238
Since @marcemarc merged your PR fixing this I will close this issue now 😄

[2018-11-09 12:09] #1238 closed

[2018-11-12 09:20] Attackmonkey commented on #1236
Have you got an example in the docs that's more like what you're thinking of? I'll take a look and update the docs if so! Might take me a few days as I'm super busy this week, but happy to beef them up if need be :)

[2018-11-12 17:36] jameskraus commented on #703
Closing, no longer use Umbraco

[2018-11-12 17:36] #703 closed

[2018-11-14 10:58] YodasMyDad opened #1245 "Add v8 To System Requirements Page"
Could we get the v8 specs added to this page please. Specifically what version of ASP.NET v8 will target? Thanks..

https://our.umbraco.com/documentation/getting-started/setup/install/system-requirements

***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/master/Getting-Started/Setup/Install/system-requirements.md***

[2018-11-15 09:51] nul800sebastiaan commented on #973
I'll close this as the fix will be released when 7.13 is released 👍

[2018-11-15 09:51] #973 closed

[2018-11-19 13:10] jamescoxhead opened #1247 "Contradiction - Examine configuration"
## What type of issue is it? (Choose one - delete the others)
Two pages with conflicting information

## What article/section is this about?
[Azure Web App configuration](https://our.umbraco.com/documentation/Getting-Started/Setup/Server-Setup/azure-web-apps#pre-examine-v0180) and [Flexible Load Balancing configuration](https://our.umbraco.com/documentation/Getting-Started/Setup/Server-Setup/load-

[2018-11-19 13:18] sofietoft commented on #1247
Hi @jamescoxhead

Thanks for reporting this!
Sure looks like there's a mismatch between the two articles.
It also confuses me that it says *Examine v0.1.80+ / Pre Examine v0.1.80* in the Azure Web Apps article and *Examine v0.1.83+ / Pre Examine v0.1.83* in the Load balancing article 🤔 but that could perhaps have something to do with the difference in the configuration.

I'm not at all an expert i

[2018-11-20 10:30] nul800sebastiaan commented on #1245
We'll be targetting ASP.NET 4.7.2.

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2018-11-20 12:03] FabianoAgosti opened #1249 "Pass on query string"
Hello,

Is it possible to pass on query string to the built-in URL tracking functionality in Umbraco? We have a client that has renamed some nodes and these nodes also have paramater string in the URL, especially when an user comes from an ad (gclid paramater passed in the URL). When a redirect happen from the old URL to the new URL, those paramaters are not passed across. Is there a solution for

[2018-11-25 21:45] dampee commented on #1172
@Soundug do you have already a branch with a start?

[2018-11-26 00:19] marcemarc commented on #894
Now dependant on this PR: https://github.com/umbraco/Umbraco-CMS/pull/3759
as the entities aren't present in the log resource!

[2018-12-04 07:49] #894 closed

[2018-12-05 14:38] Jeavon commented on #1247
This information is correct. The Azure Web App docs are for single Instance configuration that will never be scaled, the Load Balancing is of course configuration for scale out.
However, the tokenised path isn't required for any configuration where you have Examine v0.1.83 or higher

[2018-12-06 21:15] jabbrowocky opened #1260 "Your rule doesn't work to redirect localhost, either expand the documentation or rewrite it, because it's utter shit."
***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/master/Reference/Security/use-https.md***

[2018-12-06 23:23] dampee commented on #1260
Hi @jabbrowocky

Thanks for your feedback.  What do you exactly mean by doesn't work to redirect localhost?
The conditions say it will not redirect to localhost.  Have you tried to remove this line (see below)?

[code]

[2018-12-07 10:22] marcemarc commented on #1222
a start on the tutorial is now live

[2018-12-07 10:22] #1222 closed

[2018-12-07 14:04] jabbrowocky commented on #1260
That makes more sense, I thought it was there for the purpose of being able to have it redirect while working on localhost.  What sort of rule would I use to make it redirect to https://localhost:port#, so it's using https while I'm working locally as well?

[2018-12-07 14:23] jabbrowocky commented on #1260
Additionally, when this setting is enabled, the back office stops working as it attempts to redirect to https://localhost/umbraco instead of localhost:port/umbraco

[2018-12-11 08:14] jmayntzhusen opened #1266 "Missing syntax highlighting in the documentation"
Our has recently been updated to support syntax highlighting https://github.com/umbraco/OurUmbraco/pull/332

This means we are missing it everywhere in the documentation, the way to add it is to go in the markdown files and add something like this:
[code]

The currently supported highlighted languages are csharp, html, json5, xml

To make it easier we can split this task up in the subfolders of th

[2018-12-11 09:48] dampee commented on #1266
👍

[2018-12-13 14:18] jabbrowocky opened #1269 "The File Upload property editor lacks documentation altogether."
I literally can't use the file upload property editor because your site has 0 information about it's return type or how to pull files from it in the cshtml view.  Unfortunately guessing isn't a game I like to play when developing; some documentation on this very useful property editor would be nice.

***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/master/Getting-Starte

[2018-12-17 03:42] castlino commented on #971
Also getting same error here.

[2018-12-17 15:15] Niladri24dutta commented on #1245
@nul800sebastiaan Can i work on this? Should I only need to update the .NET framework dependency for 8X version?

[2018-12-18 08:46] jmayntzhusen commented on #1245
Hi @Niladri24dutta

Would be great if you worked on it, make sure you familiarize yourself with how our versioned documentation works: https://our.umbraco.com/documentation/Contribute/file-naming-conventions

[2018-12-18 12:21] jmayntzhusen commented on #895
As the update has been rolled out I will close this issue, all documentation can now be versioned so any screen shot updates can be made 🙂

Read more about setting up versioned documentation here: https://our.umbraco.com/documentation/Contribute/#multi-version-documentation

[2018-12-18 12:21] #895 closed

[2018-12-18 13:39] jmayntzhusen commented on #889
Hey @Myster

As this seems to be a bug in Forms rather than a fault in the documentation I will close this for now as the issue should be on the Forms issue tracker instead 🙂

[2018-12-18 13:39] #889 closed

[2018-12-18 14:16] jmayntzhusen commented on #1269
Hi @jabbrowocky

Thanks for reporting some missing documentation, as this documentation is open source we rely on friendly and helpful members of the Umbraco community to help fill out the gaps.

As such if you are interested in contributing information on how this property editor works then you are very welcome to submit a pull request 🙂

I can tell you that if you set up a document type with the

[2018-12-18 22:19] castlino commented on #971
@Jeavon yeah i think you are right, For anyone who's getting the same problem, try below

`@Umbraco.Truncate(@Umbraco.Field(item, "articleContents"), 100)`

[2018-12-19 14:18] #359 closed

[2018-12-19 14:34] jmayntzhusen commented on #1247
Hi @jamescoxhead

Have you had a chance to review what Jeavon wrote above? If there are no issues I will close this, if you disagree please reopen 🙂

[2018-12-19 14:34] #1247 closed

[2018-12-20 20:47] aredshaw commented on #847
Are you using REST APIs? If so, I might be able to help.
What are the following?
* The base path
* Endpoints
* All possible methods and parameters
* An API Key (If required)

[2018-12-21 15:30] v3rt1go opened #1277 "When creating strongly typed classes for umbraco headless matching IS case sensitive and it's explained wrong"
## What type of issue is it?
Wrong documentation

## What article/section is this about?
https://our.umbraco.com/documentation/Umbraco-Cloud/Headless/Headless-Net-Client/Query

## Describe the issue:
in the https://our.umbraco.com/documentation/Umbraco-Cloud/Headless/Headless-Net-Client/Query#filter-on-document-types-with-strongly-typed-classes section of the documentation, in the example for crea

[2019-01-03 14:03] tcmorris commented on #1172
Nice one, cheers @marcemarc @dampee

[2019-01-03 17:40] Nicholas-Westby opened #1284 "Config Transforms Doesn't Mention Latch Prefix"
***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/master/Umbraco-Cloud/Set-Up/Config-Transforms/index.md***

That page doesn't mention that Umbraco Cloud adds a file called `Latch.Web.live.xdt.config` by default. Note that it contains a "Latch." prefix. This does not match the format mentioned on the page, which is `{config-file name}.{environment}.xdt.config`. If it wer

[2019-01-04 07:44] nul800sebastiaan commented on #1284
Just follow the documentation, which is clear and correct.

As noted in the `Latch.Web.live.xdt.config`:

[2019-01-04 07:44] #1284 closed

[2019-01-04 15:13] Nicholas-Westby commented on #1284
I'm not sure what you mean. The documentation page does not mention the "Latch." prefix at all. It also doesn't mention the mechanism by which this file pattern can work.

Why isn't the file simply called "Web.live.xdt.config", for example? What would happen if both "Latch.Web.live.xdt.config" and "Web.live.xdt.config" were present? The documentation implies the latter should be the case, yet the

[2019-01-07 09:11] nul800sebastiaan commented on #1284
It's a special file for our Latch product.

Have you tried following the documentation, which specifies how we expect people to work with config transforms? It mentions you can use development-specific transforms and package-specific transforms.

[2019-01-07 10:02] jmayntzhusen commented on #846
I stumpled upon this old issue, I found a while ago some links that ended in `/_/`, and they should be fixed, either way this issue is no longer an issue and if any other broken links occur we should get a new issue.

[2019-01-07 10:02] #846 closed

[2019-01-07 12:36] #424 closed

[2019-01-07 12:36] #953 closed

[2019-01-07 18:21] Nicholas-Westby commented on #1284
@nul800sebastiaan I must have missed the section about package-specific transforms. That's my mistake. Thank you for pointing me in the right direction.

[2019-01-10 11:41] jmayntzhusen opened #1293 "Adding documentation on Property Editors"
# Adding documentation on Property Editors

Umbraco ships with some built in property editors, a list of them can be found on this page: https://our.umbraco.com/documentation/Getting-Started/Backoffice/Property-Editors/Built-in-Property-Editors/

Some of these property editors are not documented though, we have a list of them here:
- [ ] Decimal
- [ ] Email address
- [ ] File upload
- [ ] Folder B

[2019-01-10 11:42] jmayntzhusen commented on #1269
Hey @jabbrowocky

As this is not the only property editor missing documentation I have created a general issue about adding documentation to them, and will be closing this one. Please follow https://github.com/umbraco/UmbracoDocs/issues/1293 for any updates 🙂

[2019-01-10 11:42] #1269 closed

[2019-01-10 14:28] cosminiv opened #1294 "Add Next and Previous links to documentation"
Hi,

When reading the documentation it would be useful to have at the bottom of the page "Next" and "Previous" links. Otherwise I need to go back at the top of the page and track down the next page in the tree, which is tedious, especially on mobile.

Thanks

***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/master/Getting-Started/Setup/index.md***

[2019-01-11 10:13] mistyn8 opened #1296 "installing v8 via nuget following this guide no working..."
***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/master/Getting-Started/Setup/Install/install-umbraco-with-nuget.md***

following the instructions, with one change..
Install-Package UmbracoCms -Pre -Source https://www.myget.org/F/umbracocore/api/v3/index.json

when building (Ctrl+f5 from vs 2017) the successfully installed nuget package..
I get
`
Server Error in '/' App

[2019-01-13 11:07] nul800sebastiaan commented on #1296
It seems to be a problem on your machine, let's continue on the forum: https://our.umbraco.com/forum/umbraco-8/95272-v8-preview-via-nuget-doesnt-seem-to-fetch-umbraco-dlls-or-reference-them-in-the-solution

[2019-01-13 11:07] #1296 closed

[2019-01-14 07:55] jmayntzhusen commented on #1294
Hey @cosminiv

Thanks for the feedback. All tutorials that are on multiple pages already have these links though, and since all other articles are simply topics where there may not be a specific order to them I am not sure it would make sense.

What we probably should do instead is to add some sort of Related Articles section at the bottom with suggestions on what else could be interesting to read

[2019-01-14 07:55] #1294 closed

[2019-01-14 15:46] readingdancer opened #1303 "Renaming Seperator -> Separator"
## What type of issue is it? (Choose one - delete the others)
Wrong documentation ( for v8 )

## Describe the issue:

I have created a pull request ( https://github.com/umbraco/Umbraco-CMS/issues/4060 ) that fixes these typos in the v8 branch, assuming it gets merged in, these are changes to the docs to reflect the change.

[2019-01-16 20:25] bmargevicius opened #1308 "Umbraco 7.13.1 Backoffice is missing umbraco.css in 'release' mode"
Upgrade Umbraco from 7.12.4 to 7.13.1

In the backoffice, on a (custom) listview. When we publish to azure using the "release" profile items that are unpublished appear to be published (black font). If in debug, everything looks correct.

Flipping debug=true/false in web.config does the same thing.
<compilation defaultLanguage="c#" debug="true" batch="false" targetFramework="4.7.1" numRecompilesBe

[2019-01-16 20:26] bmargevicius commented on #1308
Wrong repo

[2019-01-16 20:26] #1308 closed

[2019-01-17 18:57] jmayntzhusen commented on #1303
Has been fixed now, thanks @readingdancer

[2019-01-17 18:57] #1303 closed

[2019-01-22 07:47] nul800sebastiaan opened #1380 "V8: Remove MySQL support & update requirements"
For reasons mentioned in https://github.com/umbraco/Umbraco-CMS/pull/4143 we've removed support for MySQL in v8. The requirements for v8 should mention this.

Furthermore to use v8, people will need .NET 4.7.2 installed on their machine and use at least Visual Studio 2017 version 15.9 and higher. Lower versions will throw errors, so 15.9+ is important to note.

Hosting requirements will also need

[2019-01-23 14:17] marcemarc opened #1405 "Add info on missing ContentService Events"
## What type of issue is it? (Choose one - delete the others)

Missing documentation

## What article/section is this about?
Content Service Events Page
https://our.umbraco.com/documentation/Reference/Events/ContentService-Events

## Describe the issue:

We're missing info for the following events

Emptied Recycle Bin - ContentService_EmptiedRecycleBin(IContentService sender, Umbraco.Core.Events.R

[2019-01-23 18:45] BatJan opened #1409 "Add information about how to install Umbraco using VSCode"
## What type of issue is it?
Missing documentation

## What article/section is this about?
[Installing Umbraco manually](https://our.umbraco.com/documentation/Getting-Started/Setup/Install/install-umbraco-manually)

## Describe the issue:
I just noticed that this page does not contain any information about how to install Umbraco using VSCode - This should be added and then the webmatrix way of doi

[2019-01-23 18:56] BatJan commented on #1380
I reckon that the page about permissions also need to be updated accordingly? https://our.umbraco.com/documentation/Getting-Started/Setup/Server-Setup/permissions

I'll create a separate issue for this if people agree 😃

[2019-01-23 20:34] BatJan opened #1456 ""Current" listed multiple times"
## What type of issue is it?
Parsing bug I think...

## What article/section is this about?
[Property editors - Grid Layout](https://our.umbraco.com/documentation/Getting-Started/Backoffice/Property-Editors/Built-in-Property-Editors/Grid-Layout)

## Describe the issue:
Going through the documentation some places I've noticed that it says "current" multiple times where I would expect it to have ver

[2019-01-23 20:45] BatJan commented on #1456
It also happens at this page: [Dropdown list Multiple](https://our.umbraco.com/documentation/Getting-Started/Backoffice/Property-Editors/Built-in-Property-Editors/DropDown-List-Multiple)

Where one of the currents links to [DropDown List Multiple Publish Keys](https://our.umbraco.com/Documentation/Getting-Started/Backoffice/Property-Editors/Built-in-Property-Editors/DropDown-List-Multiple-Publish-

[2019-01-23 20:50] BatJan opened #1461 "Versions box needs z-index: 1"
## What type of issue is it?

Other: Minor CSS bug

## What article/section is this about?
[Dropdown](https://our.umbraco.com/documentation/Getting-Started/Backoffice/Property-Editors/Built-in-Property-Editors/Dropdown)

## Describe the issue:
The versions box needs position: relative and z-index: 1; since there otherwise is a risk that the headlines will lay on top of it. Try clicking the last "C

[2019-01-24 04:24] emmanueltissera opened #1466 "Incorrect Model passed to View when Hijacking Route in Umbraco Headless"
## What type of issue is it? (Choose one - delete the others)
Wrong documentation

## What article/section is this about?
https://github.com/umbraco/UmbracoDocs/blob/master/Umbraco-Cloud/Headless/Headless-Net-Client/website-managed.md
`Hijacking routes` section

## Describe the issue:
In the code sample
`var content = UmbracoContext.GetContent();` returns a `ContentItem` whereas the view expects t

[2019-01-25 12:19] jmayntzhusen commented on #1409
Hey @BatJan

If you go one level up from that page to the install overview: https://our.umbraco.com/documentation/Getting-Started/Setup/Install/

Then you will see that we actually have both the "Manual install" one you linked, but also a guide for VS Code and for doing it with NuGet in VS.

I think you are right though and the manual install page should be removed or remade atleast as Webmatrix i

[2019-01-25 12:22] jmayntzhusen commented on #1456
Hmm yea you are right, will have to look into the logic on Our that generates this list again, but it seems each current link is an article with similar names in sub directories to the current page, I know the versioning logic is looking at filenames, so there could be something not working as intended there 😁

[2019-01-25 12:44] jmayntzhusen commented on #1461
Hey @BatJan

Good catch! But yes this should be moved to Our I think as that is where it would need to be fixed 🙂

[2019-01-25 13:16] BatJan commented on #1461
Thanks @jmayntzhusen - I have opened a new issue at the Our tracker here https://github.com/umbraco/OurUmbraco/issues/382

[2019-01-25 13:16] #1461 closed

[2019-01-28 19:39] nul800sebastiaan commented on #509
Wow, this is a bit of an old issue, thanks for bringing it to my attention @jmayntzhusen

The answer here is: different people do very different things with Umbraco. It would be good to mention that if you have any specific static files / media items / etc that you should add the appropriate permissions accordingly.

The permissions documentation as it is should allow you to run a plain Umbraco in

[2019-01-29 13:14] #509 closed

[2019-01-29 13:47] jmayntzhusen opened #1528 "Update Property Editors for v8"
## What type of issue is it? (Choose one - delete the others)
Missing documentation

## What article/section is this about?
https://our.umbraco.com/documentation/Getting-Started/Backoffice/Property-Editors/Built-in-Property-Editors/

## Describe the issue:
With v8 coming out later this year we should update Property editors to be have up to date examples for v8 🙂

- [x] Checkbox (Umbraco.TrueFalse

[2019-01-30 12:23] sitereactor commented on #1466
Thanks for submitting this issue. We rebuilt the .NET Client library to avoid the use of reflection and better support for using Xamarin with both Android and iOS. During this rebuild we leftout the `MapTo<T>` method from the HeadlessService as per your report. I have added in an equivalent method, so you should be able to use as before in a Web context.

I updated the documentation here: https://

[2019-01-30 12:23] #1466 closed

[2019-01-31 10:57] emmanueltissera commented on #1466
Hi @sitereactor ,

All good with this method now. Working as expected.

Cheers,
Emmanuel

[2019-02-06 15:25] croban opened #1538 "what does "showonce" attribute means"
***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/master/Reference/Config/dashboard/index.md***

[2019-02-07 08:21] rhealefever opened #1539 "Custom Dashboard tutorial not working in v8"
I'm going through the tutorials for v7 to see if they apply for v8, by following both tutorials side by side. The Custom Dashboard doesn't work in v8, and I'm pretty sure it must be because javascript is implemented differently in v8.

v7 working:
![image](https://user-images.githubusercontent.com/47108275/52398389-2c2d6680-2ab9-11e9-957c-d81518ca8117.png)

v8 not working:
![image](https://user-im

[2019-02-07 09:36] rhealefever commented on #1539
A similar thing happens while following [Creating a property editor](https://our.umbraco.com/documentation/Tutorials/Creating-a-Property-Editor/).
v7:
![image](https://user-images.githubusercontent.com/47108275/52402144-cc888880-2ac3-11e9-895c-871e5513441a.png)
![image](https://user-images.githubusercontent.com/47108275/52402151-d01c0f80-2ac3-11e9-9e8f-dab34e4895e7.png)

v8:
![image](https://user-

[2019-02-07 09:38] jmayntzhusen commented on #988
As this discussion has stalled it will be closed for now.

[2019-02-07 09:38] #988 closed

[2019-02-07 14:48] TheBeardedLlama opened #1541 "Conflicting advice on gitignore"
Hey guys/gals,
I'm slightly confused by the advice given with regards to gitignore.
The docs say ignore everything under the `Umbraco` directory, but the gitignore says that we need to have `umbraco/developer/packages` in source.
Could you please clarify?
I've been seeing this for a while, but only just thought to ask the question.

***This is the page with issues: https://github.com/umbraco/Umbra

[2019-02-07 14:51] TheBeardedLlama commented on #1541
same goes for the `app_data/packages` folder which is included in its entirety according to the gitignore

[2019-02-08 13:40] jmayntzhusen commented on #929
Closing as the Courier section recently had an overhaul, and for now referring to examples from the Contrib project is good enough.

[2019-02-08 13:40] #929 closed

[2019-02-08 23:10] Nicholas-Westby opened #1542 "Improve Dependency Injection (aka, IOC) Documentation Further"
There was a ticket a while back about improving the IOC documentation: https://github.com/umbraco/UmbracoDocs/issues/342

That helped, although I found that I needed to do some more work to get DI working in a way that didn't break the back office.

This was because I had some plugins installed (in my case, Formulate). There is a comment here that explains why this is: https://our.umbraco.com/foru

[2019-02-11 09:55] nikro412956 opened #1543 "broken link in tutorial"
from: https://our.umbraco.com/documentation/Tutorials/Creating-Basic-Site/Creating-Your-First-Template-and-Content-Node/

to: https://our.umbraco.com/documentation/Tutorials/Creating-Basic-Site/Creating-Your-First-Template-and-Content-Node/CSS-And-JavaScript

![image](https://user-images.githubusercontent.com/22655656/52555948-6e251800-2deb-11e9-83a1-6574ca544043.png)

[2019-02-11 09:56] nikro412956 commented on #1543
probably meant to go to https://our.umbraco.com/documentation/Tutorials/Creating-Basic-Site/CSS-And-JavaScript/

[2019-02-11 09:57] jmayntzhusen commented on #1543
Hey @nikro412956

Thanks a lot for reporting this! I have fixed it now so it works again 😉