[2019-02-11 09:57] #1543 closed

[2019-02-11 10:07] nikro412956 opened #1544 "broken link in tutorial"
from: https://our.umbraco.com/documentation/Tutorials/Creating-Basic-Site/CSS-And-JavaScript/

to: https://our.umbraco.com/documentation/Tutorials/Creating-Basic-Site/CSS-And-JavaScript/Outputting-the-Document-Type-Properties

should probably be: https://our.umbraco.com/documentation/Tutorials/Creating-Basic-Site/Outputting-the-Document-Type-Properties/

![image](https://user-images.githubusercont

[2019-02-11 10:12] jmayntzhusen commented on #1544
Another great catch 😁 I have gone through all of them now, so hopefully it works for you throughout the guide.

[2019-02-11 10:12] #1544 closed

[2019-02-11 10:15] dampee commented on #1544
Hi @nikro412956
Thanks a lot for taking time to report this.  Would you like to help out and create a Pull Request on the docs?  It's an easy fix.  I'll be glad to help you out with doing the PR.

If not, we will fix it asap!

[2019-02-11 10:18] nikro412956 commented on #1544
Hi @dampee
I am not sure what you mean with that.
I think i am missing a piece of context.
All the stuff about git i understand since i am a dev myself but what would i need to help you out with?

[2019-02-11 10:33] dampee commented on #1544
Hi @nikro412956
You can do a pull request to propose a change "in code" on the documentation repo.
If you go to this page : https://github.com/umbraco/UmbracoDocs/blob/master/Tutorials/Creating-Basic-Site/CSS-And-JavaScript/index.md

You have the "source" of this documentation page.  If you then edit the documentation by clicking on this button:
![afbeelding](https://user-images.githubusercontent.

[2019-02-11 10:35] dampee commented on #1544
Don't forget to mention this issue in the comments (which is your commit message).  You can mention an issue by using the hash tag followed by the issue number.  In this case #1554

[2019-02-11 10:36] nikro412956 commented on #1544
Hi @dampee
ah like that.
alright i will keep it in mind for the future since the current problems are fixed.
but thanks for the info.

[2019-02-11 10:36] nikro412956 commented on #1544
and the quick fixes

[2019-02-11 10:42] dampee commented on #1544
Hi didn't notice @jmayntzhusen fixed in in the mean time...

fixed in 89aa5403797cbf62743e56890112d895338f0bed

[2019-02-11 10:43] nikro412956 commented on #1544
Happens to the best of us

[2019-02-11 13:03] nikro412956 opened #1545 "broken and wrong link in tutorial"
from: https://our.umbraco.com/documentation/Tutorials/Creating-Basic-Site/Creating-Master-Template-Part-2/

link text: https://umbraco.tv/videos/developer/fundamentals/surface-controllers/ (no longer exists)
to: https://our.umbraco.com/documentation/Reference/Templating/Mvc/forms

link text should be: https://umbraco.tv/videos/umbraco-v7/developer/fundamentals/surface-controllers/
link should be:

[2019-02-11 15:18] jmayntzhusen commented on #1545
Thanks for fixing it! 🎉

[2019-02-11 15:18] #1545 closed

[2019-02-12 04:35] prashu2705 opened #1548 "Broken link in version specific upgrading"
The link  "the list on the issue tracker" - "http://issues.umbraco.org/issues/U4?q=Due+in+version%3A+7.7.0+Backwards+compatible%3F%3A+No+" is broken

***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/master/Getting-Started/Setup/Upgrading/version-specific.md***

[2019-02-12 11:02] jmayntzhusen commented on #1548
Hey @prashu2705

Good catch, it seems the link was to our old issue tracker, the new one has a bit less filtering, so the new link would be:
https://issues.umbraco.org/issues/?q=&project=U4&tagValue=&release=7.7.0&issueType=&search=search

Would you like to help others like yourself in the future by fixing the link in a PR? 🙂 For instructions you can read here: https://our.umbraco.com/documentatio

[2019-02-12 21:12] nul800sebastiaan commented on #1541
No conflicts there, you can exclude folders from the ignore file. Both are excluded from the example ignore file linked to from the documentation on these two lines:

https://github.com/github/gitignore/blob/master/Umbraco.gitignore#L19-L20

[2019-02-12 21:12] #1541 closed

[2019-02-12 21:36] TheBeardedLlama commented on #1541
I'm sorry @nul800sebastiaan but that wasn't very friendly or helpful.
You haven't quite dealt with the question at hand.

The link you provided is what I was referring to and they are not being excluded; they are being *included*, hence my request for clarification.

[2019-02-12 22:35] marcemarc commented on #1541
@TheBeardedLlama it depends on Umbraco version, in the V4/V6 days, some packages would install inside the /Umbraco folder, and also have corresponding files in app_data - so it was important then to exclude the entire Umbraco folder from source control - but include the package files! -  but since V7 there is now a separate app_plugins folder where packages should install themselves, so there is n

[2019-02-12 22:46] marcemarc commented on #1542
Thanks @Nicholas-Westby for raising this - I'm not sure on the necessity of registering each TreeController with the container - but can raise it at the next docs meeting to see if some input can be found here and report back - so we can improve the using-ioc page for people who stumble across this issue, and your workaround - (there is another PR open to add a lightject example to the page too -

[2019-02-13 09:06] marcemarc commented on #1539
@rhealefever Are there any console errors? these may point to which bit isn't working!

[2019-02-13 09:47] sofietoft commented on #1538
Hi @croban

I'm not entirely sure I understand what you're asking here.
Have you found an issue with the article? 🤔

/Sofie

[2019-02-13 10:03] TheBeardedLlama commented on #1541
That was much better! Thank you for taking the time to explain @marcemarc
In this case, should there be a note in the docs and/or the gitignore to indicate the above?
If that's the case, I'll submit the relevant PR's

[2019-02-13 11:05] marcemarc commented on #1541
@TheBeardedLlama yep, I'm not super-sure how the gitignore is maintained - but feels like a note above the two lines explaining the version specific ignorance. I guess it's not doing any harm allowing those folders in V7 as nothing should be stored in them, but can cause confusion to see them there and not know why!

[2019-02-13 11:16] dampee commented on #1538
@sofietoft Pretty sure he is talking about the "showOnce" attribute on the second line

[code]

[2019-02-13 11:23] dampee commented on #1538
To be honest, I think it is not used anymore. I can't even remember what it does. Maybe @marcemarc  or @Jeavon  know.  :-o

[2019-02-13 13:57] dampee commented on #1541
If you exclude the Umbraco folder, you will run into trouble on cloud as you need to check in everything.  I guess, if we are adding version specific information, you might verify that there is at least a reference to https://our.umbraco.com/Documentation/Getting-Started/Code/Source-Control/

[2019-02-13 14:05] TheBeardedLlama commented on #1541
cheers @marcemarc
yeah that's what I was thinking
gitignore is maintained by github, so I will submit a PR over there

sorry @dampee , but I'm not sure I understand what you mean
are you saying that the entire Umbraco folder needs to be committed to source? that doesn't sound right to me

[2019-02-13 15:37] dampee commented on #1541
@TheBeardedLlama
Actually, not only Umbraco, but also Umbraco_Client and the Bin folder.  The git repo on cloud is the website you are running.
Anyway, if you do a PR, I'll verify if we need to mention something about cloud.

Looking forward to your PR.  Do you refer to this Issue?  (can be done with a hash like so: #1541)

[2019-02-13 15:43] TheBeardedLlama commented on #1541
@dampee ah, are you referring to the Umbraco Cloud product? as opposed to running in the cloud, e.g. Azure?

[2019-02-13 15:58] nikro412956 opened #1550 "Question about licensing"
hi,

i was wondering if there is any documentation about how to create and validate licenses for self created Umbraco packages?
i did notice that there was some documentation about a licensing model but there wasn't really anything about creating licenses yourself.

regard,
Nick

[2019-02-13 17:14] nul800sebastiaan commented on #1550
There's no such documentation since we don't provide any licensing products. I would recommend to research general .NET licensing products to get some ideas of what might suit your project.

[2019-02-13 17:14] #1550 closed

[2019-02-13 17:18] nul800sebastiaan commented on #1541
@TheBeardedLlama Sorry, yes, instead of excluded I mean included, silly brain of mine!

Apologies if I didn't sound friendly, I will let you know I was in a good mood while I gave you a link and some background info on how you can implement the recommendation in the docs.

Good to see you got some more details! 👍

[2019-02-13 17:19] nul800sebastiaan commented on #1541
@dampee Please note that on Umbraco Cloud we ship with a pre-configured `.gitignore` file which of course includes the Umbraco folder. The example ignore file linked should be used for fresh stand-alone projects.

[2019-02-14 10:47] nikro412956 commented on #1550
@nul800sebastiaan do you know if i can get in touch with one of the Umbraco forms devs?

[2019-02-17 14:46] dampee commented on #1538
@croban I can confirm that this property is obsolete in v7.  If you have an old version, this would make a particular to be shown only once (pre v7).

I prepared a small change ready to be published: b8f3e3d9248eccf407b44bc8c3d458c62505ee4a

Documentation will be up to date soon.  So i'll close this issue.

[2019-02-17 14:46] #1538 closed

[2019-02-17 21:55] OlenaVyshnevska commented on #1548
Hey @jmayntzhusen

Here's the PR with the broken link fix: https://github.com/umbraco/UmbracoDocs/pull/1554

[2019-02-18 07:47] #1548 closed

[2019-02-20 20:00] dangrussell opened #1573 "Sidebar nav items are out of order"
## What type of issue is it? (Choose one - delete the others)
Wrong documentation

## What article/section is this about?
https://our.umbraco.com/documentation/Tutorials/Creating-Basic-Site/

## Describe the issue:
Under "Tutorials" > "Creating Basic Site", the menu items appear out of order.

In the menu, they appear in this order:
* Articles Parent and Article Items
* Conclusions Where Next
* Cr

[2019-02-20 20:05] dangrussell commented on #1573
![annotation 2019-02-20 145755](https://user-images.githubusercontent.com/4387475/53120902-e3e25f80-3520-11e9-8883-afefbaca950c.jpg)

[2019-02-20 20:50] dampee commented on #1573
Hi @dangrussell
Thanks for noticing.  We'll try to update in the upcoming days.

[2019-02-20 23:04] dampee commented on #1573
There is already a PR on OUR to fix this: https://github.com/umbraco/OurUmbraco/pull/389

[2019-02-21 06:51] rsoeteman opened #1575 "CacheRefresher Information for V8"
## What type of issue is it? (Choose one - delete the others)
Missing documentation

## What article/section is this about?
CacheRefreshers in Umbraco V8

## Describe the issue:
Since V8 the old CacheRefresher documentation is outdated, should be nice to have this for V8

[2019-02-21 08:07] sofietoft commented on #1575
Hi @rsoeteman !

Completely agree!
I've forwarded it to our developers, and they will look into get this documented ASAP.

Meanwhile, you can follow our progress on V8 Documentation here: https://our.umbraco.com/documentation/v8documentation

/Sofie

[2019-02-22 00:07] marcemarc opened #1579 "V8: Update all Application Starting and Application Started event examples to use Composer approach"
Throughout the documentation when showing how to extend different parts of Umbraco, there is usually included a snippet to show how to wire up an event or register a collection etc via creating a class that implements ApplicationEventHandler, for V8 a different approach is used, creation a IUserComposer to create a composition to customise the functionality of Umbraco.

Therefore all these pages n

[2019-02-28 08:49] jmayntzhusen commented on #1266
As pretty much everything has been updated - big thanks to @BatJan! - I will close this issue 🙂🎉

[2019-02-28 08:49] #1266 closed

[2019-02-28 08:53] jmayntzhusen commented on #971
I have updated the sample to
`@(Umbraco.Truncate(item.GetPropertyValue<string>("articleContent"), 100)`

Thanks for reporting the issue, will close it now 🙂

[2019-02-28 08:53] #971 closed

[2019-02-28 09:29] skttl opened #1592 "Link to Kudu article is broken"
https://our.umbraco.com/documentation/Umbraco-Cloud/Troubleshooting/Deployments/Path-too-long-exception/#solution

***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/master/Umbraco-Cloud/Troubleshooting/Deployments/Path-too-long-exception/index.md***

[2019-02-28 09:34] jmayntzhusen commented on #1592
Thanks for reporting this @skttl !

It seems it is currently using this link `../../Set-up/Power-tools/` and it should be using `../../../Set-up/Power-tools/` - one level higher. Do you feel like making a PR to correct this? 🙂

[2019-02-28 09:43] jmayntzhusen commented on #204
Hi there!

As this issue has been here for over a year without any PRs, we have decided to close it down.
If you feel the problem is still there, then please open a new issue with as many details as you can so someone has a chance to work on it!

Thanks for reporting it in the first place! 🙂

[2019-02-28 09:43] #204 closed

[2019-02-28 09:44] jmayntzhusen commented on #207
Hi there!

As this issue has been here for over a year without any PRs, we have decided to close it down.
If you feel the problem is still there, then please open a new issue with as many details as you can so someone has a chance to work on it!

Thanks for reporting it in the first place! 🙂

[2019-02-28 09:44] #207 closed

[2019-02-28 09:44] jmayntzhusen commented on #208
Hi there!

As this issue has been here for over a year without any PRs, we have decided to close it down.
If you feel the problem is still there, then please open a new issue with as many details as you can so someone has a chance to work on it!

Thanks for reporting it in the first place! 🙂

[2019-02-28 09:44] #208 closed

[2019-02-28 09:44] jmayntzhusen commented on #209
Hi there!

As this issue has been here for over a year without any PRs, we have decided to close it down.
If you feel the problem is still there, then please open a new issue with as many details as you can so someone has a chance to work on it!

Thanks for reporting it in the first place! 🙂

[2019-02-28 09:44] #209 closed

[2019-02-28 09:45] jmayntzhusen commented on #230
Hi there!

As this issue has been here for over a year without any PRs, we have decided to close it down.
If you feel the problem is still there, then please open a new issue with as many details as you can so someone has a chance to work on it!

Thanks for reporting it in the first place! 🙂

[2019-02-28 09:45] #230 closed

[2019-02-28 09:45] jmayntzhusen commented on #254
Hi there!

As this issue has been here for over a year without any PRs, we have decided to close it down.
If you feel the problem is still there, then please open a new issue with as many details as you can so someone has a chance to work on it!

Thanks for reporting it in the first place! 🙂

[2019-02-28 09:45] #254 closed

[2019-02-28 09:45] jmayntzhusen commented on #274
Hi there!

As this issue has been here for over a year without any PRs, we have decided to close it down.
If you feel the problem is still there, then please open a new issue with as many details as you can so someone has a chance to work on it!

Thanks for reporting it in the first place! 🙂

[2019-02-28 09:45] #274 closed

[2019-02-28 09:46] jmayntzhusen commented on #324
Hi there!

As this issue has been here for over a year without any PRs, we have decided to close it down.
If you feel the problem is still there, then please open a new issue with as many details as you can so someone has a chance to work on it!

Thanks for reporting it in the first place! 🙂

[2019-02-28 09:46] #324 closed

[2019-02-28 09:46] jmayntzhusen commented on #336
Hi there!

As this issue has been here for over a year without any PRs, we have decided to close it down.
If you feel the problem is still there, then please open a new issue with as many details as you can so someone has a chance to work on it!

Thanks for reporting it in the first place! 🙂

[2019-02-28 09:46] #336 closed

[2019-02-28 09:46] jmayntzhusen commented on #358
Hi there!

As this issue has been here for over a year without any PRs, we have decided to close it down.
If you feel the problem is still there, then please open a new issue with as many details as you can so someone has a chance to work on it!

Thanks for reporting it in the first place! 🙂

[2019-02-28 09:46] #358 closed

[2019-02-28 09:46] jmayntzhusen commented on #426
Hi there!

As this issue has been here for over a year without any PRs, we have decided to close it down.
If you feel the problem is still there, then please open a new issue with as many details as you can so someone has a chance to work on it!

Thanks for reporting it in the first place! 🙂

[2019-02-28 09:46] #426 closed

[2019-02-28 09:47] jmayntzhusen commented on #501
Hi there!

As this issue has been here for over a year without any PRs, we have decided to close it down.
If you feel the problem is still there, then please open a new issue with as many details as you can so someone has a chance to work on it!

Thanks for reporting it in the first place! 🙂

[2019-02-28 09:47] #501 closed

[2019-02-28 10:04] skttl commented on #1592
Sure :)

[2019-02-28 10:24] #1592 closed

[2019-02-28 10:44] jmayntzhusen commented on #1405
Closed by #1551

[2019-02-28 10:44] #1405 closed

[2019-02-28 10:45] jmayntzhusen commented on #1573
Thanks for letting us know, has now been fixed by https://github.com/umbraco/OurUmbraco/pull/389 🎉🙂

[2019-02-28 10:45] #1573 closed

[2019-02-28 10:47] jmayntzhusen commented on #1245
Has now been added to the requirements page: https://our.umbraco.com/documentation/Getting-Started/Setup/Requirements/

Thanks for reporting this problem 😉

[2019-02-28 10:47] #1245 closed

[2019-02-28 10:49] jmayntzhusen commented on #1380
Has now been added to the requirements page: https://our.umbraco.com/documentation/Getting-Started/Setup/Requirements/

[2019-02-28 10:49] #1380 closed

[2019-02-28 14:44] PeteDuncanson opened #1595 "Worth while documenting all the clientside events that the eventsService emits?"
Discussion

There is no documentation on the eventsService or what events it emits. As a result you don't know about it, how to use it or what events you could hook into.

## Describe the issue:

There is a lack of docs at all about the eventsService in AngularJS. Poking through the code it seems there are a lot of different events that are getting fired here there and everywhere but none of them

[2019-02-28 15:01] louisjacksonrees opened #1596 "Add how to render the MiniProfiler to the Debugging page"
## What type of issue is it? (Choose one - delete the others)
Missing documentation

## What article/section is this about?
https://our.umbraco.com/Documentation/Getting-Started/Code/Debugging/#miniprofiler

## Describe the issue:
It would be helpful to add this render helper for the MiniProfiler to the Debugger docs as i can't see the profiler without adding this to my page:

`@Html.RenderProfile

[2019-03-02 05:46] pawseytj opened #1598 "Save and Publish / Save / Unpublish confirmation popup"
### Save and Publish / Save / Unpublish confirmation popup temporarily obscures editable content within CMS.

[https://ibb.co/0CBYmSQ](url)

Please consider alternative methods for alerting users.

My opinion is that popup notifications should be removed all-together.  Popups could be replaced with alternative methods e.g. after clicking Save:

- Button changes to a green tick if successful, or
-

[2019-03-02 20:32] LottePitcher opened #1601 "Can we update a page to confirm that is it still correct for v8?"
## What type of issue is it?
Question

## What article/section is this about?
All of them!

## Describe the issue:
The "this article has not yet been verified against Umbraco 8..." note that displays on most pages in the docs (which is an excellent idea, by the way!)  Is there a way to flag specific pages as being still correct for v8 so this message disappears?

For example, I followed the instru

[2019-03-03 00:00] marcemarc commented on #1601
@LottePitcher I think there is some YAML that we can add eg 'checkedForV8' that will hide the message, but keep versionFrom as 7.0.0, but looking at the logic, I can't work out what it is/whether that's been implemented yet:

@if (currentUmbracoVersion == 8
     && currentVersionIsRemovedForv8 == false
     && currentVersion != null
     && currentVersion.Url.EndsWith("-v7") == false
     && curre

[2019-03-03 09:13] LottePitcher commented on #1601
Thanks, I wait to hear then.
Perhaps a positive 'this has been verified for v8' message instead of just hiding the current one might be worth considering, for a while at least.

[2019-03-03 09:47] bashenandi opened #1602 "Can you create a multilingual branch?"
Can you create a multilingual branch for translation in other languages? Otherwise, every merger will conflict.

[2019-03-03 11:59] joecklau opened #1603 "Correction on Umbraco Document about site setup permission setting"
## What type of issue is it? (Choose one - delete the others)
Wrong documentation

## What article/section is this about?
https://our.umbraco.com/documentation/Getting-Started/Setup/Server-Setup/permissions#file-and-folder-permissions

## Describe the issue:
On Umbraco site setup folders Permission setting document, it said that:

However, strictly following the document on permission setup will f

[2019-03-04 11:00] VasilkovME opened #1604 "IoC settings for version 8"
Could you please update the documentation how to set up Autofac for the 8th version.
The following code from the documentation page (https://our.umbraco.com/documentation/reference/using-ioc) doesnot work:

            var builder = new ContainerBuilder();

            // register all controllers found in your assembly
            builder.RegisterControllers(typeof(MvcApplication).Assembly);

[2019-03-04 14:50] jmayntzhusen commented on #1602
Hey @bashenandi

Not sure what you are asking here. Are you looking for Umbraco documentation in other languages?
I don't think we can support that currently, hard enough to maintain it in English - also not sure of the need for this.

[2019-03-04 14:54] jmayntzhusen commented on #1598
Hey @pawseytj

This is more of a feature request for the CMS, this issue board is for changes to the documentation of the CMS 🙂

Please create this on https://github.com/umbraco/Umbraco-CMS/issues instead.

[2019-03-04 14:54] #1598 closed

[2019-03-05 08:13] madsoulswe opened #1605 "(Cloud) Migrate-Existing-SiteMigrating: old sites, should mention obsolete datatypes"
When migrating older installation that uses obsolete datatypes, they usually conflict. Because default installations contains the new datatypes with the same name as the obsolete ones.

We usually just rename the old datatypes locally to ".... (Old)" and then deploy them.

I don't know the best solution =)

***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/master/Umbraco

[2019-03-05 14:26] jmayntzhusen commented on #967
Hey @greystate

Seems like it was marked obsolete Jun 30, 2017.. So I guess we can close this issue - thanks for considering the docs when you saw this feature though! 😄👍

[2019-03-05 14:26] #967 closed

[2019-03-05 14:29] jmayntzhusen commented on #1293
As nothing has happened here for 2 months I will close this issue - with v8 out, and the fact that noone has documented these for the duration of v7 it can't be that important 🙂

[2019-03-05 14:29] #1293 closed

[2019-03-06 19:40] hartviglarsen commented on #1604
Hello @VasilkovME !

While this article does indeed need to be updated are you aware that you can now create _composers_, in which you can register what you need?

Example: https://gist.github.com/hartviglarsen/02090abeae67e2cb07dd06d6f34d2812
Stephan's blog post: https://www.zpqrtbnk.net/posts/composing-umbraco-v8/

[2019-03-07 15:58] stherm opened #1608 "Typo in dashboard documentation"
The  "Re-ordering / weighting" -> setting section contains a typo , Examine management is written instead of mdelbuilders https://github.com/umbraco/UmbracoDocs/edit/master/Extending/Dashboards/index.md***

[2019-03-10 18:36] VasilkovME commented on #1604
Now I know, thank you! ;)

[2019-03-12 01:01] kyle-jorve opened #1612 "Issue rendering True-False value in Umbraco 8"
I just started using Umbraco 8 and I have to say it's looking good. I love that most every data type can be rendered with a simple @Model.Value or something similar. However, it looks like the True-False documentation might not have been updated for Umbraco 8, and I'm having a real hard time with it.

To summarize, I have some nested content and each item has its own true-false value. But regardle

[2019-03-13 14:25] marcemarc commented on #1608
Thanks @stherm it looks like the typo has been corrected now

[2019-03-13 14:44] #1604 closed

[2019-03-13 14:47] #1602 closed

[2019-03-13 14:48] marcemarc commented on #1601
@LottePitcher ooh, we might have an update on this soon

[2019-03-13 14:52] marcemarc commented on #1596
Hi louisjacksonrees

do you have umbDebug=true on the querystring? and compilation debug true in the web.config?

with those two settings on, the miniprofiler should display

or am I misunderstanding?

regards

Marc

[2019-03-13 14:53] jmayntzhusen commented on #1539
Closing this as this was done on a pre-release version, there are probably still some things that need to be updated, but will need more specific information for that 🙂

[2019-03-13 14:53] louisjacksonrees commented on #1596
Yeah I have both set to true, but it doesn’t show unless I add the partial

[2019-03-13 15:02] marcemarc commented on #1595
Hi Pete

We're not sure, it would be good if it was part of the autogenerated docs, as we're trying to avoid documenting code for the sake of it in the manual documentation... if the reference can be generated from the code - in the manual docs it's good to show examples and information about the existence of things in the context of when they might be used, but with the eventsService we're not su

[2019-03-14 14:14] jmayntzhusen commented on #1456
This had something to do with a weird structure being used, for the grid layout file it was because it had both a folder called Grid-Layout with several other articles inside, as well as a file on level with the folder called Grid-Layout.md, since we look at the path and strip away file extensions it caused this error 🙂

Should be all good now 👍

[2019-03-14 14:14] #1456 closed

[2019-03-14 16:07] nul800sebastiaan commented on #1579
Hi @marcemarc - just to let you know, I've added the "idea" label on this since it will be a longer-term project and it's great that you keep working on it, but it doesn't need to be in the overview for HQ for open issue that require immediate attention.

Keep up the great work!

[2019-03-14 19:47] nul800sebastiaan commented on #1612
This is fixed in the upcoming v8.0.1 https://github.com/umbraco/Umbraco-CMS/issues/4812

[2019-03-14 19:47] #1612 closed

[2019-03-15 23:20] marcemarc commented on #1596
@louisjacksonrees which version of Umbraco are you using? I'll try to reproduce.

[2019-03-18 13:06] sofietoft commented on #1605
Hi @madsoulswe

The issue you're mentioning here, is the one explained here, https://our.umbraco.com/documentation/Umbraco-Cloud/Troubleshooting/Deployments/Colliding-Datatypes/
Is that correct?

I've thought about linking to this troubleshooting guide, in the migration article.
What do you think about that idea?
Or perhaps we could also just mention that renaming the obsolete ones will do the tri

[2019-03-19 08:09] madsoulswe commented on #1605
Ah yes, linking that page could work. But it doesn't really mention what you could do if you have conflict between new and obsolete datatypes. Maybe just adding it as a "tip/hint" =)

[2019-03-19 08:12] louisjacksonrees commented on #1596
Version 7.12, thank you

On Fri, Mar 15, 2019 at 11:20 PM Marc Goodson <notifications@github.com>
wrote:

[2019-03-19 08:25] sofietoft commented on #1605
Yes, that's a very valid point!

I'll have a little tip/note thing added to the article asap 😁

[2019-03-19 08:40] sofietoft commented on #1605
Have a look at this: https://our.umbraco.com/documentation/Umbraco-Cloud/Getting-Started/Migrate-Existing-Site/#data-types

I decided to mention both options 😁

Closing this issue now.
Thanks @madsoulswe ! Have a good one!

[2019-03-19 08:40] #1605 closed

[2019-03-20 14:14] Adolfi opened #1627 "Unit Testing v8"
## What type of issue is it?
Missing documentation

## What article/section is this about?
Unit Testing

## Describe the issue:
It would be great if there where a section in the documentation on how to get started with unit testing in Umbraco. For instance how to unit test:
- RenderMvcControllers
- SurfaceControllers
- IPublishedContent
- etc.

There are great blog posts on this topic scattered ar

[2019-03-20 15:14] dangrussell opened #1628 "Unfriendly <title>, meta description empty"
The <title> tag is not being generated in the readable, SEO-friendly way you'd expect it to be. It even had newlines in it.  I assume the wrong data is being fed into that tag in the template.
[code]
The meta description is also present but empty. The whole <head> metadata generating code might need checking.
[code]

***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/mast

[2019-03-21 08:46] sofietoft commented on #1628
Hi @dangrussell

Very good observation!
We have actually added a few YAML tags, in order to handle the meta-title and meta-description for the articles - still working on getting them documented though 😉

Here's a quick little example of how the tags look on https://our.umbraco.com/documentation/Tutorials/:
[code]

[2019-03-21 08:55] marcemarc commented on #1601
@LottePitcher we now have a new YAML tag: needsV8Update which is set to true on all documents that haven't been refangled for V8 yet, if a page is perfect for V7 and V8 and no new version of the document is required to be created, then completely removing the needsV8Update: tag from the YAML will mean the warning message will disappear on the page - hopefully then eventually we'll have no 'needsV8

[2019-03-21 13:06] smishra2019 opened #1634 "Custom dashboard tutorial issues with v8"
CustomWelcomeDashboard does not work for 'I know what you did last Tuesday..' section.

The array is returned as empty in console and it never shows any history.
The version used for testing is Umbraco 8.0.0/8.0.1.It does not work for either of the versions. Can the documentation be updated to reflect the correct code that has been tested on Umbraco 8 versions and works.

***This is the page with

[2019-03-22 08:47] jmayntzhusen commented on #1634
Hey @smishra2019

Thanks for submitting this issue! The tutorial you mentioned has indeed not been updated for v8 yet, but needs to be. I will flag this issue as up for grabs so hopefully someone can have a look and update it 🙂

[2019-03-22 09:02] jmayntzhusen commented on #1628
Thanks for reporting this @dangrussell

Will close for now as we are aware, the YAML tags are in place to add this.

[2019-03-22 09:02] #1628 closed

[2019-03-22 09:04] jmayntzhusen commented on #1601
This is still pending as we are waiting on https://github.com/umbraco/OurUmbraco/pull/408 to be reviewed and merged 🙂

[2019-03-22 13:38] dangrussell opened #1635 "Adding context to samples"
Hi! I'm admittedly new to both Umbraco and ASP.NET, but I think this page could be a little more helpful with some context.  I appreciate the code samples, but I have no idea where to begin with them. Is there an existing file I should be editing? Are there new files I should be creating?

To me, this sample code is just floating out there... I'd like some guidance on how to use it.

I came across

[2019-03-22 15:08] marcemarc commented on #1601
Yes but we can remove the YAML for ones that have been checked... pending the merge, eg banners won't disappear, but they will when it's merged in

[2019-03-23 19:47] marcemarc commented on #1579
Raised issue for /routing/Authorized/index.md page as it doesn't work in V8 - https://github.com/umbraco/Umbraco-CMS/issues/5005

[2019-03-24 10:42] marcemarc commented on #1596
Hi @louisjacksonrees

I've spun up a fresh version of Umbraco 7.12.4, installed via Nuget with the Starterkit.

If I run the site locally with Visual Studio (F5 - 'Start Debugging') and have debug attribute set to "true" in the compilation section of the web.config, then when the site displays, if I then add ?umbdebug=true to the url of the page, I do see the MiniProfiler appear.
![Mini Profiler i

[2019-03-25 09:37] jmayntzhusen commented on #1635
Hey @dangrussell

I think you are right, some more explanation of specific use cases and when composers should be used and where to place them would be nice.

[2019-03-27 07:09] Adolfi commented on #1627
Disucssion on our: https://our.umbraco.com/forum/umbraco-8/96366-unit-testing-v8#comment-305101

[2019-03-27 07:43] jmayntzhusen commented on #1627
Hey @Adolfi

I agree this would be a great thing to have documented, I can see you already posted some examples on the forum thread - would you be up for contributing to the documentation by writing this article?

We can of course help with the correct placement, file setup and a review by one of the Umbraco Core developers 🙂 This would speed up the documenting process quite a bit.

[2019-03-27 07:54] Adolfi commented on #1627
Hi @jmayntzhusen.
I would be happy to. It would however be great to have someone verify that I'm on the right track since this  is just what I've figured for myself since there where no docs available.

If you could have a core memeber verify my post in the our forum thread and confirm that my implementation would be concidered a "best practice", then I would be happy to write the docs or at least

[2019-03-27 08:29] jmayntzhusen commented on #1627
Awesome, I asked @bergmania to have a look at the forum post, and he confirms that what you posted is correct and the basic way to do it 👍🙂

Do you need anything else to get started?

[2019-03-27 08:36] Adolfi commented on #1627
Wow, that was fast. Thanks, and great to hear that I was an acceptet approach.
I have quite a few different Tests already for the mentioned topics (RenderMvcControllers, SurfaceControllers, IPublishedContent) so I think I have a lot go get started.

One question: Do you think it should be a "Documentation" on live under the "Implementation" area or should it be constructed as a "Tutorial" instead?

[2019-03-27 08:43] jmayntzhusen commented on #1627
I think either would be fine, normally tutorials are a bit more in depth and should also explain the concept to those who don't know anything about the subject though, so they require a bit more explanations and steps.

It depends what you wish to do, if you would like to just put the code examples out there then I would say it should be in the Implementation section 🙂

[2019-03-27 09:42] Adolfi commented on #1627
Awesome, thanks. Sounds like docs then and not a tutorial. :)
I'll start working on it and send a PR.

Cheers!

[2019-03-27 11:42] #1409 closed

[2019-03-28 04:22] mehrdadab opened #1644 "It has not been mentioned to remove {machinename} from ExaminIndex.config when upgrading"
## What type of issue is it?
Missing one important step when upgrading
## What article/section is this about?
https://our.umbraco.com/documentation/getting-started/setup/upgrading/version-specific

## Describe the issue:
I noticed that in the new versions of umbraco {machinename} has been removed from ExaminIndex.config files for example:
`<IndexSet SetName="InternalIndexSet" IndexPath="~/App_Data

[2019-03-28 20:15] mentalfoundry opened #1647 "Update install guide with important project naming caveat."
The documentation on the install guide should be updated to say that it is important not to name the VS solution as "Umbraco". This causes a critical failure due to namespace conflict with the CMS itself.

People shouldn't have to go to stackoverflow to resolve a critical failure despite following the install guide correctly. A one liner in the install guide would suffice.

https://stackoverflow.c

[2019-04-01 10:25] #1647 closed

[2019-04-02 06:01] bergmania opened #1652 "Umbraco with precompiled views"
## What type of issue is it? (Choose one - delete the others)
Missing documentation

## Describe the issue:
We need to add documentation about how to work with Umbraco and precompiled views.
How to do it, things to watch out for, etc...

[2019-04-02 06:18] bergmania commented on #1652
There is a WIP here: https://github.com/umbraco/Umbraco.Private/issues/294#issuecomment-477086995

[2019-04-03 11:34] tristolliday opened #1654 "Custom Property Editors - Documentation"
## What type of issue is it?
Missing documentation

## What article/section is this about?
Custom Property Editors

## Describe the issue:
Missing Documentation for creating a custom property editor in Umbraco 8.

https://our.umbraco.com/documentation/Tutorials/Creating-a-Property-Editor/

[2019-04-03 13:15] jmayntzhusen commented on #1654
Hey @tristolliday

Thanks for submitting this issue! The tutorial you mentioned has indeed not been updated for v8 yet, but needs to be. I will flag this issue as up for grabs so hopefully someone can have a look and update it 🙂

If you are having a specific issue you are stuck on in the tutorial then you can post it here and we can try to help - as rewriting a tutorial is a pretty large task you

[2019-04-07 01:12] javafun opened #1657 "IApplicationBuilder doesn't seem existing in v8 anymore"
Can someone help to update to the latest?

***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/master/Reference/using-ioc.md***

[2019-04-08 16:35] GaryLProthero opened #1662 "Issue with Grid in Grid"
I have an issue with the GridDocTypeEditor. I am uploading a pdf and a vide (in zip) show the issue.

[Issue with Grid.zip](https://github.com/umbraco/UmbracoDocs/files/3055332/Issue.with.Grid.zip)

[Not working.pdf](https://github.com/umbraco/UmbracoDocs/files/3055327/Not.working.pdf)

Thanks,
Gary Prothero

[2019-04-09 08:29] stevetemple opened #1663 "Unit testing IPublishedContent Value extension method fallbacks"
## What type of issue is it? (Choose one - delete the others)
Missing documentation

## What article/section is this about?
Following on from Twitter discussion: https://twitter.com/zpqrtbnk/status/1115297266036875265 about unit testing IPublishedContent in v8

## Describe the issue:
What is the best way of mocking/faking IPublishedContent Value extension methods fallbacks?

In v7 as long as the I

[2019-04-09 08:36] stevetemple opened #1664 "Mocking/faking IPublishedContent ContentType.Alias"
Missing documentation

What article/section is this about?
Following on from Twitter discussion: https://twitter.com/zpqrtbnk/status/1115297266036875265 about unit testing IPublishedContent in v8

## Describe the issue:
In v7 IPublishedContent has a DocTypeAlias property which let you very easily mock/fake it.

In v8 you have ContentType which isn't using an interface put a concrete type which is

[2019-04-09 09:26] greystate opened #1665 "Add better visualization of the version you're looking at"
## What type of issue is it?

UI/UX

## What article/section is this about?
All that have the new versioning system

## Describe the issue:

When browsing the docs, it's actually not overly obvious, which version you're looking at, e.g. here I'm actually looking at the **7.0.0+** version, but the other one is much more attention-grabbing AND has the word _(current)_ attached to it (it means 8.0.0

[2019-04-10 07:55] jmayntzhusen commented on #1665
I think this would be a great idea. And honestly I thought of removing the `(current)` thing many times as it is not working great as it is - probably also not the best way to present which version is the current one 🙂

This will take a bit of work on Our, but will keep it in mind!

[2019-04-10 12:10] jmayntzhusen commented on #1657
Hey @javafun

The ApplicationEventHandler is no longer the way to bind things to startup events, the new way to do it in v8 is through Composing, we have some documentation on it here:
https://our.umbraco.com/Documentation/Reference/Events/Application-Startup
https://our.umbraco.com/documentation/Implementation/Composing/

If you are looking for some general IOC then I'm afraid we don't have any d

[2019-04-10 12:13] jmayntzhusen commented on #1662
Hey @GaryLProthero

Thanks for reporting this, what we take here is issues with the current documentation, so articles that needs updates or reports of faults or missing things in the documentation 🙂

As this is more of a support request with your specific use of the Grid editor you will have to either reach out to the Umbraco Support at contact@umbraco.com or write your question on the community

[2019-04-10 12:13] #1662 closed

[2019-04-10 12:15] jmayntzhusen commented on #1663
Hey @stevetemple

Thanks for bringing it here so we can hopefully get it documented for v8!

[2019-04-10 12:16] jmayntzhusen commented on #1664
Hey @stevetemple

Thanks for bringing it here so we can hopefully get it documented for v8!

[2019-04-12 11:36] sussexrick opened #1667 "IIS config is not visible on the security hardening page"
***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/master/Reference/Security/Security-hardening/index.md***

The config is mentioned in the text and is present, but you need to view the source on github to see it.

[2019-04-12 12:19] jmayntzhusen commented on #1667
Hey @sussexrick

Not sure why the examples weren't being shown, but I have fixed it now and you can see them on [the page](https://our.umbraco.com/documentation/Reference/Security/Security-hardening/) again 🙂

Thanks for reporting this issue!

[2019-04-12 12:19] #1667 closed

[2019-04-16 14:44] saifobeidat opened #1672 "When the full Umbraco 8 documentation will be ready ?"
Thanks for **Umbraco 8**, it looks great.

But to be honest I am facing many issues because the Umbraco 8 documentation is not ready yet! especially the major changes ( examine search, Mvc/WebApi ).

Please try to finish it, because it's the main source for us , as the community members are not active as wished.

***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/master/i

[2019-04-16 14:56] dampee commented on #1672
Hi @charlesroper

There is already a lot of v8 documentation been updated. I did notice that the "not revised for v8" is not always removed.

The examine search is indeed one of the missing pieces as mentioned here: https://github.com/umbraco/UmbracoDocs/blob/master/v8documentation.md

If you found issues with existing umbraco8 docs, please create a PR or a specific issues. Like that we are able t

[2019-04-16 15:05] charlesroper commented on #1672
Not sure you meant to tag me in on this thread @dampee!

[2019-04-17 07:25] jmayntzhusen commented on #1672
Hey @saifobeidat

Thanks for reporting this, we are aware there are a lot of holes in the current v8 documentation - it is very hard for us to know where to begin though, so more specific reports of missing info is greatly appreciated!

You mention examine, we are aware it is very lacking, and it is high on our list of new docs to write for v8. Would you mind elaborating a bit more on what you fee

[2019-04-18 12:04] MosabAbuzaid opened #1673 "The current documentation of Examine Search"
## What type of issue is it?
Missing documentation

## Describe the issue:
I think the current documentation for the Examine search is not applicable for **Umbraco8**.

First issue:
 when I add this line "@using Examine.SearchCriteria;" , I get the below error:

Second Issue:
When I use the following code: `        @foreach (var result in Umbraco.TypedSearch(Request.QueryString["query"]))`

I get

[2019-04-22 10:35] #1665 closed

[2019-04-23 07:14] zpqrtbnk commented on #1664
See https://github.com/umbraco/Umbraco-CMS/issues/5170 which is introducing an `IPublishedContentType` interface where a concrete `PublishedContentType` class was used - should make it was easier to mock?

Feel free to comment on https://github.com/umbraco/Umbraco-CMS/issues/5170 if you need more!

[2019-04-23 07:26] zpqrtbnk commented on #1663
Quick note: extension methods, being static, have no choice but to use the `Current` service locator to resolve their dependencies - here, the `IPublishedValueFallback` - which means that setting up a *very* minimal container is unfortunately required.

The simplest way to do so is:
[code]

[2019-04-23 08:57] stevetemple commented on #1663
Thanks @zpqrtbnk, this is really helpful to know, I'll get some docs together to reflect this once I've tried it out

[2019-04-23 08:58] stevetemple commented on #1664
Thanks @zpqrtbnk this does make it look easier, I will give it a whirl

[2019-04-24 12:02] jmayntzhusen commented on #1673
Hey @MosabAbuzaid

It is on our list to update this documentation, but as you have seen it is not done yet.

Examine.SearchCriteria is no longer a valid namespace, dependent on your use case you would probably need to add either `Examine` or `Umbraco.Examine`.

Looks like the Umbraco Helper doesn't extend a search method anymore either, you should be able to do something like this:
[code]

If you

[2019-04-24 19:15] Zweben commented on #1673
How would I perform a search by passing in raw Lucene query syntax as a string? I'm not a big fan of the Examine-specific query syntax, but it's no longer clear how I can perform a raw Lucene search.

[2019-04-25 09:15] jmayntzhusen commented on #1673
@Zweben

If you have the basics of my example above and then do something like this it should work (haven't had time to test):
[code]

It seems you can add the Lucene query in the NativeQuery as a string, the source is here: https://github.com/Shazwazza/Examine/blob/v1.0.0/src/Examine/Search/IQuery.cs#L21

Will try to write up a few simple scenarios for using Examine in v8 and add to the docs ASAP

[2019-04-25 12:22] Zweben commented on #1673
Thanks. Until the documentation gets updated, I think it would help to direct people to [Shannon Deminick's web demo](https://github.com/Shazwazza/Examine/tree/864168c7f019908242dd56197e075edea5ee77cf/src/Examine.Web.Demo). I'm referencing that now, and it's a big help.

Another thing that would be useful is a brief overview of how classes and methods have changed namespaces in v8, as that threw m

[2019-04-27 13:13] thehaytonproject opened #1681 "Azure Media Storage in v8 for Umbraco Cloud"
## What type of issue is it? (Choose one - delete the others)
Missing documentation

## What article/section is this about?
https://our.umbraco.com/documentation/Umbraco-Cloud/Set-Up/Media/

## Describe the issue:
Instructions for Azure Media Storage in v8 for Umbraco Cloud are missing / not verified.

I followed these steps for v8 and it causes Umbraco Boot to fail.

[2019-04-27 14:17] Jeavon commented on #1681
These docs are not updated to v8. However if you install the v2 version of the blob provider instead of v1 then Umbraco will boot and the provider will work

[2019-04-28 10:05] saifobeidat commented on #1673
Hi jmayntzhusen

Can you please show the way that we can list all nodes under specific Parent ID or even listing all nodes with specific document type name?

[2019-04-29 07:29] jmayntzhusen commented on #1673
@saifobeidat

If you go in the backoffice to settings under examine management you can see that each nodes has some fields:
![Capture](https://user-images.githubusercontent.com/36075913/56881159-db962b80-6a5f-11e9-8e43-5f5a539d5559.PNG)

You can then amend the query in the example you linked to this:
[code]
That would find list all children of ID 1105, if you instead want all with a specific docty

[2019-04-29 09:54] tristolliday commented on #1654
@jmayntzhusen The basis of the tutorial works much the same with Umbraco 8, as it did 7.
However, the dialog service/ media services seem to operate differently on 8. Any assistance with how to integrate with these would be greatly appreciated.

Cheers,

Tris

[2019-04-29 10:38] jmayntzhusen commented on #1596
Hey @louisjacksonrees

As we haven't heard back about this I will close this issue.

If you have any follow up comments or more insight then feel free to post them here and we will reopen the issue 🙂

[2019-04-29 10:38] #1596 closed

[2019-04-29 14:03] jmayntzhusen commented on #1672
As there is nothing here we can work on specifically I will close this issue. If you come up with some more specific examples of things you feel are missing then please create a new issue with some information 🙂

[2019-04-29 14:03] #1672 closed

[2019-04-30 09:05] jmayntzhusen commented on #1673
Happy to hear that 🙂

We now have some basic documentation on searching in v8 here: https://our.umbraco.com/documentation/Reference/Searching/Examine/quick-start/

Some other things that we are working on adding is:
- The equivalent of GatheringNodeData in v8
- Creating a custom index
- Boosting search results

I will close this issue for now and create another one with a more clear purpose. Thank

[2019-04-30 09:05] #1673 closed

[2019-04-30 11:25] jmayntzhusen commented on #1601
This is now live, if anyone finds a page with the note that shouldn't have it, please make a PR to remove the YAML tag:
`needsV8Update: true`
Likewise if you find one that doesn't have it but doesn't work, please make a PR to add the YAML tag, or create an issue for it 😁

[2019-04-30 11:25] #1601 closed

[2019-04-30 11:59] jmayntzhusen opened #1685 "Missing Examine docs for v8"
## What type of issue is it? (Choose one - delete the others)
Missing documentation

## What article/section is this about?
https://our.umbraco.com/documentation/Reference/Searching/Examine/

## Describe the issue:
The way Examine works has drastically changed for v8. This issue is going to be a sort of overview of what has and will be documented and will be a place for anyone using v8 to report a

[2019-04-30 13:32] dawoe commented on #1685
We use examine a lot to also store data from external systems. : http://sleslie.me/2016/indexing-external-data-using-examineumbraco/

I think the ISimpleDataService does not exist anymore. Would love to see a example of this, because this is used quite often.

Dave

[2019-05-01 10:50] uli-weltersbach opened #1689 "Where's the actual set up guide?"
The first paragraph of the "Set Up" documentation is:

So - where do I find the steps required to create a project?
It's like the *actual*, step-by-step set up guide is missing from the set up documentation.

To be more specific, what I'm looking for is something like:

1. Open `<insert Umbraco Cloud portal URL>`.
2. If you don't have an Umbraco Cloud account yet, create an account. See `<insert l

[2019-05-01 11:08] sofietoft commented on #1689
Hi @uli-weltersbach

That's a very interesting observation!
We have something similar to a step-by-step on how to setup a Cloud project in the Getting Started section: https://our.umbraco.com/documentation/Umbraco-Cloud/Getting-Started/

The "Set up" section is more for setting up local instances, managing the various settings and other stuff for getting your site ready for launch.

Would be a goo

[2019-05-02 05:09] salindae25 opened #1692 "Lack of documentation on "configuring tinyMce.config" for custom plugin"
## What type of issue is it?

Missing documentation

## What article/section is this about?
tinyMce.config in config

Lack of documentation of tinymce.config make it difficult to understand how to config file in order to add custom define plugin to Umbraco v8

[2019-05-02 14:28] dawoe opened #1697 "IOC/DI docs not compatible with V8"
## What type of issue is it?
Wrong documentation

## What article/section is this about?
https://our.umbraco.com/documentation/Reference/using-ioc

## Describe the issue:
This describes on how to setup DI for version v7. It doesn't indicate that thiis page is not updated yet for V8 like I have seen on other sections of the documentation

I have found documentation on how to register you own classe

[2019-05-03 08:06] dawoe commented on #1652
Hi @bergmania

A colleague of mine wrote an article about this once. But google still shows the url to our old company website. He moved it to his personal blog : https://dobryak.org/road-to-precompiled-web-application-based-on-umbraco-cms/

Dave

[2019-05-03 08:09] bergmania commented on #1652
Hi @dawoe,

Thanks for the link. I saw him tweet about it a couple of weeks ago, but forgot to add the link here :)

[2019-05-06 09:48] uli-weltersbach commented on #1689
Hi @sofietoft

I think the ["Umbraco Cloud cover page"](https://our.umbraco.com/documentation/Umbraco-Cloud/) fooled me into thinking that "Set up a Project" was about setting up a project.
Maybe it's enough to simply reword the relevant paragraphs on *that* page.

---

... sounds like the place to go for a sales pitch:

---

... sounds like the place to go for actual setup instructions:

---

![i

[2019-05-07 08:14] sofietoft commented on #1681
Closed with #1688

[2019-05-07 08:14] #1681 closed

[2019-05-17 11:05] andrevrodrigues opened #1706 "Out of date"
Hi, when it will be updated to version 8? Thanks

***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/master/Reference/Routing/WebApi/index.md***

[2019-05-20 18:26] lwalsak opened #1709 "IndexParentId parameter in ExamineIndex.config"
The IndexParentId parameter mentioned in https://our.umbraco.com/documentation/Reference/Config/ExamineIndex/ doesn't seem to work.  Is this no longer a valid parameter?  If it is, should I be using the numeric Id or the GUID?
Thanks,
  Lisa

[2019-05-20 18:50] #1709 closed

[2019-05-20 18:51] lwalsak commented on #1709
The old indexes had to be deleted and then it seemed to work.

[2019-05-21 15:08] nul800sebastiaan commented on #1706
Some of this is still relevant for v8. If you need help now, make sure to post a question on the forum at https://our.umbraco.com so our friendly community can look at your problem and give you some hints.

[2019-05-22 02:52] Slipoch opened #1710 "This routing example causes issues with ModelsBuilder"
***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/master/Reference/Routing/Authorized/index.md***

The C# example on this page seems to cause a break in modelsbuilder as then the modelsbuilder attempts to find the route from your App_Plugin folder rather than it's own.

[2019-05-22 03:18] Slipoch commented on #1710
Ok, maybe put in a constraint into the example to limit it's routing to the specific controller and not interfere.

Constraint works.

[2019-05-24 06:09] Adolfi commented on #1627
Better late than never. :) https://github.com/umbraco/UmbracoDocs/pull/1711

[2019-05-24 18:13] UnsungHeros opened #1712 "Content Service V8"
Version 8
ApplicationContext = Umbraco.Core.Composing
IContentService contentService = Umbraco.Core.Composing.Current.Services.ContentService;

***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/master/Reference/Management/Services/ContentService/Index.md***

Related Forum Answer: https://our.umbraco.com/forum/extending-umbraco-and-using-the-api/96654-applicationcontextcu

[2019-05-27 09:11] jmayntzhusen commented on #1627
Will close this for now, thanks again! 🎉

[2019-05-27 09:11] #1627 closed

[2019-05-27 13:18] Adolfi commented on #1627
Thank you!!! ❤️

[2019-05-27 13:21] jmayntzhusen commented on #1663
Hey @stevetemple

We now have a page on unit testing in v8, feel free to add any additional findings to it: https://our.umbraco.com/documentation/Implementation/Unit-Testing/

[2019-05-27 13:25] jmayntzhusen commented on #1015
Will close this for now as all considerations should be made in https://github.com/umbraco/rfcs/pull/9

[2019-05-27 13:25] #1015 closed

[2019-05-27 13:29] jmayntzhusen commented on #1072
As we are working on moving the documentation to a new framework this idea will have to be reevaluated. Will close this issue for now.

[2019-05-27 13:29] #1072 closed

[2019-05-29 01:18] neurox opened #1718 "Syntax error in Nested Content documentation example code"
In the section "Rendering Nested Content" the second code example, there is an extra ")" in the code: <p>@Html.Raw(Html.ReplaceLineBreaksForHtml(description)))</p>, should be: <p>@Html.Raw(Html.ReplaceLineBreaksForHtml(description))</p>. ***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/master/Getting-Started/Backoffice/Property-Editors/Built-in-Property-Editors/Nested-C

[2019-05-29 11:44] dampee commented on #1015
Not sure that we covered all the things above in the RFC.  (To be honest, I was thinking where I left all these notes.)

[2019-05-31 10:00] jmayntzhusen commented on #1718
Will close this as you have already fixed it in a PR - thanks again!

[2019-05-31 10:00] #1718 closed

[2019-05-31 10:30] liamlaverty opened #1720 "Some v7 pages reference an unfindable `wip.png` file"
In the v7 docs there's a few pages with references to `wip.png` which results in image not found icons in the documentation site.

Example of issue:
https://our.umbraco.com/Documentation/Getting-Started/Backoffice/Property-Editors/Built-in-Property-Editors/RadioButton-List/index-v7

![image](https://user-images.githubusercontent.com/7046713/58700117-1fe65580-8397-11e9-8e91-725f514e52cb.png)

List

[2019-06-04 13:50] rich-hamilton opened #1724 "Video not working"
Video unavailable
This video is restricted. Try signing in with a Google Apps account.

***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/master/Getting-Started/New-in-V8.md***

[2019-06-06 13:41] sofietoft commented on #1724
Hi @rich-hamilton

Thanks for reporting this.
I have no trouble watching the video though - I've even tried in incognito mode using Chrome 🤔
Are you able to watch the video directly on Youtube by any chance? https://www.youtube.com/watch?v=g5qwzmxiWJU

/Sofie

[2019-06-12 07:46] #1720 closed

[2019-06-12 09:28] #1689 closed

[2019-06-14 12:50] jmayntzhusen commented on #1724
As we have had no response we will close this issue. Please let us know if this continues to be a problem 🙂

[2019-06-14 12:50] #1724 closed

[2019-06-14 13:09] liamlaverty opened #1735 "Searching for documentation in Bing or Duck Duck Go sometimes extra empty parts in the path"
## What type of issue is it?
Other - SEO I guess?

## What article/section is this about?
`ContentServices Events`

## Describe the issue:
When searching in Bing (I know, I know) or Duck Duck Go for `contentservice.trashed umbraco` the path for the document is `https://our.umbraco.com/documentation/Reference/Events/_/_/ContentService-Events` with an extra couple of `_/_/` in the middle, which leav

[2019-06-14 13:14] liamlaverty commented on #1735
Just as a sidenote, this widget doesn't appear when the link has these extra path sections in it:

![image](https://user-images.githubusercontent.com/7046713/59511613-a5e1c080-8eae-11e9-996c-e37cdab02203.png)

[2019-06-14 14:40] DavidKMc opened #1736 "Broken link in documentation"
Broken link is in on page https://our.umbraco.com/documentation/Umbraco-Cloud/Troubleshooting/Deployments/Structure-Error/#getting-your-environment-in-sync

Link is 'What are UDA files?
![image](https://user-images.githubusercontent.com/51828250/59517093-b435d980-8eba-11e9-8a1b-7c265f8dcfe8.png)

[2019-06-16 14:50] saifobeidat opened #1737 "Preventing Examine from returning deleted nodes?"
## What type of issue is it? (Choose one - delete the others)
Missing documentation

## What article/section is this about?
(https://our.umbraco.com/Documentation/Reference/Searching/Examine/)

## Describe the issue:

Hello,

I am using Examine to return some nodes in certain document type alias.

Refering to this document: https://our.umbraco.com/documentation/Reference/Searching/Examine/Quick-St

[2019-06-16 20:22] marcemarc commented on #1737
Hi Saifobeidat

If you are using the ExternalIndex then this should not contain any unpublished or deleted nodes!

This is an issue that has been reported on the Issue Tracker for Umbraco V8:

[https://github.com/umbraco/Umbraco-CMS/issues/5218](https://github.com/umbraco/Umbraco-CMS/issues/5218)

So we probably wouldn't add documentation here, as hopefully this will be fixed pretty soon!

If you

[2019-06-17 07:09] nul800sebastiaan commented on #1736
Which of the links is broken please? :)

[2019-06-17 07:22] jmayntzhusen commented on #1736
Hey @DavidKMc

Thanks for reporting this broken link, I have updated it so it now works in https://github.com/umbraco/UmbracoDocs/commit/2ce5da00e90c3eecd6b54b3e252b151b869fa414 🙂

[2019-06-17 07:22] #1736 closed

[2019-06-17 07:22] nul800sebastiaan commented on #1735
That's super weird, not sure how it's being indexed like that. Will have to look into this. 🤔

[2019-06-17 10:01] nul800sebastiaan commented on #1710
Sounds good! Do you have an example of the constraint you added please?

[2019-06-17 23:54] Slipoch commented on #1710
RouteTable.Routes.MapRoute("[yourPluginName]",
                                       _globalSettings.GetUmbracoMvcArea() + "/backoffice/[yourpluginname]/{controller}/{action}/{id}",
                                       new {
                                           controller = "[yourcontrollername]",
                                           action = "Index",

[2019-06-18 10:58] rustybox opened #1739 "Docs suggest one can override ValidateSettings for a FieldType but this is not possible"
FieldType supports dynamic settings, but does not have a method ValidateSettings to override.

***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/master/Add-ons/UmbracoForms/Developer/Extending/Adding-a-Type.md***

[2019-06-19 06:58] dawoe opened #1741 "Example view of content app should use umb-box directives"
I see the view is using the markup generated by the umb-box directives.

Would it not be better to use these directives in examples.

***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/master/Extending/Content-Apps/index.md***

[2019-06-19 09:05] alex-grading opened #1742 "How to access Membershiphelper in a SurfaceController, v8"
Im using umbraco 8.0.2
How to access MembershipHelper in a SurfaceController?

in v7 i used it like this:
var msh = new Umbraco.Web.Security.MembershipHelper(UmbracoContext);

Thanks

[2019-06-19 09:32] #1742 closed

[2019-06-19 09:48] liamlaverty commented on #1735
I found another one of these, so went to look into it a bit more. It looks like it's happening because of relative path `./` links in github, which are being imported as non-relative HTML `/_/` links in our.umbraco.com. Some pages have many relative links between eachother, so the paths can get enormous if `page A` references `page B` which references `page A`. Here's an example:

https://our.umbr

[2019-06-19 09:53] jmayntzhusen commented on #1735
Hey @liamlaverty

Thanks for reporting yet another oddity with the way we do links. I changed the link in your example from `./` to `index.md`, which fixed it. So if you happen to find others you can fix it by making an explicit link to the file 😊

[2019-06-19 15:05] amv- opened #1745 "Headless cms - is there a way to check connection between client and headless umbraco?"
I'm getting an exception with message both in console and mvc examples:
"Response status code does not indicate success: 404 (Not Found)."
There is no more useful details in the exception, I suspect authentication fails, not sure how to fix it.

[2019-06-20 06:50] sofietoft commented on #1745
Hi @amv-

Awesome that you're trying out Umbraco Headless! 💪
This is more a support requests, than an issue with the Documentation - am I right?

I'd suggest that you reach out to our Headless team: headless@umbraco.com.
I'm sure they'll be able to help you proceed here 😁

/Sofie

[2019-06-20 07:53] amv- commented on #1745
Hi Sofie,

Well, the examples in the documentation don't seem to work, so could be both.

[2019-06-20 08:14] sofietoft commented on #1745
Hi @amv-

Aha! Well, that is indeed something we can do something about here.

However, we're planning on releasing Umbraco 8 Headless soon, which is a lot different from the current version. It doesn't really make a lot of sense to upgrade the current docs, as we'll most likely need to rewrite them completely when the new version is put up!

I'll reopen this, and put the "pending-release" label o

[2019-06-20 08:21] amv- commented on #1745
I'm on Umbraco 8.0.2, signed up for umbraco headless in (Uaas, trial mode, following the "try umbraco headless" link). I thought I was working with Umbraco 8 Headless already.

[2019-06-20 08:22] amv- commented on #1745
You can close the issue from my part, I don't mind, I just need to put up a working poc for a customer.

[2019-06-20 08:33] amv- commented on #1745
Ah, I realize now I'm on a normal umbraco.
I was on the umbraco.com/headless and clicked "try for free" in the top right. But that doesn't create a headless umbraco setup..
Forget about it, sorry for taking your time.

[2019-06-20 08:37] sofietoft commented on #1745
Ah! Mystery solved 💪

No worries, @amv-
I'll close this for now.

Have a great day!

[2019-06-20 08:37] #1745 closed

[2019-06-20 12:18] nul800sebastiaan commented on #1737
As @marcemarc mentions this is a bug the we need to fix soon! No need to update the docs for this one as it's a bug. Thanks for reporting!

[2019-06-20 12:18] #1737 closed

[2019-06-20 12:26] nul800sebastiaan commented on #913
This issue has been in the `up for grabs` state for quite a while now and it seems nobody is ready to pick this one up.

For now we'll close this issue to prevent the list of `up for grabs` from becoming very stale. We're happy to re-open it if someone still thinks it's good to work on this.

If anyone is about to pick this issue up to fix it, make sure to test first if you can reproduce the probl

[2019-06-20 12:26] #913 closed

[2019-06-20 12:26] nul800sebastiaan commented on #914
This issue has been in the `up for grabs` state for quite a while now and it seems nobody is ready to pick this one up.

For now we'll close this issue to prevent the list of `up for grabs` from becoming very stale. We're happy to re-open it if someone still thinks it's good to work on this.

If anyone is about to pick this issue up to fix it, make sure to test first if you can reproduce the probl

[2019-06-20 12:26] #914 closed

[2019-06-20 12:34] nul800sebastiaan commented on #1215
This issue has been in the `up for grabs` state for quite a while now and it seems nobody is ready to pick this one up.

For now we'll close this issue to prevent the list of `up for grabs` from becoming very stale. We're happy to re-open it if someone still thinks it's good to work on this.

If anyone is about to pick this issue up to fix it, make sure to test first if you can reproduce the probl

[2019-06-20 12:34] #1215 closed

[2019-06-21 11:41] jmayntzhusen commented on #1692
Hey @salindae25

Can you give us a bit more information about what you were trying to do and what information you felt was missing?

[2019-06-21 11:47] jmayntzhusen commented on #1741
Hey @dawoe

I made the example and am not that familiar with both AngularJS and the Umbraco backoffice directives, which is why it was made this way 😁

If there are changes that can improve the example and make it closer to a best practise then you are very welcome to provide a PR! 👍

[2019-06-21 11:59] dawoe commented on #1741
As you requested. PR provided

[2019-06-21 12:12] jmayntzhusen commented on #1741
Thanks for the PR 👌

[2019-06-21 12:12] #1741 closed

[2019-06-24 11:41] sussexrick opened #1748 "Unlinked page in Forms documentation"
***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/master/Add-ons/UmbracoForms/Developer/IFileSystem/index.md***

I found this page using the search within the documentation section. The breadcrumb shows it's within the Add Ons > Umbraco Forms > Developer section, but I can't see any link to it.

I would suggest a link is added to https://our.umbraco.com/documentation/Add

[2019-06-24 12:28] jmayntzhusen commented on #1748
Hey @sussexrick

I see it is at the bottom of this page: https://our.umbraco.com/Documentation/Add-ons/UmbracoForms/Developer/index-v7

I think it may not be something you can use on v8, which is why it is only there on the v7 version of the page. Will have to check with one of our developers though 😁

[2019-06-27 09:53] trollsudd opened #1750 "V8 Rich Text Editor not working as parameter in macro"
## What type of issue is it? (Choose one - delete the others)
Missing documentation

## What article/section is this about?
https://our.umbraco.com/forum/templates-partial-views-and-macros/82089-tinymce-as-macro-parameter

## Describe the issue:
I tried to follow a guide (v7) for adding a RTE in macro:
https://our.umbraco.com/forum/templates-partial-views-and-macros/82089-tinymce-as-macro-paramete

[2019-06-27 10:04] trollsudd opened #1752 "V8 Contentpicker, cant search and pick media"
## Describe the issue:

When using "Select media" in a contentpicker and after searching for some media, the selected media url isn't picked up.. only the Link title.

To recreate the issue:

When using a contentpicker:

1. Select "Select media"
2. Search for a picture/file
3. Select it and press "Select"

The 'Link Title' is picked up by the selection but the url is blank.

The search and select

[2019-06-27 10:34] #1752 closed

[2019-06-27 12:45] nul800sebastiaan commented on #1750
Thanks, make sure to discuss this further in the forum post you linked to. The situation has changed a bit for v8 and it's likely you'll need to update a bit more of your custom code.

I'll close this issue since it's not a macro parameter editor we bundle with Umbraco by default, it requires some custom code.

[2019-06-27 12:45] #1750 closed

[2019-07-02 10:44] bjarnef opened #1755 "Document how culture info is used to get dictionary value"
## What type of issue is it?
Missing documentation

## What article/section is this about?
https://our.umbraco.com/Documentation/Reference/Querying/UmbracoHelper/

## Describe the issue:
In the documentation it doesn't seem that it is mentioned how Umbraco lookup dictionary item value from culture (CultureInfo).

In templates (views and partial views) it works great with `Umbraco.GetDictionaryValu

[2019-07-02 11:20] bjarnef commented on #1755
Here is how it get culture from a node using `GetCulture()` extension method (v7).
https://github.com/umbraco/Umbraco-CMS/blob/v7/dev/src/Umbraco.Web/PublishedContentExtensions.cs#L2055-L2063

https://github.com/umbraco/Umbraco-CMS/blob/v7/dev/src/Umbraco.Web/Models/ContentExtensions.cs#L43-L89

[2019-07-02 11:21] bjarnef commented on #1755
It might be relevant to add these details to the documentation here:
https://our.umbraco.com/Documentation/Reference/Querying/UmbracoHelper/#getdictionaryvaluestring-key

And the C# reference here:
https://our.umbraco.com/apidocs/v8/csharp/api/Umbraco.Web.UmbracoHelper.html#Umbraco_Web_UmbracoHelper_GetDictionaryValue_System_String_

And here:
https://our.umbraco.com/apidocs/v8/csharp/api/Umbraco.

[2019-07-08 11:37] kjsguld opened #1764 "Backup process unclear"
***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/master/Umbraco-Cloud/Databases/index.md***

Following the process description of how to acquire a backup file, no further description is given of how to use a such file to restore from a such file.

[2019-07-08 13:07] Aaen opened #1765 "Documentation for working with submitted data In Umbraco Forms 8"
## What type of issue is it? (Choose one - delete the others)
Missing documentation

## What article/section is this about?
https://our.umbraco.com/Documentation/Add-ons/UmbracoForms/Developer/Working-With-Data/

## Describe the issue:
In Umbraco Forms 7 it was possible to get the submitted data from a form and showing it on a page or so. This option is not available in Umbraco Forms 8 or the docu

[2019-07-09 14:08] kevinforte65 opened #1768 "Single Sign-on with ADFS using Umbraco 8"
## What type of issue is it? (Choose one - delete the others)
Missing documentation

## Describe the issue:
We are trying to implement Single Sign-on with ADFS using Umbraco 8.

I haven't found any documentation on using this with Umbraco 8, only version 7.x, and there are some differences.

Can you supply an example using Umbraco 8?

[2019-07-11 11:33] jmayntzhusen commented on #1764
We are already documenting far beyond our scope in this article. I understand some people may have trouble with this kind of thing, but it is not at all Umbraco related, and they should really know how to handle database backup files if they want to use them for anything.

We also don't document how to open a browser, etc - it is not really up to us to document how to use external tools, so will c

[2019-07-11 11:33] #1764 closed

[2019-07-11 11:39] jmayntzhusen commented on #1755
Hey @bjarnef

Thanks for the great explanation of the problem.

If anyone wants to pick this up based on the notes here you may want to add the `GetCulture()` extension method to thi article as well: https://our.umbraco.com/Documentation/Reference/Querying/IPublishedContent/ExtensionMethods/

[2019-07-11 11:47] kjsguld commented on #1764
I fully agree that this is outside the scope of the first title "databases" which is very broad. Shouldn't all regarding the backups then rather be a section/article of its own?
To be rather straight forward I think telling how a user can obtain a backup is rather pointless if we don't tell how you'd actually use it.

[2019-07-12 14:22] miackers opened #1773 "RecordStorage class in v8"
Hi, I am trying to get the sample to work for V8, but can't find an implementation for RecordStorage class.

***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/master/Add-ons/UmbracoForms/Developer/Extending/Adding-a-Workflowtype.md***

[2019-07-12 14:41] miackers commented on #1773
I meant the Umbraco.Forms.Data.Storage namespace no longer have the RecordStorage class in it (or it can't be found by VS). This works on V7

[2019-07-12 19:36] timlaughlin commented on #1692
How do you stop tinymce or umbraco from stripping `&nbsp;` from a RTE field?

[2019-07-13 07:38] marcemarc commented on #1692
Hi @timlaughlin

It would be great to get your perspective on what we could add where to the docs, to steer people in the right direction for this kind of information.

tinymce will decide to replace non-breaking &nbsp; spaces with actual spaces depending on the tinymce setting for entity_encoding (raw, named or numeric). By default Umbraco sets entity_encoding to be 'raw' ... which seems to trigg

[2019-07-13 09:04] timlaughlin commented on #1692
It have my encoding on raw but it doesn't work.. is there something in the
pipeline that is stripping or cleaning up the html

On Sat, Jul 13, 2019, 2:38 AM Marc Goodson <notifications@github.com> wrote:

[2019-07-13 09:57] marcemarc commented on #1692
@timlaughlin 'raw' means the non breaking spaces will be changed to normal spaces....

So the article suggests changing this setting...

... Did changing it not work?

An app pool recycle will be needed for Umbraco to notice the change in the config

[2019-07-15 07:34] sofietoft commented on #1768
Hi @kevinforte65

Thanks for reporting!
Could you clarify which article for Umbraco 7 you're referring to here? Is it this one: https://our.umbraco.com/documentation/Tutorials/Add-Google-Authentication/ ?

I'll have a label added to this one, so we can get it updated for Umbraco 8 asap.
/Sofie

[2019-07-15 07:35] sofietoft commented on #1773
Hi @miackers

Thanks for reporting!
I've added some labels to this, and will see what we can do about getting it updated for the latest versions.
/Sofie

[2019-07-15 09:02] miackers commented on #1773
Thanks for getting back to me @sofietoft.

After digging a little further, I suspect this is actually a bug in v8 of Umbraco forms. I can't be 100% sure though, since it might just be that I am looking in the wrong place, so it's worth leaving this open for now. FYI: I've raised a bug here: https://github.com/umbraco/Umbraco.Forms.Issues/issues/186

[2019-07-15 09:05] sofietoft commented on #1773
I just had a chat with one of our Forms guys here. I don't think it's' bug actually 🤔
He provided me with an example of how this is done in Umbraco 8:

[code]

I'm looking into getting the docs article updated as well 💪

[2019-07-15 10:27] miackers commented on #1773
Thanks!

This makes perfect sense - ie, forcing the user to use dependency injection is a great idea

[2019-07-15 12:58] kevinforte65 commented on #1768
Hi Sofie,

No, I was using the article: https://24days.in/umbraco-cms/2016/authenticating-with-ad-fs-and-identityextensions/

If you scroll to the bottom, you’ll see that Umbraco 7.5.4 is used.

In particular, I have no documentation on how to call the methods for Umbraco8 for:

            app.UseUmbracoBackOfficeCookieAuthentication(contextAccessor, Umbraco.Web.Composing.Current.RuntimeState, ap

[2019-07-15 13:28] sofietoft commented on #1768
Ah, thanks!
That's quite an old article 🙈

I've done some browsing in our Docs, and came across this article for Umbraco 8: https://our.umbraco.com/Documentation/Reference/Security/authenticate-with-AD

Does this provide you with what you need? 🤔

[2019-07-15 13:52] kevinforte65 commented on #1768
No, that’s for AD, not ADFS (Active Directory Federation Service)

I’ll need how Umbraco8 uses WsFederationAuthentication

Thanks,
Kevin

From: sofietoft <notifications@github.com>
Sent: Monday, July 15, 2019 8:29 AM
To: umbraco/UmbracoDocs <UmbracoDocs@noreply.github.com>
Cc: Fortenberry, Kevin <kevin.fortenberry@egov.com>; Mention <mention@noreply.github.com>
Subject: Re: [umbraco/UmbracoDocs] S

[2019-07-16 04:07] timlaughlin commented on #1692
What should I change it to for version 8?

Thank you!

On Sat, Jul 13, 2019 at 4:57 AM Marc Goodson <notifications@github.com>
wrote:

--
Tim Laughlin  | digital
50 South B.B. King Blvd., Suite 300
Memphis, TN 38103  p:  901.526.6220  sullivanbranding.com

[2019-07-16 09:01] AmadeuAntunes commented on #1773
Doing that way I got:

[2019-07-16 09:19] miackers commented on #1773
I also got the same when I used the code as-is - but I realised that I don't need the recordService, so I removed it from the constructor and it worked for me after - but to honest I thought it might have been a coincidence at the time (ie, that the app just had some other issue booting up).
Do you need the recordService? Can you try without it? I could do what I needed using recordStorage (ie, up

[2019-07-16 09:24] sofietoft commented on #1768
Ah, alright!
Sorry, I misunderstood. Don't know much about these kind of implementation.

Doesn't look like this specific setup has been documented yet 🤔
I'll put an up-for-grabs label on this for now.

If you need to implementation now, can I suggest that you reach out on our [Forum](https://our.umbraco.com/forum/) instead? 😄
I'm sure our awesome community will be able to help you forward with th

[2019-07-16 10:15] marcemarc commented on #1692
Hi Tim

I've only tested this in Umbraco V8! so if you thought the advice was for V7 it's the same for both!! :-P

UmbracoV8 ships with TinyMce with the setting of entity_encoding set to 'raw'

This causes TinyMce to replace non-breaking space characters &amp;nbsp; enties with an actual empty space.

This article explains why TinyMce does this: [https://www.abeautifulsite.net/tinymce-removes-non-b

[2019-07-23 09:01] warrenbuckley opened #1781 "Document new [ValidateUmbracoFormRouteString] attribute for SurfaceControllers"
## What type of issue is it?
Missing documentation

## Describe the issue:
A new C# attribute has been added to the upcoming 8.1.1 & 7.15.1 releases `[ValidateUmbracoFormRouteString]` to help with securing Umbraco SurfaceControllers.

Chat with @Shazwazza or @nul800sebastiaan about details/specifics

[2019-07-23 10:54] jmayntzhusen commented on #1781
For future reference:
CMS PR: https://github.com/umbraco/Umbraco-CMS/pull/5895

Locations that may need a mention:
https://our.umbraco.com/Documentation/Reference/Routing/surface-controllers
https://our.umbraco.com/Documentation/Implementation/Controllers/

[2019-07-24 01:48] robgoddes commented on #1539
Hello jmayntzhusen,

Is there any reason why this issue is closed? Was it replaced with a correctly working tutorial?

I’m following the **Creating a Custom Dashboard Tutorial** and I have the same issue... the dashboard doesn't appear:
https://github.com/readingdancer/UmbracoDocs/blob/v8-edits/Tutorials/Creating-a-Custom-Dashboard/index.md

Regards,
Robert

[2019-07-24 06:40] jmayntzhusen commented on #1539
Hey @robgoddes

This issue was reported during some alpha testing of v8 before the initial release - because we heard no response of the tester we ended up closing it. The turotial is not yet updated to v8, it will only work on v7 for now, but if you run into this exact same issue on a current release of v8 then we can reopen the issue 🙂

[2019-07-24 22:39] robgoddes commented on #1539
Thanks for the response @jmayntzhusen,

You are correct, the tutorial does not work on v8.1.0

The tutorial describes that the "**dashboard.config**" file must be added to the "**/config**" folder but this doesn't work.

However, I did manage to get the dashboard appearing by adding the following code into the **package.manifest** file, at location: ~\App_Plugins\StarterKit\package.manifest

`"das

[2019-07-25 01:10] robgoddes commented on #1539
Thanks @jmayntzhusen,

You are correct, the tutorial doesn't work in v8.1.0, because placing the **dashboard.config** file in the **/config** folder doesn't work.

Instead, I placed the following code in the '**package.manifest**' file in the **app_plugins** folder and it worked:

`"dashboards":  [
        {
            "alias": "myCustomDashboard",
            "view":  "/App_Plugins/myCustom/dash

[2019-07-30 20:26] codeguise opened #1790 "Link to more complete documentation on Property Editor Controller DI"
This page needs a link to further documentation on what Umbraco has available to inject into the angularjs controllers! As a user trying to create more complex Property Editors, I have only the documentation to guide me through this and it is missing pertinent data.  Even in this particular tutorial I would otherwise have no idea about Umbraco's assetsService and still don't know all the possible

[2019-07-31 13:26] #1692 closed

[2019-07-31 17:05] lcichanowicz opened #1792 "Outdated return type for Umbraco.CheckBoxList for v7.0.0+"
In Umbraco 7.14, the Umbraco.CheckBoxList returns IEnumerable<string>, not Comma Separated Strings as the documentation states.

For this reason, the sample code does not work.

For typed, it should be:
[code]

***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/master/Getting-Started/Backoffice/Property-Editors/Built-in-Property-Editors/CheckBox-List/index-v7.md***

[2019-08-01 11:38] Sinnedennis opened #1793 "Version control is broken"
The version control for this page (V7, V8) is displaying links to its child pages instead of version specific instances of this page.

***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/master/Reference/Templating/Mvc/forms.md***

[2019-08-05 06:54] jmayntzhusen commented on #1790
Hey @codeguise

I think the reason it is not mentioned there is that it is a tutorial - so it is a specific guide on creating a specific property editor, if you want more information the idea is you should go to the extending chapter here: https://our.umbraco.com/documentation/Extending/Property-Editors/ which includes a link to the Angular API docs which list all resources and services.

Based on

[2019-08-05 06:56] jmayntzhusen commented on #1792
Thanks for creating this issue @lcichanowicz 🙂

Will need to check up on whether this is a new change from 7.14 or whether it has always been that way and the docs have just been incorrect. If it is a new change we will need to create a versioned article with the change, otherwise we can just update them 🙂

You are very welcome to pitch in!

[2019-08-05 11:19] tom-ingeniuus opened #1794 "Update for v8 required, especially round config for the latest version of examine"
This page doesn't flag that is hasn't been updated for v8 but references the file ~/Config/ExamineSettings.config which no longer exists.

***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/master/Getting-Started/Setup/Server-Setup/azure-web-apps.md***

[2019-08-06 02:55] KamranIE opened #1796 "Cannot see Developers section in V8"
Looks like 'Developers' section no longer exists which is referenced in XSLT macro creation topic. Right now I cannot see any option to create an XSLT macro in V8.

[2019-08-06 07:17] jmayntzhusen commented on #1794
Hey @tom-ingeniuus

I have added the `pending-our-update` label, because we have an issue currently where articles _not_ named index.md will not get the warning that it hasn't been updated for v8.

Other than that the article also needs updates for v8 compatibility 🙂

[2019-08-06 07:49] tom-ingeniuus commented on #1794
This is a link to the solution (not sure if I'll have time to create a PR myself, though I will try if I have time)

https://github.com/umbraco/Umbraco-CMS/issues/5035#issuecomment-476477802

[2019-08-06 14:18] nul800sebastiaan commented on #1796
There's also no longer XSLT macro's in v8 :-)

Which documentation are you looking at? I think you're looking at documentation for v7 which is no longer valid for v8. Do you have a link to what you were looking at? We might need to mark it as v8 only.

I couldn't find anything for v8 referring to XSLT macro's but I might have missed something, let us know!

For now I'll close this issue. Make sure

[2019-08-06 14:18] #1796 closed

[2019-08-07 14:23] tom-ingeniuus opened #1797 "I don't think the c# serilog logging level configuration example works as expected as it stands"
***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/master/Getting-Started/Code/Debugging/Logging/index.md***

When I tried this, and set the logging level to Warning I was still getting Debug information (my development preference set in serilog.config) showing in the logs.

I think this is because the lines
.ReadFromConfigFile()
.ReadFromUserConfigFile();
override the st

[2019-08-08 12:56] uoziod opened #1800 "Model.Content should be replaced with Model"
***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/master/Getting-Started/Backoffice/Property-Editors/Built-in-Property-Editors/Grid-Layout/Render-Grid-In-Template.md***

According to [this answer](https://our.umbraco.com/forum/umbraco-8/95845-render-grid-in-umbraco-8#comment-303138) documentation's seems to be outdated and misleading.

[2019-08-08 18:37] nul800sebastiaan commented on #1800
Thanks! Please note that this marked as compatible with v7 only at the moment, but yep, it would be really good to have a v8 version of this too.

[2019-08-08 18:43] nul800sebastiaan commented on #1797
Thanks @tom-ingeniuus - looks like this documentation cold do with a bit more testing and reviewing. 👍

[2019-08-08 18:50] nul800sebastiaan commented on #1793
Thanks, something weird is definitely going on here, should be looked into! https://our.umbraco.com/documentation/Reference/Templating/Mvc/forms

[2019-08-09 04:04] KamranIE opened #1801 "Out dated stuff on https://our.umbraco.com/documentation/Reference/Routing/Request-Pipeline/outbound-pipeline"
Following code on "https://our.umbraco.com/documentation/Reference/Routing/Request-Pipeline/outbound-pipeline" is outdated:

namespace Umbraco8.Composers { public class RegisterCustomSegmentProviderComposer : IUserComposer { public void Compose(Composition composition) { **composition.UrlSegmentProviders().Insert(**); } } }

The composition no longer have "UrlSegmentProviders()" function. It now h

[2019-08-09 09:33] uoziod commented on #1800
Unfortunately I spend not much time with Umbraco lately, and also I ended up on that page from Google. Maybe it would make sense to add something like big red-framed banner somewhere on top of that page notifying about uncompatibility with v8.
At this point search area with *v8* selector's somehow misleading.

[2019-08-09 09:38] nul800sebastiaan commented on #1801
Oh no, seems like something is amiss then! Did you find a solution? Did you look at the doc specifically for your version?

[2019-08-09 09:39] jmayntzhusen commented on #1800
We normally show this banner at the top of articles when they are not verified for v8 yet:
![image](https://user-images.githubusercontent.com/36075913/62769910-377a4280-ba9a-11e9-9fc8-f5e10fdecb1d.png)

Unfortunately we have a bug where it will not show on certain pages that we are yet to fix. This is one of the pages with that bug. Sorry about the confusion here!

[2019-08-11 23:28] KamranIE commented on #1801
Sorry my bad. I didn't realize it is an extension method and exists in a separate namespace Umbraco.Core. For some reason my VS 2017 was not able to resolve it until I downloaded the umbraco V8 code and actually found it there.

[2019-08-13 14:06] kasperdyrvig opened #1803 "Need a clever way to migrate to language variants"
## What type of issue is it? (Choose one - delete the others)
Missing documentation

## What article/section is this about?
https://our.umbraco.com/Documentation/Tutorials/Creating-Basic-Site/Adding-Language-Variants in combination with https://our.umbraco.com/Documentation/Tutorials/Multilanguage-Setup/index-v7

## Describe the issue:
I have a V7 multi language site (created according to the guid

[2019-08-13 15:45] nul800sebastiaan commented on #1803
We unfortunately don't have a way to convert this data. Fun fact: a multilingual setup like that still works, but it's clearly not the "new" way we want to do things.

Migrating from v7 to v8 tries to keep your data intact like it was in v7 and from there on out you're responsible for restructuring it the way you want it to be.

Sorry I don't have better news for you :-)

[2019-08-13 15:45] #1803 closed

[2019-08-14 12:51] AndyVokurka opened #1804 "link not working"
***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/master/Getting-Started/Backoffice/Property-Editors/Built-in-Property-Editors/Tags/index.md***

link at the bottom of the page is dead.

[2019-08-14 13:33] #1804 closed

[2019-08-14 13:34] nul800sebastiaan commented on #1804
Thanks! This now links to the intended page https://our.umbraco.com/documentation/Reference/Querying/UmbracoHelper/#working-with-tags

[2019-08-15 11:19] jmayntzhusen commented on #1277
Will close this for now, Headless is ever-changing and keeping the documentation up to date is not feasible right now.

For now we have to await the launch and then we can review whatever documentation will be available then.

[2019-08-15 11:19] #1277 closed

[2019-08-16 12:36] jmayntzhusen commented on #1801
So does that mean the example works @KamranIE ? But it is missing some using statements at the top to make clear what namespaces the methods are under? 🙂

[2019-08-18 23:17] KamranIE commented on #1801
Yup that is correct :)

On Fri, 16 Aug 2019 at 22:36, jmayntzhusen <notifications@github.com> wrote:

--
[image: (i.e.,)] Mohammad Kamran | Developer
*e:* mohammad.kamran@ie.com.au |  *w:* ie.com.au <https://www.ie.com.au>
*p:* +61 390 011 700 <+61+390+011+700> |  *m:* +61 423905638 <+61+423905638>
9 Brighton St, Richmond, VIC 3121
[image: Facebook] <https://www.facebook.com/iecompanyau/> [image:

[2019-08-19 06:39] jmayntzhusen commented on #1801
Alright will close for now, it would be great if you could make a PR to add the using statements needed for the example since it seems like you have it all set up already? 🙂

[2019-08-19 06:39] #1801 closed

[2019-08-20 10:52] John-Blair opened #1810 "applications.config no longer present in v8 - document needs updating."
applications.config no longer present in v8 - document needs updating.

***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/master/Extending/Section-Trees/sections.md***

[2019-08-20 13:40] nul800sebastiaan commented on #1810
Yep, that should probably have a "versionTo" field (I can't remember the exact notation). This file doesn't exist on v8 and never will. :)

[2019-08-21 10:24] crgrieve commented on #1810
I have set his using versionRemoved rather than versionTo... hope this works?

https://github.com/umbraco/UmbracoDocs/pull/1812

[2019-08-21 10:35] crgrieve commented on #1810
@nul800sebastiaan I submitted a PR for the applications.config adding versionRemoved. Hopefully this is right way?

If so, could also do the dashboard.config? Is it completely removed in v8 too?

[2019-08-21 10:41] John-Blair commented on #1810
I'd add
404handlers.config
baserestextensions.config
embeddedmedia.config
examineindex.config
examinesettings.config
feedproxy.config
filesystemproviders.config
log4net.config
scripting.config
trees.config

Thanks

[2019-08-21 10:46] jmayntzhusen commented on #1810
While none of these exist in v8 the question is how to present it in the docs..

I'd say ideally we would have an 8+ version of these articles simply saying the config file is not there in v8 and then linking to an article describing how to do it instead..

Of course this would require that we had articles describing the v8 equivalent of doing stuff in the config files which is currently not the c

[2019-08-21 10:50] crgrieve commented on #1810
ok, thanks @jmayntzhusen :) I'll wait to see the approach before updating any others. Happy to update and contribute further based on what you decide.

[2019-08-21 13:55] MLidstrom opened #1814 "Dynamically created navigation menu missing in the example."
The hard coded menu here isn't much of a use. I would love to see code for the dynamically created navigation menu.

***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/master/Tutorials/Creating-Basic-Site/Master-Template-The-Navigation-Menu/index.md***

[2019-08-22 06:44] nul800sebastiaan commented on #1814
Yep that would be a good one. For now you might want to have a look at the starter kit that comes with Umbraco when you choose to install it with starter kit: https://github.com/umbraco/The-Starter-Kit/blob/master/src/Umbraco.SampleSite.Website/Views/Partials/Navigation/TopNavigation.cshtml

[2019-08-23 08:09] marcemarc opened #1817 "Update 'Reference - Config' landing page to explain new approach to setting config in code"
## What type of issue is it? (Choose one - delete the others)
Discussion
Missing documentation
Wrong documentation
- All three!

## What article/section is this about?
Config Reference: https://our.umbraco.com/documentation/Reference/Config/

## Describe the issue:

A lot of configuration (but not all) has moved from /config/files.config on disk to being set via code. In places where the configure

[2019-08-23 09:24] nul800sebastiaan commented on #1817
Thanks @marcemarc - can you state your intention with this issue? Are you going to work on this, are you soliciting contributions, is this just a "feeler"? :-)

[2019-08-23 09:37] jmayntzhusen commented on #1817
Guess this is related to https://github.com/umbraco/UmbracoDocs/issues/1810 where I left a note that we (documentation curators) should discuss how to handle the removed config files in v8.

[2019-08-23 20:28] marcemarc commented on #1817
Hi @nul800sebastiaan it's just an issue with the docs!

I think to me now that we have addressed composition and DI examples, the 'next' biggie change that impacts people switching to V8, is where is the config gone...?

(well it's a toss-up between that and template examples, but I think this impacts more people because a lot has been written about template changes in different places, but we don

[2019-08-28 10:26] liamlaverty opened #1821 "Lots of 302 redirects in the umbraco docs website"
## What type of issue is it?
Discussion &/or Other (write it here)
There are a lot of 302/301 redirects in the docs site. It's not a high priority issue, but some addresses don't end with trailing slashes when they should and some are the other way round, which causes a (very) slight performance hit when users click on them as there's an extra trip made to the server.

Is there a set of rules that

[2019-08-28 10:27] liamlaverty commented on #1821
## list of pages, and where they're linked from

https://our.umbraco.com/documentation
error code: 302 (object temporarily moved), linked from page(s):
	https://our.umbraco.com/documentation/Tutorials/Creating-Basic-Site/Conclusions-Where-Next/

https://our.umbraco.com/documentation//Reference/Templating/Mvc/querying
error code: 404 (not found), linked from page(s):
	https://our.umbraco.com/docume

[2019-08-28 10:30] liamlaverty opened #1822 ""Oops, something broke" pages aren't returning 5xx"
## What type of issue is it? (Choose one - delete the others)
Other - Technical issue with docs the site
Should return 5xx when a "ooops something broke..." is returned. This would make it easier to automatically identify broken links in the docs site.

## What article/section is this about?
An example can be found here (linked from the sidebar `Reference -> Debugging -> Images`: https://our.umbra

[2019-08-28 11:01] nul800sebastiaan commented on #1821
Holy moly!

Isn't the problem just that all the 302s are redirecting from non slash to slash? So that rewrite rule needs an update?

[2019-08-28 11:06] nul800sebastiaan commented on #1822
How does that make it easier to identify them please?

[2019-08-28 12:19] liamlaverty commented on #1821
I wasn't sure if that'd just turn the problem upside down - so that all the ones that are currently passing would start failing, while all the ones that are currently failing would start passing. I'm not sure how the rewrite currently works, but it seems that it's not a single rule for all links like "all links should have a trailing slash" or "all links should not". For instance the following two

[2019-08-28 12:24] liamlaverty commented on #1822
I've got a tool that will look through a website and find broken links, incorrect links, broken pages etc. Sometimes I run it through the documentation site to catch any missing images, or broken links (if you look back through my contrib history for this repo, it's mostly just "changed a link" or "updated a typo" type commits).

If the "oops" pages returned either a 4xx or 5xx error, these tools

[2019-08-29 06:49] jmayntzhusen commented on #1821
I looked at the first link you pasted here, and it seems it is in our list of redirects: https://github.com/umbraco/OurUmbraco/blob/master/OurUmbraco.Site/config/IISRewriteMaps.config#L184

My guess is that some (probably a lot) of these are outdated..

[2019-08-29 19:13] nul800sebastiaan commented on #1664
This issue has been in the `up for grabs` state for quite a while now and it seems nobody is ready to pick this one up.

For now we'll close this issue to prevent the list of `up for grabs` from becoming very stale. We're happy to re-open it if someone still thinks it's good to work on this.

If anyone is about to pick this issue up to fix it, make sure to test first if you can reproduce the probl

[2019-08-29 19:13] #1664 closed

[2019-08-29 19:13] nul800sebastiaan commented on #1663
This issue has been in the `up for grabs` state for quite a while now and it seems nobody is ready to pick this one up.

For now we'll close this issue to prevent the list of `up for grabs` from becoming very stale. We're happy to re-open it if someone still thinks it's good to work on this.

If anyone is about to pick this issue up to fix it, make sure to test first if you can reproduce the probl

[2019-08-29 19:13] #1663 closed

[2019-08-29 19:13] nul800sebastiaan commented on #1654
This issue has been in the `up for grabs` state for quite a while now and it seems nobody is ready to pick this one up.

For now we'll close this issue to prevent the list of `up for grabs` from becoming very stale. We're happy to re-open it if someone still thinks it's good to work on this.

If anyone is about to pick this issue up to fix it, make sure to test first if you can reproduce the probl

[2019-08-29 19:13] #1654 closed

[2019-08-29 19:14] nul800sebastiaan commented on #1635
This issue has been in the `up for grabs` state for quite a while now and it seems nobody is ready to pick this one up.

For now we'll close this issue to prevent the list of `up for grabs` from becoming very stale. We're happy to re-open it if someone still thinks it's good to work on this.

If anyone is about to pick this issue up to fix it, make sure to test first if you can reproduce the probl

[2019-08-29 19:14] #1635 closed

[2019-08-29 19:16] nul800sebastiaan commented on #1634
This issue has been in the `up for grabs` state for quite a while now and it seems nobody is ready to pick this one up.

For now we'll close this issue to prevent the list of `up for grabs` from becoming very stale. We're happy to re-open it if someone still thinks it's good to work on this.

If anyone is about to pick this issue up to fix it, make sure to test first if you can reproduce the probl

[2019-08-29 19:16] #1634 closed

[2019-08-30 14:15] liamlaverty commented on #1821
My thinking here is that it's a handful of different problems
----------
To reduce the size of that mammoth file, replace all of those separate rewrites that just add a `/` at the end of the url with a single rewrite rule that checks:
  * if the url starts with `/documentation/`
  * if the url does not end with `/`
  * add a `/` to the end of the url as a 302 redirect
  * remove the rewrites that

[2019-09-04 19:55] greystate opened #1830 "Missing information about some IsHelpers"
***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/master/Reference/Querying/IPublishedContent/IsHelpers.md***

The `.IsModZero()` and `.IsNotModZero()` helpers are missing the important first `modulus`  parameter.

Also, in the general explanation about the usage, it's not clear what happens if you only supply a single string argument and the condition evaluates to `fals

[2019-09-05 08:57] #1830 closed

[2019-09-08 01:39] halfer53 opened #1833 "When will the documentation for cache get updated for Umbraco 8?"
My umbraco website use cache api extensively. It would be great if the cache documentation get updated so we can get ready to upgrade to Umbraco 8.

***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/master/Reference/Cache/index.md***

[2019-09-09 08:09] sofietoft commented on #1833
Hi @halfer53
Thanks for reporting!
And you are absolutely right. Updating the docs about caching in Umbraco 8 is definitely a priority!

[2019-09-09 11:45] John-Blair opened #1837 "IPropertyValueConverter changed in v8"
Please update documentation for v8 and how to do a property value converter.
FYI I generally  find the documentation really dreadful for v8.

[2019-09-09 12:02] sofietoft commented on #1837
Hi @John-Blair

We are working on updating and verifying all of our article for Umbraco 8!
Our Docs are open-source, so feel free to help out 😉

Could you give me a link to the article about the Properly Value Converters that you feel needs updating?

[2019-09-09 12:52] John-Blair commented on #1837
https://our.umbraco.com/Documentation/Extending/Property-Editors/value-converters

Change to the interface methods for v8.

[2019-09-10 13:43] sofietoft commented on #1833
Hi @halfer53
As I understood, the Cache in Umbraco 8 has changed, but all methods for working with it should be exactly the same.

Is it something specific that isn't working for you?

[2019-09-10 13:48] sofietoft commented on #1837
Great! Thanks for reporting this 💪

I'll make sure we get around to this.
And remember: You're more than welcome to take a shot at updating the article yourself!

[2019-09-10 21:08] halfer53 commented on #1833
thanks for your reply. What are the cache apis in Umbraco 8? I couldn't find them since ApplicationContext is removed in Umbraco 8

[2019-09-11 10:22] NikRimington opened #1846 "Improve explanations on Style Guide rules"
## What type of issue is it? (Choose one - delete the others)
Discussion/Improvement

## What article/section is this about?
https://github.com/umbraco/UmbracoDocs/blob/master/Contribute/Style-Guide/index.md

## Describe the issue
While reading the style guide, I found myself wanting to understand why some of the rules are the way they are. For example, why shouldn't a heading end in punctuation?

[2019-09-11 10:31] jmayntzhusen commented on #1833
Seems some of the documentation will definitely need an update. I think what you are looking for is something like this?
https://our.umbraco.com/apidocs/v8/csharp/api/Umbraco.Core.Cache.IAppPolicyCache.html

Should be injected wherever it's needed.

[2019-09-11 10:40] jmayntzhusen commented on #1846
Hey @NikRimington

I think this is a really good point! We based our initial round of style rules on recommendations and what other organizations are doing. Writethedocs which is an open source technical documentation organization has a list of style rules you can start out with here: https://github.com/testthedocs/vale-styles

They probably have their reasons to recommend these, but blindly imple

[2019-09-13 19:49] emeria opened #1848 "The following site was not found in the configuration file: 'umbraco-sample-f43b72dc-5c06-425b-a7cf-e83ad7e60765'"
I followed the steps exactly but got the above error when running iisexpress with ctrl+F5.

***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/master/Getting-Started/Setup/Install/index.md***

[2019-09-15 08:48] sofietoft commented on #1848
Hi @emeria
Sorry to hear you're running into some trouble when installing Umbraco!

I've tried the steps, but cannot reproduce the error here.
Could you give it another shot?
And if you still run into the same, please give me some more details on the exact steps you're following when installing Umbraco! 😁
/Sofie

[2019-09-15 08:53] jmayntzhusen commented on #657
I will close this issue for now. We all agree that some reorganization of the docs are a great idea, but we are not quite at the point where it makes sense to do so yet.

We are working on improving our tooling to improve the flexibility of the docs structure, once that has been implemented we can reopen a discussion of what we should do.

[2019-09-15 08:53] #657 closed

[2019-09-15 09:04] sofietoft commented on #718
Hi! Closing this one for now.
There is already some information about the Cloud Organizations, and not much has changed since it was created.
Feel free to reopen it, if you feel something's still missing! 😄

/Sofie

[2019-09-15 09:04] #718 closed

[2019-09-15 09:06] jmayntzhusen commented on #1706
Since the page already has a needs verification tag on it we will close this for now.

[2019-09-15 09:06] #1706 closed

[2019-09-15 09:08] sofietoft commented on #745
Hi!
As we haven't seen any new activity on this issue in while, I'll close it for now.

If you feel it's still relevant, you're welcome to reopen it! 😁
Thanks.

/Sofie

[2019-09-15 09:08] #745 closed

[2019-09-15 09:09] sofietoft commented on #762
Hi!
As we haven't seen any new activity on this issue in while, I'll close it for now.

If you feel it's still relevant, you're welcome to reopen it! 😁
Thanks.

/Sofie

[2019-09-15 09:09] #762 closed

[2019-09-15 09:12] sofietoft commented on #659
Hi!
As we haven't seen any new activity on this issue in while, I'll close it for now.

If you feel it's still relevant, you're welcome to reopen it! 😁
Thanks.

/Sofie

[2019-09-15 09:12] #659 closed

[2019-09-15 09:15] sofietoft commented on #885
Hi!
As we haven't seen any new activity on this issue in while, I'll close it for now.

If you feel it's still relevant, you're welcome to reopen it! 😁
Thanks.

/Sofie

[2019-09-15 09:15] #885 closed

[2019-09-15 09:16] sofietoft commented on #1011
Hi!
As we haven't seen any new activity on this issue in while, I'll close it for now.

If you feel it's still relevant, you're welcome to reopen it! 😁
Thanks.

/Sofie

[2019-09-15 09:16] #1011 closed

[2019-09-15 09:17] sofietoft commented on #1236
Hi!
As we haven't seen any new activity on this issue in while, I'll close it for now.

If you feel it's still relevant, you're welcome to reopen it! 😁
Thanks.

/Sofie

[2019-09-15 09:17] #1236 closed

[2019-09-15 09:18] sofietoft commented on #1542
Hi!
As we haven't seen any new activity on this issue in while, I'll close it for now.

If you feel it's still relevant, you're welcome to reopen it! 😁
Thanks.

/Sofie

[2019-09-15 09:18] #1542 closed

[2019-09-15 09:32] sofietoft commented on #1773
Hi!
As we haven't seen any new activity on this issue in while, I'll close it for now.

If you feel it's still relevant, you're welcome to reopen it! 😁
Thanks.

/Sofie

[2019-09-15 09:32] #1773 closed

[2019-09-15 09:41] sofietoft commented on #1657
Hi!
As we haven't seen any new activity on this issue in while, I'll close it for now.

If you feel it's still relevant, you're welcome to reopen it! 😁
Thanks.

/Sofie

[2019-09-15 09:41] #1657 closed

[2019-09-15 09:44] jmayntzhusen commented on #1657
This is a small part of the larger issue #1697 which is why it was closed.

[2019-09-15 09:57] sofietoft commented on #1735
Hi!
As we haven't seen any new activity on this issue in while, I'll close it for now.

We believe you've managed to catch most of these oddities! Thanks 💪
If you find some more, you're more than welcome to reopen this issue or create a new one.

/Sofie

[2019-09-15 09:57] #1735 closed

[2019-09-15 10:26] jmayntzhusen commented on #1768
This issue has been in the up for grabs state for quite a while now and it seems nobody is ready to pick this one up.

For now we'll close this issue to prevent the list of up for grabs from becoming very stale. We're happy to re-open it if someone still thinks it's good to work on this.

If anyone is about to pick this issue up to fix it, make sure to test first if you can reproduce the problem i

[2019-09-15 10:26] #1768 closed

[2019-09-15 10:28] jmayntzhusen commented on #1781
We will need some more info from @Shazwazza on what this does and in which cases it should be used.

[2019-09-15 10:35] jmayntzhusen commented on #1797
Will make this up for grabs - needs to test the current docs, if it is not working as is we can try out Toms fix above and then update the docs accordingly.

[2019-09-15 10:42] jmayntzhusen commented on #1810
Hey everybody

Will close this issue for now, Marc has made a new more general issue for what to do with the missing config options in v8 here: #1817

We have decided that the most user friendly thing to do here is to have v8 versions of all of the config articles that then explain that the config file is not there in v8, and optimally it would also link to or include some examples of how things w

[2019-09-15 10:42] #1810 closed

[2019-09-15 10:45] jmayntzhusen commented on #1821
Those steps seem alright to me, what do you think @nul800sebastiaan ?

[2019-09-15 14:27] sofietoft opened #1853 "Verify articles for Umbraco 8"
# Help wanted
Many of our articles needs to be verified against Umbraco 8, and for that we need your help!! 🙏

## What can you do to help?
We've put together a list of articles that needs to be verified and updated for Umbraco 8.
We need you're help to do the following:
* Pick an article on the list
* Read it!
* Test out any code snippets, tutorials and step-by-step's in the latest version of Umbr

[2019-09-15 14:47] #1793 closed

[2019-09-15 14:48] sofietoft commented on #1793
Thanks for reporting! 😄

We've discovered the issue, and it should be working now 💪

[2019-09-15 22:48] timmygobang opened #1854 "The Documentation is wrong"
Hi

I downloaded version 8.14 and have spent hours trying to work out why I've been getting:
Compiler Error Message: CS1928: 'Umbraco.Web.Models.PartialViewMacroModel' does not contain a definition for 'GetPropertyValue' and the best extension method overload 'Umbraco.Web.PublishedContentExtensions.GetPropertyValue<T>(Umbraco.Core.Models.IPublishedContent, string)' has some invalid arguments

plea

[2019-09-16 08:07] nul800sebastiaan commented on #1854
Hmm, this might be something that changed between 8.0.x and 8.1.x 🙈

Thanks for bringing it to our attention, we'd be happy for some help if you can update the file and send a pull request?

[2019-09-17 11:04] HTDL-Andrew opened #1857 "Macros in Umbraco 8 Documentation?"
Multiple Content Picker seems to only select one item in Umbraco version 8.0.2

[2019-09-17 11:19] nul800sebastiaan commented on #1857
Unfortunately the multiple media picker is not available as a macro parameter until v8.1.4 (https://github.com/umbraco/Umbraco-CMS/issues/5335) - we recommend you update to 8.1.4 to make use of that functionality.

[2019-09-17 11:19] #1857 closed

[2019-09-17 15:54] hfloyd opened #1859 "Need Package Creation Docs for v8"
Am in the process of attempting to update some else's Package code for v8... and it seems some things have changed (XElement instead of XmlNode for IPackageAction, for instance), but I couldn't find Docs about it...

***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/master/Reference/Packaging/index.md***

[2019-09-17 15:55] hfloyd commented on #1859
Related:
https://github.com/umbraco/UmbracoDocs/issues/1098

[2019-09-17 22:12] hfloyd opened #1860 "Update 'PropertyValueConverter' docs to v8"
***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/master/Extending/Property-Editors/value-converters.md***

The Interface has changed, it seems.

Example from v8:

[code]

[2019-09-18 09:23] jmayntzhusen commented on #1860
Hey @hfloyd

Thanks for making this issue, it is on our list of things we need to have confirmed for Umbraco 8, so that's great! https://github.com/umbraco/UmbracoDocs/issues/1853

It seems you have an idea of what may be wrong here, are you up for giving it a shot to test and update the current docs for v8? 🙂

[2019-09-18 09:51] jmayntzhusen commented on #1859
Hey @hfloyd

I agree this whole section needs an update. It is on our radar and something will be coming but can't really say how soon yet.

If you figure something out feel free to update here or even better create a PR 🙂 For now though I would recommend that you ask around on the forum as I'm sure others know how to help you.

[2019-09-18 15:03] pltl opened #1862 "Broken links in documentation"
I have found three broken links in the Umbraco documentation.

Page: https://our.umbraco.com/documentation/Getting-Started/Data/Data-Types/
At the bottom of the page, after "More information", clicking in "Property Editors" -> broken link (https://our.umbraco.com/documentation/Getting-Started/Backoffice/Property-Editors/index-v8)

Also the "Umbraco.tv" link to "Episode: Data Types" (https://umbrac

[2019-09-19 07:08] nul800sebastiaan commented on #1862
Thanks for letting us know! If you happen to know the correct links we'd love it if you could help fix them! 👍

[2019-09-19 09:51] pltl commented on #1862
The correct "Property Editors" link for both pages is:
https://our.umbraco.com/Documentation/Getting-Started/Backoffice/Property-Editors

The correct Umbraco.tv link probably is:
https://umbraco.tv/videos/umbraco-v8/implementor/fundamentals/document-types/data-types-and-property-editors

[2019-09-19 11:32] jmayntzhusen commented on #1862
Thanks @pltl

I have fixed the links now in https://github.com/umbraco/UmbracoDocs/commit/f174e286dd7b9935d19a6c359758534c97a30dc7 & https://github.com/umbraco/UmbracoDocs/commit/cf3115dbe033d5bb977dd5308b176ec565c10b73

Awesome that you report them, you are also very welcome to submit a PR with a fix yourself next time if you find any other broken links 😁😉

[2019-09-19 11:32] #1862 closed

[2019-09-19 20:43] hfloyd commented on #1860
Hi @jmayntzhusen I considered that... I can certainly copy in the new Methods/properties... but I'm not sure about the introductory text -

Is that still true?

[2019-09-19 21:31] hfloyd commented on #1860
Okay, so I started an attempt at updating this... Youc an see the draft here: https://github.com/hfloyd/Umbraco4Docs/commit/0e8605533a42a116d8f7ab9d6e63dfb3656b6bf5

I put bracketed notes around things that I'm not sure about.

[2019-09-20 14:39] jmayntzhusen commented on #1860
Hey @hfloyd

That's awesome, would be easier and more visible if you create the PR already from your branch - feel free to tag it as a WIP if you want. Then I and others can pitch in 🙂

Also not really sure about the "four values" thing, but when you submit this PR I'll get hold of someone who knows and then we can take it from there 👍

[2019-09-20 14:54] hfloyd commented on #1860
Okay, here it is https://github.com/umbraco/UmbracoDocs/pull/1865

I added "WIP" to the title... Let me know if there was a different way you wanted it "tagged".

[2019-09-20 14:59] jmayntzhusen commented on #1860
That's perfect, thank you!

Will see if I can't get someone to review this next week 🙂

[2019-09-20 15:06] hfloyd commented on #1860
Thanks!

Oh... If you can... It would be great to ask how to override the existing core PVCs is... Lee provided some guidance about this for v7 (https://our.umbraco.com/forum/extending-umbraco-and-using-the-api/90608-multiple-property-value-converters-for-a-property-editor). When I attempted the same sort of code in v8, the methods, etc were different. I'll add an update to the doc about this.

[2019-09-23 11:28] hartviglarsen commented on #1833
I'll write up something for V8 caching :)

[2019-09-23 13:54] jmayntzhusen commented on #1833
We have a starter example now via https://github.com/umbraco/UmbracoDocs/pull/1867

Will close this issue for now, if you have any suggestions for other examples please create a new issue 🙂

[2019-09-23 13:54] #1833 closed

[2019-09-24 08:57] hidarikani opened #1869 "Ambiguous Documentation"
***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/master/Getting-Started/Setup/Server-Setup/Load-Balancing/flexible.md***

The page doesn't explain the master and scheduling server election algorithm. It doesn't say anything about the table dbo.umbracoServer which stores the "computer name" of each cluster node. I'm guessing that the master node is determined by matching

[2019-09-25 10:56] sofietoft commented on #1869
Hi @hidarikani
Thanks for your comments here!
We are looking into getting the articles about load balancing updated - mainly for Umbraco 8 though.

Not sure about the specifics here - perhaps @Jeavon has some input on this? 🤔

[2019-09-25 12:33] sofietoft commented on #1792
This has been fixed in #1868 👏

[2019-09-25 12:33] #1792 closed

[2019-09-25 12:43] sofietoft opened #1873 "Help wanted: Docs about Routing"
# Help wanted: Docs about Routing
Many of our articles needs to be verified against Umbraco 8, and for that we need your help!! 🙏

Our article series about **Routing** needs to be verified and updated for Umbraco 8.

We need you're help to do the following:
* Pick an article on the list
* Read it!
* Test out any code snippets, tutorials and step-by-step's in the latest version of Umbraco 8

Does t

[2019-09-25 13:17] sofietoft opened #1874 "Help wanted: Docs about Caching"
# Help wanted: Docs about Caching
Many of our articles needs to be verified against Umbraco 8, and for that we need your help!! 🙏

Our article series about **Caching** needs to be verified and updated against Umbraco 8.

We need you're help to do the following:
* Pick an article on the list
* Read it!
* Test out any code snippets, tutorials and step-by-step's in the latest version of Umbraco 8

Do

[2019-09-25 13:33] sofietoft opened #1875 "Help wanted: Docs about Querying"
# Help wanted: Docs about Querying
Many of our articles needs to be verified against Umbraco 8, and for that we need your help!! 🙏

Our article series about **Querying** needs to be verified and updated against Umbraco 8.

We need you're help to do the following:
* Pick an article on the list
* Read it!
* Test out any code snippets, tutorials and step-by-step's in the latest version of Umbraco 8

[2019-09-25 13:37] sofietoft opened #1876 "Help wanted: Docs about WebAPI"
# Help wanted: Docs about WebAPI
Many of our articles needs to be verified against Umbraco 8, and for that we need your help!! 🙏

Our article series about **WebAPI** needs to be verified and updated against Umbraco 8.

We need you're help to do the following:
* Pick an article on the list
* Read it!
* Test out any code snippets, tutorials and step-by-step's in the latest version of Umbraco 8

Does

[2019-09-25 13:50] sofietoft opened #1877 "Help wanted: Docs about MVC Templating"
# Help wanted: Docs about MVC Templates
Many of our articles needs to be verified against Umbraco 8, and for that we need your help!! 🙏

Our article series about **MVC Templating** needs to be verified and updated against Umbraco 8.

We need you're help to do the following:
* Pick an article on the list
* Read it!
* Test out any code snippets, tutorials and step-by-step's in the latest version of

[2019-09-26 02:15] DontPanic345 opened #1879 "Unit testing documentation is wrong"
***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/master/Implementation/Unit-Testing/index.md***

This page is totally unhelpful

`current` doesn't exist at all.

[2019-09-26 06:50] sofietoft commented on #1879
Oh no @DontPanic345 ! 😱
Sorry to hear this isn't helpful to you.

Which version of Umbraco are you running it on?
And do you have any more details that could help us identify where this article needs updating?

[2019-09-26 12:32] #1765 closed

[2019-09-27 11:07] DontPanic345 commented on #1879
Hi @sofietoft, thanks for the reply

I'm using 7.15.1, and was having a lot of trouble getting my tests to run inside Visual Studio, used this page as a place to make my gripe.

I think I have it figured out now by following https://github.com/lars-erik/umbraco-unit-testing-samples and coping the adapter class in there.

This page could use a little something to say that it is for 8.

But doesn't

[2019-09-28 04:26] emeria commented on #1848
I followed these steps:
1. Download and install Visual Studio Code
2. Download and install IIS Express (Optional as IIS Express for VSCode will install it)
3. Download and unzip Umbraco (UmbracoCms.8.1.5.zip)
4. Install the IIS Express Extension for VS Code
5. Open the unzipped root folder in VS Code
6. Run the website with the IIS Express Extension(CTRL+F5)

Here is my folder that I opened in VS

[2019-09-30 08:36] mjohl commented on #1869
@sofietoft Any idea on a schedule / date of when the V8 load balancing documentation will be done? I can imagine a lot of people are waiting for it.

[2019-09-30 09:51] sofietoft commented on #1869
@mjohl Can't give you an ETA on the docs, I'm afraid.

I know @Jeavon is going to start working on them. You're more than welcome to pitch in, if you'd like 😁

[2019-09-30 15:52] abjerner opened #1885 "Links to the reference documentation"
A bit similar to the Umbraco Docs, I've started a project to document our packages at Skybrud.dk. As part of this, I have both a "normal" documentation and a reference documentation for the C# assemblies.

The normal documentation is based on Markdown files. And whenever the docs mention a type, a method or similar, I can add an extra attribute to the `<code>` element, and it will be turned into a

[2019-09-30 16:39] nul800sebastiaan commented on #1885
That would be so awesome! 👍

I hope the work is not for nothing with DocFX 3, does @jmayntzhusen know more about this?

[2019-09-30 20:05] greystate commented on #1877
I think I've just found my **Hacktoberfest** assignment 😆 — happy to tackle this.

[2019-09-30 20:13] greystate commented on #1877
Sidenote: The first two does not show the warning about not having been verified with V8 on Our, even though they have the `needsV8Update` tag. Is that a "the docs have not been built" issue, or something else that should ideally be reported as an issue itself?

[2019-10-01 06:07] naveenraina opened #1886 "'IBooleanOperation' does not contain a definition for 'Field' and no accessible extension method 'Field' accepting a first argument of type 'IBooleanOperation' could be found (are you missing a using directive or an assembly reference?)"
***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/master/Reference/Searching/Examine/Quick-Start/index.md***

[2019-10-01 06:09] naveenraina commented on #1886
Neither is .NodeTypeAlias. I am using Umbraco 8.1

[2019-10-01 07:00] nul800sebastiaan commented on #1886
You forgot to put the `And()` in there, so it should be `ParentId(1105).And().Field("bodyText", searchTerm)`. 😃

[2019-10-01 07:00] #1886 closed

[2019-10-01 07:17] sofietoft commented on #1877
That's awesome to hear @greystate 😎 🎉

If you check the articles directly in Github, you'll see that they actually have the "needsV8update".
https://github.com/umbraco/UmbracoDocs/edit/master/Reference/Templating/Mvc/views.md

The reason they do not have the green box at the top of the article, is because it isn't an "index.md" file, which are the only ones we add the box to.
This sucks, I know, b

[2019-10-01 07:19] naveenraina commented on #1886
Thank you for your valuable insight @nul800sebastiaan

[2019-10-01 07:39] jmayntzhusen commented on #1885
This is great, however the docfx change would do the same and invalidate the work put in 😕

In DocFx you can specify a uid for a file in yaml, and the auto generated api docs get the namespace, fx:
[code]

You can then link to it like this:
[code]

So while this would be awesome, implementing it and fixing all links would be a lot of work that we would then have to do over when switching in the fu

[2019-10-01 09:46] sofietoft commented on #1879
Aah, good point @DontPanic345 !
We should have a way to show that an article is for Umbraco 8.

Good to hear you managed to figure out how to run it in Umbraco 7!
It would be awesome if you would make an article on it for that version 😁 Just in case someone else might be looking to do the same.

[2019-10-01 11:15] sofietoft commented on #1539
Hi @robgoddes and @rhealefever !

Apologies for the wait!
@jmayntzhusen has been working on getting the Dashboard tutorial updated.
He has a WIP PR: https://github.com/umbraco/UmbracoDocs/pull/1642
I'm sure he'd love your input there, as it sounds like you managed to work this out!

[2019-10-01 13:55] louisjacksonrees opened #1896 "Update Documentation for Registering Custom Sections in V8"
## What type of issue is it? (Choose one - delete the others)
Missing documentation

## What article/section is this about?
https://our.umbraco.com/Documentation/Tutorials/Creating-a-Custom-Dashboard/
https://our.umbraco.com/Documentation/Reference/Config/dashboard/

## Describe the issue
Update References to the dashboard config file to use the newer method for V8 as outlined here:
https://our.um

[2019-10-02 11:37] crgrieve commented on #1876
Hi @sofietoft , I am happy to pick this one up as I am making some WebAPI controllers on v8 at the moment so will be testing anyway :)

Thanks,
Carole

[2019-10-02 11:42] sofietoft commented on #1876
That sounds amazing @crgrieve !! 😄
Can't wait to review the result.

[2019-10-02 12:07] susw12 commented on #1853
I can pick up a couple of articles if needed. Please let me know which ones are a priority.

[2019-10-02 12:18] sofietoft commented on #1853
That'd be great @susw12 😄
They aren't prioritized, so you can just pick whatever you feel up for doing 💪

[2019-10-02 17:24] greystate commented on #1877
5 minutes in and I can verify that it definitely needs updating :-)

I'm on it ✍️ 📝

[2019-10-02 19:12] Niladri24dutta commented on #1896
@louisjacksonrees Do you mean the url needs to be updated for the config file in the documentation? please confirm so that I can work on this.

[2019-10-02 22:34] nul800sebastiaan commented on #1896
Thanks @louisjacksonrees - we should definitely update the examples in the docs to use the v8 version, is this something you would be able to contribute to?

[2019-10-03 06:18] Niladri24dutta commented on #1896
@nul800sebastiaan Can I work on this if it's still open?

[2019-10-03 06:59] jmayntzhusen commented on #1896
The tutorial is in progress: https://github.com/umbraco/UmbracoDocs/pull/1642
As for the config page we need to redo that according to https://github.com/umbraco/UmbracoDocs/issues/1817

[2019-10-03 11:01] kows commented on #1853
Looking into the source control one but kinda depends on @crgrieve 's PR (I've merged all on my fork to get starting).
Mostly cleanup so far, content could use a rewrite (any platform to discuss such?).

[2019-10-03 12:15] jmayntzhusen commented on #1885
Will close this after our talk @abjerner thanks for the offer though! 🙂

[2019-10-03 12:15] #1885 closed

[2019-10-03 12:15] sofietoft commented on #1876
Thanks for the PR @crgrieve 😄

Can see Jesper merged it, so I'll close this issue!

[2019-10-03 12:15] #1876 closed

[2019-10-03 12:22] sofietoft commented on #1853
Looks like we got the "Source control" article under control - so to speak 😉

Not sure what you mean about a "platform to discuss" @kows ?
Could you elaborate a bit on what you mean?

[2019-10-03 12:32] kows commented on #1853
I recall Gitter being introduced to discuss PR's on packages/Core.
Looking for a channel on there or Slack (or another medium) to discuss the contents of an article.
Unless I just make "my" version of it and feedback is processed during PR review.

[2019-10-03 12:35] sofietoft commented on #1853
Ah, I understand!
We don't have anything like that for Docs specifically.
You're more than welcome to write your version and make the PR. Then we'll have a chat about it!
How does that sound?

[2019-10-04 08:27] sofietoft opened #1928 "Help wanted: Article about Web.config needs to be updated for Umbraco 8"
The `web.config` file has changes a lot between Umbraco 7 and 8 - or at least many of the configurations and keys have changed names.

This of course also needs to be reflected in the Documentation.
The Web.config article needs to be verified and updated for Umbraco 8: https://our.umbraco.com/documentation/Reference/Config/webconfig/

What needs to be done?
* The content of the current article nee

[2019-10-04 10:14] Emetico opened #1931 "v7 documentation is gone"
Hi.

The v7 documentation is gone, i know its been there ;)

***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/master/Reference/Searching/Examine/Indexing/index.md***

[2019-10-04 10:26] jmayntzhusen commented on #1931
Not sure why the index page for v7 documentation is not showing, but thanks for reporting. Here is the link to the v7 index page and the articles it links to: https://our.umbraco.com/documentation/Reference/Searching/Examine/index-v7

No time to look into why it is gone currently but will return to this at some point.

[2019-10-06 12:47] crgrieve opened #1940 "Front end build docs"
## What type of issue is it? (Choose one - delete the others)
Discussion

## What article/section is this about?
https://our.umbraco.com/documentation/Development-Guidelines/building-angular-project

## Describe the issue

I noticed the build instructions don't match those on the CMS repo : https://github.com/umbraco/Umbraco-CMS/blob/v8/dev/.github/CONTRIBUTING.md#building-umbraco-from-source-code

[2019-10-07 07:46] sofietoft commented on #1940
That's a great observation, @crgrieve 🤔

I think it would make sense to simply remove them from the docs article, and then link to the contribution guidelines on the CMS!
The whole "Development Guidelines" is very out-of-date as I remember it, from the last time I ran through it 🙈

[2019-10-07 07:54] crgrieve commented on #1940
yeah, I set the CMS build up a few days ago so when I saw the docs I noticed it was quite different now!

I will do a PR later to link to CMS guidelines :) Just wanted to check the correct approach. Thanks for your help!

[2019-10-07 11:51] crgrieve commented on #1940
PR submitted: https://github.com/umbraco/UmbracoDocs/pull/1951

[2019-10-07 14:13] #1940 closed

[2019-10-07 21:00] Niladri24dutta commented on #1931
@jmayntzhusen Can I create a PR to add the V7 documentation link to the current index page https://github.com/umbraco/UmbracoDocs/blob/master/Reference/Searching/Examine/Indexing/index.md

[2019-10-07 21:10] Niladri24dutta commented on #1814
@nul800sebastiaan Can i work on this? It seems we need add the sample code for dynamic menu here https://github.com/umbraco/UmbracoDocs/blob/master/Tutorials/Creating-Basic-Site/Master-Template-The-Navigation-Menu/index.md. Currently only hard coded sample is there.

[2019-10-07 21:23] Niladri24dutta commented on #1712
@sofietoft Can I work on this to validate the doc for V8? It seems there are some changes in namespace and properties of ApplicationContext in V8. I can create a PR once done.

[2019-10-08 07:20] sofietoft commented on #1814
@Niladri24dutta You're more than welcome to work on adding a dynamic menu to the Basic site tutorial 😄

Looking forward to seeing your contribution 💪

[2019-10-08 07:21] sofietoft commented on #1712
@Niladri24dutta You're more than welcome to work on this 💪 😄

Looking forward to reviewing your PR!

[2019-10-08 08:53] Niladri24dutta commented on #1712
Sure . Should I compare the source code of V8 with the V6+ document ?

[2019-10-08 09:35] sofietoft commented on #1712
Yes, that's be a great place to start, @Niladri24dutta 😄

I don't know much about these services myself, to be honest.
So, I'd suggest that you give it a shot, and perhaps also run some tests in Umbraco 8, if you have the time.

[2019-10-08 21:05] sumitkharche commented on #1873
Hi @sofietoft ,
I am happy to pick this one.

[2019-10-08 21:09] sumitkharche commented on #1874
Hi @sofietoft ,
I am happy to pick this one. Can you assigned it to me.

[2019-10-08 23:06] Shazwazza commented on #1879
Ideally we should update these unit testing docs to show best practices examples. For the most part we don't want to be initializing singletons. In some cases this may be needed but that would generally only be for integration test. Unit testing is done on the premise of constructor injection which these examples do not showcase.

I've written up an explanation of this here https://github.com/umbr

[2019-10-09 09:36] sofietoft commented on #1874
That's awesome @sumitkharche 😄

I've assigned the Issue to you 💪
Look forward to review your PR!

[2019-10-09 13:08] sumitkharche commented on #1873
Hi @sofietoft, I have completed the changes and raised PR for this issue. So could you please review it and let me know your feedback.

[2019-10-09 13:26] marcemarc commented on #1853
Anyone looking to update the FileSystemProviders config, there is some excellent notes here in the source code: https://github.com/umbraco/Umbraco-CMS/blob/fdcfc48e060cbaa5d82de32aa06b20b3e057516d/src/Umbraco.Core/Composing/CompositionExtensions/FileSystems.cs

[2019-10-10 08:21] jmayntzhusen commented on #1931
Hey @Niladri24dutta

Sorry it seemed to have been an error with our search index that caused it to not be show temporarily, it is back to working as expected. No documentation changes were needed here it was a server hiccup.

[2019-10-10 08:22] jmayntzhusen commented on #1869
https://github.com/umbraco/UmbracoDocs/pull/1964 will close this one.

[2019-10-10 08:23] jmayntzhusen commented on #1848
We have been unable to reproduce this, so will close the issue for now.

[2019-10-10 08:23] #1848 closed

[2019-10-10 08:53] Adolfi commented on #1879
I'm working on a PR update for this page where all tests are using full constructor injection,
which will solve a few issues:
- Avoid bad practice of mocking static service locator (Current.Factory).
- Parallel execution of tests will work.
- I've also added a note that this page is only valid for version 8, to avoid misunderstanding that these tests would work for version 7 (like @DontPanic345 ha

[2019-10-11 10:55] richarth opened #1971 "XML snippet not showing code"
In the URL provider mode section of https://our.umbraco.com/documentation/reference/routing/request-pipeline/outbound-pipeline#url-provider-mode there are two blocks of code.

The second block of code detailing the settings config changes is not rendering the code to use.

[2019-10-11 11:01] jmayntzhusen commented on #1971
@richarth

Thanks for reporting this, not sure what caused this in the first place, but this commit seems to have fixed it: https://github.com/umbraco/UmbracoDocs/commit/3fa52c525c56291cd5c482e3c71d4757d1f7940c

[2019-10-11 11:01] #1971 closed

[2019-10-13 09:51] akljohny commented on #1854
will i get swag if i fix typo errors

[2019-10-13 15:19] dampee commented on #1854
If it is only a simple typo, don't count to get your PR merged before the end of Oktober.  If it is a decent amount of work that is something else.

We hope you can take a look at the issues and help us complete the missing parts of the documentation.

They published a blog post about hacktober 2019 : https://umbraco.com/blog/hacktoberfest-2019/

[2019-10-14 06:57] sofietoft commented on #1854
Hi @akljohny 😄

@dampee is absolutely correct!
We follow the official quality standards of Hacktoberfest: https://hacktoberfest.digitalocean.com/details#quality-standards

When your PR gets the "Hacktoberfest" label, you'll know that you've earned some Umbraco Swag 😄

[2019-10-14 07:57] #1928 closed

[2019-10-14 09:21] ronaldbarendse opened #1974 "Should ComponentComposer be marked with IUserComposer?"
***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/master/Implementation/Composing/index.md***

The `SubscribeToContentServiceSavingComposer` in _'Example - Creating a Component to listen for ContentService.Saving events'_ is an `IUserComposer` and later replaced with a `ComponentComposer<T>`. This class only inherits from `IComposer` (see [source](https://github.com/umbr

[2019-10-14 12:28] Zinspel opened #1981 "'FieldModel.Value"is obsolete: 'Use Values instead'"
Following [this ](https://our.umbraco.com/documentation/Add-ons/umbracoforms/developer/extending/adding-a-fieldtype) example will lead to this warning: 'FieldModel.Value"is obsolete: 'Use Values instead'
And it says: 'use Values instead', but i think that could also be ValueAsHtmlString.

***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/master/Add-ons/UmbracoForms/Devel

[2019-10-14 13:12] butuzov opened #1983 "broken-link(s)"
## What type of issue is it? (Choose one - delete the others)
Missing documentation

## What article/section is this about?
issues about case descibed in `broken-link.md`

## Describe the issue
I was testing my tool for checking the documentation for broken links, and found few. Following `broken-link.md` I am first reporting found issues. I will update this issue after next find in order to reduc

[2019-10-14 13:34] jmayntzhusen commented on #1539
The tutorial is now up to date as per https://github.com/umbraco/UmbracoDocs/pull/1984

Please report any issues you may find in a new issue.

[2019-10-14 13:34] #1539 closed

[2019-10-14 13:35] sofietoft commented on #1981
Thanks for letting us know @Zinspel 😄

Sounds like we need to give that article an extra look!
Could you share some more details on the error?
Would like to know where you're seeing the error - screenshots would be awesome!
And could you also tell me which version of Umbraco and Umbraco Forms you're running?

[2019-10-14 13:40] sofietoft commented on #1983
Ah, good catch!
The issue here is that the folder is called "Images" with a capital I 😅
We'll make sure it resolved.

[2019-10-14 13:56] butuzov commented on #1983
Glad, it was informative. I need to improve a bit my tool in order to continue analysis, if you don’t mind I keep crawling your documentation as an experiment.

[2019-10-14 14:42] Zinspel commented on #1981
I am using Umbraco 8.1.5. and UmbracoForms 8.2.0
[image: image.png]
I have also put the view in the folder:
Views\Partials\Forms\Themes\default\Fieldtypes
instead of: Views\Partials\Forms\Fieldtypes
because i got this error otherwise:
[image: image.png]

Op ma 14 okt. 2019 om 15:35 schreef sofietoft <notifications@github.com>:

[2019-10-14 20:15] TwoMoreThings commented on #1797
The original issue was resolved with this commit to the docs
https://github.com/umbraco/UmbracoDocs/commit/39d58fbf0f25577fadaffc5e5f770db709341dea#diff-0a97340bb2848817b55ea4b2b4429367
maybe this should be closed?

[2019-10-14 21:24] marcemarc commented on #1797
done!

[2019-10-14 21:24] #1797 closed

[2019-10-15 06:26] Adolfi commented on #1879
https://github.com/umbraco/UmbracoDocs/pull/1987

[2019-10-15 07:11] sofietoft commented on #1981
Great, thanks! 😄

I'll have this tested as soon as possible.

[2019-10-15 07:12] sofietoft commented on #1983
That's completely fine! 😄

I look forward to hear what you find 💪

[2019-10-15 09:15] dhymik opened #1990 "Should generated models files be tracked in source control?"
***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/master/Getting-Started/Code/Source-Control/index.md***

In the `App_Data` section, `Models Builder` sub section, of the `Source Control` page, it says:

And further down, in the `Controllers/Classes/Custom Code` section, it says:

But Models Builder is a "code after" solution, it auto generates files based on doc types in

[2019-10-15 10:19] FransdeJong opened #1992 "Add basic steps to setup a blobstorage"
It would be a lot more friendly to get from images in cloud to images in a blobstorage if the default azure blobstorage settings would be included in [this](https://our.umbraco.com/Documentation/Umbraco-Cloud/Set-Up/Media/) page.

It could start with asuming someone has a azure account and just name the basic settings for the storage to work with Umbraco.

This way people could migrate a lot easie

[2019-10-15 10:54] sofietoft commented on #1992
That's an interesting idea @FransdeJong !

So, just for my understanding, you're saying that the basics of the Azure Blob Storage tutorial should be added to the Cloud article, right?
Like a kinda **Quick setup guide** thing?

Would you be up for writing it up yourself? 😄

[2019-10-15 10:58] FransdeJong commented on #1992
Yes, it would be nice to have a basic settings example with what you can't go wrong.

I'm sorry I can't help to set it up. I'm still collecting peaces of the puzzle from the community and cloud support to get this all setup. This is taking me a few hours already to understand the options and the related costs. That's why I'm surprised that a "settingsguide" doesn't already exists. This way people

[2019-10-15 11:12] sofietoft commented on #1992
Aah, I think I might have misunderstood..

Do you mean that we should add more details on the specific settings on the Azure side of things?

[2019-10-15 11:15] FransdeJong commented on #1992
Yes, that is the part that is missing to get people that are new to blobstorage onboard.

I've lost most of my time today looking what options I should pick. If you could provide a simple default setup guide for the Azure side than people can get started way faster with confidence.

[2019-10-15 11:22] sofietoft commented on #1992
Thanks for clarifying 😄
I think it's a great idea adding a sort of "sample setup" to the Azure Blob guide. Definitely would be a time-saver!

Will need to look into collecting those 💪
(I borrowed an Azure account when I created the video tutorial, so I'm not sure what settings it had)

[2019-10-16 07:39] poornimanayar commented on #1875
@sofietoft Do you still need help with this? Happy to help!

[2019-10-16 07:52] nul800sebastiaan commented on #1990
Any querying in templates will fail until the files are regenerated.

For v8 we don't have the Umbraco Deploy product on premise yet, but that would be another way. There's other plugins that can facilitate this as well.

 Ultimately, there's loads of room for discussion on this, but the docs describe how we think you should work and of course people deviate from this all the time, which is great!

[2019-10-16 07:52] #1990 closed

[2019-10-16 07:52] sofietoft commented on #1974
Thanks for reporting and for the PRs @ronaldbarendse ! 💪

I've asked some of the more experienced Umbraco peeps to help give this a look

[2019-10-16 08:08] sofietoft commented on #1875
@poornimanayar We could definitely still use some help getting the articles in this list verified for Umbraco 8! 😄

Would be awesome, if you could pitch in! 💪

[2019-10-16 09:27] poornimanayar commented on #1875
Assign it to me!!! Will have a look later today :-)

[2019-10-19 15:03] butuzov commented on #1983
Most of this is false positives (sire gives error because of DDoS protection, but link exists) or `example.org` like domains. Just a few finds:

* [x] https://marketplace.visualstudio.com/items?itemName=warren-buckley.iis-express - fp, exists.
* [x] https://www.microsoft.com/en-us/download/details.aspx?id=48264  - fp, exists.
* [ ] https://github.com/umbraco/UmbracoRestApi
* [x] http://example.com

[2019-10-21 09:09] room101b opened #2022 "The documentation doesn't change version on pressing dropdown"
After pressing V7 in the version dropdown I expect the documentation to change to version 7 but it remains on version 8.

***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/master/Getting-Started/index.md***

[2019-10-21 09:28] sofietoft commented on #2022
You mean the dropdown next to the search bar, right?
You are right, that switching version there, doesn't change the version of the Documentation articles.
It does, however, change which articles will be shown on top, when you search for something specific! 😁

So, choosing `v7` in the dropdown, lets you search for articles on Umbraco 7 💪

We are talking about improving both the search and the vers

[2019-10-21 09:28] #2022 closed

[2019-10-21 12:48] #1983 closed

[2019-10-21 17:53] doomswatter commented on #1790
Please assign this to me if it's not already taken.

[2019-10-21 18:22] doomswatter commented on #1790
A couple questions:

1. Would you prefer the link be included only in part 1 of the tutorial, or in all four parts?

2. Would you prefer the link be included at the beginning of the article only, or mentioned elsewhere within the article as well?

[2019-10-21 22:03] samus-aran commented on #877
Hey peeps. Hope I didn't step on anyone's toes and added the already existing v7 Editor Manual as separate sections. The did contemplate if there should be a single file that contains everything but felt that would be unmaintainable - so still none the closer on how to generate a pdf doc using live and dynamic pages without being a coder. :woman_shrugging:
My only suggestion is that part of the ge

[2019-10-22 08:21] sofietoft commented on #1790
Hi @doomswatter , Awesome to hear thay you're going to take this one 😄

I think in the first place, it makes sense to link to the article in the beginning, where the `assetsService` is first used. What do you think?
Perhaps it would also make sense to have it in the very end, sort of like a "Learn more about how to extend this service ... " kinda thing 🤔

[2019-10-22 08:26] enkelmedia opened #2026 "Custom View Models as ContentModel or IPublishedContent"
## What type of issue is it? (Choose one - delete the others)
Discussion

## What article/section is this about?
https://github.com/umbraco/UmbracoDocs/blob/master/Reference/Routing/custom-controllers.md#changing-the-inherits-directive-of-your-template

## Describe the issue
I looked at a question in the forum, https://our.umbraco.com/forum/using-umbraco-and-getting-started/99644-best-way-to-pass-

[2019-10-22 16:26] poornimanayar commented on #1875
@sofietoft , I have been looking at the IsHelpers() for IPublishedContent. Some of the Is Helper is available on an `IndexedArray` which you can loop through while some others are not. How do you want me to approach it?

[2019-10-22 17:13] poornimanayar commented on #1875
@sofietoft , [UmbracoHelper](https://our.umbraco.com/Documentation/Reference/Querying/UmbracoHelper/) has samples for both v7 and v8 in the same document. Should we segregate it out, move the contents of [Pre v7.3](https://our.umbraco.com/Documentation/Reference/Querying/UmbracoHelper/index-vpre_7_3_0) into the new v7 document and make it relevant in the document that its pre v7.3? What do you thi

[2019-10-23 07:22] sofietoft commented on #2026
Thanks for all the details here @enkelmedia 😄

It's a very interesting question you're raising!
Basically, as I understand it, you're using a different approach than what's in the Docs, right?
Perhaps it would make sense to have an example of both in the docs 🤔 I mean, if the approach you're using is working for you, I'm sure it's not wrong!

I'll make sure to bring this up, at our documentation m

[2019-10-23 08:02] sofietoft commented on #1875
Great question @poornimanayar 🤔

It does seem a bit unnecessary to have an entire article for just that one helper.
We should definitely have at least two seperate articles for this one - one for Umbrao 8 and one for Umbraco 7.
You're asking whether the "pre v7.3" should be added to the Umbraco 7 version, right? If that's the case, I think we should try it out! And then instead of added the entire

[2019-10-23 08:35] enkelmedia commented on #2026
Yes, it's probably two different approaches =D
I'm just thinking that it would maybe be good to show both or at least mention both to make things super clear.

Sounds great =D Looking forward to hearing what comes out of the meeting =D

[2019-10-23 14:42] sofietoft commented on #2026
@enkelmedia - just back from our meeting!
The other team members, are going to dive a bit more into this, so we can come up with a plan for what we should do here!
Sure sounds like you're way of doing this, is a bit simpler than the example in the Docs, but need to check what we're recommending in our training material - consistency is king, right? 😁

Bottom line is, that "there's more than one wa

[2019-10-23 15:35] poornimanayar commented on #1875
@sofietoft , Exactly what I meant! But you know now what makes me shy away from documentation! I am so bad at explaining things in writing Lol!

[2019-10-23 21:02] prgriffithsdev commented on #2026
Hi both, It was me who was asking the question so its great to see that this is being discussed so quickly :). Since speaking with @enkelmedia on Tuesday i have refactored my code to use his approach. Using his explanation to lean on I feel it makes more sense in my mind to inherit from the Models Builder type in order to expose the additional public properties defined on my document types.

Looki

[2019-10-24 05:45] enkelmedia commented on #2026
I would like to add two thing to this.

1. If one is not using Models Builder (and probably also in the “right” mode) then my approach is of course quite bad :) In these scenarios ContentModel makes a lot of sense - with that in mind maybe both should be mentioned.

2.  There is also no documentation around how to use a view model that is not tied to Umbraco (Like ContentModel, IPublishedContent).

[2019-10-24 06:48] sofietoft commented on #1875
Haha 😄 I feel exactly the same @poornimanayar ! It can get so complicated sometimes, when you try to explain these kinds of things 🙈 But it's a good exercise for the brain I guess 😅

[2019-10-24 07:58] prgriffithsdev commented on #2026
Hi @enkelmedia ,

Once again those are very good points and it is looking likely that the documentation may need to include with and without Models builder (and of course which mode).

Just for further clarification in my vs solution i have two projects, a .core and .web. I have installed the custom models builder tool which enables me to run the tool in VS and generate my models into my core proj

[2019-10-24 08:19] enkelmedia commented on #2026
I think I get it =D

We're not using the VS-tool but we're basically doing the same thing but with web.config settings:

[code]

The point being that if you using another mode for Models Builder than we're doing the approach to inherit from the generated model might not be the best, BUT at the same time in that case it's not likely that you're fiddling with custom view models and hi-jacked routes

[2019-10-25 06:54] sofietoft commented on #1853
It does indeed 💪 It has also been checked! 😁

[2019-10-25 06:55] sofietoft commented on #1853
It does indeed @jmayntzhusen 💪 It has also been checked! 😁

[2019-10-25 18:35] abjerner opened #2045 "Add Angular directives, services etc. to the documentation"
When extending the Umbraco backoffice, we can consult the [Umbraco Backoffice UI API documentation](https://our.umbraco.com/apidocs/v8/ui/#/api) to see which Angular directives, services and so on we can use in our custom code. But the current API documentation is far from great, as doesn't show some of the options that actually are supported, and it lacks useful examples.

On way to solve this is

[2019-10-26 17:27] nojaf opened #2047 "Add link to Umbraco Cloud Portal"
Believe it or not but I'm having trouble to finding the link to the Umbraco Cloud Portal.
I was expecting it to be there on this page.

***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/master/Umbraco-Cloud/Getting-Started/The-Umbraco-Cloud-Portal/index.md***

[2019-10-28 07:54] sofietoft commented on #2047
That's an interesting observation @nojaf 🤔

It would actually make a lot of sense to have a link to the portal in that article!
Would you be up for adding it? 😁

[2019-10-28 09:33] sharathInfy commented on #2047
@sofietoft Is this the link https://www.s1.umbraco.io/home/login/ to the portal that needs to be given? or is this the link https://our.umbraco.com/documentation/Umbraco-Cloud/Getting-started/The-Umbraco-Cloud-Portal/ . I would be happy to change the documentation.

[2019-10-28 20:53] nul800sebastiaan commented on #2045
I am not sure what you're suggesting here @abjerner - just duplicating the existing generated documentation into the docs?

[2019-10-29 07:44] sofietoft commented on #2047
@sharathInfy , I can see you already made a PR 😄 ( #2050 )

And it is correct, that what we would like here, is a link to the Umbraco Cloud Portal 💪

[2019-10-29 07:46] #2047 closed

[2019-10-29 09:51] sofietoft opened #2054 "MVC Views: ModelsBuilder vs no ModelsBuilder"
## What type of issue is it?
Discussion / Idea for restructure

## What article/section is this about?
https://our.umbraco.com/Documentation/Reference/Templating/Mvc/views

## Describe the issue

Based on the comments and discussions here: https://github.com/umbraco/UmbracoDocs/pull/2041

The MVC Views article should be restructured.
It should be more clear on the difference between using ModelsBu

[2019-10-29 10:18] jmayntzhusen commented on #1098
Hey all,

The new Umbraco package team will create an issue soon with more specific info about new package developer documentation. Work has started a little bit in https://github.com/umbraco/UmbracoDocs/pull/2035..

Will close this issue for now - soon we will open another with our plans and an open discussion about what sort of documentation people want 🙂

[2019-10-29 10:19] #1098 closed

[2019-10-29 10:23] jmayntzhusen commented on #1859
Hey @hfloyd

The new Umbraco package team will create an issue soon with more specific info about new package developer documentation. Work has started a little bit in https://github.com/umbraco/UmbracoDocs/pull/2035..

Will close this issue for now - soon we will open another with our plans and an open discussion about what sort of documentation people want 🙂

[2019-10-29 10:23] #1859 closed

[2019-10-29 22:16] abjerner commented on #2045
The basis of this issue is that the current API reference feels a bit limited. All options and parameters (eg. for the editor service) should be documented (which they are currently not). But ideally there should be better examples on how to use the different service and directives. Perhaps even screenshots of how a given directive would look.

My question was partly whether something like this is

[2019-11-04 05:52] Mervin77 opened #2063 "Error creating visual studio solution to Umbraco cloud"
***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/master/Umbraco-Cloud/Set-Up/Working-With-Visual-Studio/index.md***

After entering the namespace in the command prompt using UaaS.cmd, the cmd closed and no solution created

[2019-11-04 07:43] nul800sebastiaan commented on #2063
@Mervin77 There's probably an error. Could you open a command prompt and run UaaS.cmd in there so that it is still open when the error occurs and should hopefully show you something more useful?

[2019-11-05 09:02] jmayntzhusen opened #2066 "Umbraco Package documentation"
The Umbraco Package team has talked about what sort of documentation would be nice to have for packages.

We have decided on some articles, and will use this issue to keep track of all of them. If you are interested in helping out and writing an article about packages then please respond and we can assign it to you 😉

If you feel something is missing from the list then we welcome all feedback!

#

[2019-11-05 09:04] jmayntzhusen commented on #1859
Hey @hfloyd

The specific thing you asked for here will be covered with an article on creating your own package actions. If you have any other feedback or ideas, feel free to add to our issue: https://github.com/umbraco/UmbracoDocs/issues/2066

[2019-11-05 16:34] hfloyd commented on #1859
Thanks, @jmayntzhusen for the updates! I look forward to seeing the whole updated documentation section.

[2019-11-06 14:29] dampee commented on #1685
The page should be cleaned up to like @Shazwazza mentioned here: https://github.com/umbraco/UmbracoDocs/pull/1994#issuecomment-549590894

[2019-11-07 07:15] nul800sebastiaan opened #2074 "Update image cropper docs to v8"
The docs for the cropper are currently referring to `Model.Content` and showing various ways of doing things in v7 but I can't actually figure out how to do it properly in v8 🙈

[2019-11-07 07:16] nul800sebastiaan commented on #2074
Oops, forgot the link https://our.umbraco.com/Documentation/Getting-Started/Backoffice/Property-Editors/Built-in-Property-Editors/Image-Cropper

[2019-11-07 07:34] sofietoft commented on #2074
I've been working on updating it actually: https://github.com/umbraco/UmbracoDocs/pull/1909

Got stuck on how to figure out which data is returned based on this section: https://our.umbraco.com/Documentation/Getting-Started/Backoffice/Property-Editors/Built-in-Property-Editors/Image-Cropper#data-returned

[2019-11-15 14:33] John-Blair opened #2090 "Missing documentation"
***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/master/broken-link.md***

 link from

https://umbraco.com/blog/product-update-14th-of-november/

to

https://our.umbraco.com/documentation/Umbraco-Headless/API-Documentation/?_ga=2.212938067.65601449.1573827575-1210310562.1557930005

[2019-11-15 16:01] sofietoft commented on #2090
Great observation @John-Blair ! Thanks for making us aware of this!

We'll need to have some rewrites set up here. I'll make sure it's done asap.

[2019-11-16 04:44] DKDouglasConsulting opened #2092 "Meta Description"
When adding the field for meta description to the master template nothing shows up

ORG template code:
`<meta name="description" content="">`
Result: `<meta name="description" content="">`

Template Code with Tag
`<meta name="description" content="@Model.Value("description")">`
Result:  `<meta name="description" >`

[2019-11-16 14:44] nul800sebastiaan commented on #2092
Hi there @DKDouglasConsulting, this sounds like an excellent question for the forums where our friendly community can help you find the best solution for your requirements.
Make sure to head on over to https://our.umbraco.com and ask follow up questions there! 👍

[2019-11-16 14:44] #2092 closed

[2019-11-19 10:21] sofietoft commented on #1974
@ronaldbarendse - the PRs you've made here on the Docs related to this, has been merged.

That means we can close this issue, right? 🤔

[2019-11-19 14:33] ronaldbarendse commented on #1974
Both points mentioned in this issue are fixed, so we can indeed close this one! 👍

The only thing that might need a little cleanup are the mixed tabs/spaces in the [Getting started](https://our.umbraco.com/documentation/reference/events/application-startup#example---getting-started) example.

[2019-11-19 14:33] #1974 closed

[2019-11-20 05:22] dreadpiratebrown opened #2095 "Documentation Issue - Configuring TinyMCE in Umbraco 8"
## What type of issue is it? (Choose one - delete the others)
Wrong documentation

## What article/section is this about?
https://our.umbraco.com/documentation/reference/config/tinymceconfig/

## Describe the issue
The current documentation for adding commands to the TinyMCE toolbar only works in Umbraco v.7.

`<command>
  <umbracoAlias>code</umbracoAlias>
  <icon>images/editor/code.gif</icon>
  <

[2019-11-20 06:50] sofietoft commented on #2095
Thanks for reporting this @dreadpiratebrown 😄
You are right, that the article on the TinyMCE hasn't yet been verifed against Umbraco 8 and updated.

Is it something you'd be up for writing your self perhaps? 😄 🤞
I'd be happy to help you get started - just let me know!

[2019-11-20 21:04] dreadpiratebrown commented on #2095
I'd be happy to write it up, if someone can tell me how to actually edit
the TinyMCEconfig file correctly.

On Wed, Nov 20, 2019 at 1:50 AM sofietoft <notifications@github.com> wrote:

[2019-11-21 06:39] sofietoft commented on #2095
Sounds great @dreadpiratebrown 😄

I'm not entirely sure I know how one would do this in Umbraco 8, so I'll need to find that out first.
Will put a `help-wanted` label on this one - I'm sure we'll be able to find someone who knows!

[2019-11-21 23:51] prjseal opened #2101 "Broken link"
The link at the bottom of the page for *Retrieving languages* is broken

[2019-11-22 06:53] sofietoft commented on #2101
Thanks for reporting this @prjseal 😄

It's this article you're referring to, right?
https://our.umbraco.com/Documentation/Reference/Management/Services/LocalizationService/Retrieving-languages
I've only been able to find one link there - [ILanguage](https://our.umbraco.com/apidocs/v7/csharp/api/Umbraco.Core.Models.ILanguage.html), is that the one you cannot access?
Could you perhaps provide a URL

[2019-11-22 13:09] dampee commented on #877
Thanks for starting something.  It's helpful for sure!

[2019-11-22 16:30] prjseal commented on #2101
Sorry @sofietoft

The page I was on is this one https://our.umbraco.com/Documentation/Reference/Management/Services/LocalizationService/Index/

I pressed the report issue at the top of the page and it was late so i didn't notice that it just raises a new issue with no context.

[2019-11-25 06:17] dampee commented on #2101
Hi @prjseal

How did you arrived on this page?
This issue is the /index/ at the end of the URL.  If you remove the /Index/ the "samples" link at the bottom works.

So the real issue is how you got the "/Index" in your first place.

[2019-11-25 20:30] pcharb opened #2107 "Testing and/or mocking : Property.Alias & ContentType.VariesByCulture()"
## What type of issue is it? (Choose one - delete the others)
Missing documentation

## What article/section is this about?
Unit testing V8

## Describe the issue
In my project, i would like to mock two Umbraco behavior/properties

The first one is Property.Alias and the second one is ContentType.VariesByCulture().

I know that there is this documentation for unit test : https://our.umbraco.com/do

[2019-11-26 11:40] sofietoft commented on #2107
Hi @pcharb ! Thanks for the report.

It would be awesome to have more unit testing docs for Umbraco 8!

Woudl you be up for taking a crack at writing the tests yourself? 😄 I'd be happy to guide you on the writing part of it - I'm afraid I don't know much about the techinical part to be able to help out there!

Otherwise I'll put an `up-for-grabs` label on it. Let me know!

[2019-11-27 12:53] ohappaAdam opened #2114 "Query code dosent work"
Hi, I think that sample code for an query for searching in more than one field is not total accurate.

No dots before Or() statements.

***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/master/Reference/Searching/Examine/examine-events.md***

[2019-11-27 13:42] jmayntzhusen commented on #2114
Hey @ohappaAdam

You are absolutely right, would you be up for making the correction? 🙂

[2019-11-27 14:04] ohappaAdam commented on #2114
Here is the correct working code:

var textFields = new[] { "title", "description",  "content", .... };
var results = searcher.CreateQuery("content").GroupedOr(textFields, searchTerm).Execute();

Med vänliga hälsningar / Best Regards

Adam Nilsson
Webbutvecklare
+46 730 - 600 264
adam@ohappa.se<mailto:adam@ohappa.se>

ohappa
Sjötullsgatan 9
824 50 HUDIKSVALL
Sweden
+46 650 - 237 40
ohappa.se<http:

[2019-11-27 19:11] Adolfi commented on #1879
This issue could probably be closed now @sofietoft.

[2019-11-27 19:13] Adolfi commented on #1528
PR for the label property:  https://github.com/umbraco/UmbracoDocs/pull/2113

[2019-11-28 08:10] sofietoft commented on #1879
Ah, I think you're right! 👌 Good catch @Adolfi 😁

[2019-11-28 08:10] #1879 closed

[2019-11-28 09:28] prjseal commented on #2101
I think i googled it

[2019-11-29 13:39] liamlaverty commented on #2114
made a PR matching the emailed in code above https://github.com/umbraco/UmbracoDocs/pull/2117

[2019-12-02 13:38] mistyn8 opened #2125 "Umbraco v8 documentation missing..."
***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/master/Add-ons/UmbracoForms/Developer/Extending/Adding-a-Workflowtype.md***

https://github.com/umbraco/Umbraco.Forms.Issues/issues/186 has u8 equivalent with a promise to update, though using this script doesn't actually work..

https://github.com/umbraco/Umbraco.Forms.Issues/issues/251

Any help appreciated

[2019-12-02 14:04] sofietoft commented on #2090
Hi @John-Blair !

Just wanted to let you know, that a redirect has now been created so the link in the blog post actually leads to the API Docs.
Sorry for the delay 😅
Thanks again for reporting!

[2019-12-02 14:04] #2090 closed

[2019-12-02 14:30] sofietoft commented on #2125
Hi @mistyn8 ! Thanks for the report.

As I read your message here, the example in https://github.com/umbraco/Umbraco.Forms.Issues/issues/186 doesn't work for you - is that right?

I'll make sure that our Forms developers are made aware that this part of our Forms section isn't correct for Umbraco 8 yet 💪

[2019-12-02 14:31] sofietoft commented on #2114
PR was made with the correct code snippet 😄

Thanks again for reporting this @ohappaAdam !

[2019-12-02 14:31] #2114 closed

[2019-12-02 14:32] sofietoft commented on #2101
Hm! Strange that this link was out there 🤔

I'll make sure that a rewrite is added for this! Thanks for reporting @prjseal

[2019-12-02 15:02] mistyn8 commented on #2125
Yep that's correct, the update method errors as shown in umbraco/Umbraco.Forms.Issues#251

[2019-12-02 15:16] sofietoft commented on #2063
Hi @Mervin77 !

It's been a while, and we haven't heard back from you. I hope that means you managed to things working 😄

Please let us know if that's not the case!

[2019-12-02 15:16] #2063 closed

[2019-12-03 10:59] sofietoft commented on #1877
@greystate, it's been some time since you committed to this task - you still on it? 😄 🙈

[2019-12-03 11:48] sofietoft commented on #1874
@sumitkharche , it's been a while since you was assigned to the task here!
Are you still up for it? 😄

[2019-12-03 12:02] greystate commented on #1877
@sofietoft Thanks for the nudge :D

I was under the impression that someone else was doing a set of PRs for these during #HacktoberFest ? So I kinda didn't want to budge in...

[2019-12-03 12:44] sofietoft commented on #1877
Aah, I see 🤔
I think @emmaburstow only did the one - https://github.com/umbraco/UmbracoDocs/pull/2041.

The rest is still very much up for grabs, if you're still up for it! 😁

[2019-12-04 09:04] brichardson-insync opened #2126 "Load balancing - explicit front end server documentation missing"
## What type of issue is it? (Choose one - delete the others)
Missing documentation

## What article/section is this about?
From the load balancing page - set your front-end(s) (non-admin server) to be explicit replica servers

## Describe the issue
Recommended: set your front-end(s) (non-admin server) to be explicit replica servers which means they will never be used as the master scheduler

The

[2019-12-04 09:16] sofietoft commented on #2126
Thanks for reporting this @brichardson-insync !

Sure looks like the correct links are missing there 🤔
I managed to track down the one on IServerRegistrar: https://our.umbraco.com/Documentation/Getting-Started/Setup/Server-Setup/Load-Balancing/flexible-advanced

Regarding the replica - could this be the article you're looking for: https://our.umbraco.com/documentation/getting-started/setup/server-

[2019-12-04 09:28] brichardson-insync commented on #2126
Hi @sofietoft

Apologies, this is my first time setting up Umbraco in a Load balanced environment.

I believe the file replication is different from the configuration needed to stop front end servers providing the backoffice links.

[2019-12-04 14:17] #877 closed

[2019-12-05 10:09] sofietoft opened #2127 "Verify and update Reference/Config for Umbraco 8"
In Umbraco 8, a lot of the config files in /Config has been removed, and the configuration is now handled in code instead. More info here: #1817

Below is a list of the current config files with article for Umbraco 7. We need to identify which are still present in Umbraco 8. And we need to link to replacement for each of the ones that has been removed, to pages that explains how the configuration

[2019-12-05 10:30] sofietoft opened #2128 "Verify and update articles on Services for Umbraco 8"
Below is a list of articles about services that needs to be verified and updates for Umbraco 8.

- [x] [ConsentService](https://our.umbraco.com/documentation/Reference/Management/Services/ConsentService/)
- [x] [ContentService](https://our.umbraco.com/documentation/Reference/Management/Services/ContentService/)
- [x] [ContentTypeService](https://our.umbraco.com/documentation/Reference/Management/S

[2019-12-05 10:45] sofietoft opened #2129 "Editor's Manual for Umbraco 8"
The [Umbraco 7 Editor's Manual](https://our.umbraco.com/packages/website-utilities/umbraco-7-editors-manual/) has been converted and added to the Umbraco Docs:
https://our.umbraco.com/documentation/Tutorials/Editors-Manual/

This needs to be updated for Umbraco 8!
It's a pretty big section, so I've divided it into smaller bits:

- [ ] [Landing page](https://our.umbraco.com/documentation/Tutorials/

[2019-12-05 11:08] #2126 closed

[2019-12-05 11:35] sofietoft commented on #2126
@brichardson-insync - the links have now been updated, and links to the correct article! 😁

[2019-12-05 12:05] sofietoft commented on #2045
Hi @abjerner ,
I've been trying to wrap my head around this, and also had a chat with my fellow Curators about it at our meeting yesterday.
As we understand, this is two-fold:

1. There should be more details on each service in the source code - therefor also the API docs. These details should include a description of the parameters (right?)
2. There should be examples on each serivce - preferably

[2019-12-05 12:11] abjerner commented on #2045
Hi @sofietoft,

For **1)**, yes. All parameters should be documented through the ngdocs.

**2)** is what I'm asking about, as I'm not sure myself.

We could either have everything in the API documentation. But having extended explanation and examples might clutter the API documentation, so it may be more ideal to have that part in the main documentation.

On the other and, when reading the API doc

[2019-12-05 12:18] sofietoft commented on #2045
Great! Thanks for confirming 😄

Yes, I agree with your point about it currently being a bit difficult to link FROM the API docs to the docs on Our 🤔
The other way around is easy enough though .. Hm!

When we at some point start using DocFX adding comments like these and linking between the docs will be much simpler and easier to manage!

The question then remains - should we start adding some exam

[2019-12-05 12:24] abjerner commented on #2045
I think anything we add now is better than what we have now - especially if there is not confirmed ETA for the next version of DocFX. And then we can always update it again when DocFX is rolled out.

But next question is then where should something like this live in the structure?

[2019-12-05 12:29] OwainWilliams commented on #2129
Hey @sofietoft
I'm happy to start on the Getting Started with Umbraco section and if anyone else wants to help with subsections in there then that would be great.  :)

[2019-12-05 12:33] sofietoft commented on #2045
Yes, definitely better than what we have now! 😄 💪

Hm, how about under here: https://our.umbraco.com/Documentation/Reference/API-Documentation/
![backoffice-api-docs](https://user-images.githubusercontent.com/24529086/70235590-83e14080-1763-11ea-8ffd-45a40ffb2597.png)

So, adding a new section under Reference/API-Documentation .. perhaps called "Using the Backoffice UI API" or something? 🤔

[2019-12-05 12:42] abjerner commented on #2045
Possibly yes 😄

I can try playing a bit around with that.

[2019-12-05 12:45] sofietoft commented on #2045
That would be awesome, @abjerner ! 😄

[2019-12-05 15:58] OwainWilliams commented on #2129
@sofietoft  - How do I create a U8 version of the docs? Do I just need change the markdown?
to this?

---
versionFrom: 8.0.0
needsV8Update: "false"
---

[2019-12-06 06:48] sofietoft commented on #2129
Great question @sofietoft !

We have some docs on it here: https://our.umbraco.com/documentation/Contribute/#multi-version-documentation
Basically, what you'll need to do:
- Copy the current file
- Rename the current file to fx index-v7.md (replace "index" with the name of the file!) and remove the `needsV8Update` label
- The new copy should take the name of the original file, and have only this Y

[2019-12-08 22:03] abjerner commented on #2045
I know it's the name currently used, but I feel the **UI** part in the name is a bit wrong, as an Angular service for instance isn't directly a UI component.

So for now I've just created an **Angular** sub section under **Reference**. I'm still just playing around in my local Our installation, so I haven't committed anything yet.

![image](https://user-images.githubusercontent.com/3634580/7039700

[2019-12-10 14:27] steroberts89 opened #2141 "Multiple documentation for v7.0.0"
## What type of issue is it? (Choose one - delete the others)
Wrong documentation

## What article/section is this about?
https://our.umbraco.com/documentation/extending/property-editors/value-converters

## Describe the issue
There are three articles for v7.0.0

[2019-12-10 15:27] sofietoft commented on #2141
Hi @steroberts89
Thanks for reporting this 💪

There's actually already a PR open regarding the Value Converters: https://github.com/umbraco/UmbracoDocs/pull/1865 😄
It's currently under review with our developers here at Umbraco HQ. Hope to have it live soon!

[2019-12-13 12:45] Adolfi commented on #2107
Hi @pcharb.
I would love to have a go att writing the missing tests for you (if you don't want to do it yourself of course).
I am not exactly sure though in what context you are missing the tests. Could I make have a look at your source code so I could replica your setup locally, that would really make things easier for me.

Cheers!

[2019-12-13 19:34] pcharb commented on #2107
The problem is mainly when I try to Mock those property. They don't look mockable or if they are, they require a lot of dependencies. for example, if I have a piece of code that modify or use both of those properties, I cannot mock them to test my piece of code

[2019-12-13 20:01] Adolfi commented on #2107
@pcharb I will have a look at it on Monday. 🤓

[2019-12-16 12:01] sofietoft commented on #2141
Ah, shoot! Looks like I completely misunderstood what you reported here @steroberts89
Sorry about that!

So, there actually isn't 3 versions for Umbraco 7 😅 I'm afraid what you're seeing, is a flaw in the way we've setup the version targeting.
![image](https://user-images.githubusercontent.com/24529086/70905239-ab59c800-2003-11ea-8838-8d013883f12f.png)

The link points to these two:
https://our.um

[2019-12-16 12:04] sofietoft commented on #2045
Sorry for the delay, @abjerner !

Looks really great so far 💪
I think calling it "Angular" should be just fine. Will bring it up with the Curators on our meeting tomorrow, to hear if they have any input! 😁

[2019-12-17 08:49] hidarikani opened #2149 "Incomplete Caching Documentation"
## What type of issue is it?
Incomplete documentation

## What article/section is this about?
https://our.umbraco.com/Documentation/Reference/Cache/

## Describe the issue
The caching documentation is incomplete because it only covers advanced use cases. Info from this [thread](https://our.umbraco.com/forum/developers/api-questions/65040-Using-ICacheRefresher-to-clear-cache) should be added to the

[2019-12-17 09:19] sofietoft commented on #2149
Thanks for reporting this @hidarikani !

Just to clarify - are you using Umbraco 7 or 8?
The forum thread you're linking to is from 2015, so I'm assuming it's Umbraco 7?

In that case, we do have a but more extensive and details docs on caching for that version: https://our.umbraco.com/Documentation/Reference/Cache/index-v7

It agree that we still need more documentation on caching for Umbraco 8!

[2019-12-17 09:54] hidarikani commented on #2149
I'm using 7 at the moment but I think my comment applies both for 7 and 8. I don't feel like I have enough knowledge to contribute yet.

[2019-12-17 10:46] sofietoft commented on #2149
Ah, sure thing! 😄
For Umbraco 8, this issue has already been created: #1874

Is there any specific information you feel is missing, or is it just the entire section about Caching in general?

[2019-12-17 12:42] sofietoft commented on #2101
Rewrite setup 💪
I'll close this one.

Thanks again for reporting, @prjseal ! 😄

[2019-12-17 12:42] #2101 closed

[2019-12-17 14:24] sofietoft commented on #2149
Had a chat with some experts on this topic, and we found this: https://our.umbraco.com/Documentation/Reference/Templating/Mvc/partial-views#caching

Perhaps this could be what you're looking for? 😄

[2019-12-18 13:33] Adolfi commented on #2107
@pcharb havent forgot about this, just that Life got in the way. :)

[2019-12-18 13:45] Adolfi commented on #2107
@pcharb ContentType.VariesByCulture() is an extensionmethod from the ContentVariationExtensions.cs: https://github.com/umbraco/Umbraco-CMS/blob/ef714ac258f2e167e1e3e55da9cd67806908aeb8/src/Umbraco.Core/ContentVariationExtensions.cs, Line 75

This extension later calls contentType.Variations.VariesByCulture() in the same class on row 117.
All it really does is check if the ContentVariation is great

[2019-12-18 13:58] Adolfi commented on #2107
@pcharb regarding the Property.Alias there actually is an example of how to mock this in the bottom of this section: https://our.umbraco.com/documentation/Implementation/Unit-Testing/#mocking. Have you tried that one?

[2019-12-20 08:43] sofietoft commented on #2026
Hi guys! 😄

Apologies for the delay on this one.
I've been talking a bit back and forth with both the Documentation team and our developers here at Umbraco HQ.
We've agreed that for now we will make sure that the documentation we have on this, will at least cover how to work with it when you're a beginner. And this should follow what we teach in our training courses, as that much be considered bes

[2019-12-20 08:46] sofietoft commented on #2125
@mistyn8 - can see you've been chatting with our Forms expert on this.

How did it go? Did you manage to get it up and running? 😄

[2019-12-20 08:53] sofietoft commented on #1869
@hidarikani - we now have Load balancing documentation for Umbraco 8: https://our.umbraco.com/documentation/Getting-Started/Setup/Server-Setup/Load-Balancing/

With that, I'll close this one. Thanks again for the report 😄

[2019-12-20 08:53] #1869 closed

[2019-12-20 08:58] sofietoft commented on #1854
Looks like the issue reported here, has been solved 😄

[code]

With that, I'll close this one for now!
Thanks again for reporting this, @timmygobang !

[2019-12-20 08:58] #1854 closed

[2019-12-20 09:02] sofietoft commented on #1837
Apologies for the delay on this @John-Blair !
I can tell you that we have some people working on updating the Property Value Converter article for Umbraco 8: #1865

Hopefully it'll be ready early in the next year 💪

[2019-12-20 09:04] sofietoft commented on #1822
Apologies for the delay here @liamlaverty !

As we are hoping to move the Documentation to a new platform in the new year, we will not at this time be looking into setting up these 5xx errors.
I'm afraid the way it's currently structured, makes something like this hard to implement - it would be a rather big task, as I've understood.

I hope it's OK that I close this one for now.
Thanks for pointi

[2019-12-20 09:04] #1822 closed

[2019-12-20 09:16] sofietoft commented on #1814
A PR fixing this issue has been merged: #1995

With that, I'll close this one.
Thanks again @MLidstrom , for reporting 😄

[2019-12-20 09:16] #1814 closed

[2019-12-20 09:18] sofietoft commented on #1800
A PR to fix this issue has been merged 🎉
https://our.umbraco.com/Documentation/Getting-Started/Backoffice/Property-Editors/Built-in-Property-Editors/Grid-Layout/Render-Grid-In-Template

With that, I'll close this one.
Thanks again for reporting it, @uoziod 😄

[2019-12-20 09:18] #1800 closed

[2019-12-20 09:24] sofietoft commented on #1790
A PR for this issue has been merged #2027 😄

With that, I'll close this issue.
Thanks again for reporting @codeguise ! 🎉

[2019-12-20 09:24] #1790 closed

[2019-12-20 09:27] sofietoft commented on #1748
Apologies for the delay here @sussexrick !

My colleague, Jesper, is right. The reason there isn't a link on the `index-md` page, is because it's not a relevant article for Umbraco 8, which is also the version that the index page you'll see is!
Hope it makes sense 😁

I'll close this one for now.

[2019-12-20 09:27] #1748 closed

[2019-12-20 09:30] sofietoft commented on #1697
As far as I can see, this documentation has now been verified and updating for Umbraco 8 💪

With that, I'll close this one for now.
Thanks again for reporting it, @dawoe 😁

[2019-12-20 09:30] #1697 closed

[2019-12-20 09:32] sofietoft commented on #1652
Apologies for the delay on this one @bergmania 😅

You still have some work in progress on this? Or perhaps it was already merged in? 🤔

[2019-12-20 09:34] sofietoft commented on #1644
Apologies for the delay on this @mehrdadab !

I can see that the article you're referring to, has been updated quite a few times since you made his issue.
Could you please let me know, if what you're reporting here still applies?

[2019-12-20 09:44] sofietoft commented on #1603
Apologies for the delay on this one @joecklau, and thanks for the report!

Would you be up for updating this documentation yourself? 😄
We have some guidelines on how here: https://our.umbraco.com/documentation/Contribute/

[2019-12-20 09:48] sofietoft commented on #1595
Hi guys! I'm not entirely sure this is relevant here, but @abjerner is working on setting up some Angular documentation on Our: #2045

[2019-12-20 10:18] abjerner commented on #1595
If we're talking about an auto-generated list, I believe this should be part of the existing _Umbraco Backoffice UI API documentation_. But as this is build using a third party tool, I'm not sure how much we're able to customize it.

My thoughts for the additional documentation would be to have useful examples and more detailed information, whereas the _Umbraco Backoffice UI API documentation_ wou

[2019-12-20 10:45] nul800sebastiaan commented on #1821
The `IISRewriteMaps.config` does not just add a slash at the end though, they're actual redirect with a change in the path. We could fix all the docs to point to the correct path including slash, but in the end it's anything else that links to the old URLs that we still want to redirect.

I don't really see the benefit of going through all of the docs to make sure someone adds a slash on the end,

[2019-12-27 22:10] poornimanayar commented on #2127
@sofietoft I have created a PR for the config landing page #2163

[2019-12-27 22:13] poornimanayar commented on #1877
@sofietoft , I can work on some of these if you need assistance.

[2019-12-27 22:19] poornimanayar commented on #2127
PR for `404handlers.config` in https://github.com/umbraco/UmbracoDocs/pull/2164

[2019-12-27 22:26] poornimanayar commented on #2127
PR for `dashboard.config` in https://github.com/umbraco/UmbracoDocs/pull/2165

[2019-12-27 22:30] poornimanayar commented on #2127
PR for `trees.config` in https://github.com/umbraco/UmbracoDocs/pull/2166

[2019-12-28 00:37] marcemarc commented on #2127
@poornimanayar There was some talk regarding these config pages that don't exist for V8 anymore that perhaps, we keep a holding page in their place for V8 that kind of says:

This configuration file no longer exists in Umbraco V8 - however you can find out how to configure this functionality via code during composition...

or similar

and then link through to the place in the documentation that ex

[2019-12-28 14:53] poornimanayar commented on #2127
Sure can @marcemarc. I will pick them up :-)

[2020-01-06 07:16] bergmania commented on #1652
@sofietoft, the tasks needed to make it easier to do, is not implemented yet.  I guess you can close this task or just point to some external sources, like the link: https://dobryak.org/road-to-precompiled-web-application-based-on-umbraco-cms/

[2020-01-06 08:25] sofietoft commented on #1877
That would be awesome @poornimanayar !! 😄

[2020-01-06 08:29] greystate commented on #1877
@sofietoft @poornimanayar Very nice indeed! I've not been able to do anything all of December so please grab any of them; no worries 🥇

[2020-01-06 09:05] Jay-umbr opened #2169 "Authenticating on the Umbraco backoffice with Azure AD results in error 500 on login"
These are the steps for reproduction.

1. Open Visual Studio.
2. File > New project > Select ASP.NET Web Application using .NET Framework 4.7.2.
When given the option to pick a template, select ‘Empty’.
3. Manage Nuget Packages for solution > Install UmbracoCms 8.1.0.
4. Set up your project to run however you see fit (IIS Express, Local IIS, etc)
5. Running the project and visiting the site will c

[2020-01-06 09:15] sofietoft commented on #2169
Thanks for reporting the issue, and for providing the steps to repro 👏

Sure seems like something that would be great to have updated.

[2020-01-06 09:53] sofietoft commented on #1652
Ah, I see 🤔

I do believe it make sense to add a link to the article you're referencing.
Any suggestions as to where we can add the link? 😅
Perhaps on the "Reference" landing page? (https://our.umbraco.com/documentation/Reference/)

[2020-01-07 10:18] richardhauer opened #2175 "The project has been removed from GitHub"
***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/master/Implementation/Rest-Api/index.md***

[2020-01-07 11:50] sofietoft commented on #2175
You're right @richardhauer !

This has come up before, and I actually thought that the link had been removed already 🙈

Anywho! I've taken care of it now 💪

[2020-01-07 11:50] #2175 closed

[2020-01-07 16:37] tormnator opened #2177 ""Could not get content type with id" should be added to Cloud troubleshooting section"
## What type of issue is it? (Choose one - delete the others)
Missing documentation

## What article/section is this about?
https://our.umbraco.com/Documentation/Umbraco-Cloud/Troubleshooting/troubleshooting-portal

## Describe the issue
Due to https://github.com/umbraco/Umbraco.Cloud.Issues/issues/66 it is possible to end up with an error with the following message: "Could not get content type wi

[2020-01-08 09:48] sofietoft commented on #2177
Hi @tormnator !

Thanks for the report, and I can only say that I agree. We definitely should have a guide on how to troubleshoot this particular error message.
Instead of just a bullet though, I think it'd make sense to create a new article for it.
What do you think?
And would you be up for writing the article yourself? 😄

/Sofie

[2020-01-08 13:00] davidwandar opened #2178 "Broken link for "Deployment workflow article"."
***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/master/Umbraco-Heartcore/Getting-Started-Cloud/Environments/index.md***

[2020-01-08 13:28] sofietoft commented on #2178
Thanks for the report @davidwandar !

I've taken care of the broken link now, and it should be back in order 💪

[2020-01-08 13:28] #2178 closed

[2020-01-08 17:17] tormnator commented on #2177
Hi @sofietoft !

Yes, I meant for an article to be written. Unfortunately I do not (yet) have the time to write the article. I also would think someone with more insight into the Cloud data extraction process should write it. I'll be glad to provide feedback on what's written though.

-Tor

[2020-01-10 15:54] pcharb commented on #2107
I will give it a go and try and use what you found, sorry for the delay, I was taken by something else! Will give you news as soon as I can.

[2020-01-13 14:18] pcharb commented on #2107
Hi, I've tried what you've said and it worked fine for the culture variant. For the Property i'm now able to mock getProperty and the propertie list on an IPublishedContent but not an IContent. I'm doing this because in some place of my code I do operation on document type with certains characteristic.

An IContent doens't use IPublishedProperty, but a Property class, which is not mockable easily

[2020-01-13 15:54] DavidDeSloovere opened #2183 "Heartcore .NET core or .NET standard"
Is it a .NET core lib or a .NET standard lib? Looks like it's not a .NET Core only lib but documentation is unclear.

***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/master/Umbraco-Heartcore/Client-Libraries/Dot-Net-Core/index.md***

[2020-01-14 07:20] NiclasLindqvist opened #2185 "Heartcore Content Filter response is inaccurate"
## What type of issue is it?
Wrong documentation

## What article/section is this about?
https://our.umbraco.com/documentation/Umbraco-Heartcore/API-Documentation/Content-Delivery/content/#content-filter

## Describe the issue
Content Filter response seems to be from a Search request (hints given by `_links.self.href`)

[2020-01-14 07:59] sitereactor commented on #2185
Yes, this looks like the wrong response was copied in here. Thanks for reporting, we will get it updated.

[2020-01-14 08:01] sitereactor commented on #2183
Yes, I can see how that can be confusing. It's a .NET Standard library.

Ref. https://github.com/umbraco/Umbraco.Headless.Client.Net/blob/master/src/Umbraco.Headless.Client.Net/Umbraco.Headless.Client.Net.csproj

[2020-01-14 08:50] DavidDeSloovere commented on #2183
Will the documentation will be updated, so it won't confuse others? I understand why you would like to say ".NET Core" (but that will  go away with .NET 5 arriving this year).

[2020-01-14 09:00] sofietoft commented on #2183
@DavidDeSloovere , we will indeed update the docs! 😄

We're already working on it in #2186

[2020-01-15 10:38] sitereactor commented on #2183
This is now merged, so closing the issue.

Thanks for reporting! We corrected both in the docs and on github for the client library.

[2020-01-15 10:38] #2183 closed

[2020-01-15 10:40] sitereactor commented on #2185
This has been corrected, so just need @sofietoft to pull it into the OUR docs site 😄

[2020-01-15 10:40] #2185 closed

[2020-01-17 05:11] Adolfi commented on #2107
@pcharb could you please provide some code snippets on what you are trying to test and how you’ve testing it, that would be really helpful for me investigating this. If there’s an issue with IContent.Property not being testable, then it should probably be reported as a bug on UmbracoCms and not the UmbracoDocs.

Glad I could help with testing .VariesByCulture and that you found a solution, would y

[2020-01-17 08:48] erikjanwestendorp opened #2191 "Update needed for extending/Content-Apps/"
## What type of issue is it?

Wrong documentation

## What article/section is this about?
https://our.umbraco.com/documentation/extending/Content-Apps/

## Describe the issue
Small issue in the code example below:  "Creating a Content App in C#"

`if(content is IContent) `

Should be:

`if (source is IContent)`

[2020-01-17 12:13] sofietoft commented on #2191
Thanks for the report @erikjanwestendorp ! 😄

I've checked your PR, and sent you a reply over there!

[2020-01-17 12:41] sofietoft commented on #2141
This has been fixed with #2193 😄

[2020-01-17 12:41] #2141 closed

[2020-01-17 13:45] sofietoft commented on #1875
Looks like all articles in the Templating/MVC section has been verified and updated for Umbraco 8 💪

Thanks to everyone who's contributed.
I'll close this one for now.

[2020-01-17 13:45] #1875 closed

[2020-01-17 14:54] #2191 closed

[2020-01-18 16:34] ronaldbarendse commented on #1781
Whenever `@Html.BeginUmbracoForm<MyController>(...)` is used to generate a form that posts to a `SurfaceController`, the form action points to the current content URL, so a hidden field `ufprt` is added that contains the controller, action and optional area of the `SurfaceController`). Without this field, Umbraco wouldn't know it should execute the controller action, especially when multiple forms

[2020-01-19 00:18] markadrake commented on #664
Sorry to report this but the links shared now result in 404's or access denied.

I agree with @drpeck and @marcemarc's sentiments above.

**In my opinion the [Umbraco Backoffice UI API Documentation](https://our.umbraco.com/apidocs/v8/ui/#/api/) website needs a facelift for 2020.**

Umbraco HQ has developed a good amount of frontend elements (or components) based on Bootstrap and Angular. My bigge

[2020-01-20 08:18] sofietoft commented on #1781
Thanks for the insights @ronaldbarendse ! 😄

Would you be up for taking a shot at writing the missing docs here?

[2020-01-20 08:31] sofietoft commented on #664
@markadrake Thanks for the extensive report and your thoughts on the current state of the Umbraco Backoffice UI API documentation. It's much appreciated 😁

We are aware, that it currently _only_ serves as a reference place for developers who are already familiar with Umbraco and the setup.

There has before been discussions on how we should handle these docs in order to add more examples etc. As t

[2020-01-20 09:45] sonycillo opened #2200 "Issue in code example of TagQuery.GetTagsForEntity and TagQuery.GetTagsForProperty"
Hi!

The code example of this methods is of TagQuery.GetMediaByTagGroup method and the TagQuery.GetMediaByTagGroup method doesn't appear in documentation.

***This is the page with issues: https://github.com/umbraco/UmbracoDocs/blob/master/Reference/Querying/UmbracoHelper/index.md***

Thank you and see you!
Sergio.

[2020-01-20 10:11] sofietoft commented on #2200
Thanks for the report @sonycillo !

So, I've had a look at the article, and it looks like `TagQuery.GetMediaByTagGroup` is used for both `TagQuery.GetTagsForEntity` and `TagQuery.GetTagsForProperty` ..
And there is no example for `TagQuery.GetMediaByTagGroup` .. is that what you're saying? 😅

Sorry, it's a bit confusing, but I hope I've got it right.

[2020-01-20 10:40] sonycillo commented on #2200
You got it!

I'm so sorry... I've explained so bad..

Excuse me and thank you for your job ;)
Sergio.

[2020-01-20 11:29] sofietoft commented on #2200
No worries at all 😄 Just wanted to make sure I understood.

Would you be up for taking a shot at getting the article updated with the correct examples? 😁
It is open source after all - you can find our contribution guide right here: https://our.umbraco.com/documentation/Contribute/

[2020-01-20 11:39] sonycillo commented on #2200
I would love to update the article but I'm now working at a great web project with Umbraco for a client and this is my first project in umbraco, so I work really slowly and I have no time.

Thank you for your offer and excuse me.

[2020-01-20 11:41] sofietoft commented on #2129
Hi @OwainWilliams

You still working on this?
I have a new guy here at Umbraco HQ, who I'm going to introduce to working with Docs.
I'm gonna use the "Editors Manual" section for this, so I wanted to check how far you've gotten?
Would be silly if we started working on the same stuff you're already working 😉

[2020-01-20 11:42] sofietoft commented on #2200
Ah, I understand! Had to try though 😁

I'll go ahead and add an `up-for-grabs` label on this one then 💪

[2020-01-20 11:49] OwainWilliams commented on #2129
Hey @sofietoft
I started over Christmas but only got as far as some screenshots. Sorry, had meant to give an update.
Happy for the new person to take this on. I'm crazy busy at work unfortunately.

[2020-01-20 11:57] sofietoft commented on #2129
@OwainWilliams No worries at all! 😄

We'll just start working on it from here.
Should some time clear up in your schedule, you're welcome to reach out and I'll tell you how far we've gotten (will of course try to update the list above as well 😁 )

[2020-01-20 12:51] ronaldbarendse commented on #1781
@sofietoft I'll try to set some time apart for this 👍

[2020-01-20 13:45] sofietoft commented on #1781
That would be awesome @ronaldbarendse ! 😄 🎉

[2020-01-20 16:12] RachBreeze opened #2206 "Common Pitfalls and Anti Patterns"
***This is the page with issues: https://github.com/umbraco/UmbracoDocs/edit/master/Reference/Common-Pitfalls/index.md***

This is an ace document, but in a couple of instances where it says don't do x it doesn't say what to do instead e.g. "Performance look ups and logic in Examine events" says

but doesn't say what should be used.

We're just debating (in v7) which of these is the better:

`var

[2020-01-21 06:28] sofietoft commented on #2074
Closed with #2208

[2020-01-21 06:28] #2074 closed

[2020-01-21 07:42] sofietoft commented on #2206
Thanks for the report / question @RachBreeze ! 😄

I'll need some more help to be able to answer your question, so I'll pass this one on to our experts.

[2020-01-22 06:25] Adolfi commented on #1853
I created a PR to tick of the **Tutorial: Creating a Property Editor** in v8: https://github.com/umbraco/UmbracoDocs/pull/2212

[2020-01-22 19:12] erikjanwestendorp commented on #1873
Hi @sofietoft I updated the _Default Routing: Execute Request_ page and created a PR. Can you or someone else give it a review and give some feedback if necessary?

[2020-01-24 14:39] rustybox opened #2223 "Using Ioc, Reference - misleading"
## What type of issue is it? (Choose one - delete the others)
Discussion

## What article/section is this about?
https://our.umbraco.com/documentation/reference/using-ioc/#accessing-lightinject-container

## Describe the issue
The example code cannot work, see https://github.com/umbraco/Umbraco-CMS/issues/7502